<section class="customer-story">

    <div class="row">
        <div class="large-12 columns">
            <div class="breadcrumbs">
                <a href="/customers">Successful customers</a> / Nuxeo
            </div>
        </div>
    </div>

    <div class="row banner nuxeo">
        <div class="large-12 large-centered columns">
            <img src="<%= img_path %>template/ModCustomers/nuxeo/nuxeo-logo.png" alt="Nuxeo" />
            <h1>How the Nuxeo Platform makes its customers’ lives easier</h1>
            <h2>Content management in a nutshell</h2>
        </div>
    </div>

    <div class="row content">
        <div class="large-8 large-centered columns">
            <h3>Introduction</h3>
            <p>
                <a href="//nuxeo.com/" target="_blank">Nuxeo</a> is a software vendor providing a Document
                Management platform used to implement core business processes as well as handle content processes.
                Their goal was to find a solution that would allow bulk-editing document metadata and at the same
                time could provide a great user experience. Although it was the first time they offered
                this kind of tool to their users, the spreadsheet pattern seemed to be a good choice.

            </p>

            <h3>The Challenge</h3>
            <p>
                Before the big search for the perfect grid, Alain Escaffaire and the Nuxeo Team had thought of
                certain custom developments.
            </p>

            <h3>The Solution</h3>
            <p>
                One of the particularities of the Nuxeo Platform is that the content model is highly customizable,
                hence metadata edition can be made with very different widget editors such as drop downs, multiple
                drop downs, suggestors, calendars and others. Handsontable was so easy to implement they could
                incorporate the server's pre-configured data model in the grid without any problems
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    Handsontable had the greatest documentation, an impressive feature set and very nice state of
                    art packaging
                </h4>
            </blockquote>

            <h3>Results and Plans for Future</h3>
            <p>
                Thanks to that, users can install the Nuxeo Platform Spreadsheet add-on easily and bulk-edit content
                just by dragging values, which is very natural for them.
                What is more, by controlling the cell editor it is possible to enforce all the business logic that is
                needed, which means having the comfort of the Excel-like experience with some strong business
                constraints.
                The next step will be integrating Handsontable with the brand new Nuxeo UI.
            </p>

            <!--<a href="<%= static_path %>/resources/ModCustomers/akindi/Akind-Customer-Story.pdf" class="download">
                Download as PDF</a>-->

            <div class="row company-details">
                <img src="<%= img_path %>template/ModCustomers/nuxeo/nuxeo-avatar.png" alt="Alain Escaffaire" />
                <p class="name">Alain Escaffairer</p>
                <p class="position">Director of Product Management <a href="//nuxeo.com/" target="_blank">Nuxeo</a></p>
                <ul>
                    <li>
                        <svg>
                            <use xlink:href="#search_icon"></use>
                        </svg>
                        Nuxeo</li>
                    <li>
                        <svg>
                            <use xlink:href="#map_marker"></use>
                        </svg>
                        New York, United States
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#community_icon"></use>
                        </svg>
                        70 employees
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#link"></use>
                        </svg>
                        <a href="//nuxeo.com/" target="_blank">nuxeo.com</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

</section>