/**
 * @author: Handsoncode
 */

 /* [ local variable ] */

 $sshSideOffset: 34px;

 .user .ssh-keys  {
    margin-top: 29px;

    h3 {
        font-size: 20px;
        font-weight: 400;
    }

    code {
        padding: 8px 18px;
        margin: 15px 0;
    }

    .ssh-list  {
        margin-bottom: 14px;
        a {
            color: $brandRed;
        }

        li {
            @include border-bottom;
            padding: 11px 21px 11px 18px;
            &:first-child {
                @include border-top;
            }
        }
    }

    .ssh-code {
        font-size: 12px;
    }

    .ssh-tutorial h5 {
        margin-bottom: 13px;
    }

    .ssh-container {
        h5 {
            margin: 0 0 16px;
        }

        + h3 {
            margin-top: 16px;
        }
    }
    
    /* [ styles only for desktop ] */
    @media only screen and (min-width: $largeWidth) {
        .ssh-container,
        .new-ssh-key,
        .ssh-tutorial {
            margin-left: $sshSideOffset;
        }
    }
}