/**
 * @author: Handsoncode
 */

.features .all-features {

  padding: 60px 0 90px 0;
  background-color: $brandHeaderWhite;

  h1 {
    padding-bottom: 40px;
    text-align: center;
  }


  h4 {
    margin:10px 0 20px 0;
    padding: 0;
    font-family: $regularFont;
    font-weight: 400;
    text-align: center;


    @media only screen and (min-width: $largeWidth) {
      text-align: left;
    }

  }

  ul, li {
    line-height: 2em;
    text-align: center;

    @media only screen and (min-width: $largeWidth) {
      text-align: left;
    }
  }

  .links {
    margin: 20px 0 20px 0;
    float: left;
    display: inline-block;
    text-align: center;

    @media only screen and (min-width: $largeWidth) {
      text-align: left;
      margin-left: 20px;
    }
  }
  .align {
    width: 100%;
    display: block;
    text-align: center;

    @media only screen and (min-width: $largeWidth) {
      width: 80%;
      margin-left: 130px;
      text-align: left;
    }
  }
}




