/**
 * @author: Handsoncode
 */

.features .all-features {

  padding-bottom: 90px;
  background-color: $headerGrey;

  h1 {
    padding-bottom: 40px;
    text-align: center;
  }

  h4 {
    margin:10px 0 20px 0;
    padding: 0;
    font-family: $regularFont;
    font-weight: 400;
    text-align: center;


    @media only screen and (min-width: $largeWidth) {
      text-align: left;
    }
  }

  ul, li {
    line-height: 1.9em;
    text-align: center;

    @media only screen and (min-width: $largeWidth) {
      text-align: left;
    }
  }
}




