/**
 * @author: Handsoncode
 */

.features .choose-version {

  h5 {
    font-weight: 400;
    margin-bottom: 20px;
  }

  li {
    @include border-bottom;
    position: relative;
    &:first-child {
      @include border-top;
    }

    a {
      display: block;
      padding: 4px 0;
      font-size: 1em;
      font-weight: 900;

      &.active {
        text-decoration: none;
        color: $darkGray;
        cursor: default;
        svg {
          display: block;
          @include absolute-top-right(50%, 19px);
          @include square (10px);
          @include rotate (-90deg);
          margin-top: -5px;
          fill: currentColor;
        }
      }

      svg {
        display: none;
      }
    }
  }

  & + div {
    margin-top: 67px;
  }
}