/**
 * @author: Handsoncode
 */

.features .fast {

  padding: 0 0 90px;

  @media only screen and (min-width: $mediumWidth) {
    padding: 60px 0 90px;
  }

  .header-space {
    padding-top: 40px;
  }

  .align {
    text-align: left;
  }

}



