/**
 * @author: Handsoncode
 */

 .features .general-features {
    @include border-top;

    /* [ styles only for desktop ] */
    @media only screen and (min-width: $largeWidth) {
        margin-top: 37px;
        padding-top: 95px;
    }

    h3 {
        font-family: $optionalFont;
        font-weight: 400;
        margin-bottom: 18px;
    }

    .row {
            display: block;
        @include align-items(center);
        img {
            margin: 30px 0;
            width: 80%;

          @media only screen and (min-width: $largeWidth) {
            @include flexbox;
          }
        }

        p, span {
            font-weight: 300;
        }

        .see-examples {
            text-align: center;
            display: inline-block;

            /* [ styles only for desktop ] */
            @media only screen and (min-width: $largeWidth) {
               text-align: left;
            }
        }

        /* [ styles only for desktop ] */
        @media only screen and (min-width: $largeWidth) {
            margin-bottom: 98px;
            img {
                margin: 0;
                width: 295px;
            }
            &:first-child img {
                width: 370px;
            }
            &.data-binding img {
                position: relative;
                top: 40px;
            }
        }
    }
}