/**
 * @author: Handsoncode
 */

.features .plans {

  display: inline;

  @media only screen and (min-width: $largeWidth) {
    display: flex;
  }

  .ce-background-green {
    width: 98%;
    margin: 20px auto;
    padding: 20px;
    background-color: $brandVibrantGreen;
    border: 1px solid $brandVibrantGreen;
    border-radius: 5px;

    @media only screen and (min-width: $largeWidth) {
      width: 49%;
      margin: 20px 1% 20px 0;
      padding: 20px 40px 20px 0;
      border-radius: 0 5px 5px 0;
      text-align: right;

    }

    .holder {

      @media only screen and (min-width: $largeWidth) {
        display: inline-block;
      }
    }

    .product-button-ce {
      padding: 14px 0 0 0;
      float: none;
      text-align: center;

      @media only screen and (min-width: $largeWidth) {
        padding: 10px 0 0 20px;
        display: inline;
        float: right;
      }
    }

    h1, h4 {
      color: $darkWhite;
      text-align: center;

      @media only screen and (min-width: $largeWidth) {
        text-align: right;
      }
    }

    h1 {
      margin: 0;
      padding: 0;
      font-weight: 600;
    }

    h4 {
      margin: 0;
      padding: 0;
      font-weight: 400;
    }
  }

  .pro-background-blue {
    width: 98%;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    background-color: $brandBlue;
    border: 1px solid $brandBlue;
    border-radius: 5px;

    @media only screen and (min-width: $largeWidth) {
      width: 49%;
      margin: 20px 0 20px 20px;
      padding: 20px 0 20px 40px;
      border-radius: 5px 0 0 5px;
      text-align: left
    }

    .holder {

      @media only screen and (min-width: $largeWidth) {
        display: inline-block;
      }
    }

    .product-button-pro {
      float:none;
      display: block;
      text-align: center;
      padding: 14px 0 0 0;

      @media only screen and (min-width: $largeWidth) {

        padding: 10px 20px 0 0;
        display: inline-block;
        float: left;
      }
    }

    h1, h4 {
      color: $darkWhite;
      text-align: center;

      @media only screen and (min-width: $largeWidth) {
        text-align: left;
      }
    }

    h1 {
      margin: 0;
      padding: 0;
      font-weight: 600;
    }

    h4 {
      margin: 0;
      padding: 0;
      font-weight: 400;
    }
  }
}




