/**
 * @author: Handsoncode
 */

 .features  {

    .headline {
        margin: 97px 0 15px;
        
        &.centered {
            margin: 20px 0 18px;
        }
    }

    p,
    a {
        font-size: 15px;
        line-height: 1.9;
    }
}