/**
 * @author: Handsoncode
 */

 .features  {

    .headline {
        margin: 97px 0 15px;
        
        &.centered {
            margin: 60px 0 18px;
            @media only screen and (min-width: $largeWidth) {
              margin-top: 20px;
            }
        }
    }

    p,
    a {
        font-size: 0.938em; /* 15px */
        line-height: 1.9;
    }

    p {
        text-align: center;
        /* [ styles only for desktop ] */
        @media only screen and (min-width: $largeWidth) {
            text-align: left;
        }
    }
}