/**
 * @author: Handsoncode
 */

.features .testimony-s {

  padding: 60px 0 90px;

  blockquote {

    width: auto;
    line-height: 1.4em;

    @media only screen and (min-width: $mediumWidth) {
      width: 790px;
    }
  }

  .quotation {

    margin: 20px -5px 0 0;
    padding: 0;
    color: $ultraLightGray;
    font-size: 4em;
    font-family: $optionalFont;
    transform: rotate(180deg);
    float: left;

  }

  .centered {
    margin: 0 auto 0 auto;
    display:inline-block;
    text-align: center;
  }

  h5 {
    padding: 20px 0 10px 0;
    text-align: center;
  }

  img {
    padding: 20px 0 10px 0;
  }

  .header-space {
    padding-top: 40px;
  }
}