/**
 * @author: Handsoncode
 */

.features .testimony-s {

  padding: 60px 0 90px;

  blockquote {

    width: auto;

    @media only screen and (min-width: $mediumWidth) {
      width: 770px;
    }

  }

  .centered {
    margin: 0 auto 0 auto;
    display:inline-block;
    text-align: center;
  }

  h5 {
    padding: 20px 0 10px 0;
    text-align: center;
  }

  img {
    padding: 20px 0 10px 0;
  }

  .header-space {
    padding-top: 40px;
  }
}