/**
 * @author: Handsoncode
 */

.features .testimony-s {

  padding: 60px 0 90px;

  .centered {
    display:inline-block;
    margin: 0 auto 0 auto;
    text-align: center;
  }

  h5 {
    text-align: center;
    padding: 20px 0 10px 0;
  }

  img {
    padding: 20px 0 10px 0;
  }

  .header-space {
    padding-top: 40px;
  }
}