/**
 * @author: Handsoncode
 */

.features .top-features  {

    h5 {
        font-weight: 600;
        margin-bottom: 0;
    }

    .item {
        position: relative;
        
        /* [ styles only for desktop ] */
        @media only screen and (min-width: $largeWidth) {
            padding-left: 81px;
        }
        
        svg {
            @include square(110px);
            display: block;
            margin: 60px auto 0;
            fill: $iconColor;

            /* [ styles only for desktop ] */
            @media only screen and (min-width: $largeWidth) {
                @include absolute-top-left(15px, 0);
                @include square(52px);
                margin: 0;
            }
        }

        p {
            font-size: 0.813em; /* 13px */
            line-height: 1.7;
            font-weight: 300;
            margin: 8px 0;
        }
    }
}