/**
 * @author: Handsoncode
 */

.features .top-features  {

    h5 {
        font-weight: 600;
        margin-bottom: 0;
    }

    .item {
        position: relative;
        padding-left: 81px;
        
        &::before {
            @include set-pseudo-element(15px, auto, auto, 0);
            @include square(52px);
        }

        p {
            font-size: 13px;
            line-height: 1.7;
            margin: 8px 0;
        }
    }

    .easy-start::before {
        @include sprite(0, -82px);
    }

    .developer-api::before {
        @include sprite(-52px, -82px);
    }

    .data-source::before {
        @include sprite(-104px, -82px);
    }
}