/**
 * @author: Handsoncode
 */

@import 'partials/license_renewal';
@import 'partials/pricing_plan';
@import 'partials/purchase_options';
@import 'partials/template';
@import 'partials/testimony';
@import 'partials/questions_answers';

