<div class="row author" itemscope itemtype="http://schema.org/Person" itemprop="author">
    <div class="medium-8 large-centered columns">
        <div class="row">
            <div class="medium-2 small-4 columns element-center">
                <img src="//handsontable.com/blog/attachments/authors/aleksandra-budnik.png" alt="Aleksandra Budnik"
                     itemprop="image" />
            </div>
            <div class="medium-7 small-8 columns left">
                <h5 itemprop="name">
                    <a href="https://github.com/ambudnik" rel="author" target="_blank">
                        Aleksandra Budnik
                    </a>
                </h5>
                <p itemprop="description">
                    An expert in research and analytics.<br/>
                    She also used to run her own e-commerce business.
                </p>
            </div>
        </div>
    </div>
</div>