<div class="row author" itemscope itemtype="http://schema.org/Person" itemprop="author">
    <div class="medium-8 large-centered columns">
        <div class="row">
            <div class="medium-2 small-4 columns element-center">
                <img src="//handsontable.com/blog/attachments/authors/amogh-malik.png" alt="Amogh Malik"
                     itemprop="image" />
            </div>
            <div class="medium-7 small-8 columns left">
                <h5 itemprop="name">
                    <a href="https://github.com/amoghmalik" rel="author" target="_blank">
                        Amogh Malik
                    </a>
                </h5>
                <p itemprop="description">
                    Computer Science captures my imagination<br/>
                    and propels me to higher orbits.
                </p>
            </div>
        </div>
    </div>
</div>