<div class="row author" itemscope itemtype="http://schema.org/Person" itemprop="author">
    <div class="medium-8 large-centered columns">
        <div class="row">
            <div class="medium-2 small-4 columns element-center">
                <img src="//handsontable.com/blog/attachments/authors/chris-spilka.jpg" alt="Chris Spilka"
                     itemprop="image" />
            </div>
            <div class="medium-7 small-8 columns left">
                <h5 itemprop="name">
                    <a href="https://plus.google.com/u/0/+KrzysztofSpilka" rel="author" target="_blank">
                        Chris Spilka
                    </a>
                </h5>
                <p itemprop="description">
                    CEO at <a href="/team">Handsoncode</a>. He worked for many years as a project manager
                    in e-commerce, finance and banking. Privately a big fan of craft beers.
                </p>
            </div>
        </div>
    </div>
</div>