<div class="row author" itemscope itemtype="http://schema.org/Person" itemprop="author">
    <div class="medium-8 large-centered columns">
        <div class="row">
            <div class="medium-2 small-4 columns element-center">
                <img src="//handsontable.com/blog/attachments/authors/krzysztof-budnik.png" alt="Krzysztof Budnik"
                     itemprop="image" />
            </div>
            <div class="medium-7 small-8 columns left">
                <h5 itemprop="name">
                    <a href="https://github.com/budnix" rel="author" target="_blank">
                        Krzysztof Budnik
                    </a>
                </h5>
                <p itemprop="description">
                    Handsontable core team member. He uses Vanilla JS on a daily basis. Privately a geek and gamer.
                </p>
            </div>
        </div>
    </div>
</div>