<div class="row author" itemscope itemtype="http://schema.org/Person" itemprop="author">
    <div class="medium-8 large-centered columns">
        <div class="row">
            <div class="medium-2 small-4 columns element-center">
                <img src="//handsontable.com/blog/attachments/authors/kamil-krolikowski.png" alt="Kamil Królikowski"
                     itemprop="image" />
            </div>
            <div class="medium-7 small-8 columns left">
                <h5 itemprop="name">
                    Kamil Królikowski
                </h5>
                <p itemprop="description">
                    Passionate about people and bold marketing ideas.
                </p>
            </div>
        </div>
    </div>
</div>