<div class="row author" itemscope itemtype="http://schema.org/Person" itemprop="author">
    <div class="medium-8 large-centered columns">
        <div class="row">
            <div class="medium-2 small-4 columns element-center">
                <img src="//handsontable.com/blog/attachments/authors/mariola-czupowska.png" alt="Mariola Czupowska"
                     itemprop="image" />
            </div>
            <div class="medium-7 small-8 columns left">
                <h5 itemprop="name">
                        Mariola Czupowska
                </h5>
                <p itemprop="description">
                    Interested in social media, writing and languages.<br>
                    Loves dancing salsa and ballroom dance.
                </p>
            </div>
        </div>
    </div>
</div>