/**
 * @author: Handsoncode
 */

 .directory .lightbox {
    position: relative;
    padding-top: 25px;
    padding-bottom: 11px;
    margin-top: 44px;
    z-index: 1000;

    @media only screen and (min-width: $largeWidth) {
        border-radius: 5px;
        background-color: $darkWhite;
        box-shadow: 0 0 14px 0 rgba(0, 8, 0, 0.2);
    }

    .headline {
        font-weight: 400;
        text-align: center;
        border: none;
        padding: 0 0 10px 0;
        margin-bottom: 0;

        small {
            display: block;
            font-size: 0.469em; /* 15px */
            font-weight: 100;
            line-height: 1.6;
            max-width: 400px;
            margin: 18px auto;
        }
    }

    p {
        font-size: 0.938em; /* 15px */
        text-align: center;
    }

    form {
        margin: 23px 0 59px;
        text-align: center;
        input[type="text"],
        input[type="email"], 
        input[type="number"], 
        input[type="password"], 
        textarea {
            background: #FFF;
            border-color: $inputBorder;
            width: 75%;
            @media only screen and (min-width: $largeWidth) {
              width: 100%;
            }
        }

        #mce-responses {
            font-size: 0.813em; /* 13px */
            text-align: center;

            .response {
              margin-bottom: 15px;
            }

            #mce-error-response {
                color: $brandRed;
            }

            #mce-success-response {
              color: $brandGreen;
            }
        }

        .btn {
            width: 75%;
            @media only screen and (min-width: $largeWidth) {
              width: 100%;
            }
        }
    }

    .contact-us {
        text-align: center;
        font-weight: 100;
        font-size: 0.813em; /* 13px */
        margin-bottom: 22px;
        p,
        a  {
            font-size: inherit;
            margin: 0;
        }
    }
}