/**
 * @author: Handsoncode
 */

 .directory .social-links {
    @include border-top;
    text-align: center;
    padding-top: 14px;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
    
    a {
        @include square(25px);
        display: inline-block;
        margin: 0 10px;
    }

    svg {
        @include transition(fill .3s ease);
        @include square(100%);
        fill: #bdbdbd;

        &:hover {
            fill: #969696
        }
    }
}