/**
 * @author: Handsoncode
 */

 .directory .content-bg {
    @media only screen and (min-width: $largeWidth) {
        position: relative;
        background: transparent url($images + 'template/ModDirectory/bg.jpg') no-repeat center 49px;

        &::before {
            @include set-pseudo-element(0, 0, auto, auto);
            @include square(100%);
            background: rgba(255, 255, 255, .8);
            z-index: 10;
        }
    }
}