/**
 * @author: Handsoncode
 */
 
 .connect-data {
    margin: 65px 0 40px 0;
    text-align: center;
    @media only screen and (min-width: $largeWidth) {
     text-align: left;
    }

    h1 {
        margin: 84px 0 0;
        padding: 0;
    }

    h4 {
        margin: 13px 0 34px;
        padding: 0;
        font-family: $regularFont;
        text-align: left;
    }
}
