/**
 * @author: Handsoncode
 */
 
 .connect-data {
    margin-top: 65px;
    text-align: center;
    @media only screen and (min-width: $largeWidth) {
     text-align: left;
    }

    h1 {
        margin: 84px 0 0;
    }

    h4 {
        margin: 13px 0 34px;
        font-family: $regularFont;
    }
}
