
/**
 * @author: Handsoncode
 */
 
.frontpage .product-info {
    @media only screen and (min-width: $mediumWidth) {
        padding: 16vh 0 7vh;

        > div {
            margin-bottom: 40px;
        }
    }

    h1 {
        margin: 50px 0 0 0;
        font-size: 2.375em;
    }

    h4 {
        font-family: $regularFont;
        margin: 13px 0 34px;
    }

    img {
        margin: 70px 0 0 0;
        display: none;
        @media only screen and (min-width: $mediumWidth) {
            margin: 0;
            display: inline;
        }
    }

    .btn {
        margin: 0 5px;
        padding: 0;
    
        @media only screen and (min-width: $mediumWidth) {
            width: auto;
            padding: 0 28px;
            margin-right: 10px;
        }
    }
}