/**
 * @author: Handsoncode
 */
 
.frontpage .product-info {
    @media only screen and (min-width: $mediumWidth) {
        padding-bottom: 45px;

        > div {
            margin-bottom: 40px;
        }
    }

    h1 {
        margin-bottom: 0;
    }

    h4 {
        font-family: $regularFont;
        margin: 13px 0px 34px;
    }

    img {
        margin: 70px 0 0 0;
        @media only screen and (min-width: $mediumWidth) {
            margin: 0;
        }
    }

    .btn {
        margin-right: 10px;
    }
}