
/**
 * @author: Handsoncode
 */
 
.frontpage .product-info {
    @media only screen and (min-width: $mediumWidth) {
        padding: 16vh 0 7vh;

        > div {
            margin-bottom: 40px;
        }
    }

    h1 {
        margin: 50px 0 0 0;
    }

    h4 {
        font-family: $regularFont;
        margin: 13px 0px 34px;
    }

    img {
        margin: 70px 0 0 0;
        @media only screen and (min-width: $mediumWidth) {
            margin: 0;
        }
    }

    .btn {
        width: calc(50% - 14px);
        margin: 0 5px;
        padding: 0;
    
        @media only screen and (min-width: $mediumWidth) {
            width: auto;
            padding: 0 28px;
            margin-right: 10px;
        }        
    }
}