/**
 * @author: Handsoncode
 */

.frontpage {
  .headline {
    margin: 110px 0;

    @media only screen and (min-width: $mediumWidth) {
      margin: 88px 0 82px;
    }
  }
  .brands .headline {
    @media only screen and (min-width: $mediumWidth) {
      margin-bottom: 53px;
    }
  }
}