.testimony {
    padding: 51px 0 52px;

    .element-center {
        @media only screen and (min-width: $largeWidth) {
            margin: 20px auto 0 auto;
        }
    }

    img,
    blockquote {
        display: inline-block;
    }

    blockquote {
        margin-top: 10px;
        font-size: 1.563em; /* 25px */
    }

    img {
        border-radius: 100%;
        max-width: 100px;   
    }

    h5 {
        margin: 0;
        padding: 0;
    }

    a {
        font-size: inherit;
    }
}