/**
 * @author: Handsoncode
 */

/* [local variable ] */

$iconSize: 82px;

.why-handsontable {
    text-align: center;
    padding-bottom: 37px;
    > div {
        margin-bottom: 60px;
    }
    > div::before {
        @include square($iconSize);
        content: '';
        display: inline-block;
    }

    h5 {
        font-weight: 400;
        margin: 17px 0 13px;
    }

    p,
    a {
        font-size: 15px;
        font-weight: 100;
    }

    p {
        line-height: 1.7;
        margin: 13px 0 26px;
        color: #8D8D8D;
    }

    a {
        display: block;
    }

    .friendly::before {
        @include sprite(0,0);
    }

    .composite::before {
        @include sprite(- $iconSize, 0);
    }

    .features::before {
        @include sprite(- $iconSize * 2, 0);
    }

    .community::before {
        @include sprite(- $iconSize * 3, 0);
    }
}