/**
 * @author: Handsoncode
 */

.why-handsontable {
    text-align: center;
    padding-bottom: 37px;
    > div {
        margin-bottom: 60px;

        svg {
            @include square(130px);
            margin: 0 auto;
            fill: $iconColor;

            @media only screen and (min-width: $mediumWidth) {
                @include square(82px);
            }
        }
    }

    h5 {
        font-weight: 400;
        text-align: center;
        margin: 17px 0 13px;
    }

    p,
    a {
        font-size: 0.938em; /* 15px */
        font-weight: 100;
    }

    p {
        line-height: 1.7;
        margin: 13px 0 26px;
        color: $darkGray;
    }

    a {
        font-weight: 400;
    }
}