/**
 * @author: Handsoncode
 */

.why-handsontable {

    .border-bottom {
        width: 40px;
        margin: 10px 60px 20px 0;
        border-bottom: solid 2px $brandBlue;

        @media only screen and (min-width: $mediumWidth) {
            margin: 10px auto;
            display: block;
        }
    }

    text-align: center;
    padding-bottom: 20px;


    > div {
        margin-bottom: 60px;

        svg {
            @include square(130px);
            margin: 0 auto;
            fill: $iconColor;

            @media only screen and (min-width: $mediumWidth) {
                @include square(50px);
                margin-top: 30px;
            }
        }
    }

    .headline {

        margin: 40px 0 0 20px;
        font-weight: 400;
        text-align: left;
        @media only screen and (min-width: $mediumWidth) {
            margin-top: 60px;
            margin-bottom: 20px;
            letter-spacing: -0.011em;
            text-align: center;
        }
    }


    h5 {
        font-weight: 400;
        text-align: center;
        margin: 17px 0 13px;
    }

    p,
    a {
        font-size: 0.938em; /* 15px */
        font-weight: 100;
    }

    p {
        line-height: 1.7;
        margin: 13px 0 26px;
        color: $darkGray;
    }

    a {
        font-weight: 400;
    }
}