/**
 * @author: Handsoncode
 */

.faq {

  .headline {
    margin: 97px 0 23px;
  }

  .border-bottom {
    width: 40px;
    margin: 10px 60px 20px 0;
    border-bottom: solid 2px $brandBlue;

    @media only screen and (min-width: $mediumWidth) {
      margin: 10px auto 20px auto;
      display: block;
    }
  }

  h2 {
    text-align: left;
    line-height: 1.1em;
    font-weight: 400;

    @media only screen and (min-width: $mediumWidth) {
      margin-top: 0;
      text-align: center;
    }
  }

  h3 {
    margin: 30px 0 30px;
    font-weight: 500;
  }

  h4 {
    margin: 30px 0 0 0;
    font-weight: 400;
    text-align: left;
  }

  h5 {
    color: $brandBlue;
    margin: 0;
    padding: 0;
    line-height: 2em;
    font-weight: 400;
    font-size: 1.1em;
  }

  .cant {
    background: $brandHeaderWhite;
    padding: 0 0 90px 0;
    margin: 60px 0 0 0;
    text-align: center;
  }

  p {
    font-size: inherit;
  }

  a {
    font-size: inherit;
  }
  // hide checkbox
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    &:hover + label {
      color: $brandBlack;
    }
    &:focus + label {
      color: $brandBlack;
    }
  }

  // Style label/entry for accordion
  label {
    display: block;
    cursor: pointer;
    color: $brandBlue;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
  }

  // Style accordion content
  section {
    height: 0;
    transition: .3s all;
    overflow: hidden;
    border-left: 10px solid $brandHeaderWhite;
  }

  // Open content when clicking label
  #what-is-handsontable:checked ~ #what-is-handsontable,
  #ce-or-pro:checked ~ #ce-or-pro,
  #can-i-use-ce-for-commercial-products:checked ~ #can-i-use-ce-for-commercial-products,
  #which-browser:checked ~ #which-browser,
  #which-devices:checked ~ #which-devices,
  #which-frameworks:checked ~ #which-frameworks {
    // set height for transition duration to work
    // (also can set to auto without transition)
    height: inherit;
    margin-bottom: 1em;
  }

  // just some styling

  body {
    font-family: $regularFont;
  }

  p {
    margin: 1em 0 .5em 1em;
  }

  .togglebox {
    margin: 0 auto;
  }

  .btn {
    height: 45px;
    margin-top: 20px;
    font-size: medium;
    line-height: inherit;
    padding-top: 7px;

    @media only screen and (min-width: $largeWidth) {
      padding-top: 10px;
      margin-top: 20px;
    }
  }
}

