<div class="row billing">
    <div class="medium-12 large-6 columns">
        <h3>Payment details</h3>
        <form class="clearfix">
            <label>Full name of the card holder</label>
            <input type="text"  name="full_name" value="Krzysztof Spilka"/>
            <label>Card number</label>
            <input type="text"  name="company_name" value="1234 1234 1234 1234 **** **"/>
            <input type="submit" class="btn green right" value="Update details" />
        </form>
    </div>

    <div class="medium-12 large-6 columns">
        <h3>Active subscriptions</h3>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Amount</th>
                        <th>Renewal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12101501</td>
                        <td>Single website </td>
                        <td>$99 </td>
                        <td> 12 Sep 2015</td>
                        <td><a href="">Cancel</a></td>
                    </tr>
                    <tr>
                        <td>12101502</td>
                        <td>Single website </td>
                        <td>$99 </td>
                        <td> 13 Sep 2015</td>
                        <td><a href="">Cancel</a></td>
                    </tr>                
                </tbody>
            </table>
        </div>
    </div>
</div>