<div class="row install">
    <div class="medium-12 large-8 columns">

        <h3>Recommended way</h3>
        <div class="install-description">
            <h5>The fastest way to install Handsontable is through <a href="">Bower</a> using the following command:</h5>
            <code>$&nbsp;&nbsp;&nbsp;bower install git.handsontable.com/handsontable-pro</code>
            <p>Notice that you will be asked to enter your login and password in order to download the package. If you don’t want to type in every time you update the library or provide an access to it to someone else from your team, click <a href="#">here</a> to manage access keys.</p>
        </div>

        <h3>Alternative way</h3>
        <div class="install-description">
            <h5>Download a ZIP file directly from here and install it manually:</h5>
            
            <div class="clearfix">
                <div aria-role="menubox" class="left">
                   <select>
                       <option>0.1.3</option>
                       <option>0.1.2</option>
                       <option>0.1.1</option>
                   </select> 
                   <svg><use xlink:href="#arrow_down_icon"></use></svg>
                </div>
                <a href="#" class="btn green left">Download</a>

            </div>
            <h5>Next embed the code in the <code class="inline">&lt;head&gt;</code> section of your project:<h5>

            <code>
                &lt;script src="/dist/handsontable.full.js"&gt;&lt;/script&gt;<br>
                &lt;link rel="stylesheet" media="screen" href="/dist/handsontable.full.css"&gt;
            </code>
        </div>

        <h3>Composing a custom build</h3>
        <div class="install-description">
            <h5>Create a tailor-made, lightweight package using our dedicated builder:</h5>
            <a href="" class="btn green">Read the docs</a>
        </div>
    </div>
</div>