<div class="row orders">
    <div class="small-12 columns">
        <div class="table-container">
            <table class="striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Package name</th>
                        <th>Number of licenses </th>
                        <th>Date of purchase</th>
                        <th>Free updates till </th>
                        <th>License</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>15101</td>
                        <td>Single website license</td>
                        <td>1</td>
                        <td> 12 Sep 2015</td>
                        <td> 13 Sep 2015</td>
                        <td><a href="">License (PDF)</a></td>
                    </tr>
                    <tr>
                        <td>15102</td>
                        <td>Unlimited websites</td>
                        <td>1</td>
                        <td> 13 Sep 2015</td>
                        <td> 13 Sep 2015</td>
                        <td><a href="">License (PDF)</a></td>
                    </tr>         
                    <tr>
                        <td>15103</td>
                        <td>Single SaaS/OEM</td>
                        <td>1</td>
                        <td> 14 Sep 2015</td>
                        <td> 13 Sep 2015</td>
                        <td><a href="">License (PDF)</a></td>
                    </tr>   
                    <tr>
                        <td>15104</td>
                        <td>Single website license</td>
                        <td>1</td>
                        <td> 19 Sep 2015</td>
                        <td> 13 Sep 2015</td>
                        <td><a href="">License (PDF)</a></td>
                    </tr> 
                </tbody>

            </table>
        </div>
    </div>
</div>