<div class="row ssh-keys">
    <div class="medium-12 large-6 columns">
        <h3>SSH keys</h3>
        <div class="ssh-container clearfix">
            <h5>Add a custom title and paste an SSH key below:</h5>
            
            <ul class="ssh-list">
                <li>
                    MacBook 15’ Bielawa <a class="right" href="#">Remove</a>
                </li>
            </ul>
            <a href="#" class="btn green right">Add new</a>
        </div>
        <h3>Add a key</h3>
            <div class="new-ssh-key">
                <code>MacBook 15’ Spilka</code>
                <code class="ssh-code"><span>ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAklOUpkDHrfHY17SbrmTIpNLTGK9Tjom/BWDSU
GPl+nafzlHDTYW7hdI4yZ5ew18JH4JW9jbhUFrviQzM7xlELEVf4h9lFX5QVkbPppSwg0cda3
Pbv7kOdJ/MTyBlWXFCR+HAo3FXRitBqxiX1nKhXpHAZsMciLq8V6RjsNAQwdsdMFvSlVK/7XA
t3FaoJoAsncM1Q9x5+3V0Ww68/eIFmb1zuUFljQJKprrX88XypNDvjYNby6vw/Pb0rwert/En
mZ+AW4OZPnTPI89ZPmVMLuayrD2cE86Z/il8b+gw3r3+1nKatmIkjn2so1d01QraTlMqVSsbx
NrRFi9wrf+M7Q== schacon@mylaptop.local</span></code>
                <a href="#" class="btn green right">Add</a>
            </div>
    </div>

    <div class="medium-12 large-6 columns">
        <h3>How to generate an SSH key?</h3>
        <div class="ssh-tutorial">
            <h5>Check out the step-by-step tutorial created by GitHub:</h5>
            <a href="#" class="btn green">See tutorial</a>
        </div>
    </div>
</div>