/**
 * @author: Handsoncode
 */

.post {
  padding-top: 30px;
  @media only screen and (min-width: $mediumWidth) {
    padding-top: 100px;
  }

  .headline {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 2.313em;
    text-align: center;
    line-height: 1.2;
    border-bottom: none;
  }

  .meta-details {
    text-align: center;
    
    span {
      margin: 0 10px;
      font-size: 15px;

      img {
        @include circle(40px);
        margin-right: 10px;
      }
      a {
        font-size: 1em;
      }
      @media only screen and (min-width: $mediumWidth) {
        font-size: 0.938em;
        a {
          font-size: 1em;
        }
      }
    }
  }

  .body {
    margin-top: 50px;
    font-family: $readFont;
    p {
      margin: 25px 0;
      font-size: 1em;
      line-height: 1.68;
      letter-spacing: -0.003em;
      text-align: justify;
      @media only screen and (min-width: $mediumWidth) {
        font-size: 1.313em;
      }
      strong {
        font-weight: 600;
      }
      a {
        font-size: 1em;
      }
      label.photo-label {
        font-size: 0.619em;
        color: $darkGray;
        font-family: $regularFont;
      }
      &.title {
        margin-bottom: 0;
      }
    }
    ul {
      margin-bottom: 25px;
      li {
        font-size: 1em;
        padding: 8px 0 0 10px;
        line-height: 1.68;
        list-style: square;
        margin-left: 80px;
        position: relative;
        @media only screen and (min-width: $mediumWidth) {
          font-size: 1.313em;
        }
        &.pros, &.cons {
          list-style: none;
          &:before {
            @include absolute-top-left (7px, -26px);
            font-weight: 600;
          }
        }
        &.pros:before {
          content: "+";
          color: $brandGreen;
        }
        &.cons:before {
          content: "-";
          left: -23px;
          color: $brandRed;
        }
        li {
          font-size: 1em;
        }
      }
    }
    h3 {
      font-weight: 600;
      margin-top: 40px;
    }
    blockquote {
      margin: 0 0 30px 20px;
      padding: 0.6em 1em;
      font-weight: inherit;
      border-left: 6px solid $lightGray;
    }
    code {
      border: 0;
      margin: 0;
      padding: 0 0 20px;
      font-size: 13px;
      font-weight: 400;
      font-family: $codeFont;
      &.inline {
        margin: 0 2px;
        padding: 3px 6px;
        display: inline;
        font-size: 18px;
        white-space: nowrap;
      }
    }
    .toolbox {
      margin-top: 20px;
    }
  }

  .author {
    padding: 40px 0 70px;

    img,
    blockquote {
      display: inline-block;
    }

    blockquote {
      margin-top: 10px;
      font-size: 1.625em; /* 26px */
    }

    img {
      border-radius: 100%;
      max-width: 100px;
    }

    h5 {
      margin: 12px 0;
      font-weight: 600;
      text-align: left;
    }

    a {
      font-size: inherit;
      color: $baseGray;
    }
  }
}

#comments {
  margin-top: 30px;
}