/**
 * @author: Handsoncode
 */


 .blog  {
    padding-top: 67px;

    h2.category-title {
      text-transform: capitalize;
      span {
        color: $gray;
      }
    }
    h3, p, li {
        padding: 0 8%;
    }
    h3 {
        margin: 40px 0 0;
        line-height: 1.2;
        a {
            font-family: $optionalFont;
            color: inherit;
            font-weight: 600;
            font-size: 1em;
            line-height: 1.3;
            text-decoration: none;
        }
    }
    p {
      font-size: 0.938em;
      a {
        font-size: 1em;
      }
    }
    small {
        font-size: 13px;
        position: relative;
        display: block;
        padding-bottom: 15px;
        &::after {
            @include set-pseudo-element(auto, auto, 0, 0);
            @include rectangle(33px, 1px);
            background-color: $gray;
        }
    }

   .post-element {
     max-height: 310px;
     overflow: hidden;
   }

   .categories {
     h3 {
       margin: 46px 0 20px;
       font-size: 1em;
       font-weight: 400;
     }
     li {
       a {
         font-size: 1.231em;
       }
     }
   }
}