/**
 * @author: Handsoncode
 */

.examples .side-features {

  [aria-expanded="false"] form {
    display: none;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h5 {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;

    svg {
      @include square(10px);
      margin-left: 2px;
      fill: currentColor;
    }
  }

  h5,
  label {
    font-weight: 400;
  }

  p {
    @include border-bottom;
    position: relative;
    margin: 10px 0;

    &:last-child {
      border: none;
    }
  }

  label,
  a {
    font-size: inherit;
  }

  label {
    @include user-select;
    padding-right: 30px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: #000;
      svg {
        fill: $brandGreen;
      }
    }

    svg {
      @include absolute-top-right(50%, 10px);
      @include square(20px);
      margin-top: -16px;
      fill: $middleGray;
      z-index: 10;

      @media only screen and (min-width: $mediumWidth) {
        @include square(16px);
        margin-top: -13px;
      }

      &.checked {
        display: none;
      }
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked + label svg {
      display: none;
      &.checked {
        display: block;
        fill: $brandGreen;
      }
    }

    &.dependency:checked + label svg {
      display: block;
      fill: $middleGray;
    }
  }

  #feature_ {
    display: none;
  }

  label[for='feature_'] {
    display: none;
  }

}