/**
 * @author: Handsoncode
 */

 .examples .code-box {
    @include border;
    margin-top: 40px;

    @media only screen and (min-width: $largeWidth) {
        margin: 33px 0 0 50px;
    }
    .tabs {
        @include border-bottom;
        padding: 6px;
        background: $tableBackground;

        @media only screen and (min-width: $largeWidth) {
            padding: 6px 14px;
        }

        a {
            font-size: 0.803em;
            display: block;
            padding: 3px 6px;
            @media only screen and (min-width: $largeWidth) {
                font-size: inherit;
                padding: 3px 13px;
            }
        }

        .action-link a {
            color: $secondTextColor;
        }

        svg {

            @include square (15px);
            position: relative;
            top: 2px;
            margin-right: 4px;
            fill: currentColor;
        }

        [aria-selected="true"] {
            text-decoration: none;
            color: inherit;
            cursor: default;
        }


    }

    .tabs-content {
        min-height: 342px;
        padding: 0 35px;
    }
}