/**
 * @author: Handsoncode
 */

#export-buttons {
  display: none;
  text-align: center;

  .btn {
     margin-top: 20px;
    @media only screen and (min-width: $largeWidth) {
      margin-top: 35px;
    }
  }

  &.visible {
    display: block;
  }
}