/**
 * @author: Handsoncode
 */

 .examples  {

   .headline {
     margin: 97px 0 23px;

     &.centered {
       margin: 20px 0 18px;
     }
   }

   h2 {
     font-weight: 400;
     text-align: left;
     margin:40px 0 0 0;
     padding: 0;

     @media only screen and (min-width: $largeWidth) {
       margin-top: 60px;
     }
   }

   h4 {
     text-align: left;
     margin:0;
     padding: 0;
   }

   .sub-header {
     text-align: left;
     margin-top: 5px;
   }

    .plugin-preview {
        @media only screen and (min-width: $largeWidth) {
            margin: 78px 0 0 50px;
        }
    }

    form, .external_links {
        margin-bottom: 40px;
        @media only screen and (min-width: $largeWidth) {
            margin-left: 19px;
        }
    }

    img {
        margin-top: 52px;
    }
}