/**
 * @author: Handsoncode
 */

 .examples  {

    .headline {
        margin: 97px 0 23px;
        
        &.centered {
            margin: 20px 0 18px;
        }
    }

    .plugin-preview {
        @media only screen and (min-width: $largeWidth) {
            margin: 78px 0 0 50px;
        }
    }

    form, .external_links {
        /* [ styles only for desktop ] */
        @media only screen and (min-width: $largeWidth) {
            margin-left: 19px;
        }
    }

    img {
        margin-top: 52px;
    }
}