/**
 * @author: Handsoncode
 */

.branding .brand-g {

  h1 {
    padding: 0;
    text-align: left;
    line-height: 1.1em;

    @media only screen and (min-width: $mediumWidth) {
      margin-top: 0;
      text-align: center;
    }
  }

  .large-logo {
    width: 100%;

    @media only screen and (min-width: $mediumWidth) {
      width: 90%;
      padding-top: 40px;
    }
  }

  .brand-guide {
    padding-bottom: 40px;

    @media only screen and (min-width: $mediumWidth) {
      padding: 60px 0 40px 0;
    }

    .style {
      padding: 60px 20px 60px 20px;
      @media only screen and (min-width: $mediumWidth) {
        padding: 0 60px 40px 20px;
      }
    }

    .download {

      p {
        width: 100%;
        color: #fff;
        float: left;
        @media only screen and (min-width: $mediumWidth) {
          width: 60%;
        }
      }
      padding: 0 20px 40px 20px;
      background-color: $brandGreen;
      display: block;
      color: #fff;
      @media only screen and (min-width: $mediumWidth) {
        padding: 0 40px 30px 40px;
      }
    }

    .btn {
      margin-top: 20px;
      height: 55px;
      float: right;
      color: $brandGreen;
      border: 2px solid transparent;
      background-color: $darkWhite;
      font-weight: 600;

      @media only screen and (min-width: $mediumWidth) {
        height: 45px;
      }

      &:hover {
        color: $darkWhite;
        background: none;
        border: 2px solid $darkWhite;

      }

      &:focus {
        color: $darkWhite;
      }
    }
  }

  a {
    font-size: inherit;
  }
}