/**
 * @author: Handsoncode
 */

.branding .brand-g {

 margin-bottom: 40px;

  h2 {
    text-align: left;
    padding: 0;
  }


  .large-logo {
    width: 100%;

    @media only screen and (min-width: $mediumWidth) {
      width: 90%;
      padding-top: 40px;
    }
  }

  .style-guidelines {
    margin-top: 70px;
    padding-right: 40px;
  }


  .download {

    margin-top: 30px;
    padding: 40px;
    background-color: $brandGreen;
    color: #fff;
  }

    .btn {
      margin-top: 20px;
      height: 55px;
      color: $brandGreen;
      border: 2px solid transparent;
      background-color: $darkWhite;
      font-weight: 400;
      font-size: 0.875em;
      padding-top: 7px;

      @media only screen and (min-width: $mediumWidth) {
        height: 45px;
        padding-top: 7px;
      }

      &:hover {
        color: $darkWhite;
        background: none;
        border: 2px solid $darkWhite;

      }

      &:focus {
        color: $darkWhite;
      }
    }

  a {
    font-size: inherit;
  }
}