/**
 * @author: Handsoncode
 */

.branding {

  h2 {
    margin-bottom: 0;
    text-align: left;
  }

  .branding-header {

    padding: 90px 0 90px 0;
    background-color: $darkWhite;

    h1 {
      margin: 0;
    }

    h4 {
      margin: 2px 0 0 0;
    }

  }

  .large-logo {
    width: 99%;
    padding: 60px 0 20px 0;
    @media only screen and (min-width: $mediumWidth) {
      width: 90%;
    }
  }

  .brand-guide {
    @media only screen and (min-width: $mediumWidth) {
      padding-top: 90px;
    }

    h1 {
      margin: 40px 0 0 0;
      text-align: left;
    }

    .style {
      padding: 60px 20px 60px 20px;
      @media only screen and (min-width: $mediumWidth) {
        padding: 0 60px 40px 20px;
      }
    }

    .download {

      p {
        width: 100%;
        color: #fff;
        float: left;
        @media only screen and (min-width: $mediumWidth) {
          width: 60%;
        }
      }
      padding: 0 20px 40px 20px;
      background-color: $brandGreen;
      display: block;
      color: #fff;
      @media only screen and (min-width: $mediumWidth) {
        padding: 0 40px 30px 40px;
      }
    }

    .btn {
      height: 55px;
      margin-top: 20px;
      float: right;
      color: $brandGreen;
      border: 2px solid transparent;
      background-color: $darkWhite;
      font-weight: 600;
      @media only screen and (min-width: $mediumWidth) {
        height: 45px;
      }

      &:hover {
        color: $darkWhite;
        background: none;
        border: 2px solid $darkWhite;

      }
      &:focus {
        color: $darkWhite;
      }
    }
  }

  a {
    font-size: inherit;
  }
}