/**
 * @author: Handsoncode
 */

.branding .logo-colour {

  h1 {
    text-align: left;
    margin: 0;

    @media only screen and (min-width: $mediumWidth) {
      margin: 60px 0 0 0;
      text-align: center;
    }
  }

  h4 {
    margin: 0;
    padding: 20px 0 0 0;
    text-align: left;
    font-weight: 500;
  }

  p {
    padding: 0 0 10px 0;
    font-size: 0.700em;

  }

  .brand-blue {
    background-color: $brandBlue;
  }

  .brand-red {
    background-color: $brandRed;
  }

  .brand-green {
    background-color: $brandGreen;
  }

  .brand-navy {
    background-color: $brandDeepNavy;
  }

  .brand-blue,
  .brand-red,
  .brand-green,
  .brand-navy {
    color: $backgroundTextColor;
  }

  .brand-yellow {
    background-color: $brandYellow;
    color: $darkGray;
  }
}
