/**
 * @author: Handsoncode
 */
 
 .branding .logo-final {
   padding: 60px 0;


   h3 {
     margin: 0;
     text-align: left;
   }

   .svg {
     @include square(30px);

     margin: 0;
     fill: $baseGray;
   }
}
