/**
 * @author: Handsoncode
 */
 
 .branding .logo-artworks {
    padding-top: 60px;

   h2.divider:before {
     top: 85%;

     @media only screen and (min-width: $mediumWidth) {
       top: 50px;
       left: 49%;
     }
   }

   a {
     font-size: inherit;
   }

   .extraBottom {
     padding: 0 0 3.2em 0;
   }

   h4 {
     text-align: left;
     padding: 20px 0 2px 0;
   }

}
