/**
 * @author: Handsoncode
 */

/* [ brand colors ] */
$brandBlack: #000000;
$brandBlue: #34A9DC;
$brandRed: #E87677;
$brandVibrantGreen: #59a500;
$brandGreen: #43a047;
$brandLightGreen: #7ec896;
$brandDeepGreen: #598e6a;
$brandDeepNavy: #404B5B;
$brandDarkNavy: #15202f;
$brandYellow: #FAD97F;
$brandHeaderWhite: #f7f8fa;
$brandVibrantBlue: #00e5ff;

/* [ shades of grays] */
$baseGray: #363636;
$darkGray: #8D8D8D;
$gray: #CFCFCF;
$middleGray: #C5C5C5;
$lightGray: #E3E3E3;
$ultraLightGray: #edeef0;
$darkWhite: #f7f7f7;
$headerGrey: #f7f8fa;

/* [ active colors ] */
$brandBlueActive: darken($brandBlue, 8%);
$brandRedActive: darken($brandRed, 8%);
$brandGreenActive: darken($brandGreen, 8%);
$darkGrayActive: darken($darkGray, 8%);
$lightGrayActive: darken($lightGray, 8%);
$darkWhiteActive: darken($darkWhite, 8%);

/* [ functional color ] */
$textColor: $baseGray;
$secondTextColor: $baseGray;
$linkColor: $brandBlue;
$linkActiveColor: $brandBlueActive;
$borderColor: $darkWhite;
$accentBorderColor: $ultraLightGray;
$inputBorder: $gray;
$inputFocusBorder: $darkGray;
$tableBackground: $headerGrey;
$iconColor: $brandDeepNavy;
$backgroundTextColor: $darkWhite;

/* [ occasional colors ] */
$vividGreen: darken($brandGreen, 12%);

/* [ active occasional colors ] */
$vividGreenActive: darken($vividGreen, 4%);

$errorColor: $brandRed;
$infoColor: $brandBlue;
$successColor: $brandGreen;
$warningColor: $brandYellow;


