/**
 * @author: Handsoncode
 */

/*$optionalFont: 'Lato', Helvetica, Arial, sans-serif;*/

$regularFont: 'Roboto', Helvetica, Arial, sans-serif;
$optionalFont:  'nimbus-sans',  Helvetica, Arial, sans-serif;
$readFont: Georgia, Cambria, "Times New Roman", serif;
$codeFont: Consolas, "Liberation Mono", Courier, monospace;