/**
 * @author: Handsoncode
 */

$regularFont: 'Open Sans', Helvetica, Arial, sans-serif;
$optionalFont: 'Lato', Helvetica, Arial, sans-serif;
$readFont: Georgia, Cambria, "Times New Roman", serif;
$codeFont: Consolas, "Liberation Mono", Courier, monospace;