/**
 * @author: Handsoncode
 */

 .user .install  {
    margin-top: 29px;

    h3 {
        font-size: 20px;
        font-weight: 400;
    }

    h5 {
        margin: 5px 0;
    }

    p {
        text-align: center;
        line-height: 1.7;
        
        @media only screen and (min-width: $mediumWidth) {
            text-align: left;
        }

        a {
            font-size: inherit;
        }

    }

    [aria-role="menubox"],
    .btn {
        margin: 15px 0 31px;
    }

    [aria-role="menubox"] {
        min-width: 100%;
        margin-right: 11px;
        margin-bottom: 0;
        padding-right: 29px;
        padding-left: 20px;

        @media only screen and (min-width: $mediumWidth) {
            min-width: 123px;
            margin-bottom: 31px;
        }
    }
    
    .install-description {
        margin-bottom: 37px;

        /* [ styles only for desktop ] */
        @media only screen and (min-width: $largeWidth) {
            padding-left: 33px;
        }
    }
}