/**
 * @author: Handsoncode
 */

 .team-member {
    text-align: center;

    h4 {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 0;
        small {
            font-size: 16px;
        }
    }

    p {
        color: $secondTextColor;
        font-size: 15px;
        margin: 7px 0 12px;
    }

    img {
        width: 225px;
    }
}