/**
 * @author: Handsoncode
 */

 .team .testimony {
    @include border-top;
    padding: 28px 0 60px;
    margin-top: 2px;

    .element-center {
        @media only screen and (min-width: $largeWidth) {
            margin-left: 8px;
        }
    }

    img,
    blockquote {
        display: inline-block;
    }

    img {
        border-radius: 100%;
        max-width: 100px;
        margin-top: 20px;
    }

    h5 {
        margin: 12px 0;
    }

    a {
        font-size: inherit;
    }
}