<%
    //what category are we?
    var thisCat = current.source;

    //Loop through entries and get matches
    var matches = [];

    function convertToSlug(data) {
        var slug = data.replace(/\s+/g, '-').toLowerCase();

        return slug;
    }



    for(var key in public.blog._data) {
        var entry = public.blog._data[key];

        var slug = convertToSlug(entry.category);

        if(slug == thisCat) {
            matches.push(entry);
            //copy slug too
            matches[matches.length-1].slug = key;
        }
    }
    
%>

<h2>Category <%- thisCat %></h2>
<ul>
    <% for(var i=0; i<matches.length; i++) { %>

        <li><a href="/blog/<%- matches[i].slug %>"><%- matches[i].title %></a></li>
    <% } %>
</ul>