/**
 * @author: Handsoncode
 */

.btn {
  @include vertical-align(52px);

  font-size: 0.938em; /* 15px */
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  padding: 0 25px;
  border: none;

  @media only screen and (min-width: $mediumWidth) {

    @include vertical-align(42px);
    width: auto;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &.blue {
    color: #FFF;
    background: $linkColor;
    &:hover,
    &:focus,
    &:active {
      background-color: $brandBlueActive;
    }
  }

  &.red {
    color: #FFF;
    background: $brandRed;
    &:hover,
    &:focus,
    &:active {
      background-color: $brandRedActive;
    }
  }

  &.navy {
    color: #FFF;
    background: $brandDeepNavy;
    &:hover,
    &:focus,
    &:active {
      background-color: $brandDarkNavy;
    }
  }

  &.green {
    color: #FFF;
    background: $brandGreen;
    &:hover,
    &:focus,
    &:active {
      background-color: $brandGreenActive;
    }
  }

  &.white {
    color: $brandVibrantGreen;
    background: $darkWhite;
    border: 2px solid transparent;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $darkWhite;
      border: 2px solid $darkWhite;
    }
  }

  &.white-blue {
    color: $brandBlue;
    background: $darkWhite;
    border: 2px solid transparent;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $darkWhite;
      border: 2px solid $darkWhite;
    }
  }

  &.vivid-green {
    color: #FFF;
    background: $barndLuminentGreen;
    &:hover,
    &:focus,
    &:active {
      color: #FFFFFF;
      background-color: $brandLuminentGreenActive;
    }
  }

  &.gray {
    color: #FFF;
    background: $darkGray;
    &:hover,
    &:focus,
    &:active {
      background-color: $darkGrayActive;
    }
  }

  &.ghost-blue,
  &.ghost-red,
  &.ghost-white  {
    border: 2px solid currentColor;
    background: #FFF;
  }

  &.ghost-blue {
    color: $linkColor;

    &.large {
      line-height: 55px;

      @media only screen and (min-width: $mediumWidth) {
        line-height: 45px;
      }
    }

    &:hover,
    &:focus,
    &:active {
      color: $brandBlueActive;
      border-color: currentColor;
    }
  }

  &.ghost-white {
    color: $darkWhite;

    &.large {
      line-height: 45px;
    }

    &:hover,
    &:focus,
    &:active {
      color: $brandLightBlue;
      border-color: currentColor;
    }
  }

  &.ghost-white-cta  {
    border: 2px solid currentColor;
    background: transparent;
  }

  &.ghost-white-cta {
    color: $darkWhite;

    &.large {
      line-height: 45px;
    }

    &:hover,
    &:focus,
    &:active {
      color: $brandLightBlue;
      border-color: currentColor;
    }
  }

  &.ghost-red {
    color: $brandRed;

    &.large {
      line-height: 45px;
    }

    &:hover,
    &:focus,
    &:active {
      color: $brandRedActive;
      border-color: currentColor;
    }
  }

  &.large,
  &.small {
    text-transform: none;
  }

  &.large {

    @include vertical-align(60px);
    font-size: 0.938em; /* 15px */
    padding: 0 33px;

    @media only screen and (min-width: $mediumWidth) {
      @include vertical-align(50px);
    }
  }

  &.small {
    font-size: 0.713em; /* 13px */
    height: 38px;
    line-height: 34px;
    margin: 0;

    @media only screen and (min-width: $mediumWidth) {
      font-size: 0.813em; /* 13px */
      margin: 10px;
      padding: 0 20px;
    }
  }
}