/**
 * @author: Handsoncode
 */
header .logotype {
    @include absolute-top-left(0, 50%);
    @include translateX(-50%);
    text-align: center;
    width: 100%;
    padding: 34px 0 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .2);
    z-index: 100;

    /* [ styles only for desktop ] */
    @media only screen and (min-width: $largeWidth) {
        @include translateX(0);
        position: static;
        padding: 0;
        width: auto;
        box-shadow: none;
        &, > * {
            float: left;
        }
    }
    .brand-logo {
        @media only screen and (min-width: $largeWidth) {
            margin-top: 12px;
        }

        svg {
            @include rectangle(130px, 25px);
            fill: #000;

            /* [ styles only for desktop ] */
            @media only screen and (min-width: $largeWidth) {
                @include rectangle(160px, 40px);
                float: left;
            }
        }

    }

    .brand-logo-white {
        @media only screen and (min-width: $largeWidth) {
            margin-top: 12px;
        }

        svg {
            @include rectangle(130px, 25px);


            /* [ styles only for desktop ] */
            @media only screen and (min-width: $largeWidth) {
                @include rectangle(160px, 40px);
                float: left;
                fill: #fff;
            }
        }

    }


    .github-star {
        display: none;

        /* [ styles only for desktop ] */
        @media only screen and (min-width: $largeWidth) {
            display: block;
            margin: 13px 0 0 30px;
        }
    }

}