/**
 * @author: Handsoncode
 */

.labs .confirmation {

  background-color: rgba(255, 255, 255, 0.9) ;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 100000;


  h3 {
    text-align: center;
    font-weight: 400;
  }

  p {

    color: $middleGray;
    text-align: center;

  }

  .cancel {
    @include square(24px);
    float: right;
    fill: $brandRedActive;
  }

  .uploaded {

    width: 300px;
    margin: 40px auto 60px auto;
    padding: 20px 10px 10px 10px;
    background-color: $headerGrey;
    border: 1px dashed $lightGray;
    border-radius: 10px;

    @media only screen and (min-width: $largeWidth) {
      width: 400px;
      height: 380px;
      padding: 20px;
      margin: 90px auto 90px auto;
    }

    .svg {
      margin-top: 50px;
      height: 100px;
      fill: $brandBlue;

      @media only screen and (min-width: $largeWidth) {
        margin-top: 50px;
      }
    }

    .btn {
      margin-top: 10px;
    }
  }

  .uploaded-error {

    width: 300px;
    margin: 40px auto 60px auto;
    background-color: $brandRed;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;


    @media only screen and (min-width: $largeWidth) {
      margin: 90px auto 90px auto;
      padding: 20px;
      height: 400px;
      width: 450px;
    }

    p {
      color: $darkWhite;
    }

    .svg {
      margin-top: 50px;
      height: 100px;
      fill: $darkWhite;

      @media only screen and (min-width: $largeWidth) {
        margin-top: 80px;
        margin-bottom: 50px;
      }
    }

    .btn {
      margin-top: 10px;
    }
  }

  .buttons {

    margin-left: auto;
    margin-right: auto;
    font-size: inherit;

  }

}
