/*
  @author: Handsoncode
 */

body {
    padding-top: $topMenuHeight;

    @media only screen and (min-width: $largeWidth) {
        padding: 0;
    }    
}

[aria-hidden="true"] {
    display: none;
}

.element-center {
    text-align: center;
}