/**
 * @author: Handsoncode
 */

html,
body {
  text-align: left;
  font-family: $regularFont;
  font-size: 108%;
  font-weight: 400;
  color: $textColor;

  @media only screen and (min-width: $mediumWidth) {
    font-size: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
code,
blockquote {
  font-weight: 300;
  letter-spacing: -0.011em;
}

h1 {

  margin: 0;
  padding: 0 20px 0 20px;
  text-align: left;
  line-height: 1em;

  @media only screen and (min-width: $mediumWidth) {
    margin: 60px 0 0 0;
    text-align: center;
  }
}

h1,
h2 {
  margin: 40px 0 0 0;
  padding: 0 20px 0 20px;
  font-family: $optionalFont;
  text-align: left;
  line-height: 1em;

  @media only screen and (min-width: $mediumWidth) {
    margin: 40px 0 0 0;
    padding: 0;
    text-align: center;
  }

  strong {
    font-weight: 400;
  }

  small {
    width: 100%;
    margin-top: 16px;
    font-family: $regularFont;
    line-height: 1.5;
    display: inline-block;
  }

  a {
    font-size: 0.938em; /* 15px */
  }
}

h2.divider:before {
  height: 1px;
  width: 40px;
  padding-top: 0;
  top: 70%;
  bottom: 0;
  left: 0;
  position: absolute;
  content: "";
  border-bottom: 2px solid $brandBlue;

  @media only screen and (min-width: $mediumWidth) {
    padding-top: 60px;
    top: 50px;
    left: 49%;
  }
}

h2.divider {
  margin: 0 0 20px 20px;
  padding: 40px 10px 40px 0;
  position: relative;
  z-index: 1;
  line-height: 1.1em;
  font-weight: 400;

  @media only screen and (min-width: $mediumWidth) {
    padding: 60px 10px 40px 10px;
    margin: 0 0 50px;
  }
}

h1 {
  margin: 0;
  padding: 0 20px 0 20px;
  font-family: $optionalFont;
  text-align: left;
  line-height: 1em;

  @media only screen and (min-width: $mediumWidth) {
    margin: 60px 0 0 0;
    text-align: center;
  }

  small {
    font-size: 0.361em; /* 13px */
  }
}

h2 {
  padding: 0;
  font-size: 2em; /* 32px */
  text-align: left;

  @media only screen and (min-width: $mediumWidth) {
    text-align: center;
  }
  small {
    font-size: 0.455em; /* 15px */
  }
}

h3 {
  line-height: 1em;
  font-family: $optionalFont;

  @media only screen and (min-width: $mediumWidth) {
    margin: 20px 0 0 0;
    font-size: 1.5em; /* 24px */
  }
}

h4 {
  padding: 0 20px 0 20px;
  margin: 0;
  font-family: $optionalFont;
  font-size: 1.063em; /* 17px */
  text-align: left;

  @media only screen and (min-width: $mediumWidth) {
    padding-bottom: 40px;
    text-align: center;
    margin: 0;
  }
}

h5 {
  font-size: 0.938em; /* 15px */
  text-align: left;
  line-height: 1.2em;

  @media only screen and (min-width: $mediumWidth) {
    padding-bottom: 20px;
  }
}

blockquote {
  margin: 0;
  font-size: 1.80em; /* 24px */
  text-align: center;
  font-family: $optionalFont;

  @media only screen and (min-width: $mediumWidth) {
    text-align: left;
  }
}

a,
p,
li {
  font-size: 0.938em; /* 14px */
  //line-height: 1.7em;
}

p a {
  color: $linkColor;
}

a {
  text-decoration: none;
  color: $linkColor;

  &:hover,
  &:focus,
  &:active {
    @include transition(color .3s ease, background-color .3s ease, border-color .3s ease);
    color: $linkActiveColor;
    text-decoration: underline;
  }
}

strong {
  font-weight: 400;
}

code {
  @include border;
  font-family: $regularFont;
  font-size: 0.938em; /* 15px */
  word-break: break-all;
  display: block;
  line-height: 1.6;
  padding: 14px 18px;
  margin: 16px 0 27px;
  background: $tableBackground;

  &.inline {
    display: inline;
    padding: 0 2px;
  }
}
