<section class="error 404">
    <div class="row">
        <div class="large-11 large-centered columns">
            <h2 class="headline centered">
                Sorry, we couldn't find the page you're looking for.
            </h2>
        </div>
    </div>
</section>