<section class="error-page 404">
    <div class="row">
        <div class="large-11 large-centered columns">
            <h2 class="headline">
                Error<strong>404</strong><br>
                <small>Whoops. Looks like what you're looking for can't be found.</small>
            </h2>
            <div>
                <a href="pricing.html" class="btn large blue">BUY</a>
                <a href="index.html" class="btn large ghost-blue">LEARN MORE</a>
            </div>
        </div>
    </div>
</section>