<section class="branding">
    <!-- BRANDING HEADER -->
    <div class="header-branding brand-guides">
        <div class="row">
            <div class="large-12 element-center columns">
                <p class="sub-header">Logo and our brand</p>
                <h1><strong>Brand guidelines</strong></h1>
                <svg class="large-logo">
                    <use xlink:href="#handsontable-logo-200x40"></use>
                </svg>
            </div>
        </div>
    </div>
    <!-- BRANDS -->
    <div class="row brand-guides">
        <div class="small-12 large-6 columns">
            <div class="style-guidelines">
                <h2><strong>Style guidelines</strong></h2>
                <p>We have build this style guide to level and improve our products brand communication.
                    It goes inline with our policy and empowers our approach to the product itself.
                    Please feel free to use our collateral's as follows in this page. For any questions get in
                    touch
                    with <a href="mailto:brand@handsontable.com">brand@handsontable.com</a></p>
            </div>
        </div>
        <div class="small-12 large-6 columns">
            <div class="download">
                <h2><strong>Download full package</strong></h2>
                <p>EPS, PDF, AI, SVG, JPG, PNG,</p>
                <div class="row">
                    <div class="large-7 columns">
                        <p>By downloading this logo you agree to follow its rules of engagement set up on this page.</p>
                    </div>
                    <div class="large-5 columns">
                        <a href="static/resources/ModBranding/handsontable-branding-v1.zip" class="btn large white">Brand Package</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGO VERSIONS -->
    <div class="row logo-versions">
        <h2 class="divider"><strong>Versions</strong></h2>
        <div class="small-12 medium-4 columns">
            <div class="logo-holder">
                <svg class="svg logo">
                    <use xlink:href="#handsontable-logo-200x40"></use>
                </svg>
            </div>
            <h3>Logotype</h3>
            <p>Use whenever it is suitable over all additional versions</p>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="logo-holder">
                <svg class="svg logo-two">
                    <use xlink:href="#h-40x40"></use>
                </svg>
            </div>
            <h3>Monogram</h3>
            <p>
                Minimal symbol reserved only for small spaces and low rez display
            </p>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="logo-holder">
                <svg class="svg logo-three">
                    <use xlink:href="#hot-icon-200x200"></use>
                </svg>
            </div>
            <h3>Icon</h3>
            <p>Used in the place of logo to enhace brands product communication and to save space. Reserved for
                scenarios like social media avatars. etc.</p>
        </div>
    </div>
    <!-- LOGO COLOUR INVERTIONS-->
    <div class="row logo-inversions">
        <h2 class="divider">Colour invertions</h2>
        <div class="small-12 medium-6 columns">
            <div class="logo-holder">
                <svg class="svg logo">
                    <use xlink:href="#handsontable-logo-200x40"></use>
                </svg>
            </div>
            <h3>Regular</h3>
            <p>Standard black and white version of our logo</p>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="logo-holder-black">
                <svg class="svg logo">
                    <use xlink:href="#handsontable-logo-w-200x40"></use>
                </svg>
            </div>
            <h3>Contra / negative</h3>
            <p>
                Standard black and white version of our logo
            </p>
        </div>
    </div>
    <!-- LOGO COLOURS-->
    <div class="row logo-colour">
        <h2 class="divider">Colours</h2>
        <div class="small-12 medium-4 columns">
            <h4>Brand blue</h4>
            <div class="brand-blue">
                <p>HEX: #34a9db<br>
                    HSB: H: 197° S: 77% B: 89%<br>
                    <!-- spans force link remove on IOS -->
                    RGB: <span>52</span> <span>169</span> <span>219</span>
                </p>
            </div>
        </div>
        <div class="small-12 medium-2 columns ">
            <h4>Brand green</h4>
            <div class="brand-green">
                <p>HEX: #43a047<br>
                    HSB: H: 123° S: 58% B: 63%<br>
                    RGB: <span>67</span> <span>160</span> <span>71</span>
                </p>
            </div>
        </div>
        <div class="small-12 medium-2 columns">
            <h4>Brand deep navy</h4>
            <div class="brand-navy">
                <p>HEX: #414c5b<br>
                    HSB: H: 197° S: 77% B: 89%<br>
                    RGB: <span>65</span> <span>76</span> <span>91</span>
                </p>
            </div>
        </div>
        <div class="small-12 medium-2 columns ">
            <h4>Brand red</h4>
            <div class="brand-red">
                <p>HEX: #e87677<br>
                    HSB: H: 240° S: 1% B: 28%<br>
                    RGB: <span>232</span> <span>118</span> <span>119</span>
                </p>
            </div>
        </div>
        <div class="small-12 medium-2 columns ">
            <h4>Brand yellow</h4>
            <div class="brand-yellow">
                <p>HEX: #fad97e<br>
                    HSB: H: 240° S: 1% B: 28%<br>
                    RGB: <span>250</span> <span>217</span> <span>126</span>
                </p>
            </div>
        </div>
    </div>
    <!-- LOGO SPACING -->
    <div class="row heading logo-spacing">
        <h2 class="divider"><strong>Spacing</strong></h2>
        <div class="small-12 medium-3 columns column">
            <div class="logo-holder">
                <svg class="svg logo">
                    <use xlink:href="#logo-icon-spacing"></use>
                </svg>
            </div>
            <p>
                Handsontable icon should keep at least 25% of it's height of free space
            </p>
        </div>
        <div class="small-12 medium-6 columns column">
            <div class="logo-holder">
                <svg class="svg logo-two">
                    <use xlink:href="#handsontable-logo-spacing"></use>
                </svg>
            </div>
            <p>Handsontable logo has an invisble marker space around it presented here by grey outline.
                From top of it please keep free space for of a full height of the logo.</p>
        </div>
        <div class="small-12 medium-3 columns column">
            <div class="logo-holder">
                <svg class="svg logo-three">
                    <use xlink:href="#handsontable-icon-40x40"></use>
                </svg>
            </div>
            <p>Handsontable Monogra, should keep at least 100% of it's height of free space</p>
        </div>
    </div>
    <!-- IN WRITING -->
    <div class="row heading logo-writing">
        <h2 class="divider"><strong>In Writing</strong></h2>
        <div class="small-12 medium-4 columns column">
            <div class="logo-holder">
                <h3 class="extraBottom heavy">Handsontable</h3>
                <p>
                    Is spelled as a single word with capital H and lower case afterwards.
                    In the plain text. This is the core lettering strategy that should be used repetedly with other
                    media.
                </p>
            </div>
        </div>
        <div class="small-12 medium-4 columns column">
            <div class="logo-holder">
                <h3 class="extraBottomSpell heavy">Hands<br>
                    on<br>
                    table</h3>
                <p>Handsontable logo has an invisble marker space around it presented here by grey outline.
                    From top of it please keep free space for of a full height of the logo.</p>
            </div>
        </div>
        <div class="small-12 medium-4 columns column">
            <div class="logo-holder">
                <h3 class="extraBottomCrossed">Examples<br>
                    <span class="crossedout"> of inappropriate spelling </span></h3>
                <p class="crossedout">Hands on table,<br>
                    Handsome table,<br>
                    HandsOnTable,
                </p>
            </div>
        </div>
    </div>
    <!-- IN ARTWORKS & RULES -->
    <div class="row heading logo-artworks">
        <h2 class="divider"><strong>Aartworks & general terms</strong></h2>
        <div class="small-12 medium-6 columns column">
            <h3>Artworks</h3>
            <p class="extraBottom">
                Please don't use our images, drawings, illustrations, or other assets without permission.
            </p>
            <img src="/static/resources/ModBranding/forbidden-artworks.jpg">

        </div>
        <div class="small-12 medium-6 columns column">
            <h3>Screenshots</h3>
            <p class="extraBottom">Feel free to use unaltered screenshots for instructional purposes.
                Please don't superimpose graphics, change the way our products look, or include any user
                information in your screenshots.
                You can annotate as long as the annotations are clearly distinct from the original screenshot.
                You can find our screenshots.
            </p>
            <h3>Use of our brand materials</h3>
            <h4>In general</h4>
            <p>
                Please don't use our name, logos, or screenshots ("brand materials") in ways that may be
                confusing,
                misleading, or suggest our sponsorship, endorsement, or affiliation. For example, your name and
                logo should be more prominent than
                the Handsontable name or logo. And please don't edit or change the Handsontable logo — we like
                it how it is!
            </p>
            <h4>Advertising, promotional, and sales materials</h4>
            <p>
                Please check in with us before using our logo on websites, products, packaging, manuals, or for
                other commercial or product use.
                It's ok to say in text "works with Handsontabe" or "compatible with Handsontable" (as long as
                it's true!).
            </p>
            <h4>Education and instruction (books, guides, publications, and conferences)</h4>
            <p>
                You can use our brand materials for educational and instructional purposes, but please remember
                that it shouldn't be confusing or misleading, or suggest our sponsorship.
                We generally don't allow use of our logos or screenshots on book covers, for example.
            </p>
            <p>
                Also remember to include this statement (or something like it) in your printed materials:
                "(Title) is not affiliated with or otherwise sponsored by Handsontable sp z o.o."
            </p>
            <h4>Products, websites, names and logos</h4>
            <p>
                Please don't use our name as a part of your company or service name, website name, trade name,
                or product name.
                Don't use our logo or incorporate our logo into yours.
                Don't use a domain name containing "Handsontable" or any confusingly similar words.
            </p>
            <h4>Functional Uses (UIs / buttons)</h4>
            <p>
                Developers of our API can use brand materials in accordance with our Developer Branding
                Guidelines.
            </p>
            <h4>Linking to Handsontable</h4>
            <p>
                If you use Handsontable and want to use our logo to link to our site, you can use our logo if it
                meets the rest of these guidelines.
                For example, "we use Handsontable! [linked logo or link near logo]".
            </p>
            <h4>Merchandise</h4>
            <p>
                While we make lots of t-shirts with our logo on them,
                we don't generally allow third parties to make, sell, or give away anything with our name or
                logo on it.
            </p>
            <h4>More questions?</h4>
            <p>
                Feel free to email <a href="mailto:brand@handsontable.com" >brand@handsontable.com.</a>It helps
                if you send a mockup of your intended use so we can be specific in our response.
                We'll do our best to get back to you ASAP but please give us two weeks to get back to you.
                (Please note that no response doesn't mean approval and that we're currently only able to
                respond to inquiries made in English).
            </p>
        </div>
    </div>
    <!-- LOGO FINAL CLOUSRE -->
    <div class="row heading logo-final">
        <div class="small-12 medium-12 columns">
            <svg class="svg">
                <use xlink:href="#padlock_icon"></use>
            </svg>
            <p><i>By using Handsontable brand materials, you agree to the Handsontable Terms of Service, these
                    Handsontable branding guidelines,
                    and all Handsontable rules and policies, as may be updated from time to time.
                    You also acknowledge that Handsontable is the sole owner of Handsontable trademarks, promise
                    not to interfere with Handsontable's rights in them, and acknowledge that goodwill derived
                    from their use accrues only to Handsontabe.
                    Handsontable may review use of the branding materials at any time and reserves the right to
                    terminate or modify any use.</i>
            </p>
        </div>
    </div>
</section>