<section class="community">
    <!--Download Header-->
    <div class="header-dist">
        <h4 class="download">Download</h4>
        <h1>
            Handsontable Community Edition
        </h1>
        <span>Version 0.30.3 released on May 18, 2017</span>
    </div>

    <!--Download tabs-->
    <div class="row">
        <div class="large-12 large-centered columns tabs-in">
            <div class="scrollmenu">
                <div class="tab">
                    <button id="defaultOpen" class="tablinks" onclick="openDownload(event, 'NPM')">NPM</button>
                    <button class="tablinks" onclick="openDownload(event, 'Bower')">Bower</button>
                    <button class="tablinks" onclick="openDownload(event, 'NuGet')">NuGet</button>
                    <button class="tablinks" onclick="openDownload(event, 'jspm')">jspm</button>
                    <button class="tablinks" onclick="openDownload(event, 'Yarn')">Yarn</button>
                    <button class="tablinks" onclick="openDownload(event, 'CommonJS')">CommonJS</button>
                    <button class="tablinks" onclick="openDownload(event, 'AMD')">AMD</button>
                </div>
            </div>

            <div id="NPM" class="tabcontent">
                <p>Handsontable can be <a href="https://www.npmjs.com/package/handsontable">installed
                        from NPM.</a> It includes the
                    necessary
                    files along with the complete source code.
                <div class="row">
                    <div class="medium-12 large-5 columns">
                        <div class="instalation">
                            npm install handsontable --save;
                        </div>
                    </div>
                </div>
            </div>

            <div id="Bower" class="tabcontent">
                <p>Handsontable can be <a href="https://www.npmjs.com/package/handsontable">installed
                        from NPM.</a> It includes the
                    necessary
                    files along with the complete source code.
                <div class="row">
                    <div class="medium-12 large-5 columns">
                        <div class="instalation">
                            bower install handsontable --save;
                        </div>
                    </div>
                </div>
            </div>

            <div id="NuGet" class="tabcontent">
                place tha div
            </div>

            <div id="jspm" class="tabcontent">
                place tha div
            </div>

            <div id="Yarn" class="tabcontent">
                place tha div
            </div>

            <div id="CommonJS" class="tabcontent">
                <p>Handsontable can be <a href="https://www.npmjs.com/package/handsontable">installed
                        from NPM.</a> It includes the
                    necessary
                    files along with the complete source code.
                <div class="row">
                    <div class="medium-12 large-5 columns">
                        <div class="instalation">
                            var handsontable = require(<span class="color-red">'handsontable'</span>);
                        </div>
                    </div>
                </div>
            </div>

            <div id="AMD" class="tabcontent">
                <p>Handsontable can be <a href="https://www.npmjs.com/package/handsontable">installed
                        from NPM.</a> It includes the
                    necessary
                    files along with the complete source code.
                <div class="row">
                    <div class="medium-12 large-8 columns">
                        <div class="instalation">
                            require(['handsontable'], function(Handsontable) { <br/>
                            var hot = new Handsontable(document.getElementById('example'), {<br/>
                            data: [[1, 2, 3, 4], [1, 2, 3, 4]]<br/>
                            });<br/>
                            });<br/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Repositories-->

    <div class="row repositories">

        <div class="large-6 columns repositories">
            <h3 class="header-repo">Download ZIP</h3>
            <div class="repo">
                <p>
                    You can download the ZIP archive which contains all the files, examples
                    and raw sources. Learn how to <a href=""> start your first project.</a>
                </p>
                <a href="" class="btn green small">Download v0.30.3</a>
            </div>
        </div>


        <div class="large-6 columns repositories">
            <h3 class="header-repo-right">Clone repository</h3>
            <div class="repo-right">
                <p>
                    Handsontable’s source code is mainly hosted and developed on GitHub where
                    you can fork it or contribute to its development.
                </p>
                <a href="" class="btn ghost-blue">
                    <svg class="svg-icon">
                        <use xlink:href="#github_icon"></use>
                    </svg>
                    Download v0.30.3</a>
            </div>
        </div>


    </div>

    <div class="row repositories">
        <div class="large-6 columns repositories ">
            <h3 class="header-repo">Wrapper and more</h3>
            <div class="repo ">
                <p>
                    Handsontable is available for different frameworks and comes with
                    a <a href="">TypeScript definitions file </a> for your strongly typed projects. start your first
                    project.
                </p>
                <div class="row">
                    <div class="large-12 columns">
                        <ul class="wrappers-w">
                            <li>
                                <svg class="svg-wrappers">
                                    <use xlink:href="#react-js"></use>
                                </svg>
                                <br/>
                                ReactJs
                            </li>
                            <li>
                                <svg class="svg-wrappers">
                                    <use xlink:href="#angular-l"></use>
                                </svg>
                                <br/>
                                Angular
                            </li>
                            <li>
                                <svg class="svg-wrappers">
                                    <use xlink:href="#polymer-l"></use>
                                </svg>
                                <br/>
                                Polymer
                            </li>
                            <li>
                                <svg class="svg-wrappers">
                                    <use xlink:href="#vue-l"></use>
                                </svg>
                                <br/>
                                Vue
                            </li>
                            <li>
                                <svg class="svg-wrappers in-progress">
                                    <use xlink:href="#angular-2"></use>
                                </svg>
                                <br/>
                                Angular 2
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="large-6  columns repositories">
            <h3 class="header-repo-right">Use CDN</h3>
            <div class="repo-right tabs-in">
                <p>
                    Our fast CDN is available for 10 locations around the world and includes
                    SSL connection.
                </p>

                <!-- Need sone more complex JS, introduction in js/common/tabs.js -->
                <div class="scrollmenu">
                    <div class="tab">
                        <button id="defaultOpen" class="tablinks" onclick="openDownload(event, 'NPMCDN')">NPM</button>
                        <button class="tablinks" onclick="openDownload(event, 'BowerCDN')">Bower</button>
                    </div>
                </div>

                <div id="NPMCDN" class="tabcontent-s">
                    <p>Handsontable can be <a href="https://www.npmjs.com/package/handsontable">installed
                            from NPM.</a> It includes the
                        necessary
                        files along with the complete source code.
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="instalation extra">
                                npm install handsontable --save;
                            </div>
                        </div>
                    </div>
                </div>

                <div id="BowerCDN" class="tabcontent-s">
                    <p>Handsontable can be <a href="https://www.npmjs.com/package/handsontable">installed
                            from NPM.</a> It includes the
                        necessary
                        files along with the complete source code.
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="instalation">
                                bower install handsontable --save;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Resources-->
        <div class="row resources">
            <div class="large-12 columns">
                <h2 class="header-dist">
                    Resources
                    <div class="border-bottom"></div>
                </h2>
            </div>
                <div class="large-4 columns links">
                    <ul>
                        <li><a href="https://docs.handsontable.com/pro/1.10.2/tutorial-quick-start.html">Quick
                                start</a>
                        </li>
                        <li><a href="https://docs.handsontable.com/pro/1.10.2/tutorial-setting-options.html">Setting
                                options</a></li>
                        <li><a href="https://docs.handsontable.com/pro/1.10.2/tutorial-data-binding.html">Data
                                binding
                            </a></li>
                        <li><a href="https://docs.handsontable.com/pro/1.10.2/tutorial-load-and-save.html">Load
                                and
                                save</a></li>
                        <li><a href="">Typescript</a></li>
                    </ul>
                </div>
                <div class="large-4 columns links">
                    <ul>
                        <li><a href="">Knowledge base</a></li>
                        <li>
                            <a href="https://docs.handsontable.com/pro/1.10.2/tutorial-compatibility.html">Compatibility</a>
                        </li>
                        <li>
                            <a href="https://docs.handsontable.com/pro/1.10.2/tutorial-licensing.html">Licensing</a>
                        </li>
                        <li>
                            <a href="https://docs.handsontable.com/pro/1.10.2/tutorial-release-notes.html">Changelog</a>
                        </li>
                        <li><a href="https://trello.com/b/PztR4hpj/handsontable-roadmap-2016">Roadmap</a></li>
                    </ul>
                </div>
                <div class="large-4 columns links">
                    <ul>
                        <li><a href="https://github.com/handsontable/handsontable">GitHub</a></li>
                        <li><a href="https://twitter.com/handsontable">Twitter</a></li>
                        <li><a href="http://stackoverflow.com/tags/handsontable">StackOverflow</a></li>
                        <li>
                            <a href="https://forum.handsontable.com/?_ga=2.34684897.1313628762.1494515872-806368676.1491907536">Developer’s
                                forum</a></li>
                    </ul>
                </div>
        </div>
</section>

<!-- tabs.js -->
<script src="/static/js/common/tabs.js"></script>



