<section class="contact">
  <div class="row">
    <div class="large-11 large-centered columns">
      <h2 class="headline">
        Get in <strong>touch</strong><br>
        <small>We'd
          <svg class="love">
            <use xlink:href="#love_icon"></use>
          </svg>
          to hear from you
        </small>
      </h2>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <div id="form-sent" class="notification info">Support e-mail sent.</div>
          <div id="form-error" class="notification error">Sorry, we were unable to send the form. Please check if you
            filled the Name, E-mail and Message fields.
          </div>

          <form id="contact-form" class="clearfix">
            <input type="text" placeholder="Full name" name="full_name"/>
            <input type="text" placeholder="Company name" name="company_name"/>
            <input type="text" placeholder="Email address" name="email_address"/>
            <textarea>Your message</textarea>
            <input type="submit" class="btn large blue right" value="SEND MESSAGE"/>
          </form>
        </div>
        <div class="small-12 medium-offset-1 medium-5 columns">
          <h3>Find us on</h3>
          <div class="social-links">
            <a href="http://stackoverflow.com/tags/handsontable" target="_blank">
              <svg>
                <use xlink:href="#stuckoverflow_icon"></use>
              </svg>
            </a>
            <a href="http://twitter.com/handsontable" target="_blank">
              <svg>
                <use xlink:href="#twitter_icon"></use>
              </svg>
            </a>
            <a href="https://github.com/handsontable/handsontable" target="_blank">
              <svg>
                <use xlink:href="#github_icon"></use>
              </svg>
            </a>
            <a href="https://groups.google.com/forum/#!forum/handsontable" target="_blank">
              <svg>
                <use xlink:href="#google_icon"></use>
              </svg>
            </a>
          </div>
          <div class="partner">
            <h3>Want to become a partner?</h3>
            <a href="mailto:partners@handsontable.com">partners@handsontable.com</a>
          </div>
          <div class="office">
            <p>
              Handsoncode sp. z o.o.<br/>
              Aleja Zwycięstwa 96/98<br/>
              81-451 Gdynia<br/>
              Poland
            </p>
            <a href="mailto:hello@handsontable.com">hello@handsontable.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>