<section class="developers">
    <!--Download Header-->
    <div class="header-dist">
        <h4 class="download">Handsontable</h4>
        <h1>
            Developer Hub
        </h1>
    </div>

    <!--Section -->

    <div class="row">

        <div class="large-6 columns section">
            <h3 class="header-repo">Getting started</h3>
            <div class="repo">
                <p>
                    Handsontable API lets you fully customize the spredsheet’s UI and connect
                    to any given data source. Read through the guides for better understanding
                    on how far your can take Handsontable in your own app.
                    start your first project.
                </p>

                <p>
                    Want to contribute to this project? <a href="">Read through our guidelines first.</a>
                </p>
                <a href="" class="btn ghost-blue small">Get started</a> <a href="" class="btn ghost-blue small">Read
                    guides</a> <a href="" class="btn ghost-blue small">API Reference</a>
            </div>
        </div>


        <div class="large-6 columns section">
            <h3 class="header-repo-right">Current release information</h3>
            <div class=" row repo-right">
                <div class="medium-12 large-6 columns inside">
                    <h5>Community Edition</h5>
                    <p>
                        Version: 0.28.0<br/>
                        Release date: May 25, 2017<br/>
                        Status: stable
                    </p>
                </div>
                <div class="medium-12 large-6 columns inside">
                    <h5>Handsontable Pro</h5>
                    <p>
                        Version: 1.11.0<br/>
                        Release date: May 25, 2017<br/>
                        Status: stable
                    </p>
                </div>
                <div class="row inside">
                    <div class="large 12 columns inside">
                    <p>See the <a href="">changelog</a> for detailed information about lastest updates.
                        A new version of Handsontable is released every ~3 weeks.</p>
                    </div>
                </div>

            </div>


        </div>

    </div>

    <div class="row">
        <div class="large-6 columns section">
            <div class="row repo-light">
                <div class="medium-12 large-4 columns">

                    <h4>About</h4>
                    <ul>
                        <li><a href="">Compatibility</a></li>
                        <li><a href="">Change log</a></li>
                        <li><a href="">Roadmap</a></li>
                        <li><a href="">Licensing</a></li>
                        <li><a href="">Team</a></li>
                    </ul>
                </div>
                <div class="medium-12 large-4 columns">
                    <h4>Getting help</h4>
                    <ul>
                        <li><a href="">Add new issue</a></li>
                        <li><a href="">Add new ticket (Pro)</a></li>
                        <li><a href="">Ask on forum</a></li>
                        <li><a href="">Read articles</a></li>
                        <li><a href="">Contact us</a></li>
                    </ul>
                </div>
                <div class="medium-12 large-4 columns">
                    <h4>Community</h4>
                    <ul>
                        <li><a href="">GitHub CE</a></li>
                        <li><a href="">GitHub Pro</a></li>
                        <li><a href="">Forum</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">StackOverflow</a></li>
                    </ul>
                </div>
            </div>
            <div class="row repo-light">
                <div class="medium-12 large-4 columns">
                    <h4>Services</h4>
                    <ul>
                        <li>Assistance</li>
                        <li>Integrations</li>
                        <li>New features</li>
                        <li>Performance</li>
                        <li><a class="contact" href="">Contact us</a></li>
                    </ul>

                </div>
                <div class="medium-12 large-4 columns end">
                    <h4>Getting help</h4>
                    <ul>
                        <li>Onboarding</li>
                        <li>Basics</li>
                        <li>Advanced methods</li>
                        <li>Performance tips</li>
                        <li><a class="contact" href="">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="large-6  columns section">
            <h3 class="header-repo-right">Whats new</h3>
            <div class="repo-right">
                <div class="post-repo">
                    <h4><a href="https://handsontable.com/blog/articles/2017/5/1.11.0-beta1-0.32.0-beta1">Handsontable v0.28.0 (Pro 1.11.0) released!</a></h4>
                    <p>
                        In this released we focused on fixing some importnat issues regarding
                        the merge cells option (...)
                    </p>
                    <div class="divide"></div>
                </div>
                <div class="post-repo">
                    <h4><a href="https://handsontable.com/blog/articles/how-to-build-a-custom-version-of-handsontable">How to Build a Custom Version of Handsontable</a></h4>
                    <p>
                        One of the key features of Handsontable is its scalability. As a modular
                        library, Handsontable - when paired with the hot-builder (...)
                    </p>
                    <div class="divide"></div>
                </div>
                <div class="post-repo">
                    <h4><a href="https://handsontable.com/blog/articles/customize-handsontable-context-menu">Customize Handsontable Context Menu</a></h4>
                    <p>
                        We distinguish two most common ways to manipulate the spreadsheet
                        and its contents. One is by using external controls like (...)
                    </p>
                    <div class="divide"></div>
                </div>
            </div>
            <div class="more">
                <a href="https://handsontable.com/blog/">More articles</a>
            </div>
        </div>
    </div>

    <!--Love-->
    <div class="love">
        <div class="row">
            <div class="large-4 columns">
                <h4 class="love">Open source since 2011 with
                    <svg class="svg-icon">
                        <use xlink:href="#love_icon"></use>
                    </svg>

                </h4>
            </div>

            <div class="large-2 columns center">
                <span>5274</span><br/>
                commits
            </div>
            <div class="large-2 columns center">
                <span>3256</span><br/>
                closed issues
            </div>
            <div class="large-2 columns center">
                <span>131</span><br/>
                releases
            </div>
            <div class="large-2 columns center">
                <span>57</span><br/>
                contributors
            </div>
        </div>
    </div>
</section>




