<section class="developers">
    <!--Download Header-->
    <div class="header-dist">
        <h4 class="download">Handsontable</h4>
        <h1>
            Developer Hub
        </h1>
    </div>

    <!--Section -->

    <div class="row section">

        <div class="large-6 columns">
            <h3 class="header-section">Getting started</h3>
            <div class="section">
                <p>
                    Handsontable API lets you fully customize the spredsheet’s UI and connect
                    to any given data source. Read through the guides for better understanding
                    on how far your can take Handsontable in your own app.
                    start your first project.
                </p>

                <p>
                    Want to contribute to this project? <a
                            href="https://docs.handsontable.com/tutorial-introduction.html">Read through our guidelines
                        first.</a>
                </p>
                <a href="https://docs.handsontable.com/tutorial-quick-start.html" class="btn ghost-blue small">Get
                    started</a>
                <a href="https://docs.handsontable.com/tutorial-custom-build.html" class="btn ghost-blue small">Read
                    guides</a>
                <a href="https://docs.handsontable.com/Core.html" class="btn ghost-blue small">API Reference</a>
            </div>
        </div>

        <div class="large-6 columns">
            <h3 class="header-section">Current release information</h3>
            <div class="section">
                <div class="row">
                    <div class="medium-12 large-6 columns">
                        <h5>Community Edition</h5>
                        <p>
                            Version: 0.28.0<br/>
                            Release date: May 25, 2017<br/>
                            Status: stable
                        </p>
                    </div>
                    <div class="medium-12 large-6 columns">
                        <h5>Handsontable Pro</h5>
                        <p>
                            Version: 1.11.0<br/>
                            Release date: May 25, 2017<br/>
                            Status: stable
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <p>See the <a href="https://github.com/handsontable/handsontable/releases" target="blank">changelog</a>
                            for detailed information about latest updates.
                            A new version of Handsontable is released every ~3 weeks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section">
        <div class="large-6 columns">
            <div class="row section-light">
                <div class="medium-12 large-4 columns">

                    <h4>About</h4>
                    <ul>
                        <li><a href="http://docs.handsontable.com/tutorial-compatibility.html">Compatibility</a></li>
                        <li><a href="https://github.com/handsontable/handsontable/releases" target="_blank">Change log</a></li>
                        <li><a href="https://trello.com/b/PztR4hpj/handsontable-roadmap-2017-(login-to-vote)" target="_blank">Roadmap</a></li>
                        <li><a href="https://docs.handsontable.com/tutorial-licensing.html">Licensing</a></li>
                        <li><a href="/team.html">Team</a></li>
                    </ul>
                </div>
                <div class="medium-12 large-4 columns">
                    <h4>Getting help</h4>
                    <ul>
                        <li><a href="https://github.com/handsontable/handsontable/issues" target="_blank">Add new issue</a></li>
                        <li><a href="https://my.handsontable.com/sign-up.html">Add new ticket (Pro)</a></li>
                        <li><a href="https://forum.handsontable.com">Ask on forum</a></li>
                        <li><a href="/blog">Read articles</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>
                <div class="medium-12 large-4 columns">
                    <h4>Community</h4>
                    <ul>
                        <li><a href="https://github.com/handsontable/handsontable/issues" target="_blank">GitHub CE</a></li>
                        <li><a href="https://github.com/handsontable/handsontable/issues" target="_blank">GitHub Pro</a></li>
                        <li><a href="https://forum.handsontable.com">Forum</a></li>
                        <li><a href="https://twitter.com/handsontable" target="_blank">Twitter</a></li>
                        <li><a href="https://stackoverflow.com/tags/handsontable" target="_blank">StackOverflow</a></li>
                    </ul>
                </div>
            </div>
            <div class="row section-light">
                <div class="medium-12 large-4 columns">
                    <h4>Services</h4>
                    <ul class="disc">
                        <li class="disc">Assistance</li>
                        <li class="disc">Integrations</li>
                        <li class="disc">New features</li>
                        <li class="disc">Performance</li>
                        <li><a class="contact" href="https://handsontable.com/contact.html?category=Technical support">Contact us</a></li>
                    </ul>

                </div>
                <div class="medium-12 large-4 columns end">
                    <h4>Getting help</h4>
                    <ul>
                        <li class="disc">Onboarding</li>
                        <li class="disc">Basics</li>
                        <li class="disc">Advanced methods</li>
                        <li class="disc">Performance tips</li>
                        <li><a class="contact" href="https://handsontable.com/contact.html?category=Technical support">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="large-6 columns">
            <h3 class="header-section">Whats new</h3>
            <div class="section">
                    <h4><a href="https://handsontable.com/blog/articles/2017/5/1.11.0-beta1-0.32.0-beta1">Handsontable
                            v0.28.0 (Pro 1.11.0) released!</a></h4>
                    <p>
                        In this released we focused on fixing some importnat issues regarding
                        the merge cells option (...)
                    </p>
                    <div class="divide"></div>

                    <h4><a href="https://handsontable.com/blog/articles/how-to-build-a-custom-version-of-handsontable">How
                            to Build a Custom Version of Handsontable</a></h4>
                    <p>
                        One of the key features of Handsontable is its scalability. As a modular
                        library, Handsontable - when paired with the hot-builder (...)
                    </p>
                    <div class="divide"></div>


                    <h4><a href="https://handsontable.com/blog/articles/customize-handsontable-context-menu">Customize
                            Handsontable Context Menu</a></h4>
                    <p>
                        We distinguish two most common ways to manipulate the spreadsheet
                        and its contents. One is by using external controls like (...)
                    </p>
                    <div class="divide"></div>

            </div>
            <div class="more">
                <a href="https://handsontable.com/blog/">More articles</a>
            </div>
        </div>
    </div>

    <!--Love-->
    <div class="love">
        <div class="row">
            <div class="large-4 columns">
                <h4 class="love">Open source since 2011 with
                    <svg class="svg-icon">
                        <use xlink:href="#love_icon"></use>
                    </svg>

                </h4>
            </div>

            <div class="large-2 columns">
                <div class="center">
                    <span>5274</span><br/>
                    commits
                </div>
            </div>
            <div class="large-2 columns">
                <div class="center">
                    <span>3256</span><br/>
                    closed issues
                </div>
            </div>
            <div class="large-2 columns">
                <div class="center">
                    <span>131</span><br/>
                    releases
                </div>
            </div>
            <div class="large-2 columns">
                <div class="center">
                    <span>57</span><br/>
                    contributors
                </div>
            </div>
        </div>
    </div>
</section>




