<section class="directory">
    <div class="addon-bar">
        <div class="row">
            <div class="large-12 large-centered columns">
                <h2>Add-ons</h2>
                <p>Discover, create and share great apps</p>
                <div class="search">
                    <svg><use xlink:href="#search_icon"></use></svg>Search 355 add-ons
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 large-centered columns content-bg">
            <div class="row">
                <div class="large-9 large-centered columns lightbox">
                    <h2 class="headline">
                        The Spreadsheet <span class="red">Marketplace</span> is underway
                        <small>We're busy building a marketplace with business-ready spreadsheet add-ons created by professional developers.</small>
                    </h2>

                    <div class="row">
                        <div class="large-5 large-centered columns">
                            <p>Sign up and don't miss out on the latest news:</p>
                            <!-- Begin MailChimp Signup Form -->
                            <div id="mc_embed_free">
                                <form action="//handsontable.us9.list-manage.com/subscribe/post?u=47073b08d03ebee16188c1687&amp;id=2ed3d549ad" method="post" class="validate" target="_blank" novalidate>
                                    <div>
                                        <div class="mc-field-group">
                                            <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email">
                                        </div>
                                        <div class="mc-field-group">
                                            <input placeholder="First Name" type="text" value="" name="FNAME" class="required">
                                        </div>
                                        <div class="mc-field-group">
                                            <input placeholder="Company name" type="text" value="" name="MMERGE3" class="required">
                                        </div>
                                        <div class="clear"><input type="submit" value="NOTIFY ME" name="subscribe" class="button btn green"></div>
                                    </div>
                                </form>
                            </div>
                            <!--End mc_embed_signup-->
                            <div class="contact-us">
                                <p>For business details contact us at</p>
                                <a href="mailto:partners@handsontable.com">partners@handsontable.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>