<section class="download">
    <!--Download Header-->
    <h1 class="header-dist">
        Download Handsontable
    </h1>
    <!--Products Page-->
    <div class="row products">
        <div class="small-12 large-6  columns handsontable-ce">
            <small>Open Source</small>
            <h3>Handsontable CE</h3>
            <div class="divider"></div>
            <p>Community Edition (CE) is a fully functional JavaScript spreadsheet
                component with lots of features and a community support.
                It is released under the MIT license and suitable for both
                open source and commercial projects.</p>
            <div class="link">
                <svg class="svg-icon">
                    <use xlink:href="#arrow-pointing-right"></use>
                </svg>
                <a class="link-ce" href="/community-download.html">See download options</a>
            </div>
        </div>

        <div class="small-12 large-6 columns handsontable-pro ">
            <small>Commercial</small>
            <h3>Handsontable Pro</h3>
            <div class="divider"></div>
            <p>Enterprise-ready spreadsheet component with commercial
                license and support. It includes premium features just like Filters,
                Dropdown menu, Export to file and a lot more.
            </p>
            <div class="link">
                <svg class="svg-icon">
                    <use xlink:href="#arrow-pointing-right"></use>
                </svg>
                <a class="link-pro" href="https://sites.fastspring.com/handsontable/order/customer">Get free trial</a>
            </div>
        </div>
    </div>

    <!--Products-->

    <div class="row products">
        <div class="large-6 download-builder columns">
            Coming soon
            <h3>Download builder</h3>
            <div class="divider"></div>
        </div>

        <div class="large-6 subscriber-r  columns">
            <h3>Subscribe to updates</h3>

            <form>
                <div class="row">
                    <div class="small-12 medium-9 columns">
                        <fieldset>
                            <input type="email" placeholder="Your email adress"/>
                            <span>We never spam. Opt-out any time.</span>
                        </fieldset>
                    </div>
                    <div class="small-12 medium-3 columns">
                        <a href="" class="btn ghost-blue">Subscribe</a>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <!--Wrappers-->
    <div class="row wrapper-s">
        <h2 class="header-dist">
            Available for popular frameworks
            <div class="border-bottom"></div>
        </h2>
        <ul class="large-block-grid-6 large-offset-2 small-block-grid-3  small-centered wrappers-w">
            <li>
                <svg class="svg-wrappers">
                    <use xlink:href="#react-js"></use>
                </svg>
                <br/>
                ReactJs
            </li>
            <li>
                <svg class="svg-wrappers">
                    <use xlink:href="#angular-l"></use>
                </svg>
                <br/>
                Angular
            </li>
            <li>
                <svg class="svg-wrappers">
                    <use xlink:href="#polymer-l"></use>
                </svg>
                <br/>
                Polymer
            </li>
            <li>
                <svg class="svg-wrappers">
                    <use xlink:href="#vue-l"></use>
                </svg>
                <br/>
                Vue
            </li>
            <li>
                <svg class="svg-wrappers in-progress">
                    <use xlink:href="#angular-2"></use>
                </svg>
                <br/>
                Angular 2
            </li>
        </ul>
    </div>
    <!--Resources-->
    <div class="row resources">
        <h2 class="header-dist">
            Resources
            <div class="border-bottom"></div>
        </h2>
        <div class="row">
            <div class="large-12 large-centered columns align">
            <div class="large-2 small-4 resources columns links">
                <ul>
                    <li><a href="https://docs.handsontable.com/pro/1.10.2/tutorial-quick-start.html">Quick start</a></li>
                    <li><a href="https://docs.handsontable.com/pro/1.10.2/tutorial-setting-options.html">Setting options</a></li>
                    <li><a href="https://docs.handsontable.com/pro/1.10.2/tutorial-data-binding.html">Data binding</a></li>
                    <li><a href="https://docs.handsontable.com/pro/1.10.2/tutorial-load-and-save.html">Load and save</a></li>
                    <li><a href="">Typescript</a></li>
                </ul>
            </div>
            <div class="large-2 small-4 resources columns links">
                <ul>
                    <li><a href="">Knowledge base</a></li>
                    <li><a href="https://docs.handsontable.com/pro/1.10.2/tutorial-compatibility.html">Compatibility</a></li>
                    <li><a href="https://docs.handsontable.com/pro/1.10.2/tutorial-licensing.html">Licensing</a></li>
                    <li><a href="https://docs.handsontable.com/pro/1.10.2/tutorial-release-notes.html">Changelog</a></li>
                    <li><a href="https://trello.com/b/PztR4hpj/handsontable-roadmap-2016">Roadmap</a></li>
                </ul>
            </div>
            <div class="large-2 small-4 resources columns links">
                <ul>
                    <li><a href="https://github.com/handsontable/handsontable">GitHub</a></li>
                    <li><a href="https://twitter.com/handsontable">Twitter</a></li>
                    <li><a href="http://stackoverflow.com/tags/handsontable">StackOverflow</a></li>
                    <li><a href="https://forum.handsontable.com/?_ga=2.34684897.1313628762.1494515872-806368676.1491907536">Developer’s forum</a></li>
                </ul>
            </div>
            </div>
        </div>
        </div>

</section>