<section class="examples">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h2 class="headline">
        Choose your <strong>components</strong><br>
        <small>Discover our most popular basic and Pro features</small>
      </h2>

      <div class="row">
        <div class="small-12 medium-3 columns side-features">
          <!-- aria expanded true/false for hiding form -->
            <h5>Popular basic features</h5>
            <form id="basic_features">
              <p class="feature_entry">
                <input id="feature_" type="checkbox" checked/>
                <label for="feature_">
                  <svg>
                    <use xlink:href="#checkbox_icon"></use>
                  </svg>
                  <svg class="checked">
                    <use xlink:href="#checkbox_checked_icon"></use>
                  </svg>
                </label>
              </p>
              <p id="see_all_basic">
                <a href="/features.html">See all features</a>
              </p>
            </form>
            <h5>Pro features</h5>
            <form id="pro_features">
            </form>
            <h5>Examples on JSFiddle</h5>
            <div class="external_links">
                <p><a href="https://jsfiddle.net/handsoncode/Lp4qn55v/" target="_blank">Performance test</a></p>
                <p><a href="https://jsfiddle.net/handsoncode/b2t8mbto/" target="_blank">Personal</a></p>
                <p><a href="https://jsfiddle.net/handsoncode/b2g2h7oh/" target="_blank">Finance</a></p>
                <p><a href="https://jsfiddle.net/handsoncode/g1hnaxtt/" target="_blank">Science</a></p>
                <p><a href="https://jsfiddle.net/handsoncode/b5rvw5zk/" target="_blank">Sport</a></p>
            </div>

        </div>

        <div class="small-12 medium-9 columns">
          <div class="plugin-preview">
            <div id="hot"></div>
            <div id="export-buttons">
              <button id="export-csv" class="btn small ghost-blue">Export to a .csv file</button>
              <button id="export-string" class="btn small ghost-blue">Export to string (displayed in the browser console)</button>
            </div>
          </div>
          <div class="code-box">
            <ul class="tabs clearfix" data-tab role="tablist">
              <li class="left"><a id="enabled-features-tab-link" role="tab" aria-selected="true">Enabled features</a>
              <li class="left"><a id="js-tab-link" role="tab" aria-selected="false">JavaScript</a></li>
              <li class="left"><a id="data-tab-link" role="tab" aria-selected="false">Data</a></li>
              </li>
              <li class="action-link right">
                <a href="#" id="jsfiddle-link">
                  <svg class="left">
                    <use xlink:href="#edit_icon"></use>
                  </svg>
                  Edit
                </a>
              </li>
            </ul>
            <div class="tabs-content">
              <section id="enabled-features-tab" role="tabpanel" aria-hidden="false" class="content">
                <ol>
                  <li data-enabled-placeholder>
                    No features enabled.
                  </li>
                  <li data-enabled-feature="hidden">
                    <h4></h4>

                    <p></p>
                  </li>
                </ol>
              </section>
              <section id="js-tab" role="tabpanel" aria-hidden="true" class="content active">
                <pre><code class="js">
  var hotElement = document.getElementById('hot');
  var hot = new Handsontable(hotElement, {
    data: dataObj, // see the Data tab
<div id="additional-code"></div>  });
</code></pre>
              </section>
              <section id="data-tab" role="tabpanel" aria-hidden="true" class="content">
                <pre><code class="json"></code></pre>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="element-center explore-features">
        <h1>
          Create awesome <strong>apps</strong><br>
          <small>Don't waste your time re-inventing the wheel.<br/> Instead, focus on your customers needs and deploy fast.
          </small>
        </h1>
        <a href="/features.html" class="btn large blue">SEE ALL FEATURES</a>
      </div>
    </div>
  </div>
</section>

<script src="/static/js/examples/jsfiddleExporter.js"></script>
<script src="/static/js/examples/feature.js"></script>
<script src="/static/js/examples/examples.js"></script>
<script src="/static/js/examples/examples_init.js"></script>