<section class="examples">
    <div class="row">
        <div class="large-11 large-centered columns">
            <h2 class="headline">
                Choose your <strong>components</strong><br>
                <small>Turn your application into Excel-like experience with easy to add plugins</small>
            </h2>

            <div class="row">
                <div class="small-12 medium-3 columns side-features">
                    <!-- aria expanded true/false for hidding form -->
                    <div>
                        <h5>
                            Popular basic features
                        </h5>
                        <form>
                            <p>
                                <input id="feature_headers" type="checkbox" checked />
                                <label for="feature_headers">
                                    Headers
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_fixed_rows"type="checkbox" checked />
                                <label for="feature_fixed_rows">
                                    Fixed rows/columns
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_sorting"type="checkbox" checked />
                                <label for="feature_sorting">
                                    Sorting
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_moving"type="checkbox" />
                                <label for="feature_moving">
                                    Manual moving
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_resizing"type="checkbox" />
                                <label for="feature_resizing">
                                    Manual resizing
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_cell_types"type="checkbox" />
                                <label for="feature_cell_types">
                                    Custom cell types
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_validation"type="checkbox" />
                                <label for="feature_validation">
                                    Data validation
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_formatting"type="checkbox" />
                                <label for="feature_formatting">
                                    Conditional formatting
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_comments"type="checkbox" />
                                <label for="feature_comments">
                                    Comments
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_menu"type="checkbox" />
                                <label for="feature_menu">
                                    Context menu
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <a href="features.html">See all</a>
                            </p>
                        </form>
                    </div>
                    <!-- aria expanded true/false for hidding form -->
                    <div>
                        <h5>
                            Pro features
                        </h5>
                        <form>
                            <p>
                                <input id="feature_fixed_bottom_row" type="checkbox" checked />
                                <label for="feature_fixed_bottom_row">
                                    Fixed bottom rows
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_calculations"type="checkbox" checked />
                                <label for="feature_calculations">
                                    Basic calculations
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_multiple"type="checkbox" checked />
                                <label for="feature_multiple">
                                    Multiple column headers
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_collpsible"type="checkbox" />
                                <label for="feature_collpsible">
                                    Collpsible collumn headers
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_hide_row"type="checkbox" />
                                <label for="feature_hide_row">
                                    Show/hide rows
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_hide_col"type="checkbox" />
                                <label for="feature_hide_col">
                                    Show/hide columns
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_dropdown_menu"type="checkbox" />
                                <label for="feature_dropdown_menu">
                                    Dropdown menu
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_filters"type="checkbox" />
                                <label for="feature_filters">
                                    Filters
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_export"type="checkbox" />
                                <label for="feature_export">
                                    Export to CSV/XLS
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_select_button"type="checkbox" />
                                <label for="feature_select_button">
                                    Select all button
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <input id="feature_text_editor"type="checkbox" />
                                <label for="feature_text_editor">
                                    Rich text editor
                                    <svg><use xlink:href="#checkbox_icon"></use></svg>
                                    <svg class="checked"><use xlink:href="#checkbox_checked_icon"></use></svg>
                                </label>
                            </p>
                            <p>
                                <a href="pricing.html">See all</a>
                            </p>
                        </form>
                    </div>
                </div>

                <div class="small-12 medium-9 columns">
                    <div class="plugin-preview">
                        <img src="<%= img_path %>template/ModExamples/mockup.jpg" />
                    </div>
                    <div class="code-box">
                        <ul class="tabs clearfix" data-tab role="tablist">
                          <li class="left"><a href="#" role="tab" aria-selected="true">JavaScript</a></li>
                          <li class="left"><a href="#" role="tab" aria-selected="false">Data</a></li>
                          <li class="left"><a href="#" role="tab" aria-selected="false">Plugins</a></li>
                          <li class="action-link right">
                            <a href="#">
                                <svg class="left"><use xlink:href="#edit_icon"></use></svg>Edit
                            </a>
                        </li>
                        <li class="action-link right">
                            <a href="#">
                                <svg class="left"><use xlink:href="#code_icon"></use></svg>Copy
                            </a>
                        </li>
                    </ul>
                    <div class="tabs-content">
                        <section role="tabpanel" aria-hidden="false" class="content active">
                            <p>First panel content goes here...</p>
                        </section>
                        <section role="tabpanel" aria-hidden="true" class="content">
                            <p>Second panel content goes here...</p>
                        </section>
                        <section role="tabpanel" aria-hidden="true" class="content">
                            <p>Third panel content goes here...</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="element-center explore-features">
            <h1>
                Explore all the <strong>features</strong><br>
                <small>Don’t waste your time inventing the wheel. Instead<br>make use of one of many ready-to-go features.</small>
            </h1>
            <a href="features.html" class="btn large blue">SEE ALL FEATURES</a>
        </div>
    </div> 
</div>    
</section>