<section class="faq">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h2 class="headline">
        Frequently <strong>asked questions</strong><br>
        <small><a href="/contact.html">Contact us</a> if you don't find the answers to your questions here</small>
      </h2>

      <div class="row">
        <div class="small-12 medium-3 columns side-links">
          <p><a href="#goto-licensing">Licensing</a></p>
          <p><a href="#goto-support">Maintenance and Support</a></p>
          <p><a href="#goto-purchasing">Purchasing</a></p>
          <p><a href="#goto-discounts">Discounts</a></p>
          <p><a href="#goto-opensource">Open Source version</a></p>
        </div>
        <div class="small-12 medium-9 columns">
          <h3 id="goto-licensing">Licensing</h3>
          <h4>How do you define a developer?</h4>
          <p>A developer is every person in your organization working directly with Handsontable source code.
            That includes implementing, integrating or changing the code.</p>
          <h4>How many licenses do I need?</h4>
          <p>You need one license for every developer working directly with Handsontable. Licenses are not assigned to a particular
            person but to each seat. If the overall number of developers changes overtime, you have to
            acquire new licenses for them.</p>
          <h4>Can I still use Handsontable after 12 months from the purchase?</h4>
          <p>Yes, you can. Once you buy a license you can use it without time boundaries. Although after 12
            months from the purchase date you lose the possibility to get updates and support. In order to
            keep them you should obtain Extended Maintenance and Support. Be quick though, if you do it before
            the time ends you get a 50% discount.</p>
          <h4>What is the difference between Developer and OEM license?</h4>
          <p>Developer License is intended for a single developer and allows to use Handsontable for creating
            websites, web apps, intranets and SaaS projects. It does not include the installation of the
            software on customers' premises nor selling in an OEM model. Contact our
            <a href="mailto:sales@handsontable.com">Sales Team</a> in order to get a quote on OEM version.</p>
          <h4>How does on-premises software work?</h4>
          <p>You can either install the software remotely or by doing it on site.
            You can do it through your employee or directly by your customer. </p>
          <h4>May I use Handsontable while working on many domains / servers / projects?</h4>
          <p>Yes, Developer License allows you to use the code on unlimited amount of domains, servers or projects.
            What is more, it does not depend on whether it is a test or production environment.</p>
          <h4>Am I allowed to add more developers to my license?</h4>
          <p>Yes, there is such a possibility. Contact us to do so.</p>
          <h4>Let's say we need more than 10 licenses. Is there a discount for us?</h4>
          <p>By default, whenever you get 5-9 licenses we offer you a 10% discount. For 10 there is a 15% discount.
            In case you want more than that please contact our
            <a href="mailto:sales@handsontable">Sales Team.</a></p>
          <h4 id="single-website">What is the difference between Developer License and Single Website License?</h4>
          <p>Single Website License, alike Developer License, is for a single developer but has some extra limitations,
            such as:
          </p>
          <ul>
            <li>It is strictly assigned to one domain only,</li>
            <li>It does not work for websites using SaaS business model,</li>
            <li>You cannot use it to create intranet, where you allow the authorization and let clients, users,
              colleagues to login. The only person allowed to login to a system with Handsontable installed is
              the developer assigned to that license.</li>
          </ul>
          <p><a href="https://sites.fastspring.com/handsontable/instant/single-website-with-basic-support">Buy it now for $149</a></p>
          <h4>Can I edit the source code?</h4>
          <p>Yes, Handsontable license allows to use source code and edit it, so you can easily integrate it with
            your product. We, however, don't support your custom changes to the code within the Maintenance
            and Support plans.</p>

          <h3 id="goto-support">Maintenance and Support</h3>
          <h4>How do we report problems within Maintenance and Support plans?</h4>
          <p>You can send a new ticket to <a href="mailto:support@handsontable.com">support@handsontable.com</a>.
            You can also use the form on <a href="//my.handsontable.com" target="_blank">my.handsontable.com</a>.
            We encourage you to visit our forum <a href="//forum.handsontable.com" target="_blank">forum.handsontable.com</a> whenever
            you are stuck. It is the best place to quickly find a solution to your problem and to get in touch with
            other developers.</p>
          <h4>What do I get with the Basic Maintenance and Support plan that comes with the license? </h4>
          <p>With the purchase of a new license you get a Basic Maintenance and Support for 12 months, which gives you:</p>
          <ul>
            <li>Minor and patch releases,</li>
            <li>1 hour of support via email (it does not include coding),</li>
            <li>Access to the developers forum at <a href="//forum.handsontable.com" target="_blank">forum.handsontable.com</a>.</li>
          </ul>
          </p>
          <h4>What do I get with the Extended Maintenance and Support plan?</h4>
          <p>Extended Maintenance and Support is an extra service valid for 12 months. It gives you:
          </p>
          <ul>
            <li>Major, minor and patch releases,</li>
            <li>10 hours of support via email, which includes coding, guidance in best practices and also code review,</li>
            <li>Access to the developers forum:
              <a href="//forum.handsontable.com" target="_blank">forum.handsontable.com</a>,</li>
            <li>Possibility to contact directly our core team,</li>
            <li>Initial answer in 12 hours within Handsoncode working hours: 8:00 am - 5:00 pm CET, Monday to
              Friday (local time in Poland).</li>
          </ul>
          <h4>Is there an automatic renewal of Maintenance and Support plans after 12 months?</h4>
          <p>Our services are not offered in a subscription model. We do not store any information about your credit
            card. Please contact our <a href="mailto:sales@handsontable.com">Sales Team</a> in order to renew the support plan.</p>
          <h4>Can I get the Extended Maintenance and Support separately?</h4>
          <p>Yes, that is possible. To do so, please contact our <a href="mailto:sales@handsontable.com">Sales Team.</a></p>
          <h4>Can I buy Maintenance and Support plan only for some of the developers within the license? </h4>
          <p>Our support services are offered for all the developers under the license. You can't, for instance,
            purchase 5 plans of Extended Maintenance and Support if your license is for 10 developers.</p>
          <h4>Do you offer professional consulting and development on demand? </h4>
          <p>Yes, we do. Our services include building apps from scratch, integrating Handsontable with existing
            solutions and optimizing the code.</p>

          <h3 id="goto-purchasing">Purchasing</h3>
          <h4>Who is selling the license? </h4>
          <p>Both license and support are provided by Handsoncode sp. z o.o., Aleja Zwycięstwa 96/98,
            81-451 Gdynia, Poland.</p>
          <h4>Where can I get the license? </h4>
          <p>It can be obtained through both the official website
            <a href="//handsontable.com/pricing">handsontable.com/pricing</a> and authorized
            resellers of Handsontable. In order to acquire OEM or Enterprise license please contact our Sales
            Team directly.</p>
          <h4>Can I buy a license on someone's behalf? </h4>
          <p>If you are authorized to buy the license feel free to do so. Please be sure to fill in all
            necessary data to get a proper invoice. Also, please hand on login details of
            <a href="//my.handsontable.com" target="_blank">my.handsontable.com</a>
            to its owner after the purchase. </p>
          <h4>I recently bought your product, but still did not receive a confirmation. Why is that?</h4>
          <p>After purchase you should receive an email with a confirmation and an invoice. If you haven't
            received it, please check your spam folder. In case they it is not there, please contact
            our <a href="mailto:support@handsontable.com">Sales Team</a>.</p>
          <h4>How do I download and install the code of Handsontable?</h4>
          <p>Login to your account on <a href="//my.handsontable.com">my.handsontable.com</a>
            using credentials we are sending in an email after
            the registration or purchase. You can see your licenses under "My orders" tab. Move to "Install"
            tab to go through all the installation options. </p>
          <h4>I bought a license some time ago, but cannot remember which one was it. What should I do to
            retrieve the details about it?</h4>
          <p>If you know your login details to <a href="//my.handsontable.com" target="_blank">my.handsontable.com</a>
            then you can see all the details about your
            licenses under 'My orders' tab. If you do not see them, please contact us at
            <a href="mailto:support@handsontable.com">support@handsontable.com</a>. Just
            be sure to add your company name and any information you consider useful to identify your
            license faster.</p>
          <h4>Do you work with resellers?</h4>
          <p>Yes, we do cooperate with resellers from all over the world, offering additional perks. If you
            are interested in partnership, please do not hesitate to contact us at
            <a href="mailto:partners@handsontable.com">partners@handsontable.com</a></p>
          <h4>Does the price include tax? </h4>
          <p>No, all the prices are net. Tax is calculated accordingly to the law of a country or countries
            community chosen by buyer in a purchase form.</p>
          <h4>Which payment methods do you accept?</h4>
          <p>You can buy a license with your PayPal account or a credit card. If you wish to send us the money
            via bank wire transfer, please contact our <a href="mailto:sales@handsontable.com">Sales Team</a>.</p>
          <h4>Do you accept purchase orders?</h4>
          <p>Of course we do. Whenever you need a quotation feel free to contact the
            <a href="mailto:sales@handsontable.com">Sales Team</a>.</p>
          <h4>Which credit cards do you accept?</h4>
          <p>Our payment partner, FastSpring, accepts the following credit cards: Visa, MasterCard, Amex,
            Discover and JCB.</p>
          <h4>Do you offer refunds?</h4>
          <p>No, there are no refunds. Before buying a license please be sure it meets your needs. For those
            of you who are not ready yet to purchase, we prepared a trial version that lasts 30 days.</p>
          <h4>How can I get an invoice for my purchase?</h4>
          <p>The invoice is sent on the email address provided during purchase. Invoices for OEM / Enterprise
            version and for resellers are, each time, issued manually by our Sales Team.</p>

          <h3 id="goto-discounts">Discounts</h3>
          <h4>Do you offer discounts for startups?</h4>
          <p>Absolutely! We know how it is to be an underdog, so we will be more than happy to help. To apply
            for 50% discount you will need to meet a few requirements:
          </p>
          <ul>
            <li>Your startup must be privately held,</li>
            <li>You need to have your very own, public website,</li>
            <li>Your startup cannot exist for more than 3 years.</li>
          </ul>
          <p>
            If only you meet the requirements feel free to contact the
            <a href="mailto:sales@handsontable.com">Sales Team</a> to acquire
            a new license for your next big thing!
          </p>
          <h4>Do you offer volume discounts? </h4>
          <p>Naturally! The discount depends on how many license do you buy in a single transaction:</p>
          <ul>
            <li>5-9 - 10% discount</li>
            <li>10 - 15% discount</li>
            <li>10+ - negotiable</li>
          </ul>
          <h4>I am a student and looking forward to use Handsontable. What should I do?</h4>
          <p>If you want to use Handsontable in for your education project or a private side-project, we
            would love to give you an access to Handsontable free of charge. Your project might be commercial
            as long as it does not require you to start your own company. Contact us at
            <a href="mailto:sales@handsontable.com">sales@handsontable.com</a> so we can talk this through. </p>
          <h4>Let's say I want to use Handsontable for training courses. Can you help me?</h4>
          <p>If you are going to use Handsontable in your course class or for training purposes then Handsontable
            is free of charge. Please contact us, tell us more about you and we will be more than
            happy to assist you.</p>

          <h3 id="goto-opensource">Open Source version</h3>
          <h4>What is the difference between Handsontable and Handsontable Pro?</h4>
          <p>Handsontable Pro is a commercial software offering extra features to its open source version,
            Handsontable. Handsontable is released under the MIT license. </p>
          <h4>How do you support the open source version of Handsontable?</h4>
          <p>We actively support the community on GitHub. You can find our repository here:
            <a href="//github.com/handsontable/handsontable" target="_blank">github.com/handsontable/handsontable</a></p>
          <h4>How long are you planning to keep the support for the open source version of Handsontable?</h4>
          <p>As long as it is possible.</p>
        </div>
      </div>
    </div>
  </div>
</section>