<section class="faq">
    <div class="row">
        <div class="large-12 large-centered columns">
            <h2 class="headline">
                Frequently Asked Questions
                <div class="border-bottom"></div>
            </h2>
            <div class="row">
                <div class="small-12 medium-5 columns">

                    <!-- About products -->
                    <h3>About products</h3>
                    <div class="togglebox">
                        <input id="what-is-handsontable" type="checkbox" name="toggle"/>
                        <label for="what-is-handsontable"> What is Handsontable?</label>
                        <section id="what-is-handsontable"><p><span>Handsontable is a spreadsheet component for developers.
                                    It is written in pure JavaScript and not constrained by any external framework.</span>
                            </p>
                        </section>

                        <input id="ce-or-pro" type="checkbox" name="toggle"/>
                        <label for="ce-or-pro">What is the difference between Handsontable CE and Pro?</label>
                        <section id="ce-or-pro"><p><span>Handsontable Community Edition (CE) is a free software released under the MIT license.
                                    Handsontable Pro comes with a commercial license and contains additional features such as filters.
                                    It has free maintenance and support plan included for limited time, depending on the type of the license.
                                    <a href="/features.html">Here</a> you can find a comparison of features available for each Handsontable version.</span>
                            </p>
                        </section>

                        <input id="can-i-use-ce-for-commercial-products" type="checkbox" name="toggle"/>
                        <label for="can-i-use-ce-for-commercial-products">Can I use Handsontable CE to build commercial
                            products?</label>
                        <section id="can-i-use-ce-for-commercial-products"><p><span>Of course you can. Handsontable CE is released under the MIT license which
                                    allows you to use it both for commercial and noncommercial products.
                                    <a href="https://choosealicense.com/licenses/mit/" target="_blank">Read more</a> about the MIT license.
                                    </span></p>
                        </section>

                        <input id="which-browser" type="checkbox" name="toggle"/>
                        <label for="which-browser">Which browsers do you support?</label>
                        <section id="which-browser"><p><span>We support all the modern browsers including Chrome,
                                    Firefox, Opera, Safari, Internet Explorer 9-11 and Edge.
                                    </span></p>
                        </section>

                        <input id="which-devices" type="checkbox" name="toggle"/>
                        <label for="which-devices">Which devices do you support?</label>
                        <section id="which-devices"><p><span>Handsontable should work on all desktop devices.
                                    On mobile devices you can only display the grid, edit data and navigate across the spreadsheet.
                                    </span></p>
                        </section>

                        <input id="which-frameworks" type="checkbox" name="toggle"/>
                        <label for="which-frameworks">Which frameworks do you support?</label>
                        <section id="which-frameworks"><p><span>Handsontable is written in pure JavaScript but is also available for React, Angular, and Vue.
                                    There are also TypeScript definitions available for your strongly-typed code. We will be adding more wrappers in the future.
                                    </span></p>
                        </section>

                    </div>

                    <!-- Techcnical support -->

                    <h3>Technical support</h3>
                    <div class="togglebox">

                        <input id="issue-report" type="checkbox" name="toggle"/>
                        <label for="issue-report">How do I report an issue?</label>
                        <section id="issue-report">
                            <p><span>
                                    Please, <a href="https://handsontable.com/contact.html?category=technical_support">send us</a> demo via one of the services
                                    listed here: <a href="https://jsfiddle.net/" target="blank">JSFiddle</a>, <a
                                            href="http://jsbin.com/" target="blank">JSBin</a> or <a
                                            href="http://codepen.io/" target="blank">CodePen</a> in a shortened version (only Handsontable instances and configuration of the table).
                                    Also describe an error and attach image or video, if necessary.</span></p>
                            <p><span>
                                    If it is an installation error please send us your email that was used for purchasing a license (in case of PRO version),
                                    OS/Browser settings and node, bower or npm version if you used npm or bower for installation.
                                </span></p>
                        </section>

                        <input id="do-i-get-support" type="checkbox" name="toggle"/>
                        <label for="do-i-get-support">Do I get support with the new license?</label>
                        <section id="do-i-get-support">
                            <p><span>
                                    With the purchase of a new license you get a free maintenance and support for limited time
                                    (depending on the type of the license), which gives you:</span></p>
                            <p><span>
                                   <ul>
                                       <li>Major, minor and patch releases,</li>
                                       <li>1 hour of support via email (it does not include coding),</li>
                                       <li>Basic forum support,</li>
                                       <li>Code review and guidance,</li>
                                       <li>Initial response in 48 hours within Handsoncode working hours: 8:00 am - 5:00 pm CET, Monday to Friday (local time in Poland)</li>
                                   </ul>
                                </span></p>

                        </section>

                        <input id="what-do-i-get" type="checkbox" name="toggle"/>
                        <label for="what-do-i-get">What do I get with extended maintenance and support plan?</label>
                        <section id="what-do-i-get">
                            <p><span>
                                    Extended maintenance and support is an extra service which can be purchased additionally. It gives you:</span>
                            </p>
                            <p><span>
                                   <ul>
                                       <li>Major, minor and patch releases,</li>
                                       <li>10 hours of support via email, which includes coding,</li>
                                       <li>Basic forum support,</li>
                                       <li>Code review and guidance,</li>
                                       <li>Support from core developers,</li>
                                       <li>Emergency hot fixes,</li>
                                       <li>Initial response in 12 hours within Handsoncode working hours: 8:00 am - 5:00 pm CET, Monday to Friday (local time in Poland).</li>
                                   </ul>
                                </span></p>

                        </section>

                        <input id="can-i-call" type="checkbox" name="toggle"/>
                        <label for="can-i-call">Can I call you?</label>
                        <section id="can-i-call">
                            <p><span>
                                    We offer phone calls within the Extended Support and Maintenance plan and Enterprise License
                                    (regardless of the support plan). For all other options this service is paid additionally.
                                </span></p>
                        </section>

                        <input id="how-do-i-install" type="checkbox" name="toggle"/>
                        <label for="how-do-i-install">How do I download and install the code of Handsontable?</label>
                        <section id="how-do-i-install">
                            <p><span>
                                    Log in to your account on <a
                                            href="https://my.handsontable.com/">my.handsontable.com</a> using credentials we are sending
                                    in an email after the registration or purchase.
                                </span></p>

                            <p><span>After logging in, move to Install tab. </span></p>
                            <p><span><a href="/static/images/myHot/my-hot-dash-L.png"><img
                                                src="/static/images/myHot/my-hot-dash.png"></a></span>

                            <p><span>In the Install tab you will find all the installation options.</span></p>
                            <p><span><a href="/static/images/myHot/my-hot-dash-inst-L.png"><img
                                                src="/static/images/myHot/my-hot-dash-inst.png"></a></span>
                        </section>

                        <input id="pro-consulting" type="checkbox" name="toggle"/>
                        <label for="pro-consulting">Do you offer professional consulting on demand?</label>
                        <section id="pro-consulting">
                            <p><span>
                                   Yes, we do. Our services include building apps from scratch, integrating Handsontable with existing solutions,
                                    optimizing the code and making MVPs and Proofs of Concepts. Please
                                    <a href="https://handsontable.com/contact.html?category=technical_support"> send us</a> the specification
                                    brief of your project. After receiving all the details, we will schedule a call to determine all the details.
                                </span></p>
                        </section>

                        <input id="hourly-rate" type="checkbox" name="toggle"/>
                        <label for="hourly-rate">What is your hourly rate?</label>
                        <section id="hourly-rate">
                            <p><span>
                                   The price depends on the complexity of the project and the
                                    development service but our regular hourly rate is $70.
                                    It might be changed in the course of time.
                                </span></p>
                        </section>

                    </div>

                    <!-- Your account -->

                    <h3>Your account</h3>
                    <div class="togglebox">

                        <input id="password" type="checkbox" name="toggle"/>
                        <label for="password">Where do I change my password?</label>
                        <section id="password">
                            <p><span>In order to change your password you need to sign in to your account.</span></p>
                            <p><span><a href="/static/images/myHot/my-hot-dash-L.png">
                                        <img src="/static/images/myHot/my-hot-dash.png">
                                    </a>
                                </span></p>
                            <p><span>After clicking in My account (right top corner), you will find a form to change your password.</span>
                            </p>
                            <p><span><a href="/static/images/myHot/KB-Your-Account-1_2_L.png">
                                        <img src="/static/images/myHot/KB-Your-Account-1_2.png">
                                    </a>
                                </span></p>
                        </section>

                        <input id="email" type="checkbox" name="toggle"/>
                        <label for="email">How do I change my email address?</label>
                        <section id="email">
                            <p><span>Please <a href="https://handsontable.com/contact.html?category=technical_support">inform us</a> that you want to change your email address. If you bought the license using the wrong address,
                                    contact us as well, we'll be happy to help.</span></p>
                        </section>

                        <input id="account-transfer" type="checkbox" name="toggle"/>
                        <label for="account-transfer">How to transfer my license to another account?</label>
                        <section id="account-transfer">
                            <p><span>If you want to transfer your license, please contact our
                                    <a href="https://handsontable.com/contact.html?category=technical_support">Support Team</a>.
                                </span></p>
                        </section>

                        <input id="account-remove" type="checkbox" name="toggle"/>
                        <label for="account-remove">How to remove my account?</label>
                        <section id="account-remove">
                            <p><span>In order to remove the account please log in and click on My account (right top corner).</span>
                            </p>
                            <p><span>
                                <a href="/static/images/myHot/my-hot-dash-L.png">
                                        <img src="/static/images/myHot/my-hot-dash.png">
                                    </a>
                                </span></p>
                            <span><p>
                            <a href="/static/images/myHot/KB-Your-Account-4_1_L.png">
                                <img src="/static/images/myHot/KB-Your-Account-4_1.png">
                            </a>
                            </span></p>
                            <span><p>Alternatively, you can contact our <a
                                            href="https://handsontable.com/contact.html?category=technical_support">Support Team</a>.
                                    Please keep in mind that this action will make you lose an access
                                    to your license.</p></span>
                        </section>

                    </div>

                    <!-- Renewals -->

                    <h3>Renewals</h3>
                    <div class="togglebox">

                        <input id="define-developer" type="checkbox" name="toggle"/>
                        <label for="define-developer">How do you define a developer?</label>
                        <section id="define-developer">
                            <p><span>A developer is every person in your organization working directly with Handsontable source code.
                                    That includes implementing, integrating or changing the code.</span></p>
                        </section>

                        <input id="license-includes" type="checkbox" name="toggle"/>
                        <label for="license-includes">What is included in the license?</label>
                        <section id="license-includes">
                            <p><span>Handsontable Pro license grants you a nonexclusive, lifelong right to install and use the software.
                                    It comes with following benefits:</span></p>
                            <p><span>
                                   <ul>
                                       <li>all Pro and Free features,</li>
                                       <li>the right to edit the source code,</li>
                                       <li>free maintenance and support plan for limited time (depending on the type of license),</li>
                                       <li>major, minor and patch releases,</li>
                                       <li>unlimited projects, websites and apps, including Saas, excluding OEM.</li>
                                   </ul>
                                </span></p>
                        </section>

                        <input id="how-many-licenses" type="checkbox" name="toggle"/>
                        <label for="how-many-licenses">How many licenses should I buy?</label>
                        <section id="how-many-licenses">
                            <p><span>The number of licenses should be equal to the number of developers working
                                    directly with Handsontable simultaneously. Licenses are not assigned
                                    to a particular person but to each seat.</span></p>
                        </section>

                        <input id="multiple-projects" type="checkbox" name="toggle"/>
                        <label for="multiple-projects">May I use the license for multiple projects?</label>
                        <section id="multiple-projects">
                            <p><span>Yes, each license allows you to use the code on unlimited amount of domains,
                                    servers or projects. What is more, it does not depend
                                    on whether it is a test or production environment.</span></p>
                        </section>

                        <input id="renew-required" type="checkbox" name="toggle"/>
                        <label for="renew-required">Is it required to renew the support?</label>
                        <section id="renew-required">
                            <p><span>No, it is optional. All of the licenses are perpetual and grant you a right to use them as long as you want.
                                    However, if you want to get updates and support after your maintenance plan expires,
                                    you need to renew it.</span></p>
                        </section>

                        <input id="how-renew" type="checkbox" name="toggle"/>
                        <label for="how-renew">How can I renew the support?</label>
                        <section id="how-renew">
                            <p><span>You can renew the support by yourself in
                                    <a href="https://my.handsontable.com/sign-up.html">my.handsontable.com</a>
                                    account (credit card payment, subscription).</span></p>
                            <p><span>1. After logging into your account, click <b>Proceed with renewal</b>.</span></p>
                            <p><span><a href="/static/images/myHot/KB-Renewals-2_1_L.png">
                                        <img src="/static/images/myHot/KB-Renewals-2_1.png">
                                    </a>
                                </span></p>
                            <p><span>2. Choose the type of the renewal. You can pick Basic or Extended Support according to your needs. Click <b>Proceed to Checkout</b> button.</span></p>
                            <p><span><a href="/static/images/myHot/KB-Renewals-2_2_L.png">
                                        <img src="/static/images/myHot/KB-Renewals-2_2.png">
                                    </a>
                                </span></p>
                            <p><span>3. You will be transferred to payment gateway (FastSpring) where you will be able to finish the purchase process.
                                        Alternatively, if you do not want to choose credit card payment and subscription mode, please
                                    <a href="https://handsontable.com/contact.html?category=request_for_quotation">contact us</a>.</span></p>
                        </section>

                        <input id="change-dev-num" type="checkbox" name="toggle"/>
                        <label for="change-dev-num">Can I change the number of developers under a license?</label>
                        <section id="change-dev-num">
                            <p><span>Sure, you can do that but not automatically.
                                    Our <a href="https://handsontable.com/contact.html?category=request_for_quotation">Sales Team</a> will help you adjust the number of seats to your current needs.</span></p>
                        </section>
                    </div>
                </div>

                <div class="small-12 medium-5 columns">


                    <!-- Purchasing -->

                    <h3>Purchasing</h3>
                    <div class="togglebox">

                        <input id="product-behind" type="checkbox" name="toggle"/>
                        <label for="product-behind">Who stands behind this product?</label>
                        <section id="product-behind">
                            <p><span>Both license and support are provided by: <br/>
                                Handsoncode sp. z o.o.<br/>
                                Aleja Zwycięstwa 96/98 <br/>
                                81-451 Gdynia, Poland <br/>
                                VAT EU: PL5862294002</span></p>
                        </section>

                        <input id="official-quote" type="checkbox" name="toggle"/>
                        <label for="official-quote">Can I get an official quote?</label>
                        <section id="official-quote">
                            <p><span>Can I get an official quote?
                                Yes. In order to receive it contact the
                                <a href="https://handsontable.com/contact.html?category=request_for_quotation">Sales Team</a>.</span>
                            </p>
                        </section>

                        <input id="license-on-behalf" type="checkbox" name="toggle"/>
                        <label for="license-on-behalf">Can I buy a license on someone's behalf?</label>
                        <section id="license-on-behalf">
                            <p><span>If you are authorized to buy the license feel free to do so. Please be sure to fill in all necessary data
                                to get a proper invoice. Also, please hand on login details
                                of <a href="https://my.handsontable.com/sign-up.html">my.handsontable.com</a> to its owner after the purchase.</span>
                            </p>
                        </section>

                        <input id="payment-methods" type="checkbox" name="toggle"/>
                        <label for="payment-methods">Which payment methods do you accept?</label>
                        <section id="payment-methods">
                            <p><span>You can buy a license through our service provider, the FastSpring company using your credit card (Visa, MasterCard, Amex, Discover and JCB)
                                or PayPal account. If you want to send us the money via bank wire transfer,
                                please contact our
                                <a href="https://handsontable.com/contact.html?category=request_for_quotation">Sales Team</a>. We do not accept checks.</span>
                            </p>
                        </section>

                        <input id="currencies" type="checkbox" name="toggle"/>
                        <label for="currencies">What currencies do you accept?</label>
                        <section id="currencies">
                            <p><span>For bank wire transfer/PayPal: USD, EUR, GBP, PLN. <br/>
                                For credit card, PayPal (via FastSpring): USD, EUR, GBP, AUD, CAD, CHF, JPY, PLN.</span>
                            </p>
                        </section>

                        <input id="discounts" type="checkbox" name="toggle"/>
                        <label for="discounts">Do you offer discounts?</label>
                        <section id="discounts">
                            <p><span>Yes, we offer following types of discounts:</span></p>
                            <p><b>Volume discounts</b></p>
                            <p><span>The discount depends on how many license do you buy in a single transaction:</span>
                            </p>
                            <p><span>
                                <ul>
                                    <li>5-9 - 10%</li>
                                    <li>10 - 15%</li>
                                    <li>10+ - contact us</li>
                                </ul>
                            </span></p>
                            <p><b>Startup Discount (50%)</b></p>
                            <p><span>We know how it is to be an underdog, so we will be more than happy to help.
                                To apply for 50% discount you will need to meet a few requirements:</span></p>
                            <p><span>
                                <ul>
                                    <li>Your startup must be privately held,</li>
                                    <li>You need to have your very own, public website,</li>
                                    <li>Your startup cannot exist for more than 3 years.</li>
                                </ul>
                            </span></p>
                            <p><span>If only you meet the requirements feel free to contact the Sales Team to acquire a new license for your next big thing!</span>
                            </p>
                            <p><b>Student License</b></p>
                            <p><span>If you want to use Handsontable in for your education project or a private side-project,
                                we would love to give you an access to Handsontable free of charge. Your project might
                                be commercial as long as it does not require you to start your own company.
                                Please contact us so we can talk this through.</span></p>
                            <p><b>Teacher License</b></p>
                            <p><span>If you are going to use Handsontable in your course class or for training purposes then Handsontable
                                is free of charge. Please contact us, tell us more about you and we will be more than happy to assist you.
                            </span></p>
                        </section>

                        <input id="credit-card-info" type="checkbox" name="toggle"/>
                        <label for="credit-card-info">Do you collect credit card information?</label>
                        <section id="credit-card-info">
                            <p><span>We do not save nor process your credit card details. Our payment gateway operator, FastSpring, does it for us.
                                </span></p>
                        </section>

                        <input id="tax" type="checkbox" name="toggle"/>
                        <label for="tax">Does the price include tax?</label>
                        <section id="tax">
                            <p><span>Tax is calculated accordingly to the law of a country or countries community chosen
                                    by buyer in a purchase form, and all the prices are net.
                                </span></p>
                        </section>

                        <input id="invoice" type="checkbox" name="toggle"/>
                        <label for="invoice">How can I get an invoice for my purchase?</label>
                        <section id="invoice">
                            <p><span>Depending on how you bought the license you can either receive an invoice automatically
                                    from FastSpring (website payment service provider),
                                    or you will receive it from our <a href="https://handsontable.com/contact.html?category=request_for_quotation">Sales Team</a>
                                    (if you ordered the license directly from us).
                                </span></p>
                        </section>

                        <input id="email-confirmation" type="checkbox" name="toggle"/>
                        <label for="email-confirmation">I didn’t receive the confirmation of the purchase.</label>
                        <section id="email-confirmation">
                            <p><span>After purchase you should receive an email with a confirmation and an invoice.
                                    If you haven't received it, please check your spam folder. In case it is not there, please contact our
                                    <a href="https://handsontable.com/contact.html?category=request_for_quotation"> Sales Team</a>.
                                </span></p>
                        </section>

                        <input id="refounds" type="checkbox" name="toggle"/>
                        <label for="refounds">Do you offer refunds?</label>
                        <section id="refounds">
                            <p><span>We offer a quality pre-sale experience and this is why we provide a trial version,
                                    which allows you to evaluate the product for 30 days. Before buying a license please make
                                    sure it meets your needs, as we don't offer a refund once the purchase is made.
                                </span></p>
                        </section>


                    </div>

                    <!-- Licensing -->

                    <h3>Licensing</h3>
                    <div class="togglebox">

                        <input id="developer-l" type="checkbox" name="toggle"/>
                        <label for="developer-l">How do you define a developer?</label>
                        <section id="developer-l">
                            <p><span>A developer is every person in your organization working directly with Handsontable source code.
                                    That includes implementing, integrating or changing the code.</span>
                            </p>
                        </section>

                        <input id="license-includes-l" type="checkbox" name="toggle"/>
                        <label for="license-includes-l">What is included in the license?</label>
                        <section id="license-includes-l">
                            <p><span>Handsontable Pro license grants you a nonexclusive, lifelong right to install and use the software.
                                    It comes with following benefits:</span></p>
                            <p><span>
                                   <ul>
                                       <li>all Pro and Free features,</li>
                                       <li>the right to edit the source code,</li>
                                       <li>free maintenance and support plan for limited time (depending on the type of license),</li>
                                       <li>major, minor and patch releases,</li>
                                       <li>unlimited projects, websites and apps, including Saas, excluding OEM.</li>
                                   </ul>
                                </span></p>
                        </section>

                        <input id="how-many-licenses-l" type="checkbox" name="toggle"/>
                        <label for="how-many-licenses-l">How many licenses should I buy?</label>
                        <section id="how-many-licenses-l">
                            <p><span>The number of licenses should be equal to the number of developers working
                                    directly with Handsontable simultaneously. Licenses are not assigned
                                    to a particular person but to each seat.</span></p>
                        </section>

                        <input id="multiple-projects-l" type="checkbox" name="toggle"/>
                        <label for="multiple-projects-l">May I use the license for multiple projects?</label>
                        <section id="multiple-projects-l">
                            <p><span>Yes, each license allows you to use the code on unlimited amount of domains,
                                    servers or projects. What is more, it does not depend
                                    on whether it is a test or production environment.</span></p>
                        </section>

                        <input id="software-expires" type="checkbox" name="toggle"/>
                        <label for="software-expires">Can I use the software after the support expires?</label>
                        <section id="software-expires">
                            <p><span>Yes, you can because the license is perpetual. Although if you want
                                    to get updates and support, you have to renew the support plan.</span></p>
                        </section>

                        <input id="difference-dev-ent" type="checkbox" name="toggle"/>
                        <label for="difference-dev-ent">What is the difference between Developer and Enterprise license?</label>
                        <section id="difference-dev-ent">
                            <p><span>Developer license is intended for a single developer, whereas Enterprise license covers unlimited number
                                    of developers who work with Handsontable PRO in unlimited number of projects, including SaaS, excluding OEM.</span></p>
                        </section>

                        <input id="oem" type="checkbox" name="toggle"/>
                        <label for="oem">What is an OEM license?</label>
                        <section id="oem">
                            <p><span>OEM terms and conditions refer to projects which include third party installations.
                                    If your product will be installed on End User physical machines, then the additional OEM license will be required.
                                    As each OEM project is different, for pricing of the license please contact the
                                    <a href="https://handsontable.com/contact.html?category=enterprise_inquiry">Sales Team.</a></span></p>
                        </section>

                    </div>

                    <!-- Resselers -->

                    <h3>Resellers</h3>
                    <div class="togglebox">

                        <input id="resellers-sell" type="checkbox" name="toggle"/>
                        <label for="resellers-sell">Do you sell your products through resellers?</label>
                        <section id="resellers-sell">
                            <p><span>Yes, we cooperate with resellers from all over the world, offering additional perks.
                                    If you are interested in partnership, please do not hesitate to
                                    <a href="https://handsontable.com/contact.html?category=business_opportunity">contact us.</a>
                                </span></p>
                        </section>

                        <input id="become-reseller" type="checkbox" name="toggle"/>
                        <label for="become-reseller">How to become a Handsontable Pro certified reseller?</label>
                        <section id="become-reseller">
                            <p><span>In order to become our certified reseller, please
                                    <a href="https://handsontable.com/contact.html?category=business_opportunity">contact us</a>
                                    to get more information to begin the onboarding process.
                                </span></p>
                        </section>

                        <input id="reseller-discounts" type="checkbox" name="toggle"/>
                        <label for="reseller-discounts">Do you offer reseller discounts?</label>
                        <section id="reseller-discounts">
                            <p><span>Yes, we do. To get more information, please
                                    <a href="https://handsontable.com/contact.html?category=business_opportunity">contact us</a> here.
                                </span></p>
                        </section>

                        <input id="reseller-list" type="checkbox" name="toggle"/>
                        <label for="reseller-list">Where can I find the list of your certified resellers?</label>
                        <section id="reseller-list">
                            <p><span>The list of certified resellers is available <a href="/resellers.html">here</a>.</span></p>
                        </section>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="cant">
        <div class="row">
            <div class="large-12 large-centered columns">
                <h2 class="headline">Can’t find what you are looking for?</h2>
                <a href="" class="btn ghost-blue">Get in touch</a>
            </div>
        </div>
    </div>
</section>