<section class="faq">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h2 class="headline">
        Frequently <strong>asked questions</strong><br>
        <small><a href="/contact.html">Contact us</a> if you don't find the answers to your questions</small>
      </h2>

      <div class="row">
        <div class="small-12 medium-3 columns side-links">
          <p><a href="#licensing">Licensing</a></p>
          <p><a href="#support">Maintenance and Support</a></p>
          <p><a href="#purchasing">Purchasing</a></p>
          <p><a href="#opensource">Discounts</a></p>
          <p><a href="#opensource">Open Source version</a></p>
        </div>
        <div class="small-12 medium-9 columns">
          <h3 id="licensing">Licensing</h3>
          <h4>Personal and Non-Personal Information</h4>
          <p>The Operator may collect and analyze non-personal information to evaluate how visitors use the Operator's
            web site. Although you can browse through the web site without giving any information about yourself. The
            Operator use personal information to better understand your needs and interests and to provide you with
            better service. The types of personal information you provide to us on these pages may include name,
            address, phone number, e-mail address, user IDs, passwords, billing information or credit card
            information.</p>

          <h3 id="support">Maintenance and Support</h3>
          <h4>Personal and Non-Personal Information</h4>
          <p>The Operator may collect and analyze non-personal information to evaluate how visitors use the Operator's
            web site. Although you can browse through the web site without giving any information about yourself. The
            Operator use personal information to better understand your needs and interests and to provide you with
            better service. The types of personal information you provide to us on these pages may include name,
            address, phone number, e-mail address, user IDs, passwords, billing information or credit card
            information.</p>

          <h3 id="purchasing">Purchasing</h3>
          <h4>Personal and Non-Personal Information</h4>
          <p>The Operator may collect and analyze non-personal information to evaluate how visitors use the Operator's
            web site. Although you can browse through the web site without giving any information about yourself. The
            Operator use personal information to better understand your needs and interests and to provide you with
            better service. The types of personal information you provide to us on these pages may include name,
            address, phone number, e-mail address, user IDs, passwords, billing information or credit card
            information.</p>

          <h3 id="opensource">Open Source version</h3>
          <h4>Personal and Non-Personal Information</h4>
          <p>The Operator may collect and analyze non-personal information to evaluate how visitors use the Operator's
            web site. Although you can browse through the web site without giving any information about yourself. The
            Operator use personal information to better understand your needs and interests and to provide you with
            better service. The types of personal information you provide to us on these pages may include name,
            address, phone number, e-mail address, user IDs, passwords, billing information or credit card
            information.</p>
        </div>
      </div>
    </div>
  </div>
</section>