<section class="faq">
    <div class="row">
        <div class="large-12 large-centered columns">
            <h2 class="headline">
                Frequently Asked Questions
                <div class="border-bottom"></div>
            </h2>
            <div class="row">
                <div class="small-12 medium-5 columns">

                    <!-- About products -->
                    <h3>About products</h3>
                    <ul class="accordion">
                        <li>
                            <div class="title">
                                <h5>What is Handsontable?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li class="active">
                            <div class="title">
                                <h5>What is the difference between Handsontable CE and Pro?</h5>
                            </div>
                            <div class="content">
                                <p>
                                    Handsontable Community Edition (CE) is a free software released under the MIT
                                    license.
                                    Handsontable Pro comes with a commercial license and contains additional features
                                    such as filters.
                                    It has free maintenance and support plan included for limited time,
                                    depending on the type of the license. <a href="">Here</a> you can find
                                    a comparison of features available for each Handsontable version.

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Can I use Handsontable CE to build commercial products?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Which browsers do you support?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Which devices do you support?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Which frameworks do you support?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                    </ul>

                    <!-- Techcnical support -->

                    <h3>Technical support</h3>
                    <ul class="accordion">
                        <li>
                            <div class="title">
                                <h5>How do I report an issue?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li class="active">
                            <div class="title">
                                <h5>Do I get support with the new license?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>What do I get with extended maintenance and support plan?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Can I call you?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>How do I download and install the code of Handsontable?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Do you offer professional consulting on demand?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>What is your hourly rate?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                    </ul>

                    <!-- Your account -->

                    <h3>Your account</h3>
                    <ul class="accordion">
                        <li>
                            <div class="title">
                                <h5>Where do I change my password?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li class="active">
                            <div class="title">
                                <h5>How do I change my email address?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>How to transfer my license to another account?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>How to remove my account?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                    </ul>

                    <!-- Renewals -->

                    <h3>Renewals</h3>
                    <ul class="accordion">
                        <li>
                            <div class="title">
                                <h5>How do you define a developer?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>What is included in the license?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>How many licenses should I buy?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>May I use the license for multiple projects?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                    </ul>
                </div>

                <div class="small-12 medium-5 columns">


                    <!-- Purchasing -->

                    <h3>Purchasing</h3>
                    <ul class="accordion">
                        <li>
                            <div class="title">
                                <h5>Who stands behind this product?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Can I get an official quote?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Can I buy a license on someone's behalf?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Which payment methods do you accept?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>What currencies do you accept?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Do you offer discounts?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Do you collect credit card information?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Does the price include tax?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>How can I get an invoice for my purchase?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>I didn’t receive the confirmation of the purchase.</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Do you offer refunds?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                    </ul>

                    <!-- Licensing -->

                    <h3>Licensing</h3>
                    <ul class="accordion">
                        <li>
                            <div class="title">
                                <h5>How do you define a developer?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>What is included in the license?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>How many licenses should I buy?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>May I use the license for multiple projects?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Can I use the software after the support expires?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>What is the difference between Developer and Enterprise license?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>What is an OEM license?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                    </ul>

                    <!-- Resselers -->

                    <h3>Resellers</h3>
                    <ul class="accordion">
                        <li>
                            <div class="title">
                                <h5>Do you sell your products through resellers?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>How to become a Handsontable Pro certified reseller?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Do you offer reseller discounts?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h5>Where can I find the list of your certified resellers?</h5>
                            </div>
                            <div class="content">

                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
        <div class="cant">
            <div class="row">
                <div class="large-12 large-centered columns">
                    <h2 class="headline">Can’t find what you are looking for?</h2>
                    <a href="" class="btn ghost-blue">Get in touch</a>
                </div>
            </div>
        </div>
</section>