<section class="features">
  <div class="row">
    <div class="large-11 large-centered columns">
      <h2 class="headline">
        Built for <strong>Developers</strong><br>
        <small>Deploy faster using powerful components and a well-documented API</small>
      </h2>

      <!-- top features -->
      <div class="row top-features">
        <div class="large-11 large-centered columns">
          <div class="row">
            <div class="small-12 medium-4 columns">
              <div class="item easy-start">
                <svg>
                  <use xlink:href="#easy_start"></use>
                </svg>
                <h5>Easy to start</h5>
                <p>One-minute installation using Bower and a quick setup.</p>
              </div>
            </div>
            <div class="small-12 medium-4 columns">
              <div class="item developer-api">
                <svg>
                  <use xlink:href="#developer_api"></use>
                </svg>
                <h5>Easy to learn</h5>
                <p>Benefit from comprehensive documentation and lots of examples.</p>
              </div>
            </div>
            <div class="small-12 medium-4 columns ">
              <div class="item data-source">
                <svg>
                  <use xlink:href="#data_source"></use>
                </svg>
                <h5>Easy to extend</h5>
                <p>The composite architecture allows you to create custom plugins.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- general features -->
      <div class="row general-features">
        <div class="large-11 large-centered columns">
          <div class="row">
            <div class="small-12 medium-6 columns">
              <h3>Beyond the grid</h3>
              <p>Handsontable is a scalable and lightweight spreadsheet platform. By using our
                CLI tool you can extend its core with as many plugins as you want. You can get
                started with bare package and build new features around it. Handsontable doesn't
                impose any specific styling on you, making it easy to adjust to your app.</p>
              <a class="see-examples" href="examples.html">Create a custom plugin</a>
            </div>
            <div class="small-12 medium-6 columns element-center">
              <img src="<%= img_path %>template/ModFeatures/workflow.gif" alt="Redefine the workflow"/>
            </div>
          </div>
          <div class="row data-binding">
            <div class="small-12 medium-6 columns element-center">
              <img src="<%= img_path %>template/ModFeatures/data_binding.gif" alt="Powerful data binding"/>
            </div>
            <div class="small-12 medium-6 columns">
              <h3>Free and open source</h3>
              <p>Handsontable is released free under the MIT license. Since its first launch on GitHub in
                2012 thousands of users contributed to its development. From a basic tool it transformed
                to an essential data grid technology for many industries, such as financial, retail,
                technology and science.
              </p>
              <a class="see-examples" href="examples.html">Download for free</a>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 columns">
              <h3>Multiple versions</h3>
              <p>Handsontable is written in pure JavaScript but is also available as AngularJS directive
                and Polymer component. In the future we want to add even more integrations with
                front-end frameworks and better support for back-end technologies.</p>
              <a class="see-examples" href="examples.html">ngHandsontable</a>
              <span>/</span>
              <a class="see-examples" href="examples.html">hot-table</a>
            </div>
            <div class="small-12 medium-6 columns element-center">
              <img src="<%= img_path %>template/ModFeatures/technologies.svg" alt="Multiple technologies"/>
            </div>
          </div>
        </div>
      </div>

      <h3 class="headline centered">
        <span>Powerful plugins</span>
      </h3>

      <!-- all features -->
      <div class="row all-features">
        <div class="small-12 medium-3 columns choose-version">
          <h5>Choose version</h5>
          <ul>
            <li>
              <a href="#!" class="active">
                Handsontable
                <svg>
                  <use xlink:href="#arrow_down_icon"></use>
                </svg>
              </a>
            </li>
            <li><a href="#!" class="pro">Handsontable Pro
                <svg>
                  <use xlink:href="#arrow_down_icon"></use>
                </svg>
              </a></li>
          </ul>
        </div>
        <div id="feature-list" class="small-12 medium-offset-1 medium-8 columns">
          <div class="row">
            <div class="small-12 medium-4 columns feature-item-list">
              <a href="#" class="feature">Rows/column headers</a>
              <a href="#" class="feature">Resizing rows/columns</a>
              <a href="#" class="feature">Sorting data</a>
              <a href="#" class="feature">Context menu</a>
              <a href="#" class="feature">Comments</a>
              <a href="#" class="feature">Basic integrations</a>
              <a href="#" class="feature-pro">Fixed bottom rows</a>
              <a href="#" class="feature-pro">Collapsible column headers</a>
              <a href="#" class="feature-pro">Filters</a>
            </div>
            <div class="small-12 medium-4 columns feature-item-list">
              <a href="#" class="feature">Fixed top rows/left columns</a>
              <a href="#" class="feature">Freezing columns</a>
              <a href="#" class="feature">Pagination</a>
              <a href="#" class="feature">Data validation</a>
              <a href="#" class="feature">Custom appearance</a>
              <a href="#" class="feature">Formula support</a>
              <a href="#" class="feature-pro">Basic calculations</a>
              <a href="#" class="feature-pro">Show-hide rows/column</a>
              <a href="#" class="feature-pro">Export to CSV</a>
            </div>
            <div class="small-12 medium-4 columns feature-item-list">
              <a href="#" class="feature">Moving rows/columns</a>
              <a href="#" class="feature">Highlighting current row/column</a>
              <a href="#" class="feature">Custom cell types</a>
              <a href="#" class="feature">Conditional formatting</a>
              <a href="#" class="feature">Search for values</a>
              <a href="#" class="feature">Custom buttons</a>
              <a href="#" class="feature-pro">Multiple column headers</a>
              <a href="#" class="feature-pro">Dropdown menu</a>
              <a href="#" class="feature-pro">Select all button</a>
            </div>
          </div>
        </div>
      </div>

      <!-- see plans -->
      <div class="element-center see-plans">
        <h1>
          Get <strong>Pro license</strong><br>
          <small>Stop re-inventing the wheel. Save lots of time by making use<br/>
            of ready-to-go features and community support.
          </small>
        </h1>
        <a href="pricing.html" class="btn large blue">SEE ALL PLANS</a>
      </div>
    </div>
  </div>
</section>
<script src="static/js/features/featuresMenu.js"></script>