<section class="features">
    <div class="main-background">
        <div class="row ">
            <div class="large-12 large-centered columns">
                <h1 class="header-dist">
                    Spreadsheet data management<br>
                    for your web applications.
                </h1>
                <div class="cta">
                    <a class="btn medium ghost-white" href="/pricing.html">Get started</a>
                </div>
                <img class="table-pad" src="/static/resources/ModFeatures/features-spreadsheet-demo.png">
            </div>
        </div>
    </div>
    <!-- Brand proof -->
    <div class="row brands-f">
        <%- partial("_partials/_brands") %>
    </div>

    <!-- Fast and easy deployment -->
    <div class="row fast">
        <h2>
            Fast and easy development
            <div class="border-bottom"></div>
        </h2>
        <div class="small-12 medium-4 columns">
            <svg class="svg-icon">
                <use xlink:href="#easy-to-learn"></use>
            </svg>
            <h3>Easy to learn</h3>
            <p>You can literally start your project within
                minutes, not hours. Use cascade configuration
                to adjust it to your business needs.</p>
        </div>
        <div class="small-12 medium-4 columns">
            <svg class="svg-icon">
                <use xlink:href="#data-security"></use>
            </svg>
            <h3>Data security</h3>
            <p>Handsontable lets you keep all your business
                data on your own servers. Bind any given
                data source by just passing JSON format.</p>
        </div>
        <div class="small-12 medium-4 columns ">
            <svg class="svg-icon">
                <use xlink:href="#multiple-frameworks"></use>
            </svg>
            <h3>Multiple frameworks</h3>
            <p>Handsontable is available in variety of
                technologies including React, Angular,
                Polymer, Vue and as a pure JavaScript code.</p>
        </div>
    </div>
    <!-- F&E row 2 -->

    <div class="row fast">
        <div class="small-12 medium-4 columns">
            <svg class="svg-icon">
                <use xlink:href="#cross-browser"></use>
            </svg>
            <h3>Cross-browser</h3>
            <p>Handsontable supports all the modern
                browsers but also has a backward
                compatibility for IE9+.</p>
        </div>
        <div class="small-12 medium-4 columns">
            <svg class="svg-icon">
                <use xlink:href="#high-performance"></use>
            </svg>
            <h3>High performance</h3>
            <p>Handle hunderds of thousands of cells
                with peak performance. Search, sort or
                filter data without any delay.</p>
        </div>
        <div class="small-12 medium-4 columns">
            <svg class="svg-icon">
                <use xlink:href="#support-included"></use>
            </svg>
            <h3>Support included</h3>
            <p>Each plan includes a free support time
                and access to the developers forum.
                Also, large community is supporting us.</p>
        </div>
    </div>


    <!-- Simple UI -->
    <div class="row simple">
        <h2>
            Simple and familiar UI
            <div class="border-bottom"></div>
        </h2>

        <div class="large-9 columns">
            <div class="plugin-preview">
                <div id="hot"></div>
                <div id="export-buttons">
                    <button id="export-csv" class="btn small ghost-blue">Export to a .csv file</button>
                    <button id="export-string" class="btn small ghost-blue">Export to string (displayed in the
                        browser
                        console)
                    </button>
                </div>
            </div>
        </div>
        <div class="large-3 columns">
            <h5>Live Editor</h5>
            <div class="code-box">
                <ol>
                    <li data-enabled-placeholder>
                        var hotSettings = {
                        data: dataObject,
                        columns: [
                        {
                        data: 'id',
                        type: 'numeric',
                        width: 40
                        },
                        {
                        data: 'flag',
                        renderer: flagRenderer
                        },
                        {
                        data: 'currencyCode',
                        type: 'text'
                        },
                        {
                        data: 'currency',
                        type: 'text'
                        },
                        {
                        data: 'level',
                        type: 'numeric',
                        format: '0.0000'
                        },
                        {
                        data: 'units',
                        type: 'text'
                        },
                        {
                        data: 'asOf',
                        type: 'date',
                        dateFormat: 'MM/DD/YYYY'
                        },
                        {
                        data: 'onedChng',
                        type: 'numeric',
                    </li>
                    <li data-enabled-feature="hidden"></li>
                </ol>
                <section id="code-tab" role="tabpanel" aria-hidden="true" class="content active">
                </section>
            </div>
            <ul>
                <li class="left"><a>Enabled features</a>
                <li class="left"><a>Code</a></li>
                <li class="action-link right">
                    <a href="#" id="jsfiddle-link">
                        <svg class="svg-icon-fiddle">
                            <use xlink:href="#edit_icon"></use>
                        </svg>
                        Edit
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- TESTIMONY -->
    <div class="row testimony testimony-s">
        <div class="large-12 large-centered columns centered">
            <div>
                <blockquote>
                    Handsontable was a perfect fit because it looks and feels just like Excel,
                    a tool teachers are already familiar with.
                </blockquote>
            </div>
            <div>
                <img src="<%= img_path %>testimony/david_wolever.jpg" alt="David Wolever"/>

            </div>
            <div>
                <h5>David Wolever, CTO at Akindi</h5>
            </div>
            <div class="cta">
                <a class="btn medium ghost-blue" href="/faq.html">Learn more</a>
            </div>
        </div>
    </div>
    <!-- ALL FEATURES -->
    <div class="all-features">
        <div class="row">
            <h2>
                All features and plugins
            </h2>

            <div class="large-2 large-offset-2 small-12 columns">
                <h4>Most popular</h4>
                <ul>
                    <li><a href="">Drag-down</a></li>
                    <li><a href="">Copy-paste</a></li>
                    <li><a href="">Undo-redo</a></li>
                    <li><a href="">Sorting</a></li>
                    <li><a href="">Data validation</a></li>
                    <li><a href="">Conditional formatting</a></li>
                    <li><a href="">Keyboard shortcuts</a></li>
                </ul>
            </div>
            <div class="large-2 small-12 columns">
                <h4>Community edition</h4>
                <ul>
                    <li><a href="">Fixed rows / columns</a></li>
                    <li><a href="">Various cell types</a></li>
                    <li><a href="">Context menu</a></li>
                    <li><a href="">Alignment</a></li>
                    <li><a href="">Moving rows / columns</a></li>
                    <li><a href="">Resizing rows / columns</a></li>
                    <li><a href="">Merged cells</a></li>
                    <li><a href="">Comments</a></li>
                    <li><a href="">Context menu</a></li>
                    <li><a href="">Stretching</a></li>
                </ul>
            </div>
            <div class="large-2 small-12 columns">
                <h4>Handsontable Pro</h4>
                <ul>
                    <li><a href="">Filtering</a></li>
                    <li><a href="">Export to file</a></li>
                    <li><a href="">Dropdown menu</a></li>
                    <li><a href="">Nested headers</a></li>
                    <li><a href="">Collapsing columns</a></li>
                    <li><a href="">Hiding rows</a></li>
                    <li><a href="">Hiding columns</a></li>
                    <li><a href="">Trimming rows</a></li>
                    <li><a href="">Column summary</a></li>
                    <li><a href="">Header tooltips</a></li>
                    <li><a href="">Binding rows with headers</a></li>
                    <li><a href="">Formulas</a> <sup>alpha</sup></li>
                    <li><a href="">Gantt Chart </a><sup>beta</sup></li>
                </ul>
            </div>
            <div class="large-2 small-12 columns">
                <h4>Advanced options</h4>
                <ul>
                    <li><a href="">Handling big data</a></li>
                    <li><a href="">Custom renderers</a></li>
                    <li><a href="">Custom buttons</a></li>
                    <li><a href="">Custom borders</a></li>
                    <li><a href="">Custom plugins</a></li>
                </ul>
            </div>
            <div class="large-2 small-12 end columns">
                <h4>Technologies</h4>
                <ul>
                    <li><a href="">ReactJS</a></li>
                    <li><a href="">VueJS</a></li>
                    <li><a href="">AngularJS (1)</a></li>
                    <li><a href="">Angular</a></li>
                    <li><a href="">Polymer</a></li>
                    <li><a href="">Typescript</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- PLANS -->
    <div class="plans float-left">
        <div class="ce-background-green">

            <div class="holder">
                <h1>Handsontable CE</h1>
                <h4>Open Source</h4>
            </div>
            <div class="button-p">
                <a href="#" class="btn medium white">Download</a>
            </div>

        </div>
        <div class="ce-background-blue">
            <div class="holder">
                <h1>Handsontable Pro</h1>
                <h4>Get a free trial</h4>
            </div>
            <div class="button-p">
                <a href="#" class="btn medium white-blue">Try it now</a>
            </div>

        </div>
    </div>
</section>

<script src="/static/js/examples/feature.js"></script>
<script src="/static/js/examples/examples.js"></script>
<script data-jsfiddle>
    var dataObject = [
        {
            id: 1,
            flag: 'EUR',
            currencyCode: 'EUR',
            currency: 'Euro',
            level: 0.9033,
            units: 'EUR / USD',
            asOf: '08/19/2015',
            onedChng: 0.0026
        },
        {
            id: 2,
            flag: 'JPY',
            currencyCode: 'JPY',
            currency: 'Japanese Yen',
            level: 124.3870,
            units: 'JPY / USD',
            asOf: '08/19/2015',
            onedChng: 0.0001
        },
        {
            id: 3,
            flag: 'GBP',
            currencyCode: 'GBP',
            currency: 'Pound Sterling',
            level: 0.6396,
            units: 'GBP / USD',
            asOf: '08/19/2015',
            onedChng: 0.00
        },
        {
            id: 4,
            flag: 'CHF',
            currencyCode: 'CHF',
            currency: 'Swiss Franc',
            level: 0.9775,
            units: 'CHF / USD',
            asOf: '08/19/2015',
            onedChng: 0.0008
        },
        {
            id: 5,
            flag: 'CAD',
            currencyCode: 'CAD',
            currency: 'Canadian Dollar',
            level: 1.3097,
            units: 'CAD / USD',
            asOf: '08/19/2015',
            onedChng: -0.0005
        },
        {
            id: 6,
            flag: 'AUD',
            currencyCode: 'AUD',
            currency: 'Australian Dollar',
            level: 1.3589,
            units: 'AUD / USD',
            asOf: '08/19/2015',
            onedChng: 0.0020
        },
        {
            id: 7,
            flag: 'NZD',
            currencyCode: 'NZD',
            currency: 'New Zealand Dollar',
            level: 1.5218,
            units: 'NZD / USD',
            asOf: '08/19/2015',
            onedChng: -0.0036
        },
        {
            id: 8,
            flag: 'SEK',
            currencyCode: 'SEK',
            currency: 'Swedish Krona',
            level: 8.5280,
            units: 'SEK / USD',
            asOf: '08/19/2015',
            onedChng: 0.0016
        },
        {
            id: 9,
            flag: 'NOK',
            currencyCode: 'NOK',
            currency: 'Norwegian Krone',
            level: 8.2433,
            units: 'NOK / USD',
            asOf: '08/19/2015',
            onedChng: 0.0008
        },
        {
            id: 10,
            flag: 'BRL',
            currencyCode: 'BRL',
            currency: 'Brazilian Real',
            level: 3.4806,
            units: 'BRL / USD',
            asOf: '08/19/2015',
            onedChng: -0.0009
        },
        {
            id: 11,
            flag: 'CNY',
            currencyCode: 'CNY',
            currency: 'Chinese Yuan',
            level: 6.3961,
            units: 'CNY / USD',
            asOf: '08/19/2015',
            onedChng: 0.0004
        },
        {
            id: 12,
            flag: 'RUB',
            currencyCode: 'RUB',
            currency: 'Russian Rouble',
            level: 65.5980,
            units: 'RUB / USD',
            asOf: '08/19/2015',
            onedChng: 0.0059
        },
        {
            id: 13,
            flag: 'INR',
            currencyCode: 'INR',
            currency: 'Indian Rupee',
            level: 65.3724,
            units: 'INR / USD',
            asOf: '08/19/2015',
            onedChng: 0.0026
        },
        {
            id: 14,
            flag: 'TRY',
            currencyCode: 'TRY',
            currency: 'New Turkish Lira',
            level: 2.8689,
            units: 'TRY / USD',
            asOf: '08/19/2015',
            onedChng: 0.0092
        },
        {
            id: 15,
            flag: 'THB',
            currencyCode: 'THB',
            currency: 'Thai Baht',
            level: 35.5029,
            units: 'THB / USD',
            asOf: '08/19/2015',
            onedChng: 0.0044
        },
        {
            id: 16,
            flag: 'IDR',
            currencyCode: 'IDR',
            currency: 'Indonesian Rupiah',
            level: 13.83,
            units: 'IDR / USD',
            asOf: '08/19/2015',
            onedChng: -0.0009
        },
        {
            id: 17,
            flag: 'MYR',
            currencyCode: 'MYR',
            currency: 'Malaysian Ringgit',
            level: 4.0949,
            units: 'MYR / USD',
            asOf: '08/19/2015',
            onedChng: 0.0010
        },
        {
            id: 18,
            flag: 'MXN',
            currencyCode: 'MXN',
            currency: 'Mexican New Peso',
            level: 16.4309,
            units: 'MXN / USD',
            asOf: '08/19/2015',
            onedChng: 0.0017
        },
        {
            id: 19,
            flag: 'ARS',
            currencyCode: 'ARS',
            currency: 'Argentinian Peso',
            level: 9.2534,
            units: 'ARS / USD',
            asOf: '08/19/2015',
            onedChng: 0.0011
        },
        {
            id: 20,
            flag: 'DKK',
            currencyCode: 'DKK',
            currency: 'Danish Krone',
            level: 6.7417,
            units: 'DKK / USD',
            asOf: '08/19/2015',
            onedChng: 0.0025
        },
        {
            id: 21,
            flag: 'ILS',
            currencyCode: 'ILS',
            currency: 'Israeli New Sheqel',
            level: 3.8262,
            units: 'ILS / USD',
            asOf: '08/19/2015',
            onedChng: 0.0084
        },
        {
            id: 22,
            flag: 'PHP',
            currencyCode: 'PHP',
            currency: 'Philippine Peso',
            level: 46.3108,
            units: 'PHP / USD',
            asOf: '08/19/2015',
            onedChng: 0.0012
        }
    ];

    var currencyCodes = ['EUR', 'JPY', 'GBP', 'CHF', 'CAD', 'AUD', 'NZD', 'SEK', 'NOK', 'BRL', 'CNY', 'RUB', 'INR', 'TRY', 'THB', 'IDR', 'MYR', 'MXN', 'ARS', 'DKK', 'ILS', 'PHP'];

    var flagRenderer = function (instance, td, row, col, prop, value, cellProperties) {
        var currencyCode = value;

        while (td.firstChild) {
            td.removeChild(td.firstChild);
        }

        if (currencyCodes.indexOf(currencyCode) > -1) {
            var flagElement = document.createElement('DIV');
            flagElement.className = 'flag ' + currencyCode.toLowerCase();
            td.appendChild(flagElement);

        } else {
            var textNode = document.createTextNode(value === null ? '' : value);
            td.appendChild(textNode);
        }
    };

    var hotElement = document.querySelector('#hot');
    var hotElementContainer = hotElement.parentNode;
    var hotSettings = {
        data: dataObject,
        columns: [
            {
                data: 'id',
                type: 'numeric',
                width: 40
            },
            {
                data: 'flag',
                renderer: flagRenderer
            },
            {
                data: 'currencyCode',
                type: 'text'
            },
            {
                data: 'currency',
                type: 'text'
            },
            {
                data: 'level',
                type: 'numeric',
                format: '0.0000'
            },
            {
                data: 'units',
                type: 'text'
            },
            {
                data: 'asOf',
                type: 'date',
                dateFormat: 'MM/DD/YYYY'
            },
            {
                data: 'onedChng',
                type: 'numeric',
                format: '0.00%'
            }
        ],
        stretchH: 'all',
        width: parseInt(hotElementContainer.offsetWidth, 10),
        autoWrapRow: true,
        height: 420,
        maxRows: 22
    };

    var hot = new Handsontable(hotElement, hotSettings);
</script>


<script src="/static/js/examples/examples_init.js"></script>
<script src="/static/js/examples/example_code_generator.js"></script>
<script src="/static/js/examples/jsfiddleExporter.js"></script>
