<section class="features">
  <div class="row">
    <div class="large-11 large-centered columns">
      <h2 class="headline">
        Built for <strong>Developers</strong><br>
        <small>Handsontable is your scalable spreadsheet solution for creating awesome apps</small>
      </h2>

      <!-- top features -->
      <div class="row top-features">
        <div class="large-11 large-centered columns">
          <div class="row">
            <div class="small-12 medium-4 columns">
              <div class="item easy-start">
                <svg>
                  <use xlink:href="#easy_start"></use>
                </svg>
                <h5>Easy to start</h5>
                <p>Installs in just a minute with speedy setup.</p>
              </div>
            </div>
            <div class="small-12 medium-4 columns">
              <div class="item developer-api">
                <svg>
                  <use xlink:href="#developer_api"></use>
                </svg>
                <h5>Easy to learn</h5>
                <p>Includes comprehensive docs and loads of examples.</p>
              </div>
            </div>
            <div class="small-12 medium-4 columns ">
              <div class="item data-source">
                <svg>
                  <use xlink:href="#data_source"></use>
                </svg>
                <h5>Easy to extend</h5>
                <p>Comes with composite architecture for creating custom plugins.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- general features -->
      <div class="row general-features">
        <div class="large-11 large-centered columns">
          <div class="row">
            <div class="small-12 medium-6 columns">
              <h3>Beyond the grid</h3>
              <p>
                Handsontable is your scalable spreadsheet solution for creating awesome apps. This out-of-the-box solution
                comes with the CLI tool, so you can build out your creation with
                as many plugins as you want. What's more, Handsontable is a blank canvas so you can create your
                own look and feel.
              </p>
              <a class="see-examples" href="https://docs.handsontable.com/pro/tutorial-custom-plugin.html">Create a custom plugin</a>
            </div>
            <div class="small-12 medium-6 columns element-center">
              <img src="<%= img_path %>template/ModFeatures/composite_architecture.png" alt="Handsontable composite architecture"/>
            </div>
          </div>
          <div class="row data-binding">
            <div class="small-12 medium-6 columns element-center">
              <img src="<%= img_path %>template/ModFeatures/github_octocat.svg" alt="GitHub Octocat in a box"/>
            </div>
            <div class="small-12 medium-6 columns">
              <h3>Free and open</h3>
              <p>
                Handsontable is distributed free under the MIT license. Since its first launch on GitHub in 2012, thousands of users
                contributed to its development. It has transformed from a basic tool to an essential data grid
                technology for many industries, including finance, retail, technology and science.
              </p>
              <a class="see-examples" href="https://docs.handsontable.com/tutorial-quick-start.html">Download for free</a>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 columns">
              <h3>Multiple versions</h3>
              <p>
                Handsontable is written in pure JavaScript and is also available with AngularJS directive and Polymer
                components. We're working on adding even more integrations, with front-end frameworks and better
                support for back-end technologies.
              </p>
              <a class="see-examples" href="https://github.com/handsontable/ngHandsontable" target="_blank">ngHandsontable</a>
              <span>/</span>
              <a class="see-examples" href="https://github.com/handsontable/hot-table" target="_blank">hot-table</a>
            </div>
            <div class="small-12 medium-6 columns element-center">
              <img src="<%= img_path %>template/ModFeatures/technologies.svg" alt="Polymer, Open source and Angular logos"/>
            </div>
          </div>
        </div>
      </div>

      <h3 class="headline centered">
        <span>Powerful features</span>
      </h3>

      <!-- all features -->
      <div class="row all-features">
        <div class="small-12 medium-3 columns choose-version">
          <h5>Choose version</h5>
          <ul>
            <li>
              <a href="#!" class="active">
                Handsontable
                <svg>
                  <use xlink:href="#arrow_down_icon"></use>
                </svg>
              </a>
            </li>
            <li><a href="#!" class="pro">Handsontable Pro
                <svg>
                  <use xlink:href="#arrow_down_icon"></use>
                </svg>
              </a></li>
          </ul>
        </div>
        <div id="feature-list" class="small-12 medium-offset-1 medium-8 columns">
          <div class="row">
            <div class="small-12 medium-4 columns feature-item-list">
              <a href="https://docs.handsontable.com/demo-fixing.html" class="feature">Fixing rows/columns </a>
              <a href="https://docs.handsontable.com/demo-stretching.html" class="feature">Stretching table</a>
              <a href="https://docs.handsontable.com/demo-scrolling.html" class="feature">Scrolling</a>
              <a href="https://docs.handsontable.com/demo-sorting.html" class="feature">Sorting data</a>
              <a href="https://docs.handsontable.com/demo-paginating.html" class="feature">Pagination</a>
              <a href="https://docs.handsontable.com/demo-comments.html" class="feature">Comments</a>
              <a href="https://docs.handsontable.com/pro/demo-fixing-bottom.html" class="feature-pro">Fixing bottom rows</a>
              <a href="https://docs.handsontable.com/pro/demo-header-tooltips.html" class="feature-pro">Header tooltips</a>
              <a href="https://docs.handsontable.com/pro/demo-nested-headers.html" class="feature-pro">Nested headers</a>
              <a href="https://docs.handsontable.com/pro/demo-collapsing-columns.html" class="feature-pro">Collapsing columns</a>
            </div>
            <div class="small-12 medium-4 columns feature-item-list">
              <a href="https://docs.handsontable.com/demo-resizing.html" class="feature">Resizing rows/columns</a>
              <a href="https://docs.handsontable.com/demo-formula-support.html" class="feature">Formula support</a>
              <a href="https://docs.handsontable.com/demo-data-validation.html" class="feature">Data validation</a>
              <a href="https://docs.handsontable.com/demo-searching.html" class="feature">Search data</a>
              <a href="https://docs.handsontable.com/demo-drag-down.html" class="feature">Drag down</a>
              <a href="https://docs.handsontable.com/demo-merged-cells.html" class="feature">Merged cells</a>
              <a href="https://docs.handsontable.com/pro/demo-hiding-rows.html" class="feature-pro">Hiding rows</a>
              <a href="https://docs.handsontable.com/pro/demo-hiding-rows.html" class="feature-pro">Hiding columns</a>
              <a href="https://docs.handsontable.com/pro/demo-bind-rows-headers.html" class="feature-pro">Binding rows</a>
              <a href="https://docs.handsontable.com/pro/demo-export-file.html" class="feature-pro">Export to file</a>
            </div>
            <div class="small-12 medium-4 columns feature-item-list">
              <a href="https://docs.handsontable.com/demo-moving.html" class="feature">Moving rows/columns</a>
              <a href="https://docs.handsontable.com/demo-conditional-formatting.html" class="feature">Conditional formatting</a>
              <a href="https://docs.handsontable.com/demo-read-only.html" class="feature">Read-only mode</a>
              <a href="https://docs.handsontable.com/demo-custom-renderers.html" class="feature">Custom rendereres</a>
              <a href="https://docs.handsontable.com/demo-context-menu.html" class="feature">Context menu</a>
              <a href="https://docs.handsontable.com/demo-custom-buttons.html" class="feature">Custom buttons</a>
              <a href="https://docs.handsontable.com/pro/demo-dropdown-menu.html" class="feature-pro">Dropdown menu</a>
              <a href="https://docs.handsontable.com/pro/demo-filtering.html" class="feature-pro">Filter data</a>
              <a href="https://docs.handsontable.com/pro/demo-summary-calculations.html" class="feature-pro">Summary calculations</a>
              <a href="https://docs.handsontable.com/pro/demo-gantt-chart.html" class="feature-pro">Gantt Chart (alpha)</a>
            </div>
          </div>
        </div>
      </div>

      <!-- see plans -->
      <div class="element-center see-plans">
        <h1>
          Get <strong>Pro license</strong><br>
          <small>Stop re-inventing the wheel. Save lots of time by making use<br/>
            of ready-to-go features and community support.
          </small>
        </h1>
        <a href="pricing.html" class="btn large blue">SEE ALL PLANS</a>
      </div>
    </div>
  </div>
</section>
<script src="static/js/features/featuresMenu.js"></script>