<section class="frontpage">
    <div class="row">
        <div class="large-12 large-centered columns">
            <!-- PRODUCT INFO -->
            <div class="row product-info">
                <div class="small-12 medium-5 columns">
                    <h1><strong>JavaScript Spreadsheet</strong><br>library for developers</h1>
                    <h4>The hassle-free, hands-on table solution<br/> for building stunning web applications.</h4>
                    <div>
                        <a id="free-trial-home" href="//my.handsontable.com/sign-up-trial.html" class="btn large green">Download free trial</a>
                    </div>
                </div>
                <div class="small-12 medium-7 columns element-center">
                    <img src="/static/images/template/ModFrontpage/frontpage_macbook.png" alt="Excel-like spreadsheet library for developers"/>
                </div>
            </div>
        </div>
    </div>
    <!-- BRANDS -->
    <div class="light">
        <%- partial("_partials/_brands") %>
    </div>
            <!-- BENEFITS -->
            <div class="row why-handsontable">
                <div class="small-12 medium-6 medium-push-6 columns">
                    <svg role="img" aria-label="titleBuiltOnBlocks descBuiltOnBlocks">
                        <title id="titleBuiltOnBlocks">Built on blocks</title>
                        <desc id="descBuiltOnBlocks">Brick-by-brick structure means you can add what you want and leave out the rest. Custom build</desc>
                        <use xlink:href="#composite_structure"></use>
                    </svg>
                </div>
                <div class="small-12 medium-6 medium-pull-6 columns">
                    <h5>Spreadsheet experience</h5>
                    <p>Handsontable is a JavaScript component providing a familiar spreadsheet experience in a browser.</p>
                    <div class="benefits-testimonial">
                        <img src=" ">
                        <p>„Handsontable had the greatest documentation, and an impressive feature set”<br/>
                            <b>Alain Escaffre, VP at Nuxeo</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row why-handsontable">
                <div class="small-12 medium-6 columns">
                    <svg role="img" aria-label="titleActiveCommunity descActiveCommunity">
                        <title id="titleActiveCommunity">Active community</title>
                        <desc id="descActiveCommunity">Thousands of great developers use this component every day.</desc>
                        <use xlink:href="#active_community"></use>
                    </svg>
                </div>
                <div class="small-12 medium-6 columns">
                    <h5>Powerful features</h5>
                    <p>Handsontable is a JavaScript component providing a familiar spreadsheet experience in a browser.
                        Large companies and startups use Handsontable to build internal business applications which
                        are easy to learn and use.</p>
                </div>
            </div>
            <div class="row why-handsontable">
                <div class="small-12 medium-6 medium-push-6 columns">
                    <svg role="img" aria-label="titleActiveCommunity descActiveCommunity">
                        <title id="titleActiveCommunity">Active community</title>
                        <desc id="descActiveCommunity">Thousands of great developers use this component every day.</desc>
                        <use xlink:href="#active_community"></use>
                    </svg>
                </div>
                <div class="small-12 medium-6 medium-pull-6 columns">
                    <h5>Powerful features</h5>
                    <p>Handsontable is a JavaScript component providing a familiar spreadsheet experience in a browser.
                Large companies and startups use Handsontable to build internal business applications which
                are easy to learn and use.</p>
             </div>
            </div>
    <!-- WHAT CUSTOMERS SAY?-->
    <div class="gray-stripe testimony">
        <div class="row">
            <h2>What our customers say</h2>
            Various industries benefit from using Handsontable in core component of their business apps.</p>
            <div class="large-4 columns">
                <p>„Handsontable was a perfect fit because it looks and feels just like Excel, a tool teachers are already
                    familiar with.”</p>
                <img src="">
                <p><b>David Wolever</b><br/>
                    Ontario, Canada
                </p>
            </div>
            <div class="large-4 columns">
                <p>„If you are looking for a responsive, web based component that simulates what MS Excel does, there
                    is no better component than Handsontable.”</p>
                <img src="">
                <p><b>Rafael Thofehrn Castro</b><br/>
                    Curitiba, Brasil
                </p>
            </div>
            <div class="large-4 columns">
                <p>There's no need to reinvent the wheel, especially when someone provides an extremely
                    well-engineered wheel for you to use.</p>
                <img src="">
                <p><b>Mikko Järvenpää</b><br/>
                    San Francisco, United States
                </p>
            </div>
        </div>
    </div>
    <!-- OPEN SOURCE AT HEART -->
    <div class="connect-data">
        <h2>Open source at heart</h2>
        <p>We are proud to be a part of community actively contributing to the development of Handsontable.</p>
        <div class="row">
            <div class="large-6 columns">
                <img src="">
            </div>
            <div class="large-6 columns">
                <p>Handsontable was first published on GitHub in 2012 and since it gained a popularity among developers
                    interested in enriching their apps with spreadsheet capabilities.</p>
                <p>We are proud to continue this work during which we have learned more than anyone of us could
                    expected.</p>
                <a href="">Visit GitHub repository</a>
            </div>
        </div>
    </div>
    <!--READY TO GET STRTED-->
    <div class="row">
        <h2>Ready to get started</h2>
        <div class="large-12 columns">
            <a href="/download.html" class="btn large green">Download</a>
            <a href="//docs.handsontable.com/pro/demo-scrolling.html" class="btn large blue">See examples</a>
        </div>
    </div>
</section>