<section class="frontpage">
    <div class="row">
        <div class="large-11 large-centered columns">

            <!-- PRODUCT INFO -->
            <div class="row product-info">
                <div class="small-12 medium-5 columns">
                    <h1><strong>Excel-like spreadsheet</strong><br>library for developers</h1>
                    <h4>Use lightweight and composite spreadsheet<br>to build stunning web applications.</h4>
                    <div>
                        <a href="pricing.html" class="btn large blue">BUY</a>
                        <a href="pricing.html" class="btn large ghost-blue">LEARN MORE</a>
                    </div>
                </div>
                <div class="small-12 medium-7 columns element-center">
                    <img src="static/images/template/ModFrontpage/frontpage_macbook.png" alt="Handsontable: Excel-like spreadsheet library for developers"/>
                </div>
            </div>

            <!-- WHY HANDSONTABLE -->
            <h3 class="headline centered">
                <span>Why Handsontable?</span>
            </h3>
            <div class="row why-handsontable">
                <div class="small-12 medium-3 columns">
                    <svg><use xlink:href="#developers_friendly"></use></svg>
                    <h5>Developers friendly</h5>
                    <p>Start working in minutes.<br>Created by developers<br>for developers.</p>
                    <a href="">Learn more</a>
                </div>

                <div class="small-12 medium-3 columns">
                    <svg><use xlink:href="#composite_structure"></use></svg>
                    <h5>Composite structure</h5>
                    <p>Create your own build<br>using CLI. Add, remove<br>or add custom plugins.</p>
                    <a href="">Learn more</a>
                </div>

                <div class="small-12 medium-3 columns">
                    <svg><use xlink:href="#powerful_features"></use></svg>
                    <h5>Powerful features</h5>
                    <p>A lot of free plugins<br>and even more in the<br>PRO edition.</p>
                    <a href="">Learn more</a>
                </div>

                <div class="small-12 medium-3 columns">
                    <svg><use xlink:href="#active_community"></use></svg>
                    <h5>Active community</h5>
                    <p>Got stuck? We’ve got<br>you covered. Ask on the web<br>or hire our consultancy.</p>
                    <a href="">Learn more</a>
                </div>
            </div>
        </div>
    </div>

    <!-- TESTIMONY -->
    <div class="gray-stripe testimony">
        <div class="row">
            <div class="large-11 large-centered columns">
                <div class="row">
                    <div class="medium-1 columns element-center">
                        <img src="<%= img_path %>testimony/mike_preuss.jpg" alt="Mike Preuss" />
                    </div>
                    <div class="medium-10 columns">
                        <blockquote>
                            „Our users love how easy it is to enter and customize their metrics”
                        </blockquote>
                        <h5><strong>Mike Preuss</strong> - CEO at <a href="https://visible.vc/" target="_blank">Visible</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONNECT DATA -->
    <div class="large-11 large-centered columns connect-data">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <img class="small-offset-0 large-offset-2" src="static/images/template/ModFrontpage/conect_data.gif" alt="Handsontable: Connect your data now"/>
            </div>
            <div class="small-12 medium-6 columns">
                <h1>Connect your data <strong>now</strong></h1>
                <h4>Bind Handsontable to any given data source<br>and right after that learn how to make use of dozen<br>of available features and integrations.</h4>
                <div>
                    <a href="pricing.html" class="btn large blue">GET STARTED</a>
                </div>
            </div>

        </div>
    </div>

    <!-- BRANDS -->
    <%- partial("_partials/_brands") %>
</section>