<section class="frontpage">
    <div class="row">
        <div class="large-12 large-centered columns">

            <!-- PRODUCT INFO -->
            <div class="row product-info">
                <div class="small-12 medium-5 columns">
                    <h1><strong>The Excel-like spreadsheet</strong><br>library for developers</h1>
                    <h4>The hassle-free, hands-on table solution<br/> for building stunning web applications.</h4>
                    <div>
                        <a href="/pricing.html" class="btn large blue">BUY NOW</a>
                        <a href="/features.html" class="btn large ghost-blue">LEARN MORE</a>
                    </div>
                </div>
                <div class="small-12 medium-7 columns element-center">
                    <img src="/static/images/template/ModFrontpage/frontpage_macbook.png" alt="Excel-like spreadsheet library for developers"/>
                </div>
            </div>

            <!-- WHY HANDSONTABLE -->
            <h3 class="headline centered">
                <span>Why Handsontable?</span>
            </h3>
            <div class="row why-handsontable">
                <div class="small-12 medium-3 columns">
                    <svg><use xlink:href="#developers_friendly"></use></svg>
                    <h5>Developer friendly</h5>
                    <p>Created by developers <br/>for developers. <br/>Get started in minutes.</p>
                    <a href="//docs.handsontable.com/tutorial-quick-start.html">Quick start</a>
                </div>

                <div class="small-12 medium-3 columns">
                    <svg><use xlink:href="#composite_structure"></use></svg>
                    <h5>Built on blocks</h5>
                    <p>Our brick-by-brick structure <br/>means you can add what you want </br>and leave out the rest.</p>
                    <a href="//docs.handsontable.com/tutorial-custom-build.html">Custom build</a>
                </div>

                <div class="small-12 medium-3 columns">
                    <svg><use xlink:href="#powerful_features"></use></svg>
                    <h5>Powerful features</h5>
                    <p>Take control of <br/>your data with our <br/>intuitive custom features.</p>
                    <a href="/features.html">See features</a>
                </div>

                <div class="small-12 medium-3 columns">
                    <svg><use xlink:href="#active_community"></use></svg>
                    <h5>Active community</h5>
                    <p>Thousands of great<br/> developers use this <br/>component every day.</p>
                    <a href="https://forum.handsontable.com">Join us</a>
                </div>
            </div>
        </div>
    </div>

    <!-- TESTIMONY -->
    <div class="gray-stripe testimony">
        <div class="row">
            <div class="large-11 large-centered columns">
                <div class="row">
                    <div class="medium-1 columns element-center">
                        <img src="<%= img_path %>testimony/mike_preuss.jpg" alt="Mike Preuss" />
                    </div>
                    <div class="medium-10 columns">
                        <blockquote>
                            „Our users love how easy it is to enter and customize their metrics”
                        </blockquote>
                        <h5><strong>Mike Preuss</strong> - CEO at <a href="https://visible.vc/" target="_blank">Visible</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONNECT DATA -->
    <div class="large-11 large-centered columns connect-data">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <img class="small-offset-0 large-offset-2" src="/static/images/template/ModFrontpage/conect_data.gif" alt="Handsontable: Connect your data now"/>
            </div>
            <div class="small-12 medium-6 columns">
                <h1>5-minute <strong>jump start</strong></h1>
                <h4>
                    Bind Handsontable to any data source and create <br/>plugins in a flash.
                    Get features and integrations <br/>up and running in 5 minutes flat.
                </h4>
                <div>
                    <a href="//docs.handsontable.com/tutorial-quick-start.html" class="btn large blue">GET STARTED</a>
                </div>
            </div>

        </div>
    </div>

    <!-- BRANDS -->
    <%- partial("_partials/_brands") %>
</section>