<section class="knowledge-base">
    <div class="row">
        <div class="large-12 large-centered columns">
            <h2 class="divider">Knowledge Base</h2>
            <div class="row">
                <div class="small-12 medium-5 columns">
                    <!-- ABOUT PRODUCTS -->
                    <h3>About products</h3>
                    <div class="section">
                        <label> What is Handsontable?</label>
                        <div class="grey-border">
                                <p>Handsontable is a spreadsheet component for developers.
                                    It is written in pure JavaScript and not constrained by any external framework.</p>
                        </div>
                        <label>What is the difference between Handsontable CE and Pro?</label>
                            <div class="grey-border">
                                <p>Handsontable Community Edition (CE) is a free software released under the MIT license.
                                    Handsontable Pro comes with a commercial license and contains additional features such as filters.
                                    It has free maintenance and support plan included for limited time, depending on the type of the license.
                                    <a href="/features.html">Here</a> you can find a comparison of features available for each Handsontable version.
                                </p>
                            </div>
                        <label>Can I use Handsontable CE to build commercial products?</label>
                        <div class="grey-border">
                                <p>Of course you can. Handsontable CE is released under the MIT license which
                                    allows you to use it both for commercial and noncommercial products.
                                    <a href="https://choosealicense.com/licenses/mit/" target="_blank">Read more</a>
                                    about the MIT license.
                                </p>
                        </div>
                        <label>Which browsers do you support?</label>
                            <div class="grey-border">
                                <p>We support all the modern browsers including Chrome, Firefox, Opera, Safari,
                                        Internet Explorer 9-11 and Edge.</p>
                            </div>
                        <label>Which devices do you support?</label>
                            <div class="grey-border">
                                <p>Handsontable should work on all desktop devices.
                                        On mobile devices you can only display the grid, edit data and navigate across
                                        the spreadsheet.</p>
                            </div>
                        <label>Which frameworks do you support?</label>
                            <div class="grey-border">
                                <p>Handsontable is written in pure JavaScript but is also available for React,
                                        Angular, and Vue. There are also TypeScript definitions available for your
                                        strongly-typed code. We will be adding more wrappers in the future.
                                    </p>
                            </div>
                    </div>
                    <!--TECHNICAL SUPPORT -->
                    <h3>Technical support</h3>
                    <div class="section">
                        <label>How do I report an issue?</label>
                        <div class="grey-border">
                                <p>Please, <a href="/support.html">send us</a> demo via one of the services
                                    listed here: <a href="https://jsfiddle.net/" target="blank">JSFiddle</a>,
                                    <a href="http://jsbin.com/" target="blank">JSBin</a> or <a href="http://codepen.io/" target="blank">CodePen</a>
                                    in a shortened version (only Handsontable instances and configuration of the table).
                                    Also describe an error and attach image or video, if necessary.</p>
                                <p>
                                    If it is an installation error please send us your email that was used for
                                    purchasing a license (in case of PRO version), OS/Browser settings and node, bower
                                    or npm version if you used npm or bower for installation.
                                </p>
                        </div>
                        <label>Do I get support with the new license?</label>
                        <div class="grey-border">
                        <p>
                            With the purchase of a new license you get a free maintenance and support for limited time
                            (depending on the type of the license), which gives you:</p>
                            <p>
                            <ul>
                                <li>Major, minor and patch releases,</li>
                                <li>1 hour of support via email (it does not include coding),</li>
                                <li>Basic forum support,</li>
                                <li>Code review and guidance,</li>
                                <li>Initial response in 48 hours within Handsoncode working hours: 8:00 am - 5:00 pm CET, Monday to Friday (local time in Poland)</li>
                            </ul>
                            </p>
                        </div>
                        <label>What do I get with extended maintenance and support plan?</label>
                            <div class="grey-border">
                                <p>Extended maintenance and support is an extra service which can be purchased
                                    additionally. It gives you:</p>
                                <p><ul>
                                     <li>Major, minor and patch releases,</li>
                                     <li>10 hours of support via email, which includes coding,</li>
                                     <li>Basic forum support,</li>
                                     <li>Code review and guidance,</li>
                                     <li>Support from core developers,</li>
                                     <li>Emergency hot fixes,</li>
                                     <li>Initial response in 12 hours within Handsoncode working hours: 8:00 am -
                                         5:00 pm CET, Monday to Friday (local time in Poland).</li>
                                 </ul>
                                </p>
                            </div>
                        <label>Can I call you?</label>
                            <div class="grey-border">
                                <p>We offer phone calls within the Extended Support and Maintenance plan and Enterprise
                                License (regardless of the support plan). For all other options this service
                                is paid additionally.</p>
                            </div>
                        <label>How do I download and install the code of Handsontable?</label>
                            <div class="grey-border">
                                <p>Log in to your account on <a href="https://my.handsontable.com/">my.handsontable.com
                                    </a> using credentials we are sending in an email after the registration or purchase.
                                </p>
                                <p>After logging in, move to Install tab.</p>
                                <p><a href="/static/images/myHot/my-hot-dash-L.png"><img src="/static/images/myHot/my-hot-dash.png"></a></p>
                                <p>In the Install tab you will find all the installation options.</p>
                                <p><a href="/static/images/myHot/my-hot-dash-inst-L.png"><img src="/static/images/myHot/my-hot-dash-inst.png"></a></p>
                            </div>
                        <label>Do you offer professional consulting on demand?</label>
                            <div class="grey-border">
                                <p>Yes, we do. Our services include building apps from scratch, integrating Handsontable with existing solutions,
                                    optimizing the code and making MVPs and Proofs of Concepts. Please <a href="/support.html"> send us</a>
                                    the specification brief of your project. After receiving all the details, we will schedule
                                    a call to determine all the details.
                                </p>
                            </div>

                        <label>What is your hourly rate?</label>
                            <div class="grey-border">
                                <p>The price depends on the complexity of the project and the
                                    development service but our regular hourly rate is $70.
                                    It might be changed in the course of time.
                                </p>
                            </div>
                    </div>
                    <!--YOUR ACCOUNT-->
                    <h3>Your account</h3>
                    <div class="section">
                        <label>Where do I change my password?</label>
                            <div class="grey-border">
                                <p>In order to change your password you need to sign in to your account.</p>
                                <p><a href="/static/images/myHot/my-hot-dash-L.png"><img src="/static/images/myHot/my-hot-dash.png"></a></p>
                                <p>After clicking in My account (right top corner), you will find a form to change your password.</p>
                                <p><a href="/static/images/myHot/KB-Your-Account-1_2_L.png"><img src="/static/images/myHot/KB-Your-Account-1_2.png"></a></p>
                            </div>
                        <label>How do I change my email address?</label>
                            <div class="grey-border">
                                <p>Please <a href="/contact.html">inform us</a> that you want to change your
                                        email address. If you bought the license using the wrong address, contact us
                                        as well, we'll be happy to help.
                                 </p>
                            </div>
                        <label>How to transfer my license to another account?</label>
                            <div class="grey-border">
                                <p>If you want to transfer your license, please contact our
                                    <a href="//handsontable.com/contact.html?category=technical_support">Support Team</a>.
                                </p>
                            </div>
                        <label>How to remove my account?</label>
                            <div class="grey-border">
                                <p>In order to remove the account please log in and click on My account (right top corner).</p>
                                <p><a href="/static/images/myHot/my-hot-dash-L.png"><img src="/static/images/myHot/my-hot-dash.png"></a></p>
                                <p><a href="/static/images/myHot/KB-Your-Account-4_1_L.png"><img src="/static/images/myHot/KB-Your-Account-4_1.png"></a></p>
                                <p>Alternatively, you can contact our <a href="/support.html">Support Team</a>.
                                         Please keep in mind that this action will make you lose an accessto
                                        your license.</p>
                            </div>
                    </div>
                    <!--RENEWALS-->
                    <h3>Renewals</h3>
                    <div class="section">
                        <label>How do you define a developer?</label>
                            <div class="grey-border">
                                <p>A developer is every person in your organization working directly with
                                    Handsontable source code. That includes implementing, integrating or changing
                                    the code.</p>
                            </div>
                        <label>What is included in the license?</label>
                            <div class="grey-border">
                                <p>Handsontable Pro license grants you a nonexclusive, lifelong right to install and
                                    use the software. It comes with following benefits:</p>
                                <p>
                                <ul>
                                      <li>all Pro and Free features,</li>
                                      <li>the right to edit the source code,</li>
                                      <li>free maintenance and support plan for limited time (depending on the type of license),</li>
                                      <li>major, minor and patch releases,</li>
                                      <li>unlimited projects, websites and apps, including Saas, excluding OEM.</li>
                                  </ul>
                                </p>
                            </div>
                        <label>How many licenses should I buy?</label>
                            <div class="grey-border">
                                <p><span>The number of licenses should be equal to the number of developers working
                                        directly with Handsontable simultaneously. Licenses are not assigned
                                        to a particular person but to each seat.</span></p>
                            </div>
                        <label>May I use the license for multiple projects?</label>
                            <div class="grey-border">
                                <p><span>Yes, each license allows you to use the code on unlimited amount of domains,
                                        servers or projects. What is more, it does not depend
                                        on whether it is a test or production environment.</span></p>
                            </div>
                        <label>Is it required to renew the support?</label>
                            <div class="grey-border">
                                <p><span>No, it is optional. All of the licenses are perpetual and grant you a right to
                                        use them as long as you want. However, if you want to get updates and support
                                        after your maintenance plan expires, you need to renew it.</span></p>
                            </div>
                        <label>How can I renew the support?</label>
                            <div class="grey-border">
                                <p>You can renew the support by yourself in
                                    <a href="https://my.handsontable.com/sign-up.html">my.handsontable.com</a>
                                    account (credit card payment, subscription).</p>
                                <p>1. After logging into your account, click <b>Proceed with renewal</b>.</p>
                                <p><a href="/static/images/myHot/KB-Renewals-2_1_L.png">
                                        <img src="/static/images/myHot/KB-Renewals-2_1.png"></a></p>
                                <p>2. Choose the type of the renewal. You can pick Basic or Extended Support according
                                    to your needs. Click <b>Proceed to Checkout</b> button.</p>
                                <p><a href="/static/images/myHot/KB-Renewals-2_2_L.png">
                                        <img src="/static/images/myHot/KB-Renewals-2_2.png"></a></p>
                                <p>3. You will be transferred to payment gateway (FastSpring) where you will be able
                                    to finish the purchase process. Alternatively, if you do not want to choose credit
                                    card payment and subscription mode, please<a href="/contact.html"> contact us</a>.
                                </p>
                            </div>
                        <label>Can I change the number of developers under a license?</label>
                            <div class="grey-border">
                                <p>Sure, you can do that but not automatically.
                                    Our <a href="/contact.html">Sales Team</a> will help you adjust the number of
                                    seats to your current needs.</p>
                            </div>
                    </div>
                </div>
                <div class="small-12 medium-5 columns">
                    <!--PURCHASING-->
                    <h3>Purchasing</h3>
                    <div class="section">
                        <label>Who stands behind this product?</label>
                            <div class="grey-border">
                                <p>Both license and support are provided by: <br/>
                                    Handsoncode sp. z o.o.<br/>
                                    Aleja Zwycięstwa 96/98 <br/>
                                    81-451 Gdynia, Poland <br/>
                                    VAT EU: PL5862294002</p>
                            </div>
                        <label>Can I get an official quote?</label>
                            <div class="grey-border">
                                <p>Can I get an official quote? Yes. In order to receive it contact the
                                    <a href="/contact.html">Sales Team</a>.</p>
                            </div>
                        <label>Can I buy a license on someone's behalf?</label>
                            <div class="grey-border">
                                <p>If you are authorized to buy the license feel free to do so. Please be sure to fill
                                    in all necessary data to get a proper invoice. Also, please hand on login details
                                    of <a href="https://my.handsontable.com/sign-up.html">my.handsontable.com</a>
                                    to its owner after the purchase.</p>
                            </div>
                        <label>Which payment methods do you accept?</label>
                            <div class="grey-border">
                                <p>You can buy a license through our service provider, the FastSpring company
                                    using your credit card (Visa, MasterCard, Amex, Discover and JCB) or PayPal
                                    account. If you want to send us the money via bank wire transfer,please
                                    contact our<a href="/contact.html"> Sales Team</a>. We do not accept checks.</p>
                            </div>
                        <label>What currencies do you accept?</label>
                            <div class="grey-border">
                                <p>For bank wire transfer/PayPal: USD, EUR, GBP, PLN. <br/>
                                    For credit card, PayPal (via FastSpring): USD, EUR, GBP, AUD, CAD, CHF, JPY, PLN.</p>
                            </div>
                        <label>Do you offer discounts?</label>
                            <div class="grey-border">
                                <p>Yes, we offer following types of discounts:</p>
                                <p><b>Volume discounts</b></p>
                                <p>The discount depends on how many license do you buy in a single transaction:</p>
                                <p>
                                    <ul>
                                        <li>5-9 - 10%</li>
                                        <li>10 - 15%</li>
                                        <li>10+ - contact us</li>
                                    </ul>
                                </p>
                                <p><b>Startup Discount (50%)</b></p>
                                <p>We know how it is to be an underdog, so we will be more than happy to help. To apply
                                    for 50% discount you will need to meet a few requirements:</p>
                                <p>
                                    <ul>
                                        <li>Your startup must be privately held,</li>
                                        <li>You need to have your very own, public website,</li>
                                        <li>Your startup cannot exist for more than 3 years.</li>
                                    </ul>
                                </p>
                                <p>If only you meet the requirements feel free to contact the Sales
                                    Team to acquire a new license for your next big thing!</p>
                                <p><b>Student License</b></p>
                                <p>If you want to use Handsontable in for your education project or a private side-project,
                                    we would love to give you an access to Handsontable free of charge. Your project might
                                    be commercial as long as it does not require you to start your own company.
                                    Please contact us so we can talk this through.</p>
                                <p><b>Teacher License</b></p>
                                <p>If you are going to use Handsontable in your course class or for training purposes
                                    then Handsontable is free of charge. Please contact us, tell us more about
                                    you and we will be more than happy to assist you.
                                </p>
                            </div>
                        <label>Do you collect credit card information?</label>
                            <div class="grey-border">
                                <p>We do not save nor process your credit card details. Our payment gateway
                                        operator, FastSpring, does it for us.</p>
                            </div>
                        <label>Does the price include tax?</label>
                            <div class="grey-border">
                                <p>Tax is calculated accordingly to the law of a country or countries community
                                    chosen by buyer in a purchase form, and all the prices are net.</p>
                            </div>
                        <label>How can I get an invoice for my purchase?</label>
                            <div class="grey-border">
                                <p>Depending on how you bought the license you can either receive an invoice automatically
                                    from FastSpring (website payment service provider),
                                    or you will receive it from our <a href="/contact.html"> Sales Team</a>
                                    (if you ordered the license directly from us).
                                 </p>
                            </div>
                        <label>I didn’t receive the confirmation of the purchase.</label>
                            <div class="grey-border">
                                <p>After purchase you should receive an email with a confirmation and an invoice.
                                    If you haven't received it, please check your spam folder. In case it is not there,
                                    please contact our <a href="/contact.html"> Sales Team</a>.
                                </p>
                            </div>
                        <label>Do you offer refunds?</label>
                            <div class="grey-border">
                                <p>We offer a quality pre-sale experience and this is why we provide a trial version,
                                    which allows you to evaluate the product for 30 days. Before buying a license please make
                                    sure it meets your needs, as we don't offer a refund once the purchase is made.
                                </p>
                            </div>
                    </div>
                    <!--LICENSING-->
                    <h3>Licensing</h3>
                    <div class="section">
                        <label>How do you define a developer?</label>
                            <div class="grey-border">
                                <p>A developer is every person in your organization working directly with Handsontable
                                    source code. That includes implementing, integrating or changing the code.</p>
                            </div>
                        <label>What is included in the license?</label>
                            <div class="grey-border">
                                <p>Handsontable Pro license grants you a nonexclusive,
                                    lifelong right to install and use the software. It comes with following benefits:
                                </p>
                                <p>
                                  <ul>
                                      <li>all Pro and Free features,</li>
                                      <li>the right to edit the source code,</li>
                                      <li>free maintenance and support plan for limited time (depending on the type of license),</li>
                                      <li>major, minor and patch releases,</li>
                                      <li>unlimited projects, websites and apps, including Saas, excluding OEM.</li>
                                  </ul>
                                </p>
                            </div>
                        <label>How many licenses should I buy?</label>
                            <div class="grey-border">
                                <p>The number of licenses should be equal to the number of developers working directly
                                    with Handsontable simultaneously. Licenses are not assigned
                                    to a particular person but to each seat.</p>
                            </div>
                        <label>May I use the license for multiple projects?</label>
                            <div class="grey-border">
                                <p>Yes, each license allows you to use the code on unlimited amount of domains,
                                    servers or projects. What is more, it does not depend on whether
                                    it is a test or production environment.</p>
                            </div>
                        <label>Can I use the software after the support expires?</label>
                            <div class="grey-border">
                                <p>Yes, you can because the license is perpetual. Although if you want to get updates and support, you have to renew the support plan.</p>
                            </div>
                        <label>What is the difference between Developer and Enterprise license?</label>
                            <div class="grey-border">
                                <p>Developer license is intended for a single developer, whereas Enterprise
                                    license covers unlimited number of developers who work with Handsontable
                                    PRO in unlimited number of projects, including SaaS, excluding OEM.</p>
                            </div>
                        <label>What is an OEM license?</label>
                            <div class="grey-border">
                                <p>OEM terms and conditions refer to projects which include third party installations.
                                    If your product will be installed on End User physical machines, then
                                    the additional OEM license will be required. As each OEM project is different,
                                    for pricing of the license please contact the
                                    <a href="/contact.html">Sales Team.</a></p>
                            </div>
                    </div>
                    <!--RESELLERS-->
                    <h3>Resellers</h3>
                    <div class="section">
                        <label>Do you sell your products through resellers?</label>
                            <div class="grey-border">
                                <p>Yes, we cooperate with resellers from all over the world, offering additional perks.
                                    If you are interested in partnership, please do not hesitate to
                                    <a href="/contact.html">contact us.</a></p>
                            </div>
                        <label>How to become a Handsontable Pro certified reseller?</label>
                            <div class="grey-border">
                                <p>In order to become our certified reseller, please
                                    <a href="/contact.html">contact us</a> to get more
                                    information to begin the onboarding process.</p>
                            </div>
                        <label>Do you offer reseller discounts?</label>
                            <div class="grey-border">
                                <p>Yes, we do. To get more information, please
                                    <a href="/contact.html"> contact us</a> here.</p>
                            </div>
                        <label>Where can I find the list of your certified resellers?</label>
                          <div class="grey-border">
                                <p><span>The list of certified resellers is available <a href="/resellers.html">here</a>.</span></p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="row">
            <div class="large-12 large-centered columns">
                <h2 class="headline">Can’t find what you are looking for?</h2>
                <a href="/contact.html" class="btn large white-blue">Get in touch</a>
            </div>
        </div>
    </div>
</section>