<section class="labs">
    <!-- BRANDING HEADER -->
    <div class="header-labs">
        <div class="row">
            <div class="large-12 element-center columns">
                <p class="experimental">Experimental</p>
                <h1><strong>Excel to handsontable</strong></h1>
                <span>Create a JavaScript spreadsheet from a file</span>
            </div>
        </div>
    </div>
    <!-- UPLOAD -->
    <div class="row uploader">
        <div class="large-12 element-center columns">
            <form class="box">
                <div class="upload">
                    <svg class="svg">
                        <use xlink:href="#upload"></use>
                    </svg>
                    <h3>Drop your File here</h3>
                    <p>or</p>
                    <a href="" class="btn large blue">Select a file</a>
                    <p>XLSX, XLS, CSV. <b>Max. 2MB</b></p>
                </div>
            </form>
        </div>
    </div>
    <!-- SAMPLE SPREADSHEETS-->
    <div class="row spreadsheet-sample">
        <h2>
            Try sample spreadsheets
            <div class="border-bottom"></div>
        </h2>
            <div class="large-2 columns">
                <a href="">
                    <div class="gray">
                        <h5>Simple timesheet</h5>
                    </div>
                </a>
            </div>
            <div class="large-2 columns">
                <a href="">
                    <div class="blue">
                        <h5>Student budget</h5>
                    </div>
                </a>
            </div>
            <div class="large-2 columns">
                <a href="">
                    <div class="navy">
                        <h5>Brand launch</h5>
                    </div>
                </a>
            </div>
            <div class="large-2 columns">
                <a href="">
                    <div class="green">
                        <h5>Simple timesheet</h5>
                    </div>
                </a>
            </div>
            <div class="large-2 columns">
                <a href="">
                    <div class="yellow">
                        <h5>Simple timesheet</h5>
                    </div>
                </a>
            </div>
            <div class="large-2 columns">
                <a href="">
                    <div class="red">
                        <h5>Simple timesheet</h5>
                    </div>
                </a>
            </div>
    </div>

    <!-- BOTTOM SECTION SIGN UP  -->

    <div class="row extras">
        <div class="large-6 columns">
            <h3>About this app</h3>
            <p>This service allows you to create a Handsontable instance and its configuration just by uploading an
                XLSX/CSV file.
                Note that this parser is not included in Handsontable itself. We use a small microservice on the
                back-end side to parse and serialize
                your file and then turn it into a working instance of Handsontable. Note that at this stage
                we can display only formulas, values, and styles of your XLSX file.</p>

            <p>We treat it as an experimental playground
                for developers and some curious end-users. Leave a comment and let us know what you think!</p>

            <p><a href="/blog">Read a blog post</a> about it to learn more.</p>
        </div>
        <div class="large-6 columns">
            <div class="subscribe-form">
                <h3>Subscribe to updates</h3>

                <!-- BEGIN MAIL CHIMP SIGN UP FORM -->
                <div id="mc_embed_signup">
                    <form action="//handsontable.us9.list-manage.com/subscribe/post?u=47073b08d03ebee16188c1687&amp;id=0a640d7654" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn large ghost-blue">
                            </div>
                            <div id="mce-responses">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <span>We never spam. Opt-out any time.</span>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_47073b08d03ebee16188c1687_0a640d7654" tabindex="-1" value=""></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>(function ($) {
                        window.fnames = new Array();
                        window.ftypes = new Array();
                        fnames[0] = 'EMAIL';
                        ftypes[0] = 'email';
                    }(jQuery));
                    var $mcj = jQuery.noConflict(true);</script>

                <!--END SIGN UP-->
            </div>
        </div>
    </div>
    <div class="row comments" id="comments">
        <div class="large-8 medium-12 large-centered columns">
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = handsontable.com;
                    this.page.identifier = handsontable;
                };
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//handsontable.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                    comments powered by Disqus.</a></noscript>
        </div>
    </div>
</section>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56b33be61739fd7f" async="async"></script>
<script id="dsq-count-scr" src="//handsontable.disqus.com/count.js" async></script>
<script>hljs.initHighlightingOnLoad();</script>