<section class="pricing">
    <div class="row">
        <div class="small-12 large-centered columns">
            <h2 class="headline">
                Commercial <strong>licenses</strong><br>
                <small>
                    We're happy to help, contact us at <a href="mailto:sales@handsontable.com">sales@handsontable.com</a>
                </small>

                <p class="currency-control">
                    <span>Change currency:</span>
                    <a href="/pricing.html?currency=USD" data-currency="USD">USD</a>
                    <a href="/pricing.html?currency=EUR" data-currency="EUR">EUR</a>
                    <a href="/pricing.html?currency=GBP" data-currency="GBP">GBP</a>
                    <a href="/pricing.html?currency=CAD" data-currency="CAD">CAD</a>
                    <a href="/pricing.html?currency=JPY" data-currency="JPY">JPY</a>
                </p>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 columns">
            <div class="pricing-plan">
                <h4>Single Developer</h4>
                <div class="price">$790</div>
                <div class="extended-support">
                    <form method="POST" data-product-type="single-developer" action="https://sites.fastspring.com/handsontable/instant/developer-with-extended-support">
                        <input type="hidden" name="quantity" value="1"/>

                        <input id="extended_1" name="extended_support" type="checkbox" checked/>
                        <label for="extended_1">
                            <svg class="checkbox">
                                <use xlink:href="#checkbox_icon"></use>
                            </svg>
                            <svg class="checkbox checked">
                                <use xlink:href="#checkbox_checked_icon"></use>
                            </svg>
                            <span>Include Extended Support and save <strong class="saves">$420</strong></span>
                        </label>
                    </form>
                    <div class="tooltip-btn tooltip-top">i
                        <div class="tooltip-inner">
                            Regular price is <span class="support-developer-price">$720</span>/developer.
                            It includes 10 hours of support
                            and access to major releases.
                            <div class="tooltip-angle">
                                <div class="tooltip-angle-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>Single developer</li>
                    <li>Unlimited servers</li>
                    <li>Unlimited SaaS websites</li>
                    <li>Source code included</li>
                    <li>Maintenance and support</li>
                </ul>
                <a data-product-type="single-developer" href="#" class="btn large blue">Buy now</a>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="recommend-badge">Recommended</div>
            <div class="pricing-plan blue">
                <h4>5 Developers</h4>
                <div class="price">$3705</div>
                <div class="extended-support">
                    <form method="POST" data-product-type="5-developers" action="https://sites.fastspring.com/handsontable/instant/developer-with-extended-support">
                        <input type="hidden" name="quantity" value="5"/>

                        <input id="extended_5" name="extended_support" type="checkbox" checked/>
                        <label for="extended_5">
                            <svg class="checkbox">
                                <use xlink:href="#checkbox_icon"></use>
                            </svg>
                            <svg class="checkbox checked">
                                <use xlink:href="#checkbox_checked_icon"></use>
                            </svg>
                            <span>Include Extended Support and save <strong class="saves">$2100</strong></span>
                        </label>
                    </form>
                    <div class="tooltip-btn tooltip-top">i
                        <div class="tooltip-inner">
                            Regular price is <span class="support-developer-price">$720</span>/developer.
                            It includes 10 hours of support
                            and access to major releases.
                            <div class="tooltip-angle">
                                <div class="tooltip-angle-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>5 developers</li>
                    <li>Unlimited servers</li>
                    <li>Unlimited SaaS websites</li>
                    <li>Source code included</li>
                    <li>Maintenance and support</li>
                </ul>
                <a data-product-type="5-developers" href="#" class="btn large blue">Buy now</a>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="pricing-plan">
                <h4>10 Developers</h4>
                <div class="price">$7165</div>
                <div class="extended-support">
                    <form method="POST" data-product-type="10-developers" action="https://sites.fastspring.com/handsontable/instant/developer-with-extended-support">
                        <input type="hidden" name="quantity" value="10"/>

                        <input id="extended_10" name="extended_support" type="checkbox" checked/>
                        <label for="extended_10">
                            <svg class="checkbox">
                                <use xlink:href="#checkbox_icon"></use>
                            </svg>
                            <svg class="checkbox checked">
                                <use xlink:href="#checkbox_checked_icon"></use>
                            </svg>
                            <span>Include Extended Support and save <strong class="saves">$4200</strong></span>
                        </label>
                    </form>
                    <div class="tooltip-btn tooltip-top">i
                        <div class="tooltip-inner">
                            Regular price is <span class="support-developer-price">$720</span>/developer.
                            It includes 10 hours of support
                            and access to major releases.
                            <div class="tooltip-angle">
                                <div class="tooltip-angle-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>10 developers</li>
                    <li>Unlimited servers</li>
                    <li>Unlimited SaaS websites</li>
                    <li>Source code included</li>
                    <li>Maintenance and support</li>
                </ul>
                <a data-product-type="10-developers" href="#" class="btn large blue">Buy now</a>
            </div>
        </div>
    </div>
    <div id="compare-licenses-expander" class="row comparison closed">
        <p>
            <a id="compare-licenses" href="#">
                Compare licenses and support plans<svg><use xlink:href="#angle_down_icon"></use></svg>
            </a>
        </p>
        <div class="small-12 columns tables">
            <div class="table table-license">
                <h5>Commercial Licenses</h5>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Developer License</th>
                            <th>OEM License</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Concurrent developers</td>
                            <td>1</td>
                            <td>Custom</td>
                        </tr>
                        <tr>
                            <td>Number of servers</td>
                            <td>Unlimited</td>
                            <td>Custom</td>
                        </tr>
                        <tr>
                            <td>Number of domains</td>
                            <td>Unlimited</td>
                            <td>Custom</td>
                        </tr>
                        <tr>
                            <td>Full source code included</td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                        </tr>
                        <tr>
                            <td>All features</td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                        </tr>
                        <tr>
                            <td>Intranets and Web applications</td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                        </tr>
                        <tr>
                            <td>SaaS websites</td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                        </tr>
                        <tr>
                            <td>Basic maintenance and support</td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                        </tr>
                        <tr>
                            <td>OEM and on-premise deployment</td>
                            <td><svg><use xlink:href="#circle_thin_icon"></use></svg></td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                        </tr>
                        <tr>
                            <td>Perpetual commercial license</td>
                            <td><a href="/static/licenses/v2/handsontable-software-license-agreement.pdf"
                                   target="_blank">Read EULA</a></td>
                            <td>Custom</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td class="developer-license">$490</td>
                            <td><a href="/contact">Contact sales</a></td>
                        </tr>
                        <tr>
                            <td>Discount for 5-9 developers</td>
                            <td>10%</td>
                            <td>Custom</td>
                        </tr>
                        <tr>
                            <td>Discount for 10 developers</td>
                            <td>15%</td>
                            <td>Custom</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table table-support">
                <h5>Maintenance and Support</h5>
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>Basic Maintenance and Support</th>
                        <th>Extended Maintenance and Support</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Minor and patch releases</td>
                            <td>12 months</td>
                            <td>12 months</td>
                        </tr>
                        <tr>
                            <td>Free support time</td>
                            <td>1 hour</td>
                            <td>10 hours</td>
                        </tr>
                        <tr>
                            <td>Initial response time during working days (CET 8am - 5pm)</td>
                            <td>48 hours</td>
                            <td>12 hours</td>
                        </tr>
                        <tr>
                            <td>Basic forum support</td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                        </tr>
                        <tr>
                            <td>Code review and guidance</td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                        </tr>
                        <tr>
                            <td>Major releases</td>
                            <td><svg><use xlink:href="#circle_thin_icon"></use></svg></td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                        </tr>
                        <tr>
                            <td>Support from core developers</td>
                            <td><svg><use xlink:href="#circle_thin_icon"></use></svg></td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                        </tr>
                        <tr>
                            <td>Emergency hot fixes</td>
                            <td><svg><use xlink:href="#circle_thin_icon"></use></svg></td>
                            <td><svg><use xlink:href="#circle_full_icon"></use></svg></td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>Included in the license</td>
                            <td><span class="support-developer-price">$720</span> / developer</td>
                        </tr>
                        <tr>
                            <td>Discounted / Renewal price</td>
                            <td>N/A</td>
                            <td><span class="support-renewal-price">$300</span> / developer</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- TESTIMONY -->
    <div class="row testimony">
        <div class="large-12 large-centered columns">
            <div class="row">
                <div class="medium-1 columns element-center">
                    <img src="<%= img_path %>testimony/mike_preuss.jpg" alt="Mike Preuss" />
                </div>
                <div class="medium-10 columns">
                    <blockquote>
                        "Our users love how easy it is to enter and customize their metrics"
                    </blockquote>
                    <h5><strong>Mike Preuss</strong> - CEO at <a href="https://visible.vc/" target="_blank">Visible</a></h5>
                </div>
            </div>
        </div>
    </div>

    <div class="q-and-a">
        <div class="row">
            <h3 class="headline centered">
                <span>Frequently asked questions</span>
            </h3>
            <div class="small-12 medium-4 columns">
                <div class="question-item">
                    <h5>How would you define a developer?</h5>
                    <p>
                        A developer is every person working directly with Handsontable source code.
                        That includes implementing, integrating or changing the code.
                    </p>
                    <h5>How many licenses do I need?</h5>
                    <p>You need one license for every developer in your organization. Licenses are not assigned
                        to a particular person, rather to each seat.
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="question-item">
                    <h5>Can I still use Handsontable after 12 months?</h5>
                    <p>Yes, you can. Once you buy a license you can use it without time boundaries.
                        Although after 12 months from the purchase date you lose the possibility to get
                        updates and support.</p>
                    <h5>Can I edit the source code?</h5>
                    <p>Yes, Handsontable license allows to use source code and edit it, so you can easily
                        integrate it with your product.</p>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="question-item">
                    <h5>Which payment methods do you accept?</h5>
                    <p>You can buy a license with your PayPal account or a credit card.
                        If you wish to send us the money via bank wire transfer, please contact our Sales Team.</p>
                    <h5>How can I get an invoice for my purchase?</h5>
                    <p>The invoice is sent on the email address provided during purchase.
                        Invoices for OEM / Enterprise version and for resellers are, each time,
                        issued manually by our Sales Team.</p>
                </div>
            </div>
            <div class="row read-more"><a href="/faq.html">More questions and answers</a></div>
        </div>
    </div>

    <div class="row discounts">
        <h3 class="headline centered">
            <span>Discounted licenses</span>
        </h3>
        <div class="row">
            <div class="small-12 medium-4 columns">
                <div class="discount-item">
                    <svg><use xlink:href="#user_icon"></use></svg>
                    <h5>Single Website License</h5>
                    <p>
                        This license is for a single developer
                        and a website that doesn't allow
                        third-party users authorization.
                    </p>
                    <form method="POST" data-product-type="single-website" action="https://sites.fastspring.com/handsontable/instant/ingle-website-with-basic-support ">
                        <input type="hidden" name="quantity" value="1"/>
                    </form>
                    <a href="#" data-product-type="single-website">Buy now for $149</a>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="discount-item">
                    <svg><use xlink:href="#globe_icon"></use></svg>
                    <h5>Enterprise / OEM License</h5>
                    <p>
                        If you need more than 10 licenses
                        or plan to distribute your software
                        on OEM basis, contact us for a quote.
                    </p>
                    <a href="/contact.html?category=enterprise_inquiry">Contact sales</a>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="discount-item">
                    <svg><use xlink:href="#shopping_cart_icon"></use></svg>
                    <h5>For resellers</h5>
                    <p>
                        We work with resellers from
                        around the world. Contact us
                        to see what we have to offer.
                    </p>
                    <a href="/contact.html?category=business_opportunity">Contact sales</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-4 columns">
                <div class="discount-item">
                    <svg><use xlink:href="#send_icon"></use></svg>
                    <h5>For startups</h5>
                    <p>
                        For privately held companies
                        operating in business for less
                        than 3 years. Limited to 5 licenses.
                    </p>
                    <a href="/contact.html?category=request_for_discount">Apply for 50% discount</a>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="discount-item">
                    <svg><use xlink:href="#mortar_board_icon"></use></svg>
                    <h5>For students</h5>
                    <p>
                        Students can apply for
                        free copy of the software for all
                        their non-commercial private projects.
                    </p>
                    <a href="/contact.html?category=request_for_discount">Apply for free license</a>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="discount-item">
                    <svg><use xlink:href="#keyboard_icon"></use></svg>
                    <h5>For teachers and training</h5>
                    <p>
                        This license is aimed to teachers
                        and trainers who want to use
                        Handsontable in their classroom.
                    </p>
                    <a href="/contact.html?category=request_for_discount">Apply for free license</a>
                </div>
            </div>
        </div>
    </div>

    <!-- BRANDS -->
    <%- partial("_partials/_brands") %>

    <div class="row more-questions">
        <h3 class="headline centered">
            <span>Have more questions?</span>
        </h3>
        <a href="/contact.html" class="btn large blue">GET IN TOUCH</a>
    </div>
    <script src="/static/js/pricing/index.js"></script>
</section>
