<section class="pricing">
    <div class="row">
        <div class="large-11 large-centered columns">
            <h2 class="headline">
                Buy <strong>Handsontable Pro</strong><br>
                <small>Create better user experience with new features and a priority support</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="large-11 large-centered columns">
            <div class="row">
                <div class="small-12 medium-4 columns">
                    <div class="pricing-plan blue">
                        <h4>Single website</h4>
                        <div class="price">$99</div>
                        <ul>
                            <li>Single website or app</li>
                            <li>All premium features</li>
                            <li>Free updates for 12 months</li>
                            <li><a href="">Perpetual license</a></li>
                        </ul>
                        <a href="pricing.html" class="btn large blue">Buy now</a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns">
                    <div class="pricing-plan blue">
                        <h4>Unlimited websites</h4>
                        <div class="price">$399</div>
                        <ul>
                            <li>Unlimited websites and apps</li>
                            <li>All premium features</li>
                            <li>Free updates for 12 months</li>
                            <li>Basic forum support</li>
                            <li><a href="">Perpetual license</a></li>
                        </ul>
                        <a href="pricing.html" class="btn large blue">Buy now</a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns">
                    <div class="pricing-plan red">
                        <h4>Single SaaS/OEM</h4>
                        <div class="price">$799</div>
                        <ul>
                            <li>Single SaaS/OEM project</li>
                            <li>All premium features</li>
                            <li>Free updates for 12 months</li>
                            <li>Basic forum support</li>
                            <li><a href="">Perpetual license</a></li>
                        </ul>
                        <a href="pricing.html" class="btn large red">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <a class="contact-us" href="contact.html">Need a custom license? Contact us</a>
                </div>
            </div>

            <!-- TESTIMONY -->
            <div class="row testimony">
                <div class="large-11 large-centered columns">
                    <div class="row">
                        <div class="medium-1 columns element-center">
                            <img src="<%= img_path %>testimony/dominic_pouzine.jpg" alt="Dominic Pouzine" />
                        </div>
                        <div class="medium-10 columns">
                            <blockquote>
                                „If you need full Excel-like interactivity in a web app, look no further”
                            </blockquote>
                            <h5><strong>Dominic Pouzine</strong> - CTO at <a href="https://www.bittitan.com/" target="_blank">BitTitan</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="headline centered">
                <span>Questions and answers</span>
            </h3>
            <div class="row q-and-a">
                <div class="small-12 medium-4 columns">
                    <div class="question-item">
                        <h5>What is Handsontable Pro?</h5>
                        <p>You can download the package directly from your user dashboard or use the Bower manager.</p>
                        <h5>How does it work?</h5>
                        <p>You can download the package directly from your user dashboard or use the Bower manager.</p>
                        <h5>What is a SaaS/OEM license?</h5>
                        <p>You can download the package directly from your user dashboard or use the Bower manager.</p>
                        <h5>What are the support options?</h5>
                        <p>You can download the package directly from your user dashboard or use the Bower manager.</p>
                    </div>
                </div>

                <div class="small-12 medium-4 columns">
                    <div class="question-item">
                        <h5>Can I buy multiple licenses?</h5>
                        <p>You can download the package directly from your user dashboard or use the Bower manager.</p>
                        <h5>How you deliver the code?</h5>
                        <p>You can download the package directly from your user dashboard or use the Bower manager.</p>
                        <h5>I need Angular JS directive</h5>
                        <p>You can download the package directly from your user dashboard or use the Bower manager.</p>
                        <h5>What are the support options?</h5>
                        <p>You can download the package directly from your user dashboard or use the Bower manager.</p>
                    </div>
                </div>
                <div class="small-12 medium-4 columns">
                    <div class="question-item">
                        <h5>Can I sublicense the code?</h5>
                        <p>You can download the package directly from your user dashboard or use the Bower manager.</p>
                        <h5>How can I contact you?</h5>
                        <p>You can download the package directly from your user dashboard or use the Bower manager.</p>
                        <h5>I need a Web Component version</h5>
                        <p>You can download the package directly from your user dashboard or use the Bower manager.</p>
                        <h5>I need an open source license</h5>
                        <p>You can download the package directly from your user dashboard or use the Bower manager.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRANDS -->
    <%- partial("_partials/_brands") %>
</section>