<section class="pricing">
    <div class="row">
        <div class="small-12 large-centered columns">
            <h2 class="headline">
                Commercial <strong>licenses</strong><br>
                <small>
                    We're happy to help, contact us at <a href="mailto:sales@handsontable.com">sales@handsontable.com</a>
                </small>
            </h2>
        </div>
    </div>
    <div class="row pricing-overlay">
        <div class="large-12 large-centered columns">
            <div class="overlay">
                <h2>No worries, we'll be right back!<br/>
                    We're currently working on this page.
                </h2>
            </div>
        </div>
    </div>
</section>