<section class="pricing ">
    <!-- Pricing Table -->
    <div class="header-pricing">
        <div class="row">
            <div class="small-12 large-centered columns">
                <h1 class="header-dist">
                    <strong>Buy Handsontable Pro</strong>
                </h1>
                <h4>
                    Royalty-free, lifetime licences with 1 year free support plan
                </h4>
            </div>
            <div class="row row-plan pricing-plan">
                <div class="small-12 medium-3 columns">
                    <h3>Open source</h3>
                    <p>Community<br>
                        Edition</p>
                    <div class="price">Free</div>
                    <ul>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            All free features
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            The MIT License
                        </li>

                    </ul>
                    <div>
                        <a href="/download.html"
                           class="btn medium green">Download</a>
                    </div>
                </div>
                <div class="small-12 medium-3 columns">
                    <div class="blue">
                        <h3>Developer</h3>
                        <p>Premium features<br>
                            included</p>
                        <div class="price">$490</div>
                        <ul>
                            <li>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                                1 year of support
                            </li>
                            <li>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                                Unlimited websites
                            </li>
                            <li>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                                Full source code
                            </li>
                        </ul>
                        <a data-product-type="single-developer" href="https://sites.fastspring.com/handsontable/order/customer" class="btn medium blue blue-add">Buy</a>
                    </div>
                </div>

                <div class="small-12 medium-3 columns developer-plus">
                        <h3>Developer <span class="vibrant-blue">Plus</span></h3>
                        <p>Developer licence with<br>
                            Extended support</p>
                        <div class="price">$790</div>
                        <ul>
                            <li>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                                10h of support time
                            </li>
                            <li>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                                12h initial response
                            </li>
                            <li>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                                Emergency hot fixes
                            </li>
                            <li>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                                Priority assistance
                            </li>
                        </ul>
                        <a href="https://handsontable.com/contact.html?category=enterprise_inquiry"
                           class="btn medium blue">Buy</a>
                </div>

                <div class="small-12 medium-3 columns">
                    <div>
                        <h3>Enterprise</h3>
                        <p>Tailored solutions<br>
                            for your organization</p>
                        <div class="price">Contact us</div>
                        <ul>
                            <li>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                                Unlimited developers
                            </li>
                            <li>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                                2 years of support
                            </li>
                            <li>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                                Phone assistance
                            </li>
                            <li>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                                Access to core team
                            </li>
                            <li>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                                Negotiable terms
                            </li>
                        </ul>
                        <a href="https://handsontable.com/contact.html?category=enterprise_inquiry"
                           class="btn medium navy">Contact
                            us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Compare plans -->
    <div class="row ">
        <div class="large-12 large-centered columns">
            <div class="row">
                <div class="large-12 columns element-center table-container">
                    <h3 class="table-header">Compare plans</h3>
                    <table class="table">
                        <thead>
                        <tr class="under">
                            <th></th>
                            <th>Community edition</th>
                            <th>Developer</th>
                            <th>Developer Plus</th>
                            <th>Enterprise</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="left">Premium features
                                <div class="tooltip-btn tooltip-right">i
                                    <div class="tooltip-inner">
                                        commercial licence gives you support<br/>
                                        from our core dev team, and unlocks<br/>
                                        unlimited websites usage
                                        <div class="tooltip-angle">
                                            <div class="tooltip-right"></div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td>-</td>
                            <td>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </td>
                            <td>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </td>
                            <td>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </td>
                        </tr>
                        <tr class="bg">
                            <td class="left">Current developers
                                <div class="tooltip-btn tooltip-right">i
                                    <div class="tooltip-inner">
                                        it's the number of developers <br/>
                                        working simultaneously <br/>
                                        on handsontable.
                                        <div class="tooltip-angle">
                                            <div class="tooltip-right"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td>Unlimited</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <td class="left">Servers / websites
                                <div class="tooltip-btn tooltip-right">i
                                    <div class="tooltip-inner">
                                        each license allows you to use the code <br/>
                                        on unlimited amount of domains, <br/>
                                        servers or projects.
                                        <div class="tooltip-angle">
                                            <div class="tooltip-right"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>Unlimited</td>
                            <td>Unlimited</td>
                            <td>Unlimited</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr class="bg">
                            <td class="left">Free update rights
                                <div class="tooltip-btn tooltip-right">i
                                    <div class="tooltip-inner">
                                        it states for how long you will have access<br/>
                                        to the newest production ver. of Handsontable.
                                        <div class="tooltip-angle">
                                            <div class="tooltip-right"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>-</td>
                            <td>1 year</td>
                            <td>1 year</td>
                            <td>2 years</td>
                        </tr>
                        <tr>
                            <td class="left">Support time
                                <div class="tooltip-btn tooltip-right">i
                                    <div class="tooltip-inner">
                                        it's a number of support hours<br/>
                                        you get per month for each licence.
                                        <div class="tooltip-angle">
                                            <div class="tooltip-right"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>-</td>
                            <td>1 hour</td>
                            <td>10 hours</td>
                            <td>custom</td>
                        </tr>
                        <tr class="bg">
                            <td class="left">Initial response time
                                <div class="tooltip-btn tooltip-right">i
                                    <div class="tooltip-inner">
                                        amount of time we give ourselves<br/>
                                        to get back to you.
                                        <div class="tooltip-angle">
                                            <div class="tooltip-right"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>-</td>
                            <td>36 hours</td>
                            <td>12 hours</td>
                            <td>12 hours</td>
                        </tr>
                        <tr>
                            <td class="left">Emergency hot fixes
                                <div class="tooltip-btn tooltip-right">i
                                    <div class="tooltip-inner">
                                        on demand quick fixes outside of products<br/>
                                        regular development lifecycle.
                                        <div class="tooltip-angle">
                                            <div class="tooltip-right"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </td>
                            <td>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </td>
                        </tr>
                        <tr class="bg">
                            <td class="left">On premise deployment
                                <div class="tooltip-btn tooltip-right">i
                                    <div class="tooltip-inner">
                                        limited use of Handsobtable is allowed for business<br/>
                                        or educational purposes. To obtain right to host Handsontable<br/>
                                        on a live server you need to purchase a commercial licence.
                                        <div class="tooltip-angle">
                                            <div class="tooltip-right"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <svg class="svg">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimony -->
    <div class="row testimony">
                <div class=" medium-1 columns">
                    <img class="img-center"  src="<%= img_path %>testimony/mike_preuss.jpg" alt="Mike Preuss"/>
                </div>
                <div class="medium-10 columns">
                    <blockquote>
                        "Our users love how easy it is to enter and customize their metrics"
                    </blockquote>
                    <h5>Mike Preuss - CEO at <a href="https://visible.vc/" target="_blank">Visible</a></h5>
                </div>
            </div>
    <!-- Purchase options -->
    <div class="purchase-option">
        <div class="row">
            <div class="small-12 medium-3 columns">
                <div class="purchase-item">
                    <svg class="svg-icon">
                        <use xlink:href="#wallet"></use>
                    </svg>
                    <h3>Discounts</h3>
                    <p>
                        We offer 50% discount for startups and free licenses for education.<br>
                    </p>
                    <p class="top">
                        <a href="https://handsontable.com/contact.html?category=request_for_discount">I'm a startup</a><br>
                        <a href="https://handsontable.com/contact.html?category=request_for_discount">I'm a student or a teacher</a><br>
                        <a href="https://handsontable.com/contact.html?category=request_for_discount">Get a volume discount</a>

                    </p>

                </div>
            </div>
            <div class="small-12 medium-3 columns">
                <div class="purchase-item">
                    <svg class="svg-icon">
                        <use xlink:href="#envelope"></use>
                    </svg>
                    <h3>Get a quote</h3>
                    <p>Receive an official quote for the requested products<br>
                    </p>
                    <p class="top">
                        <a href="https://handsontable.com/contact.html?category=request_for_quotation">Get a quote</a><br>
                        <a href="https://handsontable.com/contact.html?category=general_question">Send a purchase order</a>
                    </p>
                </div>
            </div>
            <div class="small-12 medium-3 columns">
                <div class="purchase-item">
                    <svg class="svg-icon">
                        <use xlink:href="#resellers"></use>
                    </svg>
                    <h3>For resellers</h3>
                    <p>Join our network of global resellers. Contact us to learn more<br>
                    </p>
                    <p class="top">
                        <a href="">General rules</a><br>
                        <a href="/resellers.html">List of resellers</a><br>
                        <a href="https://handsontable.com/contact.html?category=business_opportunity">Apply now</a><br>
                    </p>
                </div>
            </div>
            <div class="small-12 medium-3 columns">
                <div class="purchase-item">
                    <svg class="svg-icon">
                        <use xlink:href="#help"></use>
                    </svg>
                    <h3>Need help?</h3>
                    <p>Contact us if you have more questions about our products<br>
                    </p>
                    <p class="top">
                        <a href="https://handsontable.com/contact.html?category=general_question">Contact sales</a><br>
                        <a href="/faq.html">Read FAQ</a><br>
                        <a href="https://docs.handsontable.com/tutorial-licensing.html">Read license</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- License renewal -->
    <div class="license-renewal row">
        <h2 class="header-dist">
            License renewal
            <div class="border-bottom"></div>
        </h2>


        <h4>All of license plans include one year of free maintenance and support. <br>
            Renews your support plan to continue receiving updates for another 2 years.</h4>
        <div class="large-12 large-centered columns table-container">
            <table class="table">
                <thead>
                <tr class="under">
                    <th width="340"></th>
                    <th width="200">Community edition</th>
                    <th width="200">Developer</th>
                    <th width="200">Developer plus</th>
                    <th width="200">Enterprise</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Standard Renewal before the plan expired
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                cost of license renewal<br/>
                                before expiration date.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td><span>$150</span><br>
                        per developer
                    </td>
                    <td><span>$150</span><br>
                        per developer
                    </td>
                    <td><a href="https://handsontable.com/contact.html?category=enterprise_inquiry">Contact us</a></td>
                </tr>
                <tr class="bg">
                    <td>Late Renewal after your plan has expired
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                cost of license renewal<br/>
                                after expiration date.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td><span>$300</span><br>
                        per developer
                    </td>
                    <td><span>$450</span><br>
                        per developer
                    </td>
                    <td><a href="https://handsontable.com/contact.html?category=enterprise_inquiry">Contact us</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="renew"><a class="btn medium ghost-blue" href="https://handsontable.com/contact.html?category=enterprise_inquiry">Renew licence</a></div>
    </div>
    <!-- Q&A -->
    <div class="q-and-a">
        <div class="row">
            <h2 class="header-dist">
                Frequently asked questions
                <div class="border-bottom"></div>
            </h2>


            <div class="small-12 medium-4 columns">
                <div class="question-item">
                    <h5>How would you define a developer?</h5>
                    <p>
                        A developer is every person in your organization working directly with Handsontable source code.
                        That includes implementing, integrating or changing the code.
                    </p>
                    <h5>How many licenses do I need?</h5>
                    <p>You need one license for every developer working with Handsontable. Licenses are not assigned
                        to a particular person but to each seat.
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="question-item">
                    <h5>Can I still use Handsontable after 12 months?</h5>
                    <p>Yes, you can. Once you buy a license you can use it without time boundaries.
                        Although after 12 months from the purchase date you lose the possibility to get
                        updates and support.</p>
                    <h5 class="slip">Can I edit the source code?</h5>
                    <p>Yes, Handsontable license allows to use source code and edit it, so you can easily
                        integrate it with your product.</p>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="question-item">
                    <h5>Which payment methods do you accept?</h5>
                    <p>You can buy a license with your PayPal account or a credit card.
                        If you wish to send us the money via bank wire transfer, please contact our Sales Team.</p>
                    <h5>How can I get an invoice for my purchase?</h5>
                    <p>The invoice is sent to the email address provided during purchase.
                        Invoices for OEM / Enterprise version and for resellers are, each time,
                        issued manually by our Sales Team.</p>
                </div>
            </div>
            <div class="row read-more"><a class="btn medium ghost-blue" href="/faq.html">Read more</a></div>
        </div>
    </div>
    <script src="/static/js/pricing/index.js"></script>
</section>
