<section class="pricing">
    <div class="row">
        <div class="large-11 large-centered columns">
            <h2 class="headline">
                Buy <strong>Handsontable Pro</strong><br>
                <small>Use business-ready solutions to create a better user experience</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="large-11 large-centered columns">
            <div class="row">
                <div class="small-12 medium-4 columns">
                    <div class="pricing-plan blue">
                        <h4>Single website</h4>
                        <div class="price">$99</div>
                        <ul>
                            <li>Single website or app</li>
                            <li>All premium features</li>
                            <li>Free updates for 12 months</li>
                            <li><a href="">Perpetual license</a></li>
                        </ul>
                        <a href="pricing.html" class="btn large blue">Buy now</a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns">
                    <div class="pricing-plan blue">
                        <h4>Unlimited websites</h4>
                        <div class="price">$399</div>
                        <ul>
                            <li>Unlimited websites and apps</li>
                            <li>All premium features</li>
                            <li>Free updates for 12 months</li>
                            <li>Basic forum support</li>
                            <li><a href="">Perpetual license</a></li>
                        </ul>
                        <a href="pricing.html" class="btn large blue">Buy now</a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns">
                    <div class="pricing-plan red">
                        <h4>Single SaaS/OEM</h4>
                        <div class="price">$799</div>
                        <ul>
                            <li>Single SaaS/OEM project</li>
                            <li>All premium features</li>
                            <li>Free updates for 12 months</li>
                            <li>Basic forum support</li>
                            <li><a href="">Perpetual license</a></li>
                        </ul>
                        <a href="pricing.html" class="btn large red">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <a class="contact-us" href="#">Need a custom license? Contact us</a>
                </div>
            </div>

            <!-- TESTIMONY -->
            <div class="row testimony">
                <div class="large-11 large-centered columns">
                    <div class="row">
                        <div class="medium-1 columns element-center">
                            <img src="<%= img_path %>testimony/dominic_pouzine.jpg" alt="Dominic Pouzine" />
                        </div>
                        <div class="medium-10 columns">
                            <blockquote>
                                „If you need full Excel-like interactivity in a web app, look no further”
                            </blockquote>
                            <h5><strong>Dominic Pouzine</strong> - CTO at <a href="https://www.bittitan.com/" target="_blank">BitTitan</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="headline centered">
                <span>Questions and answers</span>
            </h3>
            <div class="row q-and-a">
                <div class="small-12 medium-4 columns">
                    <div class="question-item">
                        <h5>What is Handsontable Pro?</h5>
                        <p>It is a set of premium features built upon the open source core.</p>
                        <h5>Does the license include support?</h5>
                        <p>Each license comes with the basic forum support but we also offer dedicated plans with SLA.</p>
                        <h5>Can I use it after the 12-month period?</h5>
                        <p>All the licenses are perpetual which means that you are allowed to use it after the 12-month
                            period. However, you will need to renew the subscription to upgrade the product.</p>
                        <h5>What are the usage limitations?</h5>
                        <p>There are no other limitations than those listed within the pricing plans.</p>
                    </div>
                </div>

                <div class="small-12 medium-4 columns">
                    <div class="question-item">
                        <h5>Do you offer discounts?</h5>
                        <p>We offer 15% discount on Single SaaS/OEM license for startups having less
                            than 10 employees and non-profit organizations.
                            <a href="contact.html">Get in touch</a> to qualify for a discount.</p>
                        <h5>How is the product delivered?</h5>
                        <p>Use the credentials you got after the purchase to log in to your account and choose
                            one of many installation options.</p>
                        <h5>How do I renew my subscription?</h5>
                        <p>You don't have to worry about that. We'll send you an email with the instruction at least
                            one month before your plan expires.</p>
                        <h5>What license is right for me?</h5>
                        <p>If your users need to sign up for subscription to use your product, then you need to
                            purchase the SaaS/OEM license. In all other cases you can choose other plans.</p>
                    </div>
                </div>
                <div class="small-12 medium-4 columns">
                    <div class="question-item">
                        <h5>Will I receive the invoice for my purchase?</h5>
                        <p>Right after the purchase is made, the system will automatically send you the invoice.</p>
                        <h5>Can I sublicense the code?</h5>
                        <p>You are not allowed to do that until you become our certified reseller.</p>
                        <h5>Do you work with retailers?</h5>
                        <p>We are actively looking for new business partners. <a href="contact.html">Contact us</a>
                            if would like to become our reseller.</p>
                        <h5>I have a custom requirements</h5>
                        <p><a href="contact.html">Ask us anything</a>, we're here to help you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRANDS -->
    <%- partial("_partials/_brands") %>
</section>