<section class="pricing">
    <div class="row">
        <div class="large-11 large-centered columns">
            <h2 class="headline">
                Buy <strong>Handsontable Pro</strong><br>
                <small>Impress your users and deliver custom solutions with more features than ever</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="large-11 large-centered columns">
            <div class="row">
                <div class="small-12 medium-4 columns">
                    <div class="pricing-plan blue">
                        <h4>Single website</h4>
                        <div class="price">$99</div>
                        <ul>
                            <li>Single website or app</li>
                            <li>All premium features</li>
                            <li>Free updates for 12 months</li>
                            <li>Basic forum support</li>
                            <li><a href="/static/licenses/v1/pro-single-website-license.pdf"
                                   target="_blank">Perpetual license</a></li>
                        </ul>
                        <a href="https://sites.fastspring.com/handsontable/instant/single-non-saas-oem-website-license?sessionOption=new&member=new"
                           class="btn large blue">Buy now</a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns">
                    <div class="pricing-plan blue">
                        <h4>Multiple websites</h4>
                        <div class="price">$399</div>
                        <ul>
                            <li>Unlimited websites and apps</li>
                            <li>All premium features</li>
                            <li>Free updates for 12 months</li>
                            <li>Basic forum support</li>
                            <li><a href="/static/licenses/v1/pro-multiple-websites-license.pdf"
                                   target="_blank">Perpetual license</a></li>
                        </ul>
                        <a href="https://sites.fastspring.com/handsontable/instant/multiple-non-saas-oem-websites-license?sessionOption=new&member=new"
                           class="btn large blue">Buy now</a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns">
                    <div class="pricing-plan red">
                        <h4>Single SaaS/OEM</h4>
                        <div class="price">$799</div>
                        <ul>
                            <li>Single SaaS/OEM project</li>
                            <li>All premium features</li>
                            <li>Free updates for 12 months</li>
                            <li>Basic forum support</li>
                            <li><a href="/static/licenses/v1/pro-single-saas-oem-license.pdf"
                                   target="_blank">Perpetual license</a></li>
                        </ul>
                        <a href="https://sites.fastspring.com/handsontable/instant/single-saas-oem-website-license?sessionOption=new&member=new"
                           class="btn large red">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <a class="contact-us" href="/contact.html">Need a custom license? Contact us</a>
                </div>
            </div>

            <!-- TESTIMONY -->
            <div class="row testimony">
                <div class="large-11 large-centered columns">
                    <div class="row">
                        <div class="medium-1 columns element-center">
                            <img src="<%= img_path %>testimony/dominic_pouzine.jpg" alt="Dominic Pouzine" />
                        </div>
                        <div class="medium-10 columns">
                            <blockquote>
                                "If you need full Excel-like interactivity in a web app, look no further"
                            </blockquote>
                            <h5><strong>Dominic Pouzine</strong> - CTO at <a href="https://www.bittitan.com/" target="_blank">BitTitan</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="headline centered">
                <span>Questions and answers</span>
            </h3>
            <div class="row q-and-a">
                <div class="small-12 medium-4 columns">
                    <div class="question-item">
                        <h5>What is Handsontable Pro?</h5>
                        <p>
                            It is a set of premium features for our open source spreadsheet solution.
                            It comes with a basic support and free updates for 12 months.
                        </p>
                        <h5>Is support included?</h5>
                        <p>Handsontable Pro comes with forum support, where you can find the answers to common questions
                            as well as tips. We also offer dedicated support plans.</p>
                        <h5>Can I still use Pro after 12 months?</h5>
                        <p>Yes, although you'll need to renew your subscription to upgrade.</p>
                        <h5>Are there more limitations?</h5>
                        <p>Nope. Read through our pricing plans to see all of the features you'll get.</p>
                    </div>
                </div>

                <div class="small-12 medium-4 columns">
                    <div class="question-item">
                        <h5>What license is right for me?</h5>
                        <p>If your product is subscription-based (paid or free) then our SaaS/OEM license is
                            your perfect match. Also, if you want to redistribute Handsontable as a part of a
                            bigger commercial software.</p>
                        <h5>How is the product delivered?</h5>
                        <p>After purchase we'll send across your login info. Sign in to your account and choose
                            one of our quick and easy installation options.</p>
                        <h5>How do I renew my subscription?</h5>
                        <p>We'll let you know when the time's right. You'll get an email with our speedy renewal
                            instructions at least a month before your plan expires.</p>
                    </div>
                </div>
                <div class="small-12 medium-4 columns">
                    <div class="question-item">
                        <h5>Can I sublicense the code?</h5>
                        <p>You can't sublicense our code unless you're one of our certified resellers.
                            <a href="/contact.html">Contact us</a> about reselling.</p>
                        <h5>Will I receive the invoice for my purchase?</h5>
                        <p>Expect to receive invoice shortly after payment.</p>
                        <h5>Do you work with retailers?</h5>
                        <p>We are actively looking for new business partners. <a href="contact.html">Contact us</a>
                            if would like to become our reseller.</p>
                        <h5>Can you supply a custom plan?</h5>
                        <p>Yes. <a href="/contact.html">Ask us anything</a>, we're here to help.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRANDS -->
    <%- partial("_partials/_brands") %>
</section>