<section class="privacy">
    <div class="row">
        <div class="large-12 large-centered columns">
            <h2>
                Privacy policy
            </h2>
            <p class="subhead">Learn how we keep your data private and safe</p>
            <div class="row">
                <div class="small-12 columns">
                    <ul>
                        <li>(i) We respect and protect the privacy and security of users of our Website
                            (“User/s”,“you”).
                        </li>
                        <li>(ii) This privacy policy (“Privacy Policy”) covers the data provided to us via our website
                            at […] (“Website”). Here we describe what data we collect in connection with our services
                            (“Service/s”), for what purpose, and how they are used. This Privacy Policy also contains
                            information about data security and rights the Users have with respect to the access and
                            control over the information provided to us.
                        </li>
                        <li>(iii) For the purposes of this Privacy Policy the term “data processing” includes not only
                            (a) the use of cookies on a computer, smartphone, and the like of the User, and (b) the
                            collection and processing of data for statistical purposes, but also (c) other operations on
                            the information and data, including without limitation obtaining, recording, holding,
                            development, alteration, disclosure and erasure, in connection with the provision of the
                            Services.
                        </li>
                    </ul>

                    <h4>RULES</h4>
                    <p><strong>1. Data controllet.</strong> (a) HANDSONCODE [...] (“HOC”, or “we”), is the data
                        controller with respect to the User’s personal data;
                        we carry out the processing of your personal data in accordance with the provisions of the acts
                        on the protection of personal
                        data and on electronic services, and with other such relevant laws and regulations as generally
                        applicable in the territoryof Poland (“Applicable Law”).
                    <ul>
                        <li>(b) Provision of personal data in connection with your use of the Service is voluntary.
                            Note, however, that
                            the refusal to provide certain data may make it impossible for you to use all or part of the
                            Website functionalities.
                        </li>
                        <li>(c) HOC processes Users’ personal data primarily for the purpose of proper provision of its
                            Services,
                            constant improvement of the Website and Services, and also for direct marketing of its own
                            products and Services.
                            HOC processes personal data within the following scope: name, address, phone number, e-mail
                            address, user IDs,
                            passwords, billing information or credit card information, and any personal information
                            provided voluntarily in your emails or otherwise.
                        </li>
                        <li>(d) HOC enables you to exercise your rights under the Applicable Law, in particular the
                            right of
                            access to your data, the right to request update of the data, and to object to processing if
                            and when so provided.
                            In order to avail yourself of said rights you may send a message to that end to the
                            following address: […].
                        </li>
                    </ul>
                    </p>

                    <p><strong>2. Safety Measures, Disclousre.</strong> (a) Only trained and authorized HOC personnel
                        may access your personal data.
                        (b) The data collected and processed by HOC may be disclosed to third parties in accordance with
                        the principles of this Privacy
                        Policy and provisions of the Applicable Law, where it has been established that such disclosure
                        is necessary to:
                    <ul>
                        <li>(i) protect the rights of third parties or HOC;</li>
                        <li>(ii) protect public safety or that of other persons;</li>
                        <li>(iii) prevent or deter activities of an unethical or abusive nature; and in all other cases
                            required by Applicable Law,
                            in particular in cases of suspected offense or infringement of intellectual property rights
                        </li>
                    </ul>

                    <p><strong>3. Technical Issues, Data Erasure And Retention.</strong>
                    <ul>
                        <li>(a) At the time of your browsing the Website, our servers automatically collect information
                            sent by your browser and included in log files. The information may include a variety of
                            data, in particular email address, IP address, browser type, internet site you visited
                            immediately prior to accessing our Website, the time of accessing the Website, and other
                            statistical data. HOC may use the information for the purposes of conclusion, amendment,
                            termination of a contract with the User, if any, and to ensure the highest quality of the
                            Services, as well as for technical and statistical purposes.
                        </li>
                        <li>(b) As a general rule HOC commits to discontinue processing personal data after you have
                            ceased to use the Service. HOC may continue to process your data after you have ceased to
                            use the Service if the data: (i) is necessary for the settlement of dues or satisfaction of
                            claims for payment for the use of Services; (ii) is anonymized and necessary for the
                            purposes of advertising, market research, or Users’ behavior and preferences studies, and
                            the results of the same are to improve the quality of Services, with your consent; (iii) is
                            necessary to clarify the circumstances of unauthorized use of the Service; or (iv) may be
                            processed on the basis of particular laws or agreements.
                        </li>
                        <li>(c) If HOC becomes aware or informed that you have abused the Service, HOC may process your
                            personal data to the extent necessary to determine your liability, provided that we record
                            receipt and contents of the information for evidentiary purposes.
                        </li>
                        <li>(d) HOC may inform the User of unauthorized activities and demand their immediate cessation,
                            as well as avail itself of the powers stipulated in Subsections 3(b) and 3(c) above.
                        </li>
                    </ul>
                    </p>


                    <p><strong>4. Cookies.</strong>
                    <ul>
                        <li>(a) HOC uses text files, called "cookies". A "cookie" is a small piece of information placed
                            at the request of our server (first-party cookies) on the User’s telecommunications terminal
                            equipment (e.g. computer, smartphone, etc.; “TTE”) during a visit to the Website that the
                            server can read when you return thereto. The use of cookies purports to ensure proper
                            functioning of the Service on the User’s TTE; use of cookies does not change the
                            configuration of the User’s TTE or software installed on such equipment.
                        </li>
                        <li>(b) HOC uses the following types of cookies: (i) session cookies – stored on your TTE until
                            you are on the Website, you disable the browser, or you log out of the Website; and (ii)
                            persistent cookies – stored on your TTE for a specified period of time or until their
                            removal by the User.
                        </li>
                        <li>(c) HOC applies the cookies for the purposes of: (i) facilitating smooth navigation on the
                            Website, including by maintaining a User's session so there is no need to log onto each and
                            every webpage; (ii) verification and development of our offer, including by adjusting the
                            content of the Website according to your preferences; and (iii) statistics.
                        </li>
                        <li>(d) You consent that HOC makes use of external cookies (third-party cookies) that, among
                            else, (i) display on the Website multimedia content, (ii) collect general and anonymous
                            statistics from analytical tools, and (iii) use or enable interactive features in order to
                            promote the Service by using social networking sites – set, placed, or otherwise employed by
                            owners, operators, or other persons responsible for, without limitation, Google, GitHub.com,
                            Livechatinc.com, JSFiddle.net, AddThis.com, Disqus.com, DoubleClick.net, Facebook.com,
                            Twitter.com.
                        </li>
                        <li>(e) The User can specify conditions of use of cookies through browser settings. In
                            particular, you can disable cookies in your web browser. However, the prevention or deletion
                            of cookies may hamper or deprive you of enjoyment of the Service.
                        </li>
                    </ul>
                    </p>


                    <p><strong>5. Commercial Information.</strong>
                    <ul>
                        <li>(a) HOC reserves the right to send to the Users who have signed up for our newsletter
                            commercial information relating to the activities of HOC, its partners and contractors.
                        </li>
                        <li>(b) Each recipient of our newsletter has the right to assert that they do not wish to
                            receive commercial information from HOC by clicking on the link “unsubscribe”.
                        </li>
                    </ul>
                    </p>


                    <p><strong>6. Minors.</strong>
                    <ul>
                        <li>(a) This Website is intended for adults only.</li>
                        <li>(b) Persons who are under 18 years of age may use our Website with the permission and/or
                            under supervision of their legal representatives. Minors are requested not to disclose any
                            information, in particular their personal data,
                            to HOC or other Users.
                        </li>
                    </ul>
                    </p>

                    <p><strong>7. External Links.</strong>
                    <uL>
                        <li>(a) This Website contains hyperlinks (for instance, in the form of logos of entities
                            external to HOC) that, if clicked on, redirect Users to external websites. Application of
                            such reference must not be so understood as to imply any kind of association between HOC and
                            the entity to which the external website belongs. Neither may HOC be held liable for the
                            consequences of this kind of redirection nor does HOC determine the content of external
                            websites.
                        </li>
                        <li>(b) HOC shall bear no responsibility for the terms and conditions of privacy and security
                            policies in force on those websites, or for cookies used while browsing any such external
                            websites. We encourage Users using this kind of reference to consult the contents of the
                            relevant documents in force on external websites.
                        </li>
                    </uL>
                    </p>

                    <p><strong>8. Final Provisions. </strong>
                    <ul>
                        <li>(a) By using our Website you agree to the terms and conditions set out in this Privacy
                            Policy.
                        </li>
                        <li>(b) For any questions or concerns regarding the Privacy Policy and use of the Website,
                            please contact HOC at this email address: […].
                        </li>
                        <li>(c) HOC reserves the right to make changes or additions to this Privacy Policy. Any such
                            changes will be posted on […] in the "Privacy Policy" section.
                        </li>
                    </ul>
                    </p>

                </div>

            </div>
        </div>
    </div>
</section>