<section class="labs">
    <!-- BRANDING HEADER -->
    <div class="header-labs">
        <div class="row excel-upload">
            <div class="large-12 element-center columns">
                <p>Handsontable for</p>
                <h1>schedule_something.xlsx</h1>
                <a href="" class="btn large ghost-green">Create new</a>
                <a href="" class="btn large ghost-red">Remove</a>
            </div>
        </div>
    </div>
    <!-- UPLOAD TABS -->
    <div class="row">
        <div class="large-12  columns ">
            <div class="tabs tabs-labs">
                <div class="tab">
                    <button>Sheet 1</button>
                    <button>Sheet 2</button>
                    <button>Sheet 3</button>
                </div>

                <div class="tabcontent">
                    <div class="row">
                        <div class="large-9 columns">
                            <div class="plugin-preview">
                                <div id="hot"></div>
                            </div>
                            <div class="code-links">
                                <a href="">Code</a>
                                <a href="">Data</a>
                                <a href="">Save HTML</a>
                            </div>
                        </div>
                        <div class="large-3 columns">
                            <div class="result-rate">
                                <h3>Rate it</h3>
                                <div class="rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <p>or Please go ahead and</p>
                                    <a href="" class="btn large ghost-blue">
                                        <svg class="svg">
                                            <use xlink:href="#bug"></use>
                                        </svg> Report a bug</a>
                            </div>

                            <div class="social-share">
                                <h3>Share it</h3>
                                  <p>With this unique link</p>
                                   <form>
                                       <input placeholder="generated-spreadsheet-link" type="Text" value="" name="Link"
                                           class="generated link" id="mce-EMAIL">
                                   </form>
                                  <p>Or via social media</p>
                                  <a href="#">
                                      <svg class="svg">
                                          <use xlink:href="#facebook"></use>
                                      </svg>
                                  </a>
                                <a href="#">
                                    <svg class="svg">
                                        <use xlink:href="#twitter"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT AND NEWSLETTER SIGN UP -->
    <div class="row sub-section">
        <div class="large-4 columns">
            <h3>About this app</h3>
            <p>This is Handsontable with configuration created from an existing XLSX/CSV file.
                It is not an internal plugin of Handsontable. We use a microservice on the back-end side
                to parse your file and then turn it into a working instance of Handsontable.</p>
        </div>

        <div class="large-3 columns">
            <h3>Statistics</h3>
            <p>
                Created at: <b>May 16, 2017</b><br/>
                Worksheets: <b>4</b><br/>
                Cells: <b>160</b><br/>
                Non-blank cells: <b>25</b><br/>
                Formulas: <b>25</b><br/>
            </p>
        </div>
        <div class="large-5 columns">
            <div class="subscribe-form">
                <h3>Subscribe to updates</h3>
                <!-- BEGIN MAIL CHIMP SIGN UP FORM -->
                <div id="mc_embed_signup">
                    <form action="//handsontable.us9.list-manage.com/subscribe/post?u=47073b08d03ebee16188c1687&amp;id=0a640d7654"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn large ghost-blue">
                            </div>
                            <div id="mce-responses">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <span>We never spam. Opt-out any time.</span>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_47073b08d03ebee16188c1687_0a640d7654" tabindex="-1" value=""></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>(function ($) {
                        window.fnames = new Array();
                        window.ftypes = new Array();
                        fnames[0] = 'EMAIL';
                        ftypes[0] = 'email';
                    }(jQuery));
                    var $mcj = jQuery.noConflict(true);</script>
                <!--END MAIL CHIMP SIGN UP FORM -->
            </div>
        </div>
    </div>
    <div class="row comments" id="comments">
        <div class="large-8 medium-12 large-centered columns">
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = handsontable.com;
                    this.page.identifier = handsontable;
                };
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//handsontable.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
                    powered by Disqus.</a></noscript>
        </div>
    </div>
</section>

<script src="/static/js/examples/feature.js"></script>
<script src="/static/js/examples/examples.js"></script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56b33be61739fd7f"
        async="async"></script>
<script id="dsq-count-scr" src="//handsontable.disqus.com/count.js" async></script>
<script>hljs.initHighlightingOnLoad();</script>


<script data-jsfiddle>
    var dataObject = [
        {
            id: 1,
            flag: 'EUR',
            currencyCode: 'EUR',
            currency: 'Euro',
            level: 0.9033,
            units: 'EUR / USD',
            asOf: '08/19/2015',
            onedChng: 0.0026
        },
        {
            id: 2,
            flag: 'JPY',
            currencyCode: 'JPY',
            currency: 'Japanese Yen',
            level: 124.3870,
            units: 'JPY / USD',
            asOf: '08/19/2015',
            onedChng: 0.0001
        },
        {
            id: 3,
            flag: 'GBP',
            currencyCode: 'GBP',
            currency: 'Pound Sterling',
            level: 0.6396,
            units: 'GBP / USD',
            asOf: '08/19/2015',
            onedChng: 0.00
        },
        {
            id: 4,
            flag: 'CHF',
            currencyCode: 'CHF',
            currency: 'Swiss Franc',
            level: 0.9775,
            units: 'CHF / USD',
            asOf: '08/19/2015',
            onedChng: 0.0008
        },
        {
            id: 5,
            flag: 'CAD',
            currencyCode: 'CAD',
            currency: 'Canadian Dollar',
            level: 1.3097,
            units: 'CAD / USD',
            asOf: '08/19/2015',
            onedChng: -0.0005
        },
        {
            id: 6,
            flag: 'AUD',
            currencyCode: 'AUD',
            currency: 'Australian Dollar',
            level: 1.3589,
            units: 'AUD / USD',
            asOf: '08/19/2015',
            onedChng: 0.0020
        },
        {
            id: 7,
            flag: 'NZD',
            currencyCode: 'NZD',
            currency: 'New Zealand Dollar',
            level: 1.5218,
            units: 'NZD / USD',
            asOf: '08/19/2015',
            onedChng: -0.0036
        },
        {
            id: 8,
            flag: 'SEK',
            currencyCode: 'SEK',
            currency: 'Swedish Krona',
            level: 8.5280,
            units: 'SEK / USD',
            asOf: '08/19/2015',
            onedChng: 0.0016
        },
        {
            id: 9,
            flag: 'NOK',
            currencyCode: 'NOK',
            currency: 'Norwegian Krone',
            level: 8.2433,
            units: 'NOK / USD',
            asOf: '08/19/2015',
            onedChng: 0.0008
        },
        {
            id: 10,
            flag: 'BRL',
            currencyCode: 'BRL',
            currency: 'Brazilian Real',
            level: 3.4806,
            units: 'BRL / USD',
            asOf: '08/19/2015',
            onedChng: -0.0009
        },
        {
            id: 11,
            flag: 'CNY',
            currencyCode: 'CNY',
            currency: 'Chinese Yuan',
            level: 6.3961,
            units: 'CNY / USD',
            asOf: '08/19/2015',
            onedChng: 0.0004
        },
        {
            id: 12,
            flag: 'RUB',
            currencyCode: 'RUB',
            currency: 'Russian Rouble',
            level: 65.5980,
            units: 'RUB / USD',
            asOf: '08/19/2015',
            onedChng: 0.0059
        },
        {
            id: 13,
            flag: 'INR',
            currencyCode: 'INR',
            currency: 'Indian Rupee',
            level: 65.3724,
            units: 'INR / USD',
            asOf: '08/19/2015',
            onedChng: 0.0026
        },
        {
            id: 14,
            flag: 'TRY',
            currencyCode: 'TRY',
            currency: 'New Turkish Lira',
            level: 2.8689,
            units: 'TRY / USD',
            asOf: '08/19/2015',
            onedChng: 0.0092
        },
        {
            id: 15,
            flag: 'THB',
            currencyCode: 'THB',
            currency: 'Thai Baht',
            level: 35.5029,
            units: 'THB / USD',
            asOf: '08/19/2015',
            onedChng: 0.0044
        },
        {
            id: 16,
            flag: 'IDR',
            currencyCode: 'IDR',
            currency: 'Indonesian Rupiah',
            level: 13.83,
            units: 'IDR / USD',
            asOf: '08/19/2015',
            onedChng: -0.0009
        },
        {
            id: 17,
            flag: 'MYR',
            currencyCode: 'MYR',
            currency: 'Malaysian Ringgit',
            level: 4.0949,
            units: 'MYR / USD',
            asOf: '08/19/2015',
            onedChng: 0.0010
        },
        {
            id: 18,
            flag: 'MXN',
            currencyCode: 'MXN',
            currency: 'Mexican New Peso',
            level: 16.4309,
            units: 'MXN / USD',
            asOf: '08/19/2015',
            onedChng: 0.0017
        },
        {
            id: 19,
            flag: 'ARS',
            currencyCode: 'ARS',
            currency: 'Argentinian Peso',
            level: 9.2534,
            units: 'ARS / USD',
            asOf: '08/19/2015',
            onedChng: 0.0011
        },
        {
            id: 20,
            flag: 'DKK',
            currencyCode: 'DKK',
            currency: 'Danish Krone',
            level: 6.7417,
            units: 'DKK / USD',
            asOf: '08/19/2015',
            onedChng: 0.0025
        },
        {
            id: 21,
            flag: 'ILS',
            currencyCode: 'ILS',
            currency: 'Israeli New Sheqel',
            level: 3.8262,
            units: 'ILS / USD',
            asOf: '08/19/2015',
            onedChng: 0.0084
        },
        {
            id: 22,
            flag: 'PHP',
            currencyCode: 'PHP',
            currency: 'Philippine Peso',
            level: 46.3108,
            units: 'PHP / USD',
            asOf: '08/19/2015',
            onedChng: 0.0012
        }
    ];

    var currencyCodes = ['EUR', 'JPY', 'GBP', 'CHF', 'CAD', 'AUD', 'NZD', 'SEK', 'NOK', 'BRL', 'CNY', 'RUB', 'INR', 'TRY', 'THB', 'IDR', 'MYR', 'MXN', 'ARS', 'DKK', 'ILS', 'PHP'];

    var flagRenderer = function (instance, td, row, col, prop, value, cellProperties) {
        var currencyCode = value;

        while (td.firstChild) {
            td.removeChild(td.firstChild);
        }

        if (currencyCodes.indexOf(currencyCode) > -1) {
            var flagElement = document.createElement('DIV');
            flagElement.className = 'flag ' + currencyCode.toLowerCase();
            td.appendChild(flagElement);

        } else {
            var textNode = document.createTextNode(value === null ? '' : value);
            td.appendChild(textNode);
        }
    };

    var hotElement = document.querySelector('#hot');
    var hotElementContainer = hotElement.parentNode;
    var hotSettings = {
        data: dataObject,
        columns: [
            {
                data: 'id',
                type: 'numeric',
                width: 40
            },
            {
                data: 'flag',
                renderer: flagRenderer
            },
            {
                data: 'currencyCode',
                type: 'text'
            },
            {
                data: 'currency',
                type: 'text'
            },
            {
                data: 'level',
                type: 'numeric',
                format: '0.0000'
            },
            {
                data: 'units',
                type: 'text'
            },
            {
                data: 'asOf',
                type: 'date',
                dateFormat: 'MM/DD/YYYY'
            },
            {
                data: 'onedChng',
                type: 'numeric',
                format: '0.00%'
            }
        ],
        stretchH: 'all',
        width: parseInt(hotElementContainer.offsetWidth, 10),
        autoWrapRow: true,
        height: 441,
        maxRows: 22
    };

    var hot = new Handsontable(hotElement, hotSettings);
</script>

<script src="/static/js/examples/examples_init.js"></script>
<script src="/static/js/examples/example_code_generator.js"></script>
<script src="/static/js/examples/jsfiddleExporter.js"></script>

<script src="/static/bower_components/prism/prism.js"></script>