<section class="resellers">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h2 class="headline">
        Our <strong>Resellers</strong><br>
        <small>Our experienced partners who provide support and advice</small>
      </h2>

      <div class="row resellers-list">
        <div class="large-11 large-centered columns">
          <div class="row">

            <div class="small-12 medium-3 columns">
              <h3>Software One, Inc.</h3>
              <p>Riedenmatt 4</p>
              <p>6370 Stans</p>
              <p>Switzerland</p>
              <p>Phone: +41(0)844 44 55 44</p>
              <p><a href="mailto:info.ch@softwareone.com">info.ch@softwareone.com</a></p>
              <p><a href="https://www.softwareone.com" target="_blank">softwareone.com</a></p>
            </div>

            <div class="small-12 medium-3 columns">
              <h3>Comsoft</h3>
              <p>400 Avenue de Roumanille</p>
              <p>06410 Biot</p>
              <p>France</p>
              <p>Phone: +33 4 97 21 58 50</p>
              <p><a href="mailto:infos@comsoft.fr">infos@comsoft.fr</a></p>
              <p><a href="http://www.comsoft-direct.fr" target="_blank">comsoft-direct.fr</a></p>
            </div>

            <div class="small-12 medium-3 columns">
              <h3>SHI International Corp.</h3>
              <p>290 Davidson Ave.</p>
              <p>Somerset, NJ 08873</p>
              <p>United States</p>
              <p>Phone: +1 (888) 764-8888</p>
              <p><a href="mailto:floridateam@shi.com">floridateam@shi.com</a></p>
              <p><a href="https://www.shi.com" target="_blank">shi.com</a></p>
            </div>
            <div class="small-12 medium-3 columns">
              <h3>ComponentSource</h3>
              <p>2 New Century Place, East Street</p>
              <p>Reading, Berkshire, RG1 4ET</p>
              <p>United Kingdom</p>
              <p>Phone: +44 118 958 1111</p>
              <p><a href="mailto:sales@componentsource.com">sales@componentsource.com</a></p>
              <p><a href="https://www.componentsource.com" target="_blank">componentsource.com</a></p>
            </div>

          </div>
        </div>

        <div class="large-11 large-centered columns">
          <div class="row">

            <div class="small-12 medium-3 columns">
              <h3>Targetware</h3>
              <p>Av. Francisco Matarazzo</p>
              <p>404 - CJ. 302 - Água Branca, São Paulo</p>
              <p>Brazil</p>
              <p>Phone: +55 (11) 3665-8550</p>
              <p><a href="mailto:comercial@software.com.br">comercial@software.com.br</a></p>
              <p><a href="http://www.software.com.br" target="_blank">software.com.br</a></p>
            </div>

            <div class="small-12 medium-3 columns">
              <h3>KoreanSoft Inc.</h3>
              <p>Seongwoo B/D 1003, #51-1</p>
              <p>Seoul 121-715</p>
              <p>South Korea</p>
              <p>Phone: 822 - 3272-8565</p>
              <p><a href="mailto:sales@koreansoft.com">sales@koreansoft.com</a></p>
              <p><a href="https://www.koreansoft.com" target="_blank">koreansoft.com</a></p>
            </div>

            <div class="small-12 medium-3 columns"></div>
            <div class="small-12 medium-3 columns"></div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>