<section class="signin">
    <div class="row">
        <div class="large-4 large-centered columns">
            <h2 class="headline">
                Sign in to your <strong>account</strong><br>
                <small><a href="pricing.html">Buy Handsontable Pro</a> to get an account</small>
            </h2>
            <div class="notification error">Valid email address is required</div>
            <form>
                <fieldset>
                    <label>Email</label>
                    <input type="text" name="email"/>
                </fieldset>
                <fieldset>
                    <label>Password</label>
                    <input type="password" name="password"/>
                </fieldset>
                <fieldset>
                <label class="left"><a href="Forgot  your pasword?">Forgot  your pasword?</a></label>
                    <input type="submit" class="btn large blue right" value="SIGN IN" />
                </fieldset>
            </form>
        </div>
    </div>
</section>