<section class="support">
    <div class="row">
        <div class="large-11 large-centered columns">
            <h2 class="headline">
                We’ve got you <strong>covered</strong><br>
                <small>Free comunity support at hand and experts from Handsoncode for hire</small>
            </h2>

            <div class="row kinds-of-support">
                <div class="large-11 large-centered columns">
                    <div class="row">
                        <div class="small-12 medium-4 columns">
                            <svg class="community-support"><use xlink:href="#community_icon"></use></svg>
                            <div class="left desc">
                                <h3>Community support</h3>  
                                <p>Grab a helping hand from the active comunity on <a href="https://github.com/handsontable/handsontable"
                                  target="_blank">GitHub</a>, <a href="http://stackoverflow.com/tags/handsontable"
                                  target="_blank">Stackoverflow</a> or <a href="https://groups.google.com/forum/#!forum/handsontable"
                                  target="_blank">Google Group</a>.</p>
                            </div>
                        </div>
                        <div class="small-12 medium-4 columns">
                            <svg class="priority-support"><use xlink:href="#help_icon"></use></svg>
                            <div class="left desc">
                                <h3>Priority support</h3>
                                <p>Buy a subscription or pay per incident. We guarantee a 24-hour initial response time.</p>
                            </div>
                        </div>
                        <div class="small-12 medium-4 columns">                  
                            <svg class="dedicated-solutions"><use xlink:href="#cubes_icon"></use></svg>
                            <div class="left desc">
                                <h3>Dedicated solutions</h3>
                                <p>Our services are all about solving your problems.
                                    Whenever needed, we provide help and consulting.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="headline centered">
                <span>Contact us today</span>
            </h3>
            <div class="row">
                <div class="large-11 large-centered columns">
                    <div class="row">
                        <div class="small-12 medium-6 columns">
                            <form class="clearfix">
                                <input type="text" placeholder = "Full name" name="full_name"/>
                                <input type="text" placeholder = "Company name" name="company_name"/>
                                <input type="text" placeholder = "Email address" name="email_address"/>
                                <textarea>Your message</textarea>
                                <input type="submit" class="btn large blue right" value="SEND MESSAGE" />
                            </form>
                        </div>
                        <div class="small-12 medium-offset-1 medium-5 columns">
                            <h4>Multichannel support</h4>
                            <p>We use a bunch of smart tools to provide seamless support.
                                However, we will adjust if you decide to use a specific kind of communication other than Skype, email or Hangouts.</p>

                            <h4>Guaranteed service levels</h4>
                            <p>We know that in most projects time is a crucial success factor.
                                That's why we always respond in under 24 hours. Our services are available Monday - Friday 8am-5pm (CEST).</p>

                            <h4>Experts at hand</h4>
                            <p>As creators of Handsontable we know this library from the inside out.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
 </section>