<section class="support">

    <!-- Here starts the success modal for sucssesfully sent message without phone number -->
    <!--
        <div class="success">
            <div class="row">
                <div class="large-12 columns">
                    <div class="mail-message">
                        <h1>Thanks <span>Marcin Kordacki</span></h1>
                        <p>Your message has been sent<br/>
                            We'll get back to you soon</p>
                        <svg class="svg">
                            <use xlink:href="#envelope"></use>
                        </svg>
                        <h2><a href="/team.html">Handsontable</a> team.</h2>
                        <a href="/contact-work.html" class="btn medium blue">Return to the form</a>
                    </div>
                </div>
            </div>
        </div>
    -->

    <div class="row">
        <div class="large-12 large-centered columns">
            <h2 class="headline">
                Reach out for support
            </h2>
            <p class="subhead">Community support and Handsontable experts at your service</p>
        </div>
    </div>
    <div class="row ">
        <div class="small-12 large-6 columns">
            <div class="row">
                <div class="small-12 large-3 columns">
                    <img src="/static/images/contact/aleksandra-budnik.png">
                </div>
                <div class="small-12 large-9 columns">
                    <p>contact person:</p>
                    <h3>Aleksandra Budnik</h3>
                    <span>Customer Success Manager</span>
                </div>
            </div>
        </div>

        <div class="small-12 large-6 columns">
            <p>email:</p>
            <a href="mailto:support@handsontable.com?subject=General Question">support@handsontable.com</a>
        </div>
    </div>

        <div class="row">
            <div class="large-12 columns">
                <div id="form-sent" class="notification success">Thanks for contacting us. We'll get back to
                    you very soon.
                </div>
                <div id="form-error" class="notification error">Oops! We were unable to send the form.
                    Please check the invalid fields and try again.
                </div>
                <form id="contact-form" class="clearfix form"
                      action="https://my.handsontable.com/api/contact" method="post">
                    <div class="row">
                        <div class="large-6 columns">
                            <p class="label">Full name<sup class="asterisk">*</sup></p>
                            <input type="text" required name="name"/>
                        </div>
                        <div class="large-6 columns">
                            <p class="label">Email adress<sup class="asterisk">*</sup></p>
                            <input type="email" required name="email"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <p class="label">License type</p>
                            <div class="selectbox">
                                <select required name="licesne">
                                    <option value="pick a country">...</option>
                                    <option value="CE">Community edition</option>
                                    <option value="Pro">Pro</option>
                                </select>
                                <svg>
                                    <use xlink:href="#arrow_down_icon"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="license-key">
                                <p>License key - <i>Pro Only</i><sup class="asterisk">*</sup></p>
                                <input type="email" required name="email"/>
                            </div>
                        </div>
                    </div>
                    <p class="label">Company name</p>
                        <input type="text" name="companyName"/>
                    <p class="label">Subject<sup class="asterisk">*</sup></p>
                        <input type="text" required name="subject"/>
                    <p class="label">Your message<sup class="asterisk">*</sup></p>
                        <textarea required name="body"></textarea>
                         <input type="hidden" name="returnTo" value="/support.html"/>
                         <input type="submit" id="send" class="btn large blue right" value="Send mail"/>
                </form>
            </div>
        </div>
    <div class="row">
        <div class="large-12 columns">
            <p class="contact-footer">
                You might also look for an answer in our <a href="/knowledge-base.html">knowledge base</a>.<br/>
                We are also available thorough our community on our <a href="https://forum.handsontable.com">Forum's</a>
                and on <a href="https://github.com/handsontable/handsontable/issues" target="blank">Github.</a>
            </p>
        </div>
    </div>
</section>