<section class="support">
    <div class="row">
        <div class="large-11 large-centered columns">
            <h2 class="headline">
                We’ve got you <strong>covered</strong><br>
                <small>Free comunity support and experts from Handsoncode at hand</small>
            </h2>

            <div class="row kinds-of-support">
                <div class="large-11 large-centered columns">
                    <div class="row">
                        <div class="small-12 medium-4 columns">
                            <svg class="community-support"><use xlink:href="#community_icon"></use></svg>
                            <div class="left desc">
                                <h3>Community support</h3>  
                                <p>Grab a helping hand from the active comunity on <a href="https://github.com/handsontable" target="_blank">GitHub</a>, <a href="">Stackoverflow</a> or <a href="https://groups.google.com/forum/#!forum/handsontable" target="_blank">Google Group</a>.</p>
                            </div>
                        </div>
                        <div class="small-12 medium-4 columns">
                            <svg class="priority-support"><use xlink:href="#help_icon"></use></svg>
                            <div class="left desc">
                                <h3> Priority support</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel risus eleifend, <a href="">facilisis</a> elit in.</p>
                            </div>
                        </div>
                        <div class="small-12 medium-4 columns">                  
                            <svg class="dedicated-solutions"><use xlink:href="#cubes_icon"></use></svg>
                            <div class="left desc">
                                <h3>Dedicated solutions</h3>
                                <p><a href="">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Proin vel risus eleifend, <a href="">facilisis</a> elit in.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="headline centered">
                <span>Get in touch today</span>
            </h3>
            <div class="row">
                <div class="large-11 large-centered columns">
                    <div class="row">
                        <div class="small-12 medium-6 columns">
                            <form class="clearfix">
                                <input type="text" placeholder = "Full name" name="full_name"/>
                                <input type="text" placeholder = "Company name" name="company_name"/>
                                <input type="text" placeholder = "Email address" name="email_address"/>
                                <textarea>Your message</textarea>
                                <input type="submit" class="btn large blue right" value="SEND MESSAGE" />
                            </form>
                        </div>
                        <div class="small-12 medium-offset-1 medium-5 columns">
                            <h4>Custom implementations</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, co.</p>

                            <h4>In-person training</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, co.</p>
                            <h4>Multichannel support</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, co.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
 </section>