
.community .resources {

  width: 100%;
  margin: 0 auto 60px auto;

  @media only screen and (min-width: $mediumWidth) {
    width: 50%;
  }


  .header-dist {

    padding: 40px 10px 40px 10px;

    @media only screen and (min-width: $mediumWidth) {
      padding: 60px 10px 20px 10px;
    }
  }

  .links {
    text-align: center;
    padding-top: 20px;

    @media only screen and (min-width: $largeWidth) {
      text-align: left;
    }
  }

  a {
    font-size: inherit;
    line-height: 2em;
  }

}
