
.community .wrappers-w {

  text-align: center;
  margin: 0 auto 0 auto;


  @media only screen and (min-width: $largeWidth) {
    height: 200px;
    margin-top: 40px;
  }

  .wrappers {

    @keyframes wrapper-n {

      0% {top: 0;}
      50% {top: -10px;}
      100% {top: 0;}
    }

    font-size: inherit;
    filter: blur(0);

    &:active #lad,
    &:hover  #lad,
    &:focus #lad {

      position: static;

      @media only screen and (min-width: $largeWidth) {
        position: relative;
        animation-name: wrapper-n;
        animation-duration: 500ms;
        animation-timing-function: ease;
      }
    }
  }

  .svg-wrappers {

    @include square(60px);
    margin: 30px 0 0 0;

    @media only screen and (min-width: $largeWidth) {
      @include square(50px);
      margin: 30px 20px 0 20px;
    }
  }

  .in-progress {
    filter: grayscale(100%) brightness(140%) opacity(40%);
    -webkit-filter: grayscale(100%) brightness(140%) opacity(40%);
  }
}