/**
 * @author: Handsoncode
 */

.knowledge-base {

  .headline {
    margin: 97px 0 23px;
  }

  .border-bottom {
    width: 40px;
    margin: 10px 60px 20px 0;
    border-bottom: solid 2px $brandBlue;

    @media only screen and (min-width: $mediumWidth) {
      margin: 10px auto 20px auto;
      display: block;
    }
  }

  h2 {
    text-align: left;
    line-height: 1.1em;
    font-weight: 400;

    @media only screen and (min-width: $mediumWidth) {
      margin-top: 0;
      text-align: center;
    }
  }

  h3 {
    margin: 30px 0 30px;
    font-weight: 500;
  }

  h4 {
    margin: 30px 0 0 0;
    font-weight: 400;
    text-align: left;
  }

  h5 {
    color: $brandBlue;
    margin: 0;
    padding: 0;
    line-height: 2em;
    font-weight: 400;
    font-size: 1.1em;
  }

  .cant {
    background: $brandBlue;
    padding: 0 0 90px 0;
    margin: 60px 0 0 0;
    text-align: center;

    h2 {
      color: $darkWhite;
    }
  }

  p {
    font-size: inherit;
  }

  a {
    font-size: inherit;
  }
  // hide checkbox
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    &:hover + label {
      color: $brandBlack;
    }

    &:focus + label {
      color: $brandBlack;
    }
  }

  // Style label/entry for accordion
  label {
    display: block;
    cursor: pointer;
    font-size: 0.9em;
    color: $brandBlue;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
  }

  // Style accordion content
  section {
    height: 0;
    font-size: 0.9em;
    transition: .3s all;
    overflow: hidden;
    border-left: 10px solid $headerGrey;

  }

  // Open content when clicking label
  #what-is-handsontable:checked ~ #what-is-handsontable,
  #ce-or-pro:checked ~ #ce-or-pro,
  #can-i-use-ce-for-commercial-products:checked ~ #can-i-use-ce-for-commercial-products,
  #which-browser:checked ~ #which-browser,
  #which-devices:checked ~ #which-devices,
  #issue-report:checked ~ #issue-report,
  #which-frameworks:checked ~ #which-frameworks,
  #do-i-get-support:checked ~ #do-i-get-support,
  #what-do-i-get:checked ~ #what-do-i-get,
  #can-i-call:checked ~ #can-i-call,
  #how-do-i-install:checked ~ #how-do-i-install,
  #pro-consulting:checked ~ #pro-consulting,
  #hourly-rate:checked ~ #hourly-rate,
  #password:checked ~ #password,
  #email:checked ~ #email,
  #account-transfer:checked ~ #account-transfer,
  #account-remove:checked ~ #account-remove,
  #define-developer:checked ~ #define-developer,
  #license-includes:checked ~ #license-includes,
  #how-many-licenses:checked ~ #how-many-licenses,
  #multiple-projects:checked ~ #multiple-projects,
  #product-behind:checked ~ #product-behind,
  #official-quote:checked ~ #official-quote,
  #license-on-behalf:checked ~ #license-on-behalf,
  #payment-methods:checked ~ #payment-methods,
  #currencies:checked ~ #currencies,
  #discounts-o:checked ~ #discounts-o,
  #credit-card-info:checked ~ #credit-card-info,
  #tax:checked ~ #tax,
  #invoice:checked ~ #invoice,
  #email-confirmation:checked ~ #email-confirmation,
  #refounds:checked ~ #refounds,
  #developer-l:checked ~ #developer-l,
  #license-includes-l:checked ~ #license-includes-l,
  #how-many-licenses-l:checked ~ #how-many-licenses-l,
  #multiple-projects-l:checked ~ #multiple-projects-l,
  #software-expires:checked ~ #software-expires,
  #difference-dev-ent:checked ~ #difference-dev-ent,
  #oem:checked ~ #oem,
  #resellers-sell:checked ~ #resellers-sell,
  #become-reseller:checked ~ #become-reseller,
  #reseller-discounts:checked ~ #reseller-discounts,
  #reseller-list:checked ~ #reseller-list,
  #renew-required:checked ~ #renew-required,
  #how-renew:checked ~ #how-renew,
  #change-dev-num:checked ~ #change-dev-num {
    // set height for transition duration to work
    // (also can set to auto without transition)
    height: inherit;
    margin-bottom: 1em;
  }

  // just some styling

  body {
    font-family: $regularFont;
  }

  p {
    margin: 1em 0 .5em 1em;

  }

  .togglebox {
    margin: 0 auto;

    ul {
      margin: 0 0 0 1.5em;
      font-weight: 400;
      font-size: 1.14em;
    }

    li {
      margin-left: 20px;
      list-style-type: disc;
    }
  }

  .btn {
    height: 45px;
    margin-top: 20px;
    font-weight: 400;
    line-height: inherit;
    padding-top: 7px;
    font-size: 0.875em;
    background-color: #FFFFFF;
    color: $brandBlue;

    @media only screen and (min-width: $largeWidth) {
      padding-top: 10px;
      margin-top: 20px;
    }
  }
}

