/**
 * @author: Handsoncode
 */

.support {
    .border-bottom {
        width: 40px;
        margin: 10px 60px 20px 0;
        border-bottom: solid 2px $brandBlue;

        @media only screen and (min-width: $mediumWidth) {
            margin: 10px auto;
            display: block;
        }
    }

    h2 {
        margin:40px 0 0 0;
        padding: 0;
        font-weight: 400;
        text-align: left;

        @media only screen and (min-width: $largeWidth) {
            margin-top: 60px;
            text-align: center;
        }
    }

    h3 {
        margin: 0 0 10px 0;
        font-weight: 400;
    }

    .sub-header {
        margin: 0 0 40px 0;
    }

    p {
        margin: 0;
    }

    .license-key {
        margin-top: -8px;
        padding: 10px;
        font-size: 1.1em;
        background-color: $middleGray;
        color: $darkGray;
        border-radius: 6px;
    }

    .license-paragraph {
        color: $darkWhite;
    }

    span {
        font-size: 0.875em;
        font-style: italic;
        color: $darkGray;
        float: left;
    }

    h4 {
        margin: -4px 0 16px 0;
        padding: 0;
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        text-align: left;

        + p {
            text-align: left;
            margin: 0 0 25px 0;

            @media only screen and (min-width: $largeWidth) {
                text-align: left;
            }
        }
    }

    .community,
    .priority {
        width: 300px;
    }

    #form-sent,
    #form-error {
        display: none;
    }

    .notification {
        margin: 0 0 20px;
    }

    form {
        margin: 0;
        padding-bottom: 120px;

        @media only screen and (min-width: $largeWidth) {
            margin-bottom: 90px;
            padding-bottom: 0;
        }

        textarea {
            margin-bottom: 6px;
            min-height: 175px;
        }
    }

    img {
        width: 80px;
    }

    .btn {
        font-weight: 400;
    }

    .contact-footer {
        margin: 0 0 60px 0;
        padding: 0;
        text-align: center;
        line-height: 1.8em;

        a {
            font-size: inherit;
        }
    }
}