/**
 * @author: Handsoncode
 */

.support  {

    .headline {
        margin: 97px 0 21px;
        &.centered {
            margin: 64px 0 68px;
        }
    }

    h4 {
        font-size: 20px;
        font-weight: 400;
        margin: -4px 0 16px 0;
        line-height: 1;

        + p {
            text-align: center;
            margin: 0 0 25px 0;

            @media only screen and (min-width: $largeWidth) {
                text-align: left;
            }
        }
    }

    form {
        padding-bottom: 120px;

        @media only screen and (min-width: $largeWidth) {
            padding-bottom: 0;
        }

        textarea {
            min-height: 175px;
            margin-bottom: 6px;
        }
    }   

}