<section class="post" itemid="https://handsontable.com/2017/3/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Open Source Slack Alternatives
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../../../attachments/authors/mariola-czupowska.png" alt="Mariola Czupowska" />
                    <label>Mariola Czupowska</label>
                </span>
                <span><a href="/blog/categories/resources">Resources</a> / March 30, 2017</span>
                <meta itemprop="datePublished" content="2017-03-30T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2017-03-30T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../../../attachments/images/2017/3/open-source-slack-alternatives/<%= current.source %>.png"
                     alt="Open Source Slack Alternatives" />
                <meta itemprop="url" content="https://handsontable.com/blog/attachments/images/2017/3/open-source-slack-alternatives/<%= current.source %>.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="441">
            </p>

            <p>
                Whether you are a small business or a thriving company, you definitely need a good and effective
                communication channel that will bring all necessary information together. While Slack is undoubtedly a
                popular chat application, it has some drawbacks: examples being high subscription fees, and the risk
                of a private data leak (
                <a href="https://slackhq.com/march-2015-security-incident-and-the-launch-of-two-factor-authentication-3cdcc8efba29#.kcph5zy3a" target="_blank">
                    Slack experienced a security incident in March 2015</a>
                ).
            </p>
            <p>
                I decided to choose a couple of open-source alternatives that, in my view, are worth getting familiar
                with if you do not want to use a closed source tool, such as Slack. In fact, open-source applications
                may prove to be indispensable if you want to secure sensitive data within your organization, and do
                not want to have sleepless nights wondering whether your communications remain behind a firewall.
                <strong>If you decide not to use Slack, what other options do you have?</strong>
            </p>

            <h3>Rocket.Chat</h3>
            <!-- img -->
            <img src="../../../attachments/images/2017/3/open-source-slack-alternatives/rocket-chat-slack-alternative.png"
                 alt="rocket chat slack alternative">
            <p>
                <a href="https://rocket.chat/" target="_blank">
                    Rocket.Chat</a>
                is quite a new project, which is developed using CoffeeScript and JavaScript within the Meteor
                framework, using the MIT license. It is a solid cross-platform open-source chat solution that you can
                access from anywhere, either on the go or with the use of a web browser or desktop app. Rocket.Chat
                has many features, such as live chat, video conferencing, unlimited integrations, file sharing, text
                math rendering, local hosting, APIs, screen sharing, and a custom module system. However, it is not
                all a bed of roses. Video does not work that well and Slack still has more options. For example:
                Rocket.Chat does not give you the ability to add many people to a channel at once. A big plus is
                that you can have it on your own server, and it is easy to deploy.
                hangouts.
            </p>

            <p class="title">Pros and Cons:</p>
            <ul>
                <li class="pros">Numerous features</li>
                <li class="pros">Video calls support</li>
                <li class="cons">Occasional problems with video</li>
                <li class="cons">You cannot add many people at once</li>
            </ul>

            <h3>Let's Chat</h3>
            <p>
                A good solution for small teams, made in Toronto. The authors describe it as an easily deployable chat
                that fits well with small, intimate teams. The application uses Node.js and MongoDB. A vast array of
                features include group chat, direct messaging, private channels, multiple rooms, desktop notifications,
                image embeds, file uploads, REST-like API, transcripts, XMPP support, and LDAP/Kerberos authentication.
                <a href="https://sdelements.github.io/lets-chat/" target="_blank">
                    Let’s Chat</a> is licensed under the MIT License. In fact, this app shares many features with Slack.
                One more thing: it’s a good choice for less tech savvy users due to Sandstorm support, which helps with
                self-hosting.
            </p>

            <p class="title">Pros and Cons:</p>
            <ul>
                <li class="pros">Sandstorm support</li>
                <li class="pros">Many features</li>
                <li class="cons">No test suite</li>
                <li class="cons">No native mobile app</li>
            </ul>

            <h3>Mattermost</h3>
            <!-- img -->
            <img src="../../../attachments/images/2017/3/open-source-slack-alternatives/mattermost-slack-alternative.png"
                 alt="mattermost slack alternative">
            <br>
             <label class="photo-label">Source:
                <a href="https://about.mattermost.com/features/" target="_blank">about.mattermost.com/features</a>
                (fair use)
             </label>
            <p>
                The creators call it an open-source, private cloud Slack-alternative. It is Slack-compatible, with a
                lot of useful features, examples being the sharing of messages and files, archiving, instant search,
                private and public chats, and integrations. Additionally, if you are using Slack, you can easily
                import your channels and archives to
                <a href="https://about.mattermost.com/" target="_blank">
                    Mattermost</a>. The application is written in a mix of Golang and JavaScript under the React
                framework. What’s more, it’s designed for web, desktop and mobile use, which makes the app quite
                convenient to use. Mattermost is licensed under the MIT License.
            </p>

            <p class="title">Pros and Cons:</p>
            <ul>
                <li class="pros">You can import your account from Slack</li>
                <li class="pros">Mobile version</li>
                <li class="cons">No native mobile app</li>
                <li class="cons">No end-to-end encrypted DMs</li>
            </ul>

            <h3>Friends</h3>
            <!-- img -->
            <p>
                <a href="http://moose-team.github.io/friends/" target="_blank">
                    Friends</a>
                is a public chat platform which is not centrally controlled, and is written in JavaScript. The definite
                advantage is that if there is no internet connection, you can still send messages to anyone on your
                local network because Friends support multicast DNS. It also allows communication via Bluetooth LE if
                there is no WiFi router. Basically, you can send messages or transfer files to people who are
                physically near you. While the app definitely has strong points, it has some drawbacks, such as no
                end-to-end encrypted DMs and limited features. It is licensed under the MIT license.
            </p>

            <p class="title">Pros and Cons:</p>
            <ul>
                <li class="pros">Communication is possible even when offline</li>
                <li class="pros">Communication via Bluetooth</li>
                <li class="cons">No end-to-end encrypted DMs</li>
                <li class="cons">Not many features</li>
            </ul>

            <h3>
                Conclusion
            </h3>
            <p>
                The list is by no means in-depth but it gives you an idea of the options you have if you quit closed
                source communication channels. You should probably try out a few options, and choose the one that
                meets your company’s needs. Do you have some other recommendations? Are you using open-source chat
                instead of Slack?
            </p>


           <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../../../authors/_mczupowska") %>
</section>