<footer>
    <section class="gray-stripe">
        <div class="row">
            <div class="large-11 large-centered columns">
                <div class="row">
                    <div class="small-6 medium-3 large-2 columns">
                        <p>Products</p>
                        <a href="//docs.handsontable.com/">Handsontable</a>
                        <a href="//docs.handsontable.com/pro/">Handsontable PRO</a>
                        <a href="https://github.com/handsontable/ngHandsontable" target="_blank">ngHandsontable</a>
                        <a href="https://github.com/handsontable/hot-table" target="_blank">hot-table</a>
                    </div>
                    <div class="small-6 medium-3 large-2 columns">
                        <p>Top features</p>
                        <a href="//docs.handsontable.com/pro/tutorial-data-binding.html">Data binding</a>
                        <a href="//docs.handsontable.com/pro/demo-data-validation.html">Data validation</a>
                        <a href="//docs.handsontable.com/pro/demo-sorting.html">Sorting data</a>
                        <a href="//docs.handsontable.com/pro/demo-filtering.html">Filtering data</a>
                    </div>
                    <div class="small-6 medium-3 large-2 columns">
                        <p>Support</p>
                        <a href="https://forum.handsontable.com">Forum</a>
                        <a href="https://github.com/handsontable/handsontable/issues" target="_blank">GitHub</a>
                        <a href="https://groups.google.com/forum/#!forum/handsontable" target="_blank">Google Group</a>
                        <a href="http://stackoverflow.com/tags/handsontable" target="_blank">Stackoverflow</a>
                    </div>
                    <div class="small-6 medium-3 large-1 columns">
                        <p>Company</p>
                        <a href="/team.html">Team</a>
                        <a href="/blog">Blog</a>
                        <a href="/contact.html">Contact</a>
                    </div>
                    <div class="small-12 medium-12 large-5 columns subscribe-form">
                        <h5>Sign up for the newsletter</h5>
                        <p>Keep up with the latest news and updates</p>
                        
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="//handsontable.us9.list-manage.com/subscribe/post?u=47073b08d03ebee16188c1687&amp;id=0a640d7654" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div class="mc-field-group">
                                        <svg class="left"><use xlink:href="#mail_icon"></use></svg>
                                        <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_47073b08d03ebee16188c1687_0a640d7654" tabindex="-1" value=""></div>
                                    <div class="clear">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn green">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                        <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        <!--End mc_embed_signup-->

                    </div>
                </div>

                <div class="social-links">
                    <a href="http://twitter.com/handsontable" target="_blank">
                        <svg><use xlink:href="#twitter_icon"></use></svg>
                    </a>
                    <a href="https://github.com/handsontable" target="_blank">
                        <svg><use xlink:href="#github_icon"></use></svg>
                    </a>
                    <a href="https://groups.google.com/forum/#!forum/handsontable" target="_blank">
                        <svg><use xlink:href="#google_icon"></use></svg>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <section class="copyright">
        <div class="row">
            <div class="large-11 large-centered columns">
                <a href="/privacy.html">Terms of use and Privacy</a>
                <p>©<script>document.write( new Date().getFullYear() );</script> Handsoncode. All trademarks belong to their respective owners. </p>
                <a class="handsoncode-logotype" href="http://handsoncode.net/" target="_blank">
                    <svg><use xlink:href="#handsoncode_logo"></use></svg>
                </a>
            </div>
        </div>
    </section>
</footer>