<footer>
    <section class="gray-stripe">
        <div class="row">
            <div class="small-6 large-3  columns">
                <div class="handsontable-paragraph">
                    <svg>
                        <use xlink:href="#handsontable-logo"></use>
                    </svg>
                 <p><p>©
                        2012 -<script>document.write(new Date().getFullYear());</script>
                    </p>
                    <p>Handsontable is a spreadsheet component written in pure JavaScript. It comes with wrappers for
                        ReactJS, Angular, Vue.js and Polymer.</p>
                    <p>All trademarks belong to their respective owners.</p>
                </div>
                <ul>
                    <li><a href="/terms-of-use.html">Terms of use</a></li>
                    <li><a href="/privacy.html">Privacy policy</a></li>
                </ul>
            </div>
            <div class="small-6 large-2 columns">
                <p><b>Products</b></p>
                <a href="/features.html">Overview</a>
                <a href="/pro-download.html">Handsontable Pro</a>
                <a href="/community-download.html">Handsontable CE</a>
            </div>
            <div class="small-6 large-2 columns">
                <p><b>Wrappers</b></p>
                <a href="//github.com/handsontable/react-handsontable" target="_blank">ReactJs</a>
                <a href="//github.com/handsontable/ngHandsontable" target="blank">Angular</a>
                <a href="" target="blank">Angular(1)</a>
                <a href="//github.com/handsontable/hot-table" target="_blank">Polymer</a>
                <a href="//github.com/handsontable/vue-handsontable-official" target="_blank">Vue</a>
            </div>
            <div class="small-6 large-2 columns">
                <p><b>Resources</b></p>
                <a href="//docs.handsontable.com/pro/Core.html">API Reference</a>
                <a href="//docs.handsontable.com/pro/tutorial-quick-start.html">Tutorials</a>
                <a href="//docs.handsontable.com/pro/demo-scrolling.html">Examples</a>
                <a href="/blog/" target="_blank">Blog</a>
            </div>
            <div class="small-6 large-2 columns">
                <p><b>Support</b></p>
                <a href="/knowledge-base.html">FAQ</a>
                <a href="//forum.handsontable.com">Forum</a>
                <a href="//github.com/handsontable/handsontable/issues" target="blank">Github</a>
                <a href="//stackoverflow.com/questions/tagged/handsontable" target="_blank">Stackoverflow</a>
                <a href="/support.html">Report an issue</a>
            </div>
            <div class="small-6 large-1 columns">
                <p><b>About</b></p>
                <a href="/team.html">Team</a>
                <a href="//twitter.com/handsontable" target="_blank">Twitter</a>
                <a href="/customers/">Customers</a>
                <a href="/resellers.html">Resellers</a>
                <a href="/branding.html">Branding</a>
                <a href="/contact.html">Contact</a>
            </div>
        </div>
    </section>
</footer>