<footer>
    <section class="gray-stripe">
        <div class="row">
            <div class="large-11 large-centered columns">
                <div class="row">
                    <div class="small-6 medium-3 large-2 columns">
                        <p>Products</p>
                        <a href="#">Handsontable</a>
                        <a href="#">Handsontable PRO</a>
                        <a href="#">ngHandsontable</a>
                        <a href="#">hot-table</a>
                    </div>
                    <div class="small-6 medium-3 large-2 columns">
                        <p>Top features</p>
                        <a href="#">Data binding</a>
                        <a href="#">Data validation</a>
                        <a href="#">Sorting data</a>
                        <a href="#">Fixed columns</a>
                    </div>
                    <div class="small-6 medium-3 large-2 columns">
                        <p>Support</p>
                        <a href="#">GitHub</a>
                        <a href="#">Google Group</a>
                        <a href="#">Stackoverflow</a>
                        <a href="#">Submit a request</a>
                        
                    </div>
                    <div class="small-6 medium-3 large-1 columns">
                        <p>Company</p>
                        <a href="index.html">About</a>
                        <a href="team.html">Team</a>
                        <a href="contact.html">Contact</a>
                    </div>
                    <div class="small-12 medium-12 large-5 columns subscribe-form">
                        <h5>Sign up for the newsletter</h5>
                        <p>Keep up with the latest news and updates</p>
                        <form>
                            <span>
                                <svg class="left"><use xlink:href="#mail_icon"></use></svg>
                                <input type="text" name="email" placeholder="Email address" />
                            </span>
                            <input type="submit" class="btn green" value="Subscribe" />
                        </form>
                    </div>
                </div>

                <div class="social-links">
                    <a href="#" target="_blank">
                        <svg><use xlink:href="#twitter_icon"></use></svg>
                    </a>
                    <a href="#" target="_blank">
                        <svg><use xlink:href="#github_icon"></use></svg>
                    </a>
                    <a href="#" target="_blank">
                        <svg><use xlink:href="#facebook_icon"></use></svg>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <section class="copyright">
        <div class="row">
            <div class="large-11 large-centered columns">
                <a href="privacy.html">Terms of use and Pivacy</a>
                <p>©2015 Handsoncode. All trademarks belong to their respective owners. </p>
                <img src="<%= img_path %>logotypes/handsoncode_logotype.png" alt="Handsoncode" />
            </div>
        </div>
    </section>
</footer>