<footer>
    <section class="gray-stripe">
        <div class="row">
            <div class="small-12 large-3  columns">
                <p>Products</p>
                <a href="https://docs.handsontable.com/pro/tutorial-introduction.html">Handsontable pro</a>
                <a href="https://docs.handsontable.com/tutorial-introduction.html">Handsontable ce</a>
                <a href="/download.html">Download</a>
                <a href="/branding.html">Branding</a>
            </div>



            <div class="small-12  large-3 columns">
                <p>Wrappers</p>
                <a href="https://github.com/handsontable/react-handsontable" target="_blank">ReactJs</a>
                <a href="https://github.com/handsontable/ngHandsontable" target="blank">Angular</a>
                <a href="https://github.com/handsontable/hot-table" target="_blank">Polymer</a>
                <a href="https://github.com/handsontable/vue-handsontable-official" target="_blank">Vue</a>
            </div>

            <div class="small-12  large-2 columns">
                <p>Help</p>
                <a href="/knowledge-base.html">Knowledge base</a>
                <a href="https://docs.handsontable.com/tutorial-quick-start.html">Installation</a>
                <a href="/support.html">Support</a>
            </div>

            <div class="small-12  large-2 columns">
                <p>Community</p>
                <a href="/developers.html">Developers</a>
                <a href="https://github.com/handsontable/handsontable/issues" target="blank">Github</a>
                <a href="https://groups.google.com/forum/#!forum/handsontable" target="_blank">Google Group</a>
                <a href="https://forum.handsontable.com">Forum</a>
            </div>

            <div class="small-12 large-2 columns">
                <p>Company</p>
                <a href="/contact.html">Contact</a>
                <a href="/blog/" target="_blank">Blog</a>
                <a href="/resellers.html">Resselers</a>
                <a href="/team.html">Team</a>

            </div>
        </div>

        <div class="social-links">
            <a href="http://twitter.com/handsontable" target="_blank">
                <svg>
                    <use xlink:href="#twitter_icon"></use>
                </svg>
            </a>
            <a href="https://github.com/handsontable" target="_blank">
                <svg>
                    <use xlink:href="#github_icon"></use>
                </svg>
            </a>
            <a href="https://groups.google.com/forum/#!forum/handsontable" target="_blank">
                <svg>
                    <use xlink:href="#google_icon"></use>
                </svg>
            </a>
        </div>
    </section>
    <section class="copyright">
        <div class="row">
            <div class="large-11 large-centered columns">
                <a href="/terms-of-use.html">Terms of use</a> and <a href="/privacy.html">Privacy</a>
                <p>©
                    <script>document.write(new Date().getFullYear());</script>
                    Handsoncode. All trademarks belong to their respective owners.
                </p>
                <a class="handsoncode-logotype" href="http://handsoncode.net/" target="_blank">
                    <svg>
                        <use xlink:href="#handsoncode_logo"></use>
                    </svg>
                </a>
            </div>
        </div>
    </section>
</footer>