<title><%= title %> | <%= brand %></title>
<meta charset="utf-8">
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name="description" content="<%= description %>">

<% if (current.source === 'pricing-maintenance') {  %>
    <meta name="robots" content="noindex" />
<% } %>

<link rel="shortcut icon" href="<%= img_path %>template/ModCommon/favicon.ico" />
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
<link href="/static/css/main.css?v=1478624993" type="text/css" rel="stylesheet">
<script src="/static/bower_components/axios/dist/axios.min.js"></script>
<script src="/static/bower_components/numbro/dist/numbro.min.js"></script>
<script src="/static/bower_components/numbro/dist/languages.min.js"></script>
<script src="/static/js/common/index.js"></script>

<% if (current.source === 'examples' || current.path[1] == 'articles') {  %>
    <link href="/static/bower_components/handsontable-pro/dist/handsontable.full.css" type="text/css" rel="stylesheet">
    <link href="/static/bower_components/highlightjs/styles/github.css" type="text/css" rel="stylesheet">
    <link href="/static/css/vendors/prismjs/prism-ghcolors-customised.css" type="text/css" rel="stylesheet">

    <script src="/static/bower_components/handsontable-pro/dist/handsontable.full.js"></script>
    <script src="/static/bower_components/history.js/scripts/bundled/html4+html5/native.history.js"></script>
    <script src="/static/bower_components/highlightjs/highlight.pack.min.js"></script>

<% } else if (current.source === 'support' || current.source === 'contact') {  %>
    <script src="/static/js/common/formHandler.js"></script>
<% } %>