<header class="row">
    <a href="index.html" class="logotype">Handsontable</a>
    <label for="show_menu"></label>
    <input id="show_menu" type="checkbox" />
    <nav>
        <ul class="clearfix">
            <li><a href="examples.html">EXAMPLES</a></li>
            <li><a href="pricing.html">PRICING</a></li>
            <li><a href="docs.html">DOCS</a></li>
            <li class="dropdown bottom">
                <label for="show_dropdown">MORE</label>
                <svg><use xlink:href="#arrow_down_icon"></use></svg>
                <input id="show_dropdown" type="checkbox" />
                <ul>
                    <li><a href="features.html">Features</a></li>
                    <li><a href="support.html">Support</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </li>
            <li><a class="btn small ghost-red" href="signin.html">SIGN IN</a></li>
        </ul>
    </nav>
</header>