<header class="<% if (current.source === 'features') { %>
                     features-nav
                     <% } else if (current.source === 'pricing' || current.source === 'branding') { %>
                     white-head
                     <% } else { %>
                     header
                     <% } %>
                     " >
    <div class="row">
        <div class="logotype clearfix">
            <a href="/index.html" class="<% if (current.source === 'features') { %>
             brand-logo-white <% } else { %>
             brand-logo <% } %>">
                <svg>
                    <use xlink:href="#handsontable-logo"></use>
                </svg>
            </a>

           <!-- <div id="github-star" class="github-star">
                <a class="github-button" href="https://github.com/handsontable/handsontable"
                   data-icon="octicon-star"
                   data-count-href="/handsontable/handsontable/stargazers"
                   data-count-api="/repos/handsontable/handsontable#stargazers_count"
                   data-count-aria-label="# stargazers on GitHub"
                   aria-label="Star handsontable/handsontable on GitHub">Star</a>
            </div> -->

        </div>
        <label for="show_menu">MENU</label>
        <input id="show_menu" type="checkbox"/>
        <nav class="">
            <ul id="login_menu_signed_off" class="login_menu hide">
                <li><a href="//my.handsontable.com/sign-up.html">Sign up</a></li>
                <li><a href="//my.handsontable.com/">My account</a></li>
            </ul>

            <ul id="login_menu_signed_on" class="login_menu hide">
                <li><p>Nice to see you, <strong id="login_menu_name"></strong></p></li>
                <li><a href="//my.handsontable.com">My account</a></li>
                <li><a id="logout" href="#">Logout</a></li>
            </ul>
            <script>LoginBar.update()</script>
            <ul class="clearfix
                <% if (current.source === 'features') { %>
                     features-nav-li dropdown-f<% } else { %>
                     <% } %>">
                <li><a href="/features.html">Features</a></li>
                <li><a href="/examples.html">Examples</a></li>
                <li><a href="/pricing.html">Pricing</a></li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/support.html">Developers</a></li>
                <li><a href="//my.handsontable.com/sign-up.html">Sign in</a></li>
                <!--<li class="dropdown bottom">-->
                    <!--<label for="show_dropdown">MORE</label>-->
                    <!--<svg>-->
                        <!--<use xlink:href="#arrow_down_icon"></use>-->
                    <!--</svg>-->
                    <!--<input id="show_dropdown" type="checkbox"/>-->
                    <!--<ul>-->
                        <!--<li><a href="/features.html">Features</a></li>-->
                        <!--<li><a href="/resellers.html">Resellers</a></li>-->
                        <!--<li><a href="//forum.handsontable.com" target="_blank">Forum</a></li>-->
                        <!--<li><a href="/branding.html">Branding</a></li>-->
                        <!--<li><a href="/blog">Blog</a></li>-->
                        <!--<li><a href="/contact.html">Contact</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li><a id="free-trial-menu" class="<% if (current.source === 'features') { %>
                     btn small vivid-green <% } else { %>
                     btn small green
                     <% } %>" href="/download.html">Download</a></li>
            </ul>
        </nav>
    </div>
</header>
