/**
 * @author: Handsoncode
 */

/* [ local variable ] */

$billingSideOffset: 34px;

.user .billing  {
    margin-top: 29px;

    h3 {
        font-size: 20px;
        font-weight: 400;
    }
    
    /* [ styles only for desktop ] */
    @media only screen and (min-width: $largeWidth) {
        form {
            padding-right: 28px;
        }

        form,
        table {
            margin-left: $billingSideOffset;
        }

        table {
            width: calc(100% - #{$billingSideOffset});
        }
    }
}