/**
 * @author: Handsoncode
 */

.branding .logo-inversions {

  padding-bottom: 40px;

  @media only screen and (min-width: $mediumWidth) {
    padding: 0 0 40px 0;
  }

  .logo-holder {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    display: block;
    background-color: $darkWhite;
  }

  .logo-holder-black {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    display: block;
    background-color: $brandBlack;
  }


  .logo {
    margin-top: 5%;
    width: 250px;

    @media only screen and (min-width: $mediumWidth) {
      margin-top: 5%;
      width: 450px;
    }
  }

}
