/**
 * @author: Handsoncode
 */

.labs .extras {

  margin-top: 60px;
  margin-bottom: 70px;


  h3 {
    margin-bottom: 30px;
  }

  a {
    font-size: inherit;
  }

  p {
    /* desktop only */
    @media only screen and (min-width: $mediumWidth) {
      margin: 0 0 20px 0;
      padding-right: 40px;
      line-height: 1.6em;
    }
  }


  .subscribe-form {

    span {
      font-size: 0.7em;
      float: left;
      margin: 0;
      padding: 5px 0 0 0;
      color: $middleGray;

      @media only screen and (min-width: $largeWidth) {
        margin: 15px 50px 0 0;
        padding: 0;
      }
    }

    form {

      /* mailchimp class */
      .mc-field-group {
        @include rectangle(100%, 42px);
        margin: 0 auto;
        position: relative;

        @media only screen and (min-width: $largeWidth) {
          width: auto;
        }

        div.mce_inline_error {
          bottom: 44px;

          @media only screen and (min-width: $largeWidth) {
            bottom: -20px;
          }
        }
      }

      input[type="email"],
      input[type="submit"] {
        border-radius: 2px;
      }

      input[type="email"] {
        height: 42px;
        margin: 0;
        padding: 20px;
        background: $headerGrey;

        @media only screen and (min-width: $largeWidth) {
          width: 65%;
          margin-bottom: 5px;
          float: left;
        }
      }

      input[type="submit"] {
        width: 100%;
        margin-top: 30px;

        @media only screen and (min-width: $largeWidth) {
          width: 25%;
          margin: 0;
          padding: 0;
          position: relative;
          left: 20px;
          border-radius: 4px 4px 4px 4px;
        }
      }

      #mce-responses {
        padding: 0;
        top: 180px;
        position: absolute;
        font-size: 0.715em;
        min-height: 10px;
        background: #fff;
        text-align: center;

        @media only screen and (min-width: $largeWidth) {
          padding: 0;
          top: 135px;
          width: 65%;
          font-size: 0.5em;
          min-height: auto;
          text-align: left;
        }

        #mce-error-response {
          color: $brandRed;
        }

        #mce-success-response {
          color: $brandGreen;
        }
      }
    }
  }
}
