/**
 * @author: Handsoncode
 */

.labs .extras {

  margin-top: 60px;
  margin-bottom: 70px;


  h3 {

    margin-bottom: 30px;
  }

  a {

    font-size: inherit;
  }

  p {

    @media only screen and (min-width: $mediumWidth) {

      margin: 0 0 20px 0;
      padding-right: 40px;
      line-height: 1.6em;
    }
  }


  .subscriber-r {

    span {
      font-size: 0.7em;
      float: left;
      margin: 0;
      padding: 5px 0 0 0;
      color: $middleGray;

      @media only screen and (min-width: $largeWidth) {
        margin: 15px 50px 0 0;
        padding: 0;
      }
    }

    form {
      /* mailchimp class */
      .mc-field-group {
        @include rectangle(100%, 42px);
        position: relative;
        margin: 0 auto;

        @media only screen and (min-width: $largeWidth) {
          width: auto;
        }

        /*svg {
          @include set-pseudo-element(50%, auto, auto, 14px);
          @include square(11px);
          margin-top: -5px;
          fill: $middleGray;
        }*/

        div.mce_inline_error {
          bottom: 44px;

          @media only screen and (min-width: $largeWidth) {
            bottom: -20px;
          }
        }
      }

      input[type="email"],
      input[type="submit"] {
        border-radius: 2px;
      }

      input[type="email"] {
        margin: 0;
        padding: 20px;
        background: $headerGrey;
        height: 42px; /* Firefox adds 2 extra pixels */

        @media only screen and (min-width: $largeWidth) {
          float: left;
          width: 65%;
          margin-bottom: 5px;
        }

      }

      input[type="submit"] {
        width: 100%;
        margin-top: 30px;

        @media only screen and (min-width: $largeWidth) {
          width: 25%;
          margin: 0;
          padding: 0;
          position: relative;
          left: 20px;

          border-radius: 4px 4px 4px 4px;
        }
      }

      #mce-responses {
        position: absolute;
        font-size: 0.715em;
        min-height: 10px;
        padding: 0;
        top: 180px;
        background: #fff;
        text-align: center;
        @media only screen and (min-width: $largeWidth) {
          font-size: 0.5em;
          top: 135px;
          padding: 0;
          min-height: auto;
          text-align: left;
          width: 65%;
        }

        #mce-error-response {
          color: $brandRed;
        }

        #mce-success-response {
          color: $brandGreen;
        }
      }
    }
  }
}
