/**
 * @author: Handsoncode
 */

.labs .uploader {

  .upload {

    @keyframes on-hover-in {

      from {
        background-color: $headerGrey;
        border-color: $lightGray;
      }

      to {
        background-color: #fff;
        border-color: $brandBlue;
      }
    }

    @keyframes on-hover-out {

      from {
        background-color: #fff;
        border-color: $brandBlue;
      }

      to {
        background-color: $headerGrey;
        border-color: $lightGray;
      }
    }

    margin: 40px 0 60px 0;
    height: 500px;
    padding: 20px;
    background-color: $headerGrey;
    border: 1px dashed $lightGray;
    border-radius: 10px;
    animation-name: on-hover-out;
    animation-duration: 500ms;
    animation-iteration-count: 1;

    @media only screen and (min-width: $largeWidth) {
      width: 600px;
      height: 500px;
      margin: 90px auto 90px auto;
      padding: 0;

    }

    &:hover,
    &:focus,
    &:active {

      @media only screen and (min-width: $largeWidth) {

        background-color: #fff;
        border-color: $brandBlue;
        animation-name: on-hover-in;
        animation-duration: 500ms;
        animation-iteration-count: 1;
      }
    }

    .svg {
      margin-top: 50px;
      height: 200px;
    }
  }

  h3 {
    text-align: center;
    font-weight: 400;
  }

  p {

    color: $middleGray;
    text-align: center;

  }

  .uploaded {

    margin: 40px auto 60px auto;
    padding: 20px;
    background-color: $headerGrey;
    border: 1px dashed $lightGray;
    border-radius: 10px;

    @media only screen and (min-width: $largeWidth) {
      width: 600px;
      height: 500px;
      margin: 90px auto 90px auto;
    }

    .svg {
      margin-top: 50px;
      height: 100px;
      fill: $brandBlue;

      @media only screen and (min-width: $largeWidth) {
        margin-top: 100px;
      }
    }

    .btn {
      margin-top: 10px;
    }
  }

}
