/**
 * @author: Handsoncode
 */

.branding .logo-spacing {

  padding-bottom: 40px;

  @media only screen and (min-width: $mediumWidth) {
    padding: 0 0 40px 0;
  }

  .logo-holder {
    padding: 40px 0 40px 0;
    background-color: $darkWhite;
  }

  .logo {
    width: 250px;

    @media only screen and (min-width: $mediumWidth) {
      margin-top: 10%;
      width: 280px;
    }
  }
  .logo-two {
    width: 250px;
    @media only screen and (min-width: $mediumWidth) {
      width: 400px;
    }
  }
  .logo-three {
    width: 100px;
    @media only screen and (min-width: $mediumWidth) {
      width: 90px;
    }
  }
}

