/**
 * @author: Handsoncode
 */

.labs .sub-section {
  margin-top: 60px;
  margin-bottom: 70px;


  h3 {
    margin-bottom: 30px;
  }

  a {
    font-size: inherit;
  }

  p {
    @media only screen and (min-width: $mediumWidth) {
      margin: 0 0 20px 0;
      padding-right: 40px;
      line-height: 1.6em;
    }
  }

  .subscribe-form {
    margin-top: 0;
    padding-top: 0;
  }
}
