/**
 * @author: Handsoncode
 */

.labs {

  .header-labs {
    padding: 40px 0;
    background-color: $headerGrey;
    text-align: left;

    @media only screen and (min-width: $mediumWidth) {
      padding: 40px 0 90px 0;
      text-align: center;
    }
  }

  h1 {
    margin: 10px 0;
    padding: 0;
    line-height: 1.1em;

    @media only screen and (min-width: $mediumWidth) {
      margin: 10px 0;
    }
  }

  h2.divider:before {
    top: 80%;

    @media only screen and (min-width: $mediumWidth) {
      top: 40%;
      left: 49%;
    }
  }

  .experimental {
    width: 120px;
    margin: 0 0 20px 0;
    padding: 5px;
    font-size: 0.815em;
    font-weight: 600;
    background-color: purple;
    color: $darkWhite;

    @media only screen and (min-width: $mediumWidth) {
      margin: 0 auto;
    }
  }

  span {
    font-weight: 200;
    text-align: left;
  }
}