/**
 * @author: Handsoncode
 */

.head-testimony {
  padding: 20px 0 60px;

  h4 {
    margin: 30px 0 0;
    padding: 0;
    position: relative;
    font-size: 1em;
    line-height: 1.3;
    @media only screen and (min-width: $largeWidth) {
      margin: 0;
      font-size: 1.8em;
      text-align: left;
    }
  }

  p {
    font-size: 1.154em;

    a {
      font-size: 1em;
    }
  }
  
  .quotation-mark {
    @include absolute-top-left(-20px, -50px);
    display: none;
    @media only screen and (min-width: $largeWidth) {
      display: inline-block;
    }
  }
}