/**
 * @author: Handsoncode
 */

.developers .section {

  h3 {
    padding: 0 0 20px 0;
    text-align: left;
    line-height: 1.1em;
    font-weight: 400;

    @media only screen and (min-width: $mediumWidth) {
      margin: 0 0 15px 0;
    }
  }

  h4 {
    margin: 0;
    padding: 20px 0;
    line-height: 0.7em;
    font-weight: 400;
    text-align: center;

    @media only screen and (min-width: $mediumWidth) {
      padding: 0 0 20px 20px;
      text-align: left;
    }
  }

  h5 {
    padding: 0;
    text-align: left;
    line-height: 0.8em;
    font-weight: 600;

    @media only screen and (min-width: $mediumWidth) {
      margin: 0 0 10px 0;
    }
  }

  .header-section {
    padding: 40px 0 10px 10px;
    text-align: left;

    @media only screen and (min-width: $mediumWidth) {
      padding: 40px 0 0 0;
    }
  }

  p {
    a {
      font-size: inherit;
    }
  }

  .section {
    padding: 40px 15px 40px 15px;
    background-color: $headerGrey;
    color: $baseGray;

    @media only screen and (min-width: $largeWidth) {
      height: 290px;
      margin: 5px 0 0 0;
      padding: 40px 30px 40px 30px;
    }

    .contribute {
      padding: 20px 0 0 0;
    }
  }

  .section-light {
    width: 100%;
    padding: 0;
    color: $baseGray;

    @media only screen and (min-width: $largeWidth) {
      margin: 0;
      padding: 80px 0 0 0;
    }

    .contact {
      line-height: 4em;
    }

    ul, li {
      margin-left: 0;
      text-align: center;

      @media only screen and (min-width: $mediumWidth) {
        margin-left: 10px;
        text-align: left;
      }

      a {
        font-size: inherit;
      }
    }

    .disc {
     padding: 0 90px;
      text-align: center;
      @media only screen and (min-width: $mediumWidth) {
        padding: 0 2px;
        text-align: left;
      }

      ul, li  {
        list-style-type: disc;

        &:last-child {
          list-style-type: none;
        }
      }
    }
  }

  .btn {
    margin: 5px 0 10px 0;

    @media only screen and (min-width: $largeWidth) {
      margin: 0 10px 20px 0;
    }
  }

  .section-new {
    padding: 40px 15px 40px 15px;
    background-color: $headerGrey;
    color: $baseGray;

    @media only screen and (min-width: $largeWidth) {
      margin: 5px 0 0 0;
      padding: 20px 30px 40px 30px;
    }

    h4 {
      margin: 20px 0 10px 0;
      padding: 0;
      text-align: left;
      line-height: 1em;
      font-weight: 600;
      font-size: 0.915em;

      @media only screen and (min-width: $mediumWidth) {
        margin: 20px 0 10px 0;
      }
    }

    .divide {
      border-bottom: 1px solid $lightGray
    }
  }

  .more-articles {
    width: 100%;
    padding: 15px;
    background-color: $ultraLightGray;
    text-align: center;

    @media only screen and (min-width: $mediumWidth) {
      margin: -30px 0 0 0;
    }
  }
}