/**
 * @author: Handsoncode
 */

.developers {

  span {
      font-size: 1em;
      font-weight: 600;
      color: $brandGreen;
  }

  .header-developers {
    padding: 40px 10px 40px 10px;
    text-align: left;

    @media only screen and (min-width: $mediumWidth) {
      padding: 60px 10px 40px 10px;
      text-align: center;
    }

    h4.download {
      margin: 0;
      padding: 0;
    }
  }

  h1 {
    padding: 0;
    text-align: left;
    line-height: 1.1em;
    font-weight: 400;

    @media only screen and (min-width: $mediumWidth) {
      margin-top: 0;
      text-align: center;
    }
  }


  h3 {
    padding: 0;
    text-align: left;
    line-height: 1.1em;
    font-weight: 400;

    @media only screen and (min-width: $mediumWidth) {
      margin: 0 0 10px 0;
    }
  }

  h5 {
    padding: 0;
    text-align: left;
    line-height: 0.8em;
    font-weight: 600;

    @media only screen and (min-width: $mediumWidth) {
      margin: 0 0 10px 0;
    }
  }

  p {
    margin: 0 0 20px 0;
  }

  .border-bottom {
    width: 40px;
    margin: 10px 60px 20px 0;
    border-bottom: solid 2px $brandBlue;

    @media only screen and (min-width: $mediumWidth) {
      margin: 10px auto 20px auto;
      display: block;
    }
  }

  .svg-icon {
    @include square(25px);
    fill: $darkWhite;
    margin-bottom: -5px;

    @media only screen and (min-width: $largeWidth) {
      @include square(30px);
    }
  }

  a {
    font-size: inherit;
    line-height: inherit;
  }
}

