/**
 * @author: Handsoncode
 */

.developers {

  .header-developers {
    padding: 40px 10px 40px 10px;
    text-align: left;

    @media only screen and (min-width: $mediumWidth) {
      padding: 60px 10px 40px 10px;
      text-align: center;
    }

    h4.download {
      margin: 0;
      padding: 0;
    }
  }

  span {
    font-size: 1em;
    font-weight: 600;
    color: $brandGreen;
  }

  h1 {
    padding: 0;
    line-height: 1.1em;
    font-weight: 400;

    @media only screen and (min-width: $mediumWidth) {
      margin-top: 0;
    }
  }

  .svg-icon {
    @include square(25px);
    fill: $darkWhite;
    margin-bottom: -5px;

    @media only screen and (min-width: $largeWidth) {
      @include square(30px);
    }
  }
}

