
.download .resources {

  margin-bottom: 60px;


  .header-dist {

    padding: 40px 10px 40px 20px;

    @media only screen and (min-width: $mediumWidth) {
      padding: 60px 10px 40px 10px;
    }
  }
}