/**
 * @author: Handsoncode
 */

.download .wrappers-module {
  text-align: center;

  p {
    margin: 0;
    font-size: 1em;
  }

  .svg-wrappers {

    @include square(80px);

    margin: 8px;
    padding: 5px;
    fill: $darkWhite;

    @media only screen and (min-width: $largeWidth) {
      margin: 6px;
    }
  }

  .progress {
    filter: grayscale(100%) brightness(140%) opacity(40%) blur(0);
    -webkit-filter: grayscale(100%) brightness(140%) opacity(40%) blur(0);

    p {
      margin-top: 8px;
    }

    &:active,
    &:hover,
    &:focus {
      filter: grayscale(100%) brightness(140%) opacity(40%) blur(0);
    }
  }
  .in-progress {
    filter: grayscale(100%) brightness(140%) opacity(40%) blur(0);
    @include square(80px);
    margin: 13px;
    fill: $darkWhite;
    padding: 10px;

    @media only screen and (min-width: $largeWidth) {
      margin: 9px;
    }
  }

  a {
    font-size: 1em;
  }
}