
.download .wrappers-w {

  text-align: center;

  p {
    margin: 0;
    font-size: 1em;
  }


  .svg-wrappers {

    @include square(80px);

    margin: 8px;
    padding: 5px;
    fill: $darkWhite;

    @media only screen and (min-width: $largeWidth) {
      margin: 6px;
    }
  }

  .progress {

    @keyframes wrapper-pr {
      from {}
      to {filter: grayscale(100%) brightness(140%) opacity(40%) blur(3px);}
    }

    filter: grayscale(100%) brightness(140%) opacity(40%) blur(0);
    -webkit-filter: grayscale(100%) brightness(140%) opacity(40%) blur(0);

    p {
      margin-top: 8px;
    }

    &:active,
    &:hover,
    &:focus {

      filter: grayscale(100%) brightness(140%) opacity(40%) blur(0);

      @media only screen and (min-width: $largeWidth) {

        filter: grayscale(100%) brightness(140%) opacity(40%) blur(3px);
        animation-name: wrapper-pr;
        animation-duration: 500ms;
      }
    }
  }

  .in-progress {

    filter: grayscale(100%) brightness(140%) opacity(40%) blur(0);

    @include square(80px);
    margin: 8px;
    fill: $darkWhite;
    padding: 10px;


    @media only screen and (min-width: $largeWidth) {
      margin: 9px;
    }
  }
}