/**
 * @author: Handsoncode
 */

.contact .form {
  margin: 40px 0 60px 0;
  font-size: 0.945em;

  .label {
    color: $darkGray;
    font-size: 1em;
  }

  h5 {
    margin: 20px 0 26px;
    position: relative;

    .checkbox {
      @include square(10px);
      margin-left: 2px;
      fill: currentColor;
    }
  }

  h5,
  label {
    font-weight: 400;
  }

  label,
  a {
    font-size: inherit;
  }

  label {
    @include user-select;
    float: left;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: #000;
      .checkbox {
        fill: $brandGreen;
      }
    }

    .checkbox {
      @include square(20px);
      margin: 2px;
      fill: $middleGray;
      z-index: 10;

      @media only screen and (min-width: $mediumWidth) {
        @include square(16px);
      }

      &.checked {
        display: none;
      }
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked + label .checkbox {
      display: none;
      &.checked {
        display: block;
        fill: $brandGreen;
      }
    }

    &.dependency:checked + label .checkbox {
      display: block;
      fill: $middleGray;
    }
  }

  .phone {
    color: $darkGray;
    font-size: 1em;
    display: inline;
  }

  .asterisk {
    color: $brandRed;
    font-size: 1em;
  }

  #form-sent,
  #form-error {
    display: none;
  }

  .notification {
    margin: 0 0 20px;
  }

  form {

    textarea {
      min-height: 175px;
      margin-bottom: 20px;
    }
  }
}