/**
 * @author: Handsoncode
 */

 .contact-work .form {
    margin: 40px 0 60px 0;
    font-size: 0.945em;

   .label{
     color: $darkGray;
     font-size: 1em;
   }

   .phone {
     color: $darkGray;
     font-size: 1em;
     display: inline;
   }

   .asterisk {

     color: $brandRed;
     font-size: 1em;
   }


   #form-sent,
   #form-error {
     display: none;
   }

   .notification {
     margin: 0 0 20px;
   }

   form {

     textarea {
       min-height: 175px;
       margin-bottom: 20px;
     }
   }

}