<div class="row">
    <div class="large-12 large-centered columns newsletter">
        <h2 class="headline">
            Get the latest updates first
        </h2>
        <div class="row">
            <div class="large-4 large-centered columns">
                <p>Enter your email address to subscribe for the Handsontable newsletter</p>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_free">
                    <form action="//handsontable.us9.list-manage.com/subscribe/post?u=47073b08d03ebee16188c1687&amp;id=0a640d7654" method="post" class="validate" target="_blank" novalidate>
                        <div>
                            <div class="mc-field-group">
                                <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email">
                            </div>
                            <div class="clear">
                                <input type="submit" value="Subscribe" name="subscribe" class="button btn blue">
                            </div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</div>
