/**
 * @author: Handsoncode
 */

.downloads .repositories {

  .header-module {
    padding: 40px 0;
    text-align: left;

    @media only screen and (min-width: $mediumWidth) {
      padding: 40px 0 0 0;
    }
  }

  p {
    margin: 0 0 15px;
    padding: 0;
  }

  .top-modules {
    height: inherit;

    @media only screen and (min-width: $largeWidth) {
      height: 180px;
    }
  }

  .bottom-modules {
    height: inherit;

    @media only screen and (min-width: $largeWidth) {
      height: 320px;
    }
  }

  .repositories-module {
    padding: 40px 15px;
    background-color: $headerGrey;
    color: $baseGray;

    @media only screen and (min-width: $largeWidth) {
      margin: 5px 0 0;
      padding: 40px 30px;
    }

    a {
      font-size: inherit;
    }
  }

  .tabs-content {
    padding: 20px 5px 0 0;
  }

  .tabs {
    width: 100%;
  }
}