/**
 * @author: Handsoncode
 */

.downloads {

  .header-downloads {
    margin: 40px 0 40px 20px;
    text-align: left;

    @media only screen and (min-width: $mediumWidth) {
      margin: 40px 0 60px;
      text-align: center;
    }
  }

  span {
    font-size: 0.9em;
    color: $darkGray;

    @media only screen and (min-width: $mediumWidth) {
      text-align: center;
    }
  }

  h4.download {
    margin: 0;
    padding: 0;
  }

  h1 {
    padding: 0;
    line-height: 1.1em;
    font-weight: 400;

    @media only screen and (min-width: $mediumWidth) {
      margin-top: 0;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 1.1em;
    font-weight: 400;

    @media only screen and (min-width: $mediumWidth) {
      margin: 0 0 10px 0;
    }
  }

  .svg-icon {
    @include square(25px);

    margin: 0 5px -5px 0;
    float: inherit;
    fill: $brandBlue;

    @media only screen and (min-width: $largeWidth) {
      @include square(20px);
      margin: 10px 5px 0 0;
      float: left;
    }
  }
}

