/**
 * @author: Handsoncode
 */

.downloads .wrappers-holder {
  margin: 0 auto 0 auto;
  font-size: 1.175em;
  text-align: center;

  @media only screen and (min-width: $largeWidth) {
    height: 200px;
    margin-top: 40px;
  }

  .svg-wrappers {
    @include square(60px);
    margin: 30px 0 0 0;

    @media only screen and (min-width: $largeWidth) {
      @include square(50px);
      margin: 20px 20px 0 20px;
    }
  }

  .in-progress {
    filter: grayscale(100%) brightness(140%) opacity(40%);
    -webkit-filter: grayscale(100%) brightness(140%) opacity(40%);
  }
}