/**
 * @author: Handsoncode
 */

.user .orders  {
    margin-top: 29px;

    table {
        margin-top: 5px;
        font-weight: 400;

        th {
            padding-top: 0;
            padding-bottom: 15px;
        }

        td {
            padding-top: 21px;
            padding-bottom: 21px;
        }

        a {
            color: $linkColor;
        }
    } 
}