/**
 * @author: Handsoncode
 */

.pricing .discounts {
  padding: 50px 20px 50px;

  .headline {
    margin-bottom: 80px;
    border: none;
  }

  .discount-item {
    position: relative;
    text-align: center;

    /* [ styles only for desktop ] */
    @media only screen and (min-width: $largeWidth) {
      padding: 0 50px 0 60px;
      text-align: left;
    }

    svg {
      @include absolute-top-left (0,20px);
      @include square (25px);
      fill: $brandGreen;
    }

    h5 {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 600;
    }
  }

}