/**
 * @author: Handsoncode
 */

.pricing .license-renewal {
  padding: 40px 0 40px;

  .left {
    text-align: left;
  }

  .header-dist {
    padding-top: 20px;

    @media only screen and (min-width: $mediumWidth) {
      padding: 20px 0 0px 0;
    }
  }

  h3 {
    margin: 0 20px 10px 20px;
    font-weight: 300;

    @media only screen and (min-width: $mediumWidth) {
      margin: 0 0 20px;
      line-height: 1.5;
    }
  }

  h4 {
    margin-bottom: 30px;
    line-height: 1.4em;
  }

  .license-item {

    .top {
      padding-top: 30px;
    }

    p {
      text-align: center;

      @media only screen and (min-width: $mediumWidth) {
        margin: 0 20px 20px 20px;
        text-align: left;
      }

      a {
        font-size: 1em;
        text-align: center;
        line-height: 2em;
      }
    }
  }

  .renew-license {
    margin: 10px auto 0 auto;
    padding-top: 60px;
    display: block;
    text-align: center;
    clear: both;

    @media only screen and (max-width: $mediumWidth) {
      padding: 60px 20px 20px 20px;
    }
  }
}