/**
 * @author: Handsoncode
 */

.pricing-plan {

  h3 {
    font-weight: 400;
    padding-top: 20px;
  }

  display: flex;
  flex-direction: column;
  position:relative;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  border: 1px solid $accentBorderColor;



  .developer-plus {

    h3 {
      padding-top: 26px;
    }

    margin-top: 20px;
    box-shadow: 0 5px 20px 0 rgba(160, 160, 160, 0.9);
    text-align: center;
    background: $brandDarkNavy;
    color: #fff;
    padding-bottom: 20px;



    @media only screen and (min-width: $mediumWidth) {
      margin-top: -8px;
      margin-bottom: -5px;
      border-radius: 4px;
    }
  }


  .vibrant-blue {
    color: $brandVibrantBlue;
    font-weight: 400;
  }

  .price {
    margin: 40px 0;
    font-size: 1.875em;
    font-weight: 400;
  }

  &.blue {
    top: 0;
    border-radius: 0 0 4px 4px;
    border: 5px solid $brandBlue;

    .price {
      font-weight: 600;
      color: $brandBlue;
    }
    .btn {
      @media (max-width: $mediumWidth - 1) {
        border-radius: 0;
      }
    }
  }

  ul {
    margin: 40px 0 20px 0;

  }

  li {
    padding: 10px 5px;

  }

  ul li {
    font-size: 16px;
    text-align: center;
    line-height: 1.2em;

    @media only screen and (min-width: $mediumWidth) {
      text-align: center;
      font-size: 14px;
      line-height: 1.8em;

    }

    @media only screen and (min-width: $semiWidth) {
      padding: 4px 20px;
      text-align: left;
    }

    a {
      font-size: 15px;
    }
  }

  .btn {
    min-width: 70%;
    height: 30px;
    font-weight: 400;

    &.green {
      padding-bottom: 50px;

      @media only screen and (min-width: $mediumWidth) {
        margin-bottom: 20px;
        padding-bottom: 42px;
        position: absolute;
        bottom: 0;
        right: 20%;
        left:15%;
      }
    }

    &.navy {
      width: 90%;
      margin-bottom: 20px;
      padding-bottom: 50px;

      @media only screen and (min-width: $mediumWidth) {
        width: 80%;
        margin: 20px 0 20px 0;
        padding-bottom: 42px;
        bottom: 0;


      }
    }

    &.blue {
      padding-bottom: 50px;

      @media only screen and (min-width: $mediumWidth) {
        margin-bottom: 24px;
        padding-bottom: 42px;
        position: absolute;
        bottom: 0;
        right: 20%;
        left:15%;
      }
    }

    &.blue-add {
      padding-bottom: 50px;

      @media only screen and (min-width: $mediumWidth) {
        margin-bottom: 20px;
        padding-bottom: 42px;
        bottom: 0;
        right: 20%;
        left: 15%;
      }
    }
  }

  svg {
      display: none;

    @media only screen and (min-width: $semiWidth) {
      margin-right: 10px;
      display: inline;
    }
  }
}