/**
 * @author: Handsoncode
 */

.pricing {

  h5 {
    font-size: 1.1em;
  }

  h3 {
    font-weight: 400;
  }

  .header-pricing {
    padding-bottom: 90px;
    background-color: $brandHeaderWhite;

    .header-dist {
      padding-top: 20px;

      @media only screen and (min-width: $mediumWidth) {
        padding: 100px 20px 0 20px;
      }
    }
  }

  .border-bottom {
    width: 40px;
    margin: 10px 60px 20px 20px;
    border-bottom: solid 2px $brandBlue;

    @media only screen and (min-width: $mediumWidth) {
      margin: 10px auto 20px auto;
      display: block;
    }
  }

  .row-plan {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: $mediumWidth) {
      display: flex;
      flex-direction: row;
    }
  }

  .table-header {
    margin-bottom: -20px;
    text-align: left;
    padding-top: 60px;
  }

  .table {
    width: 100%;

    td {
      height: auto;
      font-weight: 300;

      span {
        font-size: 24px;
      }
    }

    .under {
      @include border-bottom;
    }

    .left {
      text-align: left;
      display: flex;
    }

    .bg {
      background-color: $brandHeaderWhite;
    }
  }

  svg {
    @include square(15px);
    fill: $brandLightGreen;
  }
}

