/**
 * @author: Handsoncode
 */

.pricing .testimony {
  padding: 40px 0 19px;
  margin: 42px auto 42px;

  h5 {
    text-align: center;
    font-size: 1em;
    font-family: $regularFont;
    font-weight: 400;

    @media only screen and (min-width: $mediumWidth) {
      text-align: left;
    }
  }

  .img-center {

    margin-left: 40%;
  }

  blockquote {
    font-weight: 300;
    margin-top: 10px;
    font-size: 30px;
  }
}