/**
 * @author: Handsoncode
 */

.pricing .testimony {
  padding: 40px 0 19px;
  margin: 42px auto 42px;

  h5 {
    text-align: center;

    @media only screen and (min-width: $mediumWidth) {
      text-align: left;
    }
  }

 blockquote {
   margin-top: 10px;
   font-size: 30px;
 }
}