<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                3 Ways To Hide Rows In Handsontable
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/krzysztof-budnik.png" alt="Krzysztof Budnik" />
                    <label>Krzysztof Budnik</label>
                </span>
                <span><a href="/blog/categories/startups">Recipes</a> / February 29, 2016</span>
                <meta itemprop="datePublished" content="2016-02-29T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2016-02-29T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/hidden-rows-handsontable.png" alt="Hiding rows in Handsontable illustration" />
                <meta itemprop="url" content="https://handsontable.com/blog/attachments/images/hidden-rows-handsontable.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="441">
            </p>
            <p>
                There are many situations in which you may want to prevent one or more specific rows from being displayed.
                Such hidden rows will still exist in the data set but the user won't be able to modify them using the interface.
            </p>
            <p>
                You can hide rows in the certain range using at least three different methods. Each of these has its pros
                and cons. Note that these methods don't remove or hide the data permanently. User can access the entire
                data set any time and see what data has been hidden.
            </p>

            <h3>Use modifyRow Hook</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dignissim nulla, id gravida diam. Duis facilisis dolor et consequat sagittis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum maximus vestibulum cursus.
            </p>
            <p>Pros and cons:</p>
            <ul>
                <li class="pros">Pros</li>
                <li class="pros">Pros</li>
                <li class="pros">Pros</li>
                <li class="cons">Cons</li>
                <li class="cons">Cons</li>
                <li class="cons">Cons</li>
            </ul>
            <p>
                In the example below we demonstrate how to load an array of objects to Handsontable and then
                hide rows 1, 3-5, 8-10.
            </p>
            <iframe width="100%" height="300" src="//jsfiddle.net/handsoncode/Lp4qn55v/embedded/"
                    allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            <h3>Use Hiding Rows Plugin</h3>
            <h3>Use Trim Rows Plugin</h3>

            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_kbudnik") %>
</section>