<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                3 Ways To Hide Rows In Handsontable
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/krzysztof-budnik.png" alt="Krzysztof Budnik" />
                    <label>Krzysztof Budnik</label>
                </span>
                <span><a href="/blog/categories/recipes">Recipes</a> / March 1, 2016</span>
                <meta itemprop="datePublished" content="2016-03-01T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2016-03-01T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/hidden-rows-handsontable.png" alt="Hiding rows in Handsontable" />
                <meta itemprop="url" content="https://handsontable.com/blog/attachments/images/hidden-rows-handsontable.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="441">
            </p>
            <p>
                There are many situations in which you may want to prevent one or more specific rows from being displayed.
                Such hidden rows will still exist in the data set but you will be able to decide whether the user can
                modify them using the visual interface.
            </p>
            <p>
                You can hide rows within a certain range using at least three different methods. Each of these methods
                has its pros and cons. Note that these methods don't remove or hide the data permanently.
                Users can access the entire data set any time and see what data has been hidden.
            </p>

            <h3>Use modifyRow Hook</h3>
            <p>
                By using <a href="//docs.handsontable.com/pro/Hooks.html#event:modifyRow">this method</a>
                you can exclude certain rows from the rendering process. Also, the data from the hidden rows is unavailable
                for methods such as <code class="inline">getData</code> or <code class="inline">setData</code>.
                As a result of not rendering these rows you can't copy/paste them.
                To access not-rendered rows you can call the <code class="inline">getSourceData</code> method.
            </p>
            <p class="title">Pros and Cons:</p>
            <ul>
                <li class="pros">Unlimited number of hidden rows</li>
                <li class="pros">Hidden rows don't affect the grid's performance</li>
                <li class="pros">It is available in the free edition</li>
                <li class="cons">You need to map and track the hidden rows yourself</li>
                <li class="cons">Lack of visual indication of which rows are hidden</li>
                <li class="cons">You can't copy or paste data to/from the hidden rows</li>
            </ul>
            <p>
                See the demonstration below on how to hide rows containing IDs 3,4 and 10.
            </p>
            <iframe width="100%" height="290" src="//jsfiddle.net/handsoncode/4g7zq4xg/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <h3>Use Trim Rows Plugin</h3>
            <p>
                <a href="//docs.handsontable.com/pro/demo-trimming-rows.html">This plugin</a> utilizes the
                <code class="inline">modifyRow</code> hook mentioned above to achieve the
                same results. It is available in the Pro version of Handsontable.
            </p>
            <p>
                In the demonstration below we again hide the rows containing IDs 3,4 and 10.
            </p>
            <iframe width="100%" height="300" src="//jsfiddle.net/handsoncode/2rr7xeLm/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe><h3>Use Hidden Rows Plugin</h3>
            <p>
                <a href="//docs.handsontable.com/pro/demo-hiding-rows.html">This plugin</a> renders both visible and
                hidden rows and then hide some of them by setting their heights to <code class="inline">0px</code>.
                The greatest advantage of this plugin is that you can still use features like Copy/Paste or Auto Fill.
                You can also make use of methods like <code class="inline">getData</code> or <code class="inline">setData</code>.
            </p>
            <p class="title">Pros and Cons:</p>
            <ul>
                <li class="pros">You can copy and paste data to/from the hidden rows</li>
                <li class="pros">There is a visual indicator for hidden rows</li>
                <li class="pros">Hidden rows stay accessible for the Auto Fill option</li>
                <li class="cons">Limited number of hidden rows - max. 1000</li>
                <li class="cons">It negatively affects the grid's performance</li>
            </ul>
            <iframe width="100%" height="290" src="//jsfiddle.net/handsoncode/dfbo85xs/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <h3>Conclusion</h3>
            <p>
                The most efficient way to hide the substantial amount of rows is to prevent them from being rendered. That
                way your spreadsheet will calculate only the visible rows instead of computing the entire data set.
                The more rows you trim, the faster the grid works. However, if the hidden rows should be editable using
                Copy/Paste or Auto Fill options, then your optimal choice is using Hidden Rows plugin which is available in
                the <a href="/pricing">Pro version</a> of Handsontable.
            </p>
            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_kbudnik") %>
</section>