<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Best Resources To Learn JavaScript
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/mariola-czupowska.png" alt="Mariola Czupowska" />
                    <label>Mariola Czupowska</label>
                </span>
                <span><a href="/blog/categories/resources">Resources</a> / March 15, 2017</span>
                <meta itemprop="datePublished" content="2017-03-15T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2017-03-15T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/best-resources-to-learn-javascript.png" alt="Best Resources To Learn JavaScript" />
                <meta itemprop="url" content="https://handsontable.com/blog/attachments/images/best-resources-to-learn-javascript.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="441">
            </p>

            <p>
                Let’s say you want to start working with Handsontable but you don’t know JavaScript. You will soon
                face the obvious question – where do I begin? There is an incredible number of online materials and
                websites that are said to teach you coding. However, it might be quite easy to find yourself in a bind.
                That is why I have created a list that will guide you through the labyrinth of the best starting points
                about JavaScript.
            </p>
            <p>
                The article is divided into two parts. In the first part you will find professional courses, and in the
                econd one there are community resources.
            </p>
            <h3>
                Professional courses
            </h3>
            <p>
                There are websites that are widely recognizable when it comes to the courses they offer. They are
                usually education companies. So if you want to get a good start in JavaScript it is worth getting
                familiar with the following list:
            </p>
            <p>
                <strong>
                    1. <a href="https://www.codecademy.com/" target="_blank">
                        Codecademy</a> </strong> - this is probably number one starting point if you are new to coding.
                    JavaScript track is exceptionally well created. You can delve into AngularJS or ReactJs. The
                    founders say that you will learn to code interactively, for free.
            </p>
            <p>
                <strong>
                    2. <a href="https://www.sololearn.com/" target="_blank">
                        Sololearn</a> </strong> – very similar to the above-mentioned Codecademy. They have a mobile
                version so you can learn on the go. There is a possibility to get Sololearn on Google play, you can
                also download it from App Store or Windows Phone Store.
            </p>
            <p>
                <strong>
                    3. <a href="https://www.udacity.com/" target="_blank">
                        Udacity</a> </strong> – aimed at professionals who want to learn new skills and level up their
                careers. Nothing of a university-style classes but they collaborate with educational institutions.
            </p>
            <p>
                <strong>
                    4. <a href="https://www.codeschool.com/" target="_blank">
                        Codeschool</a> </strong> – their motto says learn by doing. The company offers interactive
                coding courses, which are created in a form of paths. You start out from total basics and end up
                with JavaScript best practices.
            </p>
            <p>
                <strong>
                    5. <a href="https://teamtreehouse.com/" target="_blank">
                        Treehouse</a> </strong> – dedicated to learning web design and coding. You study by watching
                videos and doing quizzes testing your knowledge. Throughout your way as a student at Treehouse you will
                be earning badges, which are somewhat an additional motivator.
            </p>
            <p>
                <strong>
                    6. <a href="https://egghead.io/" target="_blank">
                        Egghead</a> </strong> – the site offers various resources: articles, courses etc. By creating
                free account you will get access to some part of the material. Pro content offers you more. The company
                focuses on intermediate or even advanced topics.
            </p>
            <p>
                <strong>
                    7. <a href="https://www.lynda.com/" target="_blank">
                        Lynda</a> </strong> – plenty of courses about JavaScript, starting from essentials and ending
                up with advanced topics. The platform has been on the market for 20 years, and it’s considered to be
                one of the leading online learning platforms.
            </p>
            <h3>
                Community resources
            </h3>
            <p>
                Whereas the courses above are usually paid and require you to sign up, there also other learning
                materials that provide necessary assistance and expertise. When you are done with the course of
                your choice, you might want to have a look the extra reading below:
            </p>
            <p>
                <strong>
                    1. <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide" target="_blank">
                        Mozilla’s JavaScript Guide</a> </strong> – it is considered to be the most comprehensive
                resource for learning coding. An exhaustive reading about the lingua franca of the internet.
            </p>
            <p>
                <strong>
                    2. <a href="http://javascriptissexy.com/" target="_blank">
                        JavaScript is sexy</a> </strong> – dedicated for beginners and advanced users. The
                author teaches you JavaScript properly and even reveals how NOT to learn JavaScript. It’s a blog
                that covers topics ranging from web application development with the use of JavaScript.
            </p>
            <p>
                <strong>
                    3. <a href="http://jsforcats.com/" target="_blank">
                        JavaScriptForCats</a> </strong> – written in a funny way (as the name suggests). They cover
                basics and does not deal with details because, as they say, “cats are not known for their attention span”.
            </p>
            <p>
                <strong>
                    4. <a href="http://eloquentjavascript.net/" target="_blank">
                        Eloquent JavaScript</a> </strong> – a book written by Marijn Haverbeke. A decent reading for
                those who want to read about programming in JavaScript.
            </p>
            <p>
                <strong>
                    5. <a href="http://javascript.crockford.com" target="_blank">
                        JavaScript Crockford</a> </strong> – videos and audio about JavaScript. A good introduction to
                the language, it deals mainly with JavaScript history and some powerful features. Beginners probably
                will not benefit that much from this video series, but it is worth delving into when you have some
                grasp of JavaScript.
            </p>
            <p>
                <strong>
                    6. <a href="https://channel9.msdn.com/Series/Javascript-Fundamentals-Development-for-Absolute-Beginners"
                          target="_blank">
                        JavaScript Fundamentals: Development for Absolute Beginners
                    </a> </strong> – it consists of 21 videos dedicated to JavaScript. Bob Taylor has created several
                beginner series that will help you to learn programming. It covers the fundamentals of coding, and
                each series is focused on a different concept.
            </p>
            <p>
                <strong>
                    7. <a href="https://codecombat.com/" target="_blank">
                        Codecombat</a> </strong> - learning JavaScript in a form of a game. It is a platform
                for students which is designed for the classroom. Basically students write code and see in real-time
                how it affects the game.
            </p>
            <p>
                <strong>
                    8. <a href="http://www.jarober.com/blog/js4u.ssp" target="_blank">
                        Smalltalk with James Robertson</a> </strong> – series of tutorials about JavaScript. You can
                subscribe to this series in iTunes. Videos are short and informative.
            </p>
            <p>
                <strong>
                    9. <a href="http://w3schools.com" target="_blank">
                        W3schools.com</a> </strong> – tutorials that guides you from basics to advanced. When you
                are done with the lessons, there is an option to take a final exam and get JavaScript certification. It
                is worth mentioning that although the site derives its name from the World Wide Web (W3) it is not
                affiliated with W3C.
            </p>
            <h3>
                Conclusion
            </h3>
            <p>
                The internet is full of information about JavaScript, and I hope this article will come in handy for
                you. By getting acquainted with the above-mentioned lists you will save time, and everyone knows time
                is money. Simply jumpstart JavaScript by finding a course that applies to you most, and if it doesn’t
                meet your needs, don’t worry – just change a course.
            </p>
            <p>
                Please share your thoughts on the topic. Maybe you have come across some other undeniably useful
                resources that are great for mastering JavaScript. If so, let me know. Comments are welcome.
            </p>

           <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_mczupowska") %>
</section>