<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope
         itemtype="http://schema.org/BlogPosting" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Best Chart Libraries for 2017
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/chris-meier.png" alt="Chris Meier" />
                    <label>Chris Meier</label>
                </span>
                <span><a href="/blog/categories/tools">Tools</a> / February 27, 2017</span>
                <meta itemprop="datePublished" content="2017-02-27T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2017-02-27T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/best-chart-libraries-for-2017.png" alt="Best Chart Libraries for 2017" />
                <meta itemprop="url"
                      content="https://handsontable.com/blog/attachments/images/best-chart-libraries-for-2017.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="441">
            </p>
            <p>
                We recently did a
                <a href="https://handsontable.com/blog/articles/best-online-spreadsheets-for-2017"
                target="_blank">
                    roundup of the best online spreadsheet software for 2017</a>, but while spreadsheets
                are undeniably great for managing data, they are rather limited when it comes to visualising data.
                You could turn to Power View in Excel, but why not look instead at the many fantastic chart libraries
                that are available? They are highly customisable, include animations (if that's your thing), and in
                most cases can output charts that your audience can interact with. So get ready to say goodbye to
                flat, static data visualisations with our roundup of the best chart libraries of 2017.
            </p>
            <h3>
                Datawrapper
            </h3>
            <p>
                <a href="https://www.datawrapper.de/" target="_blank">
                    Datawrapper's primary audience is journalists and newsrooms</a>,
                and it is built and supported by a dedicated team of engineers, journalists and designers.
                Since launching in 2012, Datawrapper has grown to count The Washington Post, The Wall Street Journal,
                Le Monde, and other top publications as clients. Their pride has always been in giving users the
                ability to create interactive charts and maps in minutes.
            </p>
            <!--
            <iframe width="100%" height="410" src="//jsfiddle.net/handsoncode/2jj2ypvk/embedded/result/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            --><iframe width="100%" height="410" src="//jsfiddle.net/handsoncode/L6d1760s/embedded/result,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                This line chart shows in a simple and understandable way results from COD game.
            </p>
            <p>
                <strong>
                    Pricing
                </strong>
            </p>
            <p>
                A feature-limited demo version is available, with full versions priced from 19€ /mo to more than 499€ /mo.
            </p>
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    Copy and paste data from Excel, CSV, PDF, or the web.
                </li>
                <li>
                    Supports line charts, bar charts, stacked bar charts, column charts, grouped column charts,
                    donuts, data tables, and maps.
                </li>
                <li>
                    Charts can be embedded into any website or CMS with ease, are fully responsive, and can be
                    customised according to your own branding requirements.
                </li>
                <li>
                    Charts can be converted in a variety of printable formats for print editions, while charts for
                    online editions are fully interactive.
                </li>
                <li>
                    Limited support via email, but the website includes an
                    <a href="https://www.datawrapper.de/gallery/" target="_blank">
                        extensive gallery of examples</a>, with the
                    <a href="https://academy.datawrapper.de/" target="_blank">Datawrapper Academy</a>
                    offering guides on getting started and creating different types of charts.
                </li>
            </ul>
            <h3>
                Highcharts
            </h3>
            <p>
                <a href="http://www.highcharts.com/" target="_blank">
                    Highcharts began as a side-project for Torstein Hønsi</a>
                , who wanted to include a simple chart of snow
                depth measurements on his homepage. Highcharts was ready to be publicly launched by 2009, and is now
                considered a premier charting-tool. Not just in Norway, but across the world, with 97% of revenue
                generated from customers outside of Norway.
            </p>
            <iframe width="100%" height="450" src="//jsfiddle.net/handsoncode/ac9ye6u6/embedded/result,js,html,css/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                This line chart illustrates the interactivity of Highcharts, which helps keep your chart uncluttered
                without reducing any value.
            </p>
            <p>
                <strong>
                    Pricing
                </strong>
            </p>
            <p>
                Highcharts is completely free for non-commercial use.
                <a href="https://shop.highsoft.com/highcharts" target="_blank">
                    Licenses for using Highcharts</a> in SaaS projects, web applications, intranets, and websites start
                at $410 for a single developer.
            </p>
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    Supports line, spline, area, areaspline, column, bar, pie, scatter, angular gauges, arearange,
                    areasplinerange, columnrange and polar chart types. And many of these can be combined in one chart.
                </li>
                <li>
                    Does not need client-side plugins, and you don't need to install anything on your server.
                    Highcharts needs only one JavaScript file to run, and data can be loaded externally.
                </li>
                <li>
                    Can be used with React, Angular, and Meteor.
                </li>
                <li>
                    Highcharts website includes
                    <a href="http://www.highcharts.com/docs" target="_blank">general documentation</a>,
                    <a href="http://api.highcharts.com/highcharts" target="_blank">API reference documentation</a>,
                    a <a href="http://www.highcharts.com/community/showcase/editors-choice/" target="_blank">
                        community showcase</a>, and extensive
                    <a href="http://www.highcharts.com/community/charts/" target="_blank">code examples</a>.
                </li>
                <li>
                    Support for free users is via a
                    <a href="https://forum.highcharts.com/" target="_blank">forum</a> and
                    <a href="http://stackoverflow.com/tags/highcharts" target="_blank">Stack Overflow</a>,
                    with premium email and Skype support only available for commercial users with the appropriate
                    license.
                </li>
            </ul>
            <h3>
                Plotly
            </h3>
            <p>
                <a href="https://plot.ly/" target="_blank">Plotly was founded in Montreal in 2012</a>
                , and by 2013 they had already been named one of the hottest
                innovative companies in Canada. The backend of this analytics and data visualisation tool uses Python
                and Django, but the front-end is Javascript, with visualisations rendered using D3.js, HTML and CSS.
            </p>
            <iframe width="100%" height="650" src="//jsfiddle.net/handsoncode/tgrv8wsu/embedded/result,js,html,css/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                Plotly’s interactive chart reveals information in relation to where your cursor is positioned, not only
                when hovering directly over a segment.
            </p>
            <p>
                <strong>
                    Pricing
                </strong>
            </p>
            <p>
                A <a href="https://plot.ly/products/cloud/compare/" target="_blank">
                    free community edition is available</a>, with limited features. Personal and professionals
                editions are priced at $396 /year and $948 /year, with a full-feature on-site edition priced from
                $9,950 /year.
            </p>
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    Support for basic charts, statistical charts, scientific charts, and maps. Charts can be
                    interactive, embedded in websites, exported in a variety of formats, and even used to create
                    dynamic presentations.
                </li>
                <li>
                    APIs for Python, MATLAB, R, and the ability to write your own API client.
                </li>
                <li>
                    The use of D3.js enables you to create online dashboards incorporating your charts, with
                    the ease of drag-and-drop.
                </li>
                <li>
                    Create charts using Excel spreadsheets, or connect to your database. Plotly supports several
                    SQL and NoSQL databases.
                </li>
                <li>
                    Support varies from <a href="https://community.plot.ly/" target="_blank">community based</a>,
                    through to chat, email, and telephone. Website includes extensive
                    <a href="https://plot.ly/api/" target="_blank">API documentation</a>, a
                    <a href="http://help.plot.ly/" target="_blank">growing knowledge base</a>, and a
                    <a href="https://plot.ly/feed/" target="_blank">showcase of Plotly charts</a> submitted by users.
                </li>
            </ul>
            <h3>
                amCharts
            </h3>
            <p>
                Founded by Antanas Marcelionis more than 10-years ago,
                <a href="https://www.amcharts.com/" target="_blank">
                    amCharts started out as a digital pin-map</a>
                , and has grown to include pie, line, column and bar charts - among others - managed by a distributed
                team of 13 people, including two cartography specialists.
            </p>
            <iframe width="100%" height="550" src="//jsfiddle.net/handsoncode/angan1gh/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                A Gantt chart using amCharts, this time with more than just values being revealed when hovering over
                each bar segment.
            </p>
            <p>
                <strong>
                    Pricing
                </strong>
            </p>
            <p>
                amCharts is free for any use, but all charts will include a small, branded link. To remove the link,
                and get access to priority support,
                <a href="https://www.amcharts.com/online-store/" target="_blank">
                    costs from $140</a>.
            </p>
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    Three separate products, Javascript Charts, Javascript Stock Chart, and Javascript Maps. A
                    WordPress plugin is also available.
                </li>
                <li>
                    Can be incorporated into other frameworks with a React component, and an Angular2 directive.
                </li>
                <li>
                    All maps and charts are responsive and can be made interactive for a richer experience.
                </li>
                <li>
                    External data can be loaded in JSON or CSV format, and an online editor is available for
                    anyone not comfortable working with Javascript.
                </li>
                <li>
                    Support for live charts, full customisation, and W3C-approved accessibility functions.
                </li>
                <li>
                    <a href="https://www.amcharts.com/sign-in/?redirect_to=%2Fsupport%2F" target="_blank">
                        Full support available</a>, with priority support reserved for licensed customers. Website
                    includes a
                    <a href="https://www.amcharts.com/knowledge-base/" target="_blank">
                        comprehensive knowledge base</a>, along with
                    <a href="https://www.amcharts.com/demos/" target="_blank">demos</a>,
                    <a href="https://docs.amcharts.com/3/" target="_blank">
                        class reference guides</a>, and an
                    <a href="https://www.amcharts.com/inspiration/" target="_blank">
                        inspiration gallery</a>.
                </li>
            </ul>
            <h3>
                Chart.js
            </h3>
            <p>
                <a href="http://www.chartjs.org/" target="_blank">
                    Chart.js is a completely open-source Javascript chart library</a>
                launched in 2013. Despite appearing to have no traditional organisation structure, Chart.js is being
                actively developed, with V 2.5.0 released in early 2017. The aim of the developers is to keep Chart.js
                as a simple yet flexible chart solution for designers and developers.
            </p>
            <iframe width="100%" height="450" src="//jsfiddle.net/handsoncode/Lumaxqwj/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                Like amCharts, this demo using Chart.js allows you to display a lot more information when hovering
                over each segment, not just values.
            </p>
            <p>
                <strong>
                    Pricing
                </strong>
            </p>
            <p>
                <a href="https://github.com/chartjs/Chart.js" target="_blank">
                    Chart.js is an open-source project</a>, released under the MIT license.
            </p>
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    Supports line charts, bar charts, radar charts, polar area charts, pie & donut charts, bubble
                    charts, mixed charts, and scales.
                </li>
                <li>
                    All chart types can be customised and animated, and when used online, all charts are responsive.
                </li>
                <li>
                    Functionality can be extended through the use of plugins.
                </li>
                <li>
                    <a href="http://www.chartjs.org/docs/" target="_blank">
                        Comprehensive documentation</a>
                    is available on the Chart.js website, with support via
                    <a href="http://stackoverflow.com/questions/tagged/chart.js" target="_blank">
                        Stack Overflow</a>.
                </li>
            </ul>
            <h3>
                FusionCharts
            </h3>
            <p>
                <a href="http://www.fusioncharts.com/" target="_blank">
                    FusionCharts has been around for quite some time</a>. Since 2002, to be exact. Although initially developed
                using a combination of Flash and ASP, FusionCharts now uses Javascript, with support for multiple
                programming languages.
            </p>
            <iframe width="100%" height="460" src="//jsfiddle.net/handsoncode/dcoas9k1/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                Like amCharts, this demo using Chart.js allows you to display a lot more information when hovering over
                each segment, not just values.
            </p>
            <p>
                <strong>
                    Pricing
                </strong>
            </p>
            <p>
                Unlimited <a href="http://www.fusioncharts.com/download/" target="_blank">
                    free trial</a>, but commercial use requires a license.
                <a href="http://www.fusioncharts.com/buy/" target="_blank">
                    Licences cost from $299 /year</a> for the full suite, or from $149 /year for individual products.
            </p>
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    90+ chart types, in both 2D and 3D. 950+ maps covering all continents.
                </li>
                <li>
                    All charts and maps can be animated, with full interactivity.
                </li>
                <li>
                    Server-side APIs for ASP.NET, PHP, and Ruby on Rails.
                </li>
                <li>
                    Easily add charts to your website or app with extensions for jQuery, AngularJS, PHP, ASP.NET,
                    JSP, Django, React, and Ruby on Rails.
                </li>
                <li>
                    Multi-platform, browser, and device support, including older browsers.
                </li>
                <li>
                    Detailed
                    <a href="http://www.fusioncharts.com/dev/getting-started/installation.html" target="_blank">
                        user's guide</a> and
                    <a href="http://www.fusioncharts.com/dev/api/fusioncharts.html" target="_blank">
                        API reference</a> available online, along with a demo gallery of
                    <a href="http://www.fusioncharts.com/dev/demos/chart-gallery.html" target="_blank">
                        charts</a> and
                    <a href="http://www.fusioncharts.com/dev/demos/dashboards.html" target="_blank">
                        business dashboards</a>, and a
                    <a href="http://www.fusioncharts.com/resources/" target="_blank">
                        resource page</a>.
                </li>
                <li>
                    Support is via a
                    <a href="https://support.fusioncharts.com/support/home" target="_blank">
                        knowledge base</a> and community forum, with unlimited priority support for license holders.
                </li>
            </ul>
            <h3>
                ZingChart
            </h3>
            <p>
                <a href="https://www.zingchart.com/" target="_blank">
                    ZingChart started out as a solution</a>
                to a problem being experienced by Thomas Powell, with the first version of ZingChart launched in 2009.
                The goal has always been to have a flexible and fast product that makes use of modern technologies,
                and can be used anywhere.
            </p>
            <iframe width="100%" height="550" src="//jsfiddle.net/handsoncode/0L63yc8k/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                This ZingChart shows how your charts can be dynamic even without any interactivity. The animation used
                loads the chart in steps, rather than a fluid reveal.
            </p>
            <p>
                <strong>
                    Pricing
                </strong>
            </p>
            <p>
                <a href="https://www.zingchart.com/buy/details/branded-license/" target="_blank">
                    Free version available</a> using a branded license.
                <a href="https://www.zingchart.com/buy/" target="_blank">
                    Commercial licenses</a>, with no branding, are available from $199.
            </p>
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    Supports more than 30 different chart types.
                </li>
                <li>
                    Fully customisable with CSS inspired styling.
                </li>
                <li>
                    Ability to render charts using real-time data, and built-in support for fast rendering of data
                    sets of any size.
                </li>
                <li>
                    Charts are interactive, and responsive.
                </li>
                <li>
                    Data can be loaded via JS Objects, JSON, CSV, PHP, AJAX, or MySQL.
                </li>
                <li>
                    Comprehensive
                    <a href="https://www.zingchart.com/docs/" target="_blank">
                        use documentation</a> on the website, including
                    <a href="https://www.zingchart.com/gallery/" target="_blank">
                        a gallery featuring more than 170 demos</a>.
                </li>
                <li>
                    Free support available via the
                    <a href="https://help.zingchart.com/hc/en-us" target="_blank">
                        ZingChart Help Centre</a>,
                    <a href="http://stackoverflow.com/questions/tagged/zingchart" target="_blank">
                        Stack Overflow</a>,
                    <a href="https://www.zingchart.com/support/" target="_blank">
                        email and chat</a>. Premium support is available in
                    <a href="https://www.zingchart.com/buy/" target="_blank">
                        hourly and annual packages.</a>
                </li>
            </ul>
            <h3>
                Conclusion
            </h3>
            <p>
                Chart libraries are a visual tool, and as such should be evaluated on the quality and usefulness of the
                visualisations they render in relation to your need. However, they are not the only feature you should
                be evaluating. Support, integrations and overall stability are just as important, but no matter what
                libraries any roundup list, the overall winner is always the one that meets your specific needs.
            </p>


            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_cmeier") %>
</section>