<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope
         itemtype="http://schema.org/BlogPosting" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Best Online Spreadsheets for 2017
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/chris-meier.png" alt="Chris Meier" />
                    <label>Chris Meier</label>
                </span>
                <span><a href="/blog/categories/tools">Tools</a> / February 14, 2017</span>
                <meta itemprop="datePublished" content="2017-02-14T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2017-02-14T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/best-online-spreadsheets-for-2017.jpg"
                     alt="Best Online Spreadsheets for 2017" />
                <meta itemprop="url"
                      content="https://handsontable.com/blog/attachments/images/best-online-spreadsheets-for-2017.jpg">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="441">
            </p>

            <p>
                The internet has brought many benefits to most industries, with the most striking for businesses
                being online collaboration. Various collaborative tools make it possible for whole teams to almost
                seamlessly work on the same file, in real time.
                <a href="https://handsontable.com/blog/articles/why-you-will-never-give-up-spreadsheets" target="_blank">
                    We have written about spreadsheets in the past</a>, but
                always taking a broad outlook. Today we narrow our focus by assessing the best online spreadsheet
                apps, which because of the many benefits they offer, have become very popular. Aside from
                collaboration being built in, modern spreadsheet apps are accessible from anywhere - and on almost
                any device - with the added benefit of presenting you with a consistent UI and set of features.
                Gone are the days of traveling to a remote office, only to discover they're still using Office 2007,
                while you're more familiar with Office 2016.
            </p>
            <p>
                However, not all changes are painless, and as online spreadsheets have grown in popularity, so have the
                demands for enhancements by end-users. And since development of any spreadsheet software requires
                significant resources, apps that were previously free are now either switching to a premium model,
                or shutting down completely. That said, there are still many great online spreadsheet apps for you
                to use and explore, and in this article we highlight some of our favourites.
            </p>
            <h3>
                ZOHO Sheet
            </h3>
            <p>
                The Zoho Corporation launched
                <a href="https://www.zoho.com/docs/sheet.html" target="_blank">
                    Zoho Docs</a> (or Zoho Office Suit) in 2005, so it benefits from both being
                around for more than just a few years, and being backed by a large parent company.
            </p>
            <img src="../attachments/images/best-online-spreadsheets-for-2017/best-online-spreadsheets-for-2017-zoho.png"
                 alt="Best Online Spreadsheets for 2017: Zoho Sheet">
            <p>
                <strong>Pricing</strong>
            </p>
            <p>
                A free version is available for teams of up to 25 people, but it offers less storage, and a few less
                features, than the paid version, which starts at $5 per user /month.
            </p>
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    Cloud Storage - all your files, including images and audio, are stored online, with 5GB to 1TB
                    storage space per user.
                </li>
                <li>
                    Easily integrate with other services such as Dropbox and GApps.
                </li>
                <li>
                    Upload and store large files, from 1GB through to 25GB (depending on plan).
                </li>
                <li>
                    Two-way sync allowing you to continue working even if offline.
                </li>
                <li>
                    Full audit trail so you can see what edits were made, and by who.
                </li>
                <li>
                    Full in-transit encryption.
                </li>
                <li>
                    A fresh UI that isn't confusing.
                </li>
                <li>
                    Great support in the form of an active
                    <a href="https://www.zoho.com/docs/blog" target="_blank">blog</a>,
                    updated
                    <a href="https://www.zoho.com/docs/faq/online-spreadsheet.html" target="_blank">FAQ</a>,
                    and a
                    <a href="https://forums.zoho.com/zoho-docs" target="_blank">support forum</a>.
                </li>
            </ul>
            <h3>
                    Google Sheets
            </h3>
            <p>
                For some this is the gold standard for online spreadsheet tools, with a comprehensive set of tools, and
                all available free of charge. Like Zoho, it has been around for some time, and is backed by a strong
                parent company. You can find it at <a href="https://docs.google.com/spreadsheets" target="_blank">
                    google.com/spreadsheets</a>
            </p>
            <img src="../attachments/images/best-online-spreadsheets-for-2017/best-online-spreadsheets-for-2017-google-spreadsheets.png"
                 alt="Best Online Spreadsheets for 2017: Google Spreadsheets">
            <p>
                <strong>Pricing</strong>
            </p>
            <p>
                Free
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    Connect to other Google products and projects with ease.
                </li>
                <li>
                    Sharing, and tracking changes, is incredibly simple.
                </li>
                <li>
                    Voice commands are now supported in addition to voice typing.
                </li>
                <li>
                    Comprehensive Help section is built right into the app.
                </li>
                <li>
                    Excellent support from the
                    <a href="https://productforums.google.com/forum/#!forum/docs" target="_blank">
                        vast community</a>.
                </li>
                <li>
                    Access to
                    <a href="https://support.office.com/en-us/article/Excel-training-9bc05390-e94c-46af-a5b3-d7c22f6990bb?ui=en-US&amp;rs=en-US&amp;ad=US"
                       target="_blank">
                        hundreds of templates</a> to get your project started faster. Some
                    are designed by Google, but most are submitted by the community.
                </li>
                <li>
                    Structure and broad
                    <a href="https://gsuite.google.com/faq/sheets/" target="_blank">FAQ section</a>, to
                    cover anything not already addressed by the Help section and the community.
                </li>
            </ul>
            <h3>
                    Microsoft Office 365
            </h3>
            <p>
                Following the trend to do everything online, Microsoft shifted from offering a standalone
                <a href="https://products.office.com/en-us/business/compare-office-365-for-business-plans"
                   target="_blank">Office
                suite</a>, to using an online subscription model. Unlike many other online office suites, Microsoft
                does not offer a free package, and the packages they do offer are differentiated by the software
                that is included, rather than features alone.
            </p>
            <img src="../attachments/images/best-online-spreadsheets-for-2017/best-online-spreadsheets-for-2017-microsoft-office.png"
                 alt="Best Online Spreadsheets for 2017: Miscrosoft Office 365">
            <p>
                <strong>Pricing</strong>
            </p>
            <p>
                $5 per user /month for the online only version  of Office, through to $12.50 per user /month for
                desktop, tablet and mobile phone versions of Office.
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    Almost identical structure and UI used in the online, desktop, tablet, and phone versions.
                </li>
                <li>
                    A stable product with a very long history.
                </li>
                <li>
                    A large number of tutorials covering all functions can be found on the Microsoft site,
                    and all across the internet.
                </li>
                <li>
                    Huge
                    <a href="https://support.office.com/" target="_blank">support community</a>
                    that is always willing to help.
                </li>
                <li>
                    In-app help is fast and supports multiple languages.
                </li>
                <li>
                    You have
                    <a href="https://support.office.com/en-us/article/Excel-training-9bc05390-e94c-46af-a5b3-d7c22f6990bb?ui=en-US&amp;rs=en-US&amp;ad=US"
                       target="_blank">
                        access to a small library</a> of tutorials covering basic to advanced topics.
                </li>
                <li>
                    Free <a href="https://templates.office.com/" target="_blank">
                        access to templates and themes</a> for almost any type of project.
                </li>
            </ul>
            <h3>
                Quip
            </h3>
            <p>
                Founded by the co-creator of Google Maps in 2012,
                <a href="https://quip.com/" target="_blank">
                    Quip</a>
                has grown rapidly in a very short time.
                Salesforce acquired Quip in 2016, providing the app with a solid support structure. Quip has
                always been about collaboration between web and mobile devices.
            </p>
            <img src="../attachments/images/best-online-spreadsheets-for-2017/best-online-spreadsheets-for-2017-quip.png"
                 alt="Best Online Spreadsheets for 2017: Quip">
            <p>
                <strong>Pricing</strong>
            </p>
            <p>
                From $30 /month for a team of five users.
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    Chat and commenting are built right into each document, making live collaboration easier.
                </li>
                <li>
                    Full edit history so you always know what was changed, and by whom.
                </li>
                <li>
                    Permissions can be set at group and folder level, with full encryption throughout.
                </li>
                <li>
                    <a href="https://quip.com/teams" target="_blank">
                        Industry specific case-studies</a> showing how the app can be used in different scenarios.
                </li>
                <li>
                    <a href="https://www.quipsupport.com/hc/en-us/articles/212418283-Why-Quip-" target="_blank">
                        Clever guide that also acts as a mini-onboarder</a>, while answering some questions you
                    may have. If you still have questions after that, then
                    <a href="https://www.quipsupport.com/hc/en-us#navfaq" target="_blank">
                        head over to the FAQ</a>.
                </li>
                <li>
                    Finally, the Quip team isn't shy about
                    <a href="https://quip.com/uaMNApicNQPb" target="_blank">
                        sharing their plans for 2017</a>, so you know upfront what new features you can expect.
                </li>
            </ul>
            <h3>
                    Smartsheet
            </h3>
            <p>
                <a href="https://www.smartsheet.com/" target="_blank">SmartSheet</a>
                differs somewhat from the other tools we have looked at so far. Although in theory they
                offer an online spreadsheet app, with collaborative features, the actual app is customised according
                to specific business functions in an organisation.
            </p>
            <img src="../attachments/images/best-online-spreadsheets-for-2017/best-online-spreadsheets-for-2017-smartsheet.png"
                 alt="Best Online Spreadsheets for 2017: Smartsheet">
            <p>
                <strong>Pricing</strong>
            </p>
            <p>
                From $14 per user /month. Most features are in all plans, with only a few features limited to larger
                plans.
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    Collaboration can take place on the whole spreadsheet, or restricted to a specific row.
                </li>
                <li>
                    Seamless integration with GApps.
                </li>
                <li>
                    Mobile app version of SmartSheet for both iOS and Android.
                </li>
                <li>
                    Used by top multinational companies.
                </li>
                <li>
                    Comes with integration to leading industry tools built-in; these include SalesForce, Marketo, Git,
                    and Zapier.
                </li>
                <li>
                    Comprehensive
                    <a href="https://www.smartsheet.com/support" target="_blank">
                        support</a>, including a very active
                    <a href="https://community.smartsheet.com/" target="_blank">
                        community</a>, and
                    <a href="https://www.smartsheet.com/videos/what-is-smartsheet" target="_blank">video library</a>.
                </li>
            </ul>
            <h3>
                    Airtable
            </h3>
            <p>
                Like Quip, <a href="https://airtable.com/" target="_blank">Airtable</a>
                has been around since 2012. But age doesn't matter much when you have a passionate
                team driving a product that is used by many large companies, and has attracted investment from top VCs.
                Because Airtable accepts multiple forms of data, and has customisable views, the developers tout it as
                spreadsheet meets database.
            </p>
            <img src="../attachments/images/best-online-spreadsheets-for-2017/best-online-spreadsheets-for-2017-airtable.png"
                 alt="Best Online Spreadsheets for 2017: Airtable">
            <p>
                <strong>Pricing</strong>
            </p>
            <p>
                From free, with limited features, through to $24 per user /month, with an Enterprise option also
                available.
            <p>
                <strong>
                    Key Features
                </strong>
            </p>
            <ul>
                <li>
                    Add attachments directly to your worksheet, including images, barcodes, and videos.
                </li>
                <li>
                    Supports multiple views, from Grid, through to Gallery.
                </li>
                <li>
                    Easy to link related content across tables.
                </li>
                <li>
                    Large
                    <a href="https://airtable.com/templates" target="_blank">
                        template library</a>
                    , with templates categorised according to industry.
                </li>
                <li>
                    Built-in support for configuring Airtable to work with your favourite apps, with another 450
                    integrations possible via Zapier.
                </li>
                <li>
                    Great support from
                    <a href="https://support.airtable.com/hc/en-us" target="_blank">in-house team</a>
                    , and
                    <a href="https://community.airtable.com/" target="_blank">active community</a>.
                </li>
            </ul>


            <h3>
                Conclusion
            </h3>
            <p>
                With the support of
                <a href="https://abc.xyz/" target="_blank">Alphabet</a>, Google is able to offer a great spreadsheet
                app free of charge -
                it works well, makes collaboration easy, and is accessible from anywhere. But there will always
                be a market for alternatives such as those listed in this article. They differentiate themselves
                by targeting specific industries, or by coming close to reinventing what traditional spreadsheets
                can do. But as they have all learned early on, innovation isn't cheap, and without the resources
                of Alphabet backing you up, charging for your product is the only sustainable business method.
            </p>


            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_cmeier") %>
</section>