<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Most Interesting Open Data Sources
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/kamil-krolikowski.png" alt="Kamil Królikowski" />
                    <label>Kamil Królikowski</label>
                </span>
                <span><a href="/blog/categories/resources">Resources</a> / March 7, 2017</span>
                <meta itemprop="datePublished" content="2017-03-07T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2017-03-07T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/most-interesting-open-data-sources.png" alt="Most Interesting Open Data Sources" />
                <meta itemprop="url" content="https://handsontable.com/blog/attachments/images/most-interesting-open-data-sources.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="441">
            </p>

            <p>
                In this post I wanted to introduce you to some of the most interesting open data sources available
                online.  And I’m hoping it is going to be quite informative of course!  And not too boring, especially
                to those who have limited interest in this arena but decided to spare a few moments and expand their
                knowledge.
            </p>
            <p>
                You still there?  Good.
            </p>
            <p>
                If I asked you to fasten your seatbelts that would be an overkill so simply sit back, relax and
                let’s find out more.
            </p>
            <p>
                Before I present you with an official definition it is crucial to understand the context and importance
                of open data sources.  Data has the power to revolutionise and disrupt the way societies are governed,
                identify and predict large-scale trends and behaviours.  Using open data also presents opportunities
                for businesses and improves quality of life by creating innovative solutions.
            </p>
            <p>
                <strong>
                    So what does ‘open’ really mean in the context of data?
                </strong>
            </p>
            <p>
                <em>
                    Open data is data that can be freely used, re-used and redistributed by anyone - subject only,
                    at most, to the requirement to attribute and share-alike.
                </em>
            </p>
            <p>
                The above description comes from the
                <a href="http://opendefinition.org/" target="_blank">
                    Open Definition</a> document published by the Open Knowledge
                Foundation to define openness in relation to data and content.
            </p>
            <p>
                There are also three principles underpinning the openness of data that you should be aware of:
            </p>
            <ul>
                <li>
                    <strong>Availability and Access:</strong>
                    the data must be available in a convenient and modifiable form as a whole, preferably by
                    downloading over the internet.
                </li>
                <li>
                    <strong>Re-use and Redistribution:</strong> the data must be provided under terms that permit
                    re-use and sharing, including intermixing with other data sets.
                </li>
                <li>
                    <strong>Universal Participation:</strong> everyone must be able to use, re-use and redistribute.
                    Any exclusions or restrictions are not allowed as long as data does not contain information about
                    specific individuals.
                </li>
            </ul>
            <p>
                Those principles need to be consistently applied.  They allow sets of data from various sources to
                work together and this is crucial for the whole openness of data.
            </p>
            <p>
                Right - since we understand a concept of open data slightly better now - it is the time to look for
                some interesting sources available online.  Please bear in mind this is only a small selection of
                those data sources I personally find interesting but the choice is unlimited really, and there’s
                something for everyone so keep on browsing folks!
            </p>
            <p>
                I’ve come up with a number of categories for different open data sources so you know what kind of
                data you may find in there.  I’ve also asked myself a few questions, namely: how attractive is the
                content, whether it comes from a reliable source (i.e. government agencies, reputable think-tanks)
                and how challenging are the problems captured by the source.
            </p>
            <p>
                Based on the above I decided on the following categories and interesting open data sources for each of them:
            </p>
            <p>
                <strong>1. General/Academic:</strong>
            </p>
            <p>
                <a href="https://www.nytimes.com/section/upshot" target="_blank">
                    The Upshot by New York Times</a>.
                News and analysis about politics and everyday life.  Check out the Arts & Entertainment Guide, it’s a
                great way of exploring atmosphere of Big Apple.
            </p>
            <p>
                <strong>2. Content Marketing:</strong>
            </p>
            <p>
                <a href="https://moz.com/blog" target="_blank">
                    The Moz Blog</a>.
                The industry's top wizards, doctors and other experts offer their best advice, research, how-tos and
                insights - all in the name of helping you level-up your SEO and online marketing skills.
            </p>
            <p>
                <strong>
                    3. Crime:
                </strong>
            </p>
            <p>
                <a href="https://ucr.fbi.gov/" target="_blank">
                    FBI Crime Statistics</a>.
                Statistical crime reports and publications describing specific offenses and showing  trends to
                understand crime threats.  No records of Special Agent Dale Cooper though!
            </p>
            <p>
                <strong>
                    4. Education:
                </strong>
            </p>
            <p>
                <a href="http://data.unicef.org/education/overview.html" target="_blank">
                    Education Data by Unicef</a>. Data related to sustainable development, school completion
                rates, net attendance rates, literacy rates, and more.
            </p>
            <p>
                <strong>
                    5. Entertainment:
                </strong>
            </p>
            <p>
                <a href="https://aws.amazon.com/datasets/million-song-dataset/" target="_blank">
                    Million Song Dataset</a>. A collection of 28 datasets containing audio features and
                metadata for a million contemporary popular music tracks.  Definitely one of my favourites
                and that’s not all within this category!
            </p>
            <p>
                <a href="http://www.the-numbers.com/" target="_blank">
                    The Numbers</a>. Detailed movie financial analysis, including box office, DVD and Blu-ray sales reports, and release schedules.
            </p>
            <p>
                <strong>
                    6. Environmental & Weather Data:
                </strong>
            </p>
            <p>
                <a href="https://www.epa.gov/open/data-inventory-and-activities" target="_blank">
                    Environmental Protection Agency</a>.  Data items related to more than 540 chemical substances, containing information on human health effects that may result from exposure to various substances in the environment.
            </p>
            <p>
                <a href="https://www.ncdc.noaa.gov/wdcmet/data-access-search-viewer-tools/world-weather-records-wwr-clearinghouse"
                   target="_blank">
                    National Centers for Environmental Information</a>. Weather record published since 1927, including
                monthly mean values of pressure, temperature, precipitation, and station metadata notes documenting
                observation practices and station configurations.
            </p>
            <p>
                <strong>
                    7. Financial/Economic Data:
                </strong>
            </p>
            <p>
                <a href="http://data.worldbank.org/" target="_blank">
                    World Bank Open Data</a>. Education statistics about everything from finances to service
                delivery indicators.  You may find in there the 2017 Global Economic Prospects Report released by
                the World Bank.
            </p>
            <p>
                <a href="https://www.globalfinancialdata.com/index.html" target="_blank">
                    Global Financial Data</a>. With data on over 60,000 companies covering 300 years, Global
                Financial Data offers a unique source to analyse the twists and turns of the global economy.
                Those who use it will take the experiences of the past to minimise the uncertainty of the
                future.  Pretty comprehensive view indeed…
            </p>
            <p>
                <strong>
                    8.  Government/World:
                </strong>
            </p>
            <p>
                <a href="https://www.cia.gov/library/publications/the-world-factbook/" target="_blank">
                    The CIA World Factbook</a>.  Yep, that’s right. The World Factbook provides information
                on the history, people, government, economy, geography, communications, transportation,
                military, and transnational issues for 267 world entities.
            </p>
            <p>
                <strong>
                    9. Social:
                </strong>
            </p>
            <p>
                <a href="https://developers.facebook.com/docs/graph-api" target="_blank">
                    Facebook Graph</a>.  I’m not just a pretty face.. I’m the primary way to get data in and
                out of Facebook's social graph. It's a low-level HTTP-based API that is used to query data,
                post new stories, upload photos and a variety of other tasks that an app might need to do.
            </p>
            <p>
                <strong>
                    10. Travel:
                </strong>
            </p>
            <p>
                <a href="http://www.geoba.se/" target="_blank">
                    Search the World</a>.  Great place to find statistics, population, weather, webcams,
                travel information and more for millions of locations worldwide.
            </p>
            <p>
                So that was my selection of the most interesting open data sources available online.  Hope you’ve found
                this summary useful.
            </p>
            <p>
                Give me some details please about other open data sources worth checking.  What are the challenges and
                opportunities ahead of open data?  Any thoughts welcome!
            </p>


           <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_kkrolikowski") %>
</section>