<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope
         itemtype="http://schema.org/BlogPosting" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Organising Your Life With Spreadsheets
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/chris-meier.png" alt="Chris Meier" />
                    <label>Chris Meier</label>
                </span>
                <span><a href="/blog/categories/tools">Tools</a> / October 25, 2016</span>
                <meta itemprop="datePublished" content="2016-10-25T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2016-10-25T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/organising-your-life-with-spreadsheets.png"
                     alt="Organising Your Life With Spreadsheets" />
                <meta itemprop="url"
                      content="https://handsontable.com/blog/attachments/images/organising-your-life-with-spreadsheets.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="441">
            </p>

            <p>
                If you're a die-hard fan of spreadsheets you need no reminding of how awesome they are for keeping
                things organised, and keeping tabs on virtually anything you want to track. However, it is possible
                that you abandoned spreadsheets for the promises made by the flood of connected devices,
                <em>smart-everything</em>, and apps the last few years have brought.
            </p>
            <p>
                Nothing wrong with that, and if you have found a great combination of smart devices and apps that
                record and analyse all you need, then this article is probably not for you. But if you find yourself
                frequently trying out new apps and devices that simply don't record and analyse data <strong>the way you
                    want it done</strong>, use this article as a reminder of the many things spreadsheets can do to help you be
                more organised. You shouldn't have to wrangle with an app to conform to your needs when a spreadsheet
                can do it with less hassle.
            </p>
            <h3>
                Finance
            </h3>
            <p>
                The younger you are
                <a href="http://www.debtadvicefoundation.org/news/2016/03/17/do-these-four-things-make-you-more-likely-be-debt" target="_blank">
                    the more likely you are to be burdened by debt</a>
                , from student loans, through to credit card debt, and - depending on how young you are - possibly
                even a mortgage. And if you've recently started your own business, you may even find yourself having
                to service a business loan.
            </p>
            <p>
                If you have a lot of debt to service, using a liability calculator in conjunction with a personal/household
                budget spreadsheet (see next point) should make perfect sense. Finding a liability calculator app is quite
                easy, but your own spreadsheet will offer you more control and customisation, especially if any of
                your debt has a variable interest rate, or if you intend following a
                <a href="https://www.nerdwallet.com/blog/finance/what-is-a-debt-snowball/" target="_blank">
                    snowball or avalanche strategy to reduce your indebtedness</a>, with a light dusting of <em>debt snowflakes</em>.
            </p>
            <h3>
                Household
            </h3>
            <p>
                A debt calculator is not effective without the use of a robust personal or household budget. And again,
                although there is no shortage of apps for this, a custom spreadsheet can be more effective, not
                least of all when you’re working at reducing your debt. Naturally, a budget spreadsheet is also only
                truly effective if you are committed to adhering to it, and adjusting it as necessary to accommodate
                any unforeseen changes.
            </p>
            <p>
                Depending on your income, and the size of your debt, a third sheet that works in tandem with a budget
                and debt spreadsheet, is a personal or household savings sheet. You may scoff at the idea, exclaiming
                that you can just look at the balance in your savings/investment account to know where you stand, but
                what if you are saving toward multiple goals or projects? Your spreadsheet can be designed in such a
                way as to break your total savings down into smaller amounts, allowing you to track your progress
                towards the amount needed for each goal or project.
            </p>
            <h3>
                Science &amp Learning
            </h3>
            <p>
                If you believe in the idea that we should never stop learning, then you will have various learning
                goals that you are either working towards achieving, or intend accomplishing at some future point
                in time. But unless you have hyperthymesia, you will need some way to keep track of your goals to
                becoming a polymath, and your own custom spreadsheet will make this possible, not only listing your
                goals, but allowing you to easily break larger goals into smaller steps, and then tracking your
                progress towards achieving each of them.
            </p>
            <p>
                Spreadsheets are great too for keeping track of - and even visualising - a large number of data
                points, from keeping you own record of local weather conditions, through to recording specific data
                relating to your favourite sports team, and even data relating to constellations and other space
                objects. Professionals in all these fields may have access to high-end equipment and software,
                but a committed amateur meteorologist, astronomer or astrodynamicist should be able to come close
                with little more than a spreadsheet.
            </p>
            <h3>
                Health
            </h3>
            <p>
                The final category of personal spreadsheet usage we are going to look at is one that has become
                increasingly popular following the introduction of wearables that make it easier to track health
                related information. All fitness and health trackers, from smartphones through to smartwatches
                and the likes of Fitbit, come with their own dashboard software for keeping track of your measurements,
                but as with apps for any of the other categories we have covered here, what you record, and how you
                analyse it, has to conform to what the dashboard allows. Combining this information with your own
                spreadsheet allows you to get the data to conform to what you want instead, so that you are able,
                in one document, to include information that cannot be recorded by a fitness tracker: BMI, weight,
                specific body measurements. This, in turn, gives you a broader view of your health, along with an
                ability to analyse changes in any of these in relation to changes in your workout. Afterall, knowing
                that you hit your target of 10,000+ steps each day doesn't mean much if you aren't also seeing
                reductions in your weight and body measurements.
            </p>
            <h3>
                Conclusion
            </h3>
            <p>
                Aside from the ability to combine multiple spreadsheets into a single document, the biggest benefit
                of traditional spreadsheets over mobile and web apps, is that they can conform to your needs, rather
                than you having to conform to the limitations of any app. Which leads us to asking how you are using
                spreadsheets outside of your work environment?
            </p>


            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_cmeier") %>
</section>