<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                The Ultimate Guide to Sizing Handsontable
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/aleksandra-budnik.jpg" alt="Aleksandra Budnik" />
                    <label>Aleksandra Budnik</label>
                </span>
                <span><a href="/blog/categories/recipes">Recipes</a> / March 30, 2016</span>
                <meta itemprop="datePublished" content="2016-03-30T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2016-03-30T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/ultimate-guide-to-sizing-handsontable.png" alt="Hiding rows in Handsontable" />
                <meta itemprop="url" content="https://handsontable.com/blog/attachments/images/ultimate-guide-to-sizing-handsontable.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="441">
            </p>
            <p>
                One of the very first things you can do with Handsontable is adjusting it to the existing layout.
                In this article I will guide you through the configuration options which will make Handsontable
                work the way you like
            </p>
            <p>
                Handsontable was created with performance in mind, therefore it supports relatively large data sets,
                even those exceeding 100k rows. To navigate effectively within such an amount of information
                you may need to limit the container's width and height.
            </p>
            <p>
                Handsontable by default fills its nearest parent element with a defined width, height and the
                CSS overflow property set to hidden.
                Having that, you can expand your Handsontable to the window's dimension and use the native
                scrollbars to navigate through the grid. Here are your options at a glance:
            </p>

            <ul>
                <li>Scroll both vertically and horizontally inside a limited HTML container,</li>
                <li>Scroll vertically inside an HTML container and horizontally inside the window (coming soon),</li>
                <li>Scroll horizontally inside an HTML container and vertically inside the window,</li>
                <li>Scroll both vertically and horizontally inside the window.</li>
            </ul>
            <p>
                This gives you almost complete freedom in fitting Handsontable into your design.
                Further in this article you will find the details on how to set it all up.
            </p>
            <h3>1. Fixed width and height</h3>
            <p>
                You can enter a constant width and height to a Handsontable instance directly in the configuration
                before initializing it, for example:
            </p>
            <p>
                <code>width: width_value,</code>
                <code>height: height_value</code>
            </p>
            <p>
                This will define the (Handsontable's) holding container's width and height in pixel values and
                add the <code class="inline">overflow: hidden</code> property.
                This setting enables the spreadsheet to calculate scrollbars using its own logic and
                makes the navigation possible.
            </p>
            <iframe width="100%" height="400" src="//jsfiddle.net/handsoncode/tfhjd5vo/3/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            <p>
                You can also define the (Handsontable's) size using CSS:
            </p>
            <p>
<code>.hot-container {</code>
 <code> width: with_value px;</code>
 <code> height: height_value px;</code>
 <code> overflow: hidden;</code>
<code>}</code>
            </p>
            <p>
                If you use CSS then make sure you set the <code class="inline">overflow</code> property
                to <code class="inline">hidden</code>, as Handsontable won't adjust
                properly without it. The CSS selectors can used interchangeably with the JavaScript configuration but
                the mentioned two shouldn't be used simultaneously.
            </p>
            <iframe width="100%" height="400" src="//jsfiddle.net/handsoncode/cqp9L3zv/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                Additionally, if your spreadsheet doesn't have many columns and you can't fill the container with a
                defined width, you can use the <code class="inline">stretchH</code> option to stretch the
                columns to the maximum visible width:
            </p>
            <iframe width="100%" height="400" src="//jsfiddle.net/handsoncode/ap7vof50/1/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                In the demo above we have 5 columns stretched to the width of 400px. Using the mentioned
                <code class="inline">stretchH</code>
                option is the easiest and most flexible solution to fill the entire container. Learn more about it in
                our
                <a href="https://docs.handsontable.com/pro/1.3.2/demo-stretching.html">
                    documentation
                </a>.
            </p>

            <h3>2. Fixed height only (Coming soon)</h3>
            <p>
                If you provide height only and decide to leave the width indefinite then the spreadsheet will expand to
                the window's full width (or any parent element with defined dimensions and
                <code class="inline">overflow: hidden</code>).
            </p>
            <p>
                We plan to add the <code class="inline">preventOverflow: vertical</code> option soon.
            </p>

            <h3>3. Fixed width only</h3>
            <p>
                If you set only the table's width, it won't render until you use the
                <a href="http://docs.handsontable.com/0.24.1/Options.html#preventOverflow">
                    <code class="inline">preventOverflow</code></a> option.
                By setting it to <code class="inline">horizontal</code> your spreadsheet will have the width of a
                parent container and the height of the window. Scrollbars will appear if needed. Basically,
                the <code class="inline">preventOverflow</code> option <strong>prevents</strong> the
                table from overflowing the parent container in the provided dimension, in this case - horizontal.
            </p>
            <p>
                Currently, only the <code class="inline">horizontal</code> setting is available for this option,
                but we plan to implement the <code class="inline">vertical</code> one in the foreseeable future.
            </p>
            <iframe width="100%" height="350" src="//jsfiddle.net/handsoncode/18wtx4vr/1/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            <h3>4. No width and height</h3>
            <p>
                If there are no height and width settings entered in configuration, the table will vertically and
                horizontally fill the entire window (again, or any parent element with defined dimensions and
                <code class="inline">overflow: hidden</code>).
            </p>
            <iframe width="100%" height="350" src="//jsfiddle.net/handsoncode/1fo2dvpL/1/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            <h3>Conclusion</h3>
            <p>
                Handsontable is a flexible and easy-to-setup library when you know the basics. Even if your layout
                requires placing multiple instances on the same page, with the guide above you're covered.
            </p>
            <p>
                Additionally, you can change the spreadsheet's size dynamically during the session by entering new
                values in <code class="inline">updateSettings</code>.
            </p>
            <p>
                You can set Handsontable to stretch in a window or to have fixed dimensions - now it all depends on you.
            </p>
            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_abudnik") %>
</section>