<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope
         itemtype="http://schema.org/BlogPosting" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Top 9 NoSQL Cloud Platforms to Store Your Data
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/aleksandra-budnik.png" alt="Aleksandra Budnik" />
                    <label>Aleksandra Budnik</label>
                </span>
                <span><a href="/blog/categories/tools">Tools</a> / December 6, 2016</span>
                <meta itemprop="datePublished" content="2016-12-06T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2016-12-06T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/top-9-nosql-cloud-platforms-to-store-your-data.png" alt="Top 9 NoSQL cloud platforms to store your data" />
                <meta itemprop="url"
                      content="https://handsontable.com/blog/attachments/images/top-9-nosql-cloud-platforms-to-store-your-data.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="441">
            </p>
            <p>
                Any organisation using a database to store, manage and sort information will - at some stage -
                need to consider moving the database onto a cloud platform for improved efficiency, reliability
                and security. And if your organisation is already using Handsontable, you want a platform provider
                who makes it easy to connect your database to Handsontable.
            </p>
            <p>
                This was our primary consideration when evaluating the best cloud platform service providers for this
                article, followed by support for NoSQL databases. The benefits of NoSQL are well documented, and chief
                among them is the fact that most NoSQL solutions are open-source, providing you with a low-cost path to
                further development and implementation of your software. When assessing cloud platform service providers,
                we looked at the robustness of the platform and infrastructure, the level of support offered, along with
                how easy it is to scale your requirements in line with demand.
            </p>
            <p>
                Additionally, we limited our assessment to cloud platform service providers who support open-source
                solutions, with close to one-click integrations - we understand that you would want to get your
                database set up as quickly as possible, so that you can continue focusing on your core product. So
                while you will see that the platforms we selected support MongoDB, CouchDB, Cassandra or Redis, other
                popular databases such as SummitDB and LevelDB are notably absent.
            </p>
            <p>
                Leaving us with 9 highly specialized cloud platform service providers that, we think you will agree,
                all offer a tough platform, sturdy infrastructure, great support, and the ability to scale according
                to your needs.
            </p>
            <h3>
                Bitnami
            </h3>
            <p>
                Bitrock's BitNami allows developers to easily find
                <a href="https://bitnami.com/stacks/database" target="_blank">database apps</a>
                and create a primary cloud solution.
                For some apps you can also play with a demo in your browser before performing any actions
                with your own project.
            </p>
            <p>
                What is their mission? To serve apps easily and shorten a distance between the developer and a working app on his server.
            </p>
            <p>
                With Bitnami you can count on having the latest available version (especially when it comes to security issues) as soon as it gets published:
            </p>
            <blockquote>
                we update our Bitnami-packaged apps as soon as possible, often within hours of the availability of a fix.
                (
                <a href="https://bitnami.com/learn_more" target="_blank">Learn about Bitnami</a>)
            </blockquote>
            <p>
                You just need to set up email notifications, as the software won't update itself to let you keep your latest working version operating.
            </p>
            <img src="../attachments/images/top-9-nosql-bitnami.png" alt="Top 9 NoSQL cloud platforms to store your data bitnami" />
            <p>
                Check below list for noSQL databases available via Bitnami stack:
            </p>
            <ul>
                <li>
                    <a href="https://bitnami.com/stack/couchdb" target="_blank">CouchDB</a>
                </li>
                <li>
                    <a href="https://bitnami.com/stack/redis" target="_blank">Redis</a>
                </li>
                <li>
                    <a href="https://bitnami.com/stack/mongodb" target="_blank">MondoDB</a>
                </li>
                <li>
                    <a href="https://bitnami.com/stack/cassandra" target="_blank">Cassandra</a>
                </li>
            </ul>
            <h3>
                ScaleGrid
            </h3>
            <p>
                Supports Redis and MongoDB databases, and is used by companies like Dell and Adobe.
            </p>
            <p>
                ScaleGrid offers a free 30-day trial, and after that you can get a standalone instance on their
                Micro plan, starting from $20.
            </p>
            <p>
                When should you pick ScaleGrid? When you would like to only use a library for a database solution.
                Also check
                <a href="https://scalegrid.io/pricing.html" target="_blank">ScaleGrid’s pricing</a>
                for more details about plans, as there are 7 plans to choose from.
            </p>
            <img src="../attachments/images/top-9-nosql-scalegrid.png" alt="Top 9 NoSQL cloud platforms to store your data scaleGrid" />
            <p>
                If you need a helping hand be sure to check ScaleGrid's blog as they are adding quick tutorials on how to - for example
                <a href="https://scalegrid.io/blog/deploy-redis-in-aws-virtual-private-cloud-vpc/" target="_blank">
                    deploy Redis in AWS Virtual Private Cloud
                </a>
            </p>
            <p>
                Check these direct links to database products to learn more
            </p>
            <ul>
                <li>
                    <a href="https://scalegrid.io/mongodb/products.html" target="_blank">MongoDB</a>
                </li>
                <li>
                    <a href="https://scalegrid.io/redis/products.html" target="_blank">Redis</a>
                </li>
            </ul>
            <h3>
                Heroku
            </h3>
            <p>
                Heroku offers developers an easy way to handle all operations related to downloading, installing and
                updating database apps. They offer more than 150 add-ons, all available to download by CLI or the
                Heroku dashboard from the Heroku Elements Marketplace. Heroku is great if you’re wanting to stay
                focused on your product, rather than having to also manage the infrastructure side of using a cloud
                platform. With Heroku taking care of the myriad of background operations and infrastructure issues,
                you can simply focus on your product or app, and your customers.
            </p>
            <p>
                Heroku offers a very clear
                <a href="https://www.heroku.com/pricing" target="_blank">pricing plan</a>
                and an intuitive user interface.
            </p>
            <img src="../attachments/images/top-9-nosql-heroku.png" alt="Top 9 NoSQL cloud platforms to store your data Heroku" />
            <p>
                Supported noSQL databases:
            </p>
            <ul>
                <li>
                    <a href="https://elements.heroku.com/addons/mongohq" target="_blank">mongoDB</a>
                </li>
                <li>
                    <a href="https://elements.heroku.com/addons/instaclustr" target="_blank">Cassandra</a>
                </li>
                <li>
                    <a href="https://elements.heroku.com/addons/rediscloud" target="_blank">Redis</a>
                </li>
            </ul>
            <h3>
                mLab
            </h3>
            <p>
                A solution dedicated to managed mongoDB databases on AWS, Azure and Google, mLab is a great pick when
                you are starting your adventure with mongoDB and you want to improve your knowledge.
                <a href="https://www.linkedin.com/in/willshulman/" target="_blank">Will Shulman</a>,
                who's a co-founder of mLab and an experienced software engineer, encourages the use of the mLab
                sandbox to develop your mongoDB skills. Like Heroku, mLab takes care of the infrastructure, so
                you can take care of your app.
            </p>
            <img src="../attachments/images/top-9-nosql-mlab.png" alt="Top 9 NoSQL cloud platforms to store your data mLab" />
            <p>
                noSQL databases in mLab:
            </p>
            <ul>
                <li>
                    <a href="https://mlab.com/" target="_blank">mongoDB</a>
                </li>
            </ul>
            <h3>
                Google Cloud Platform
            </h3>
            <p>
                If you have already used any other Google products, you will be comfortable with the GCP interface and
                the presentation of all the methods in the documentation and help articles. Aside from integrating
                with a large number of solutions, Google Cloud also offers peace-of-mind knowing that everything
                from their infrastructure through to their security is backed by their extensive history of innovation.
            </p>
            <p>
                Google states that the GCP is
                <a href="https://cloud.google.com/why-google/no-ops/" target="_blank">all about no-ops</a>:
            </p>
            <blockquote>
                your most precious cycles are devoted to code, with minimal time spent configuring infrastructure.
            </blockquote>
            <img src="../attachments/images/top-9-nosql-gcp.png" alt="Top 9 NoSQL cloud platforms to store your data Google Cloud Platform" />
            <p>
                noSQL databases that are handled via GCP:
            </p>
            <ul>
                <li>
                    <a href="https://console.cloud.google.com/launcher/details/click-to-deploy-images/mongodb" target="_blank">
                        mongoDB
                    </a>
                </li>
                <li>
                    <a href="https://console.cloud.google.com/launcher/details/bitnami-launchpad/couchdb" target="_blank">
                        couchDB
                    </a>
                </li>
                <li>
                    <a href="https://console.cloud.google.com/launcher/details/click-to-deploy-images/redis" target="_blank">
                        Redis
                    </a>
                </li>
                <li>
                    <a href="https://console.cloud.google.com/launcher/details/click-to-deploy-images/cassandra" target="_blank">
                        Cassandra
                    </a>
                </li>
            </ul>
            <h3>
                Rackspace
            </h3>
            <p>
                Fully managed but easy to use cloud service with a support channel available 24/7 for 365 days in a year.
            </p>
            <p>
                Rackspace is a good choice when you have previously struggled with installation, or you just don't know
                where to start. The Rackspace website asserts that the support team is well qualified and happy to help:
            </p>
            <blockquote>
                Whatever You Want to Do with Your Cloud, Our Certified Experts Have Probably Done it Before.
            </blockquote>
            <p>
                So if you need someone to give you the best tips and guidance, you are guaranteed of great support from
                Rackspace on every step when creating a noSQL cloud solution.
            </p>
            <img src="../attachments/images/top-9-nosql-rackspace.png" alt="Top 9 NoSQL cloud platforms to store your data Rackspace" />
            <p>
                Check the noSQL databases handled by Rackspace
            </p>
            <ul>
                <li>
                    <a href="https://www.rackspace.com/data/managed-nosql" target="_blank">mongoDB</a>
                </li>
                <li>
                    <a href="https://www.rackspace.com/data/managed-nosql" target="_blank">Redis</a>
                </li>
                <li>
                    <a href="https://www.rackspace.com/data/managed-nosql" target="_blank">Cassandra</a>
                </li>
            </ul>
            <h3>
                Microsoft Azure
            </h3>
            <p>
                One of the first benefits that Microsoft claims to offer with Azure is a multi-tenant way of handling
                customer requests, which addresses the 'I' in ACID. They place a lot of emphasis on the handling of
                requests with a high level of protection, providing multi-layered security that is designed to block
                all potential threats, including DDoS attacks.
            </p>
            <p>
                What about localization? Microsoft Azure currently operates 12 servers in North America, 1 server in
                South America, 6 servers in Europe, 2 servers in Australia and 9 in Asia.
            </p>
            <p>
                Microsoft also allows you to test their solution via a trial that offers:
            </p>
            <ul>
                <li>
                    8 TB of storage for a month, and
                </li>
                <li>
                    the ability to build up to 40 SQL databases
                </li>
            </ul>
            <img src="../attachments/images/top-9-nosql-ms-azure.png" alt="Top 9 NoSQL cloud platforms to store your data Microsoft Azure" />
            <p>
                Supported database solutions:
            </p>
            <ul>
                <li>
                    <a href="https://azure.microsoft.com/en-us/marketplace/partners/bitnami/mongodb/" target="_blank">
                        mongoDB
                    </a>
                </li>
                <li>
                    <a href="https://azure.microsoft.com/en-us/marketplace/partners/couchbase/couchbase-server-40-community/" target="_blank">
                        couchBase
                    </a>
                </li>
                <li>
                    <a href="https://azure.microsoft.com/en-us/marketplace/partners/bitnami/couchdb/" target="_blank">
                        couchDB
                    </a>
                </li>
                <li>
                    <a href="https://azure.microsoft.com/en-us/marketplace/partners/bitnami/redis/" target="_blank">
                        Redis
                    </a>
                </li>
                <li>
                    <a href="https://azure.microsoft.com/en-us/marketplace/partners/bitnami/cassandra/" target="_blank">
                        Cassandra
                    </a>
                </li>
            </ul>
            <h3>
                Amazon Web Services
            </h3>
            <p>
                Currently the most popular solution in the database cloud storage industry; it is well-known and
                rapidly gaining more clients because of the huge amount of servers spread all over the world, along
                with the flexibility of solutions to choose from. Whenever you run a relational database, a noSQL
                database, you need an in-memory cache, or a data warehouse, you can choose a cloud AWS solution from
                5 products: Amazon RDS, Amazon Aurora, Amazon DynamoDB, Amazon Redshift and Amazon ElastiCache.
            </p>
            <img src="../attachments/images/top-9-nosql-aws.png" alt="Top 9 NoSQL cloud platforms to store your data Amazon Web Services" />
            <p>
                They claim to have a sensitive malicious web traffic filter called WAF, which will block any DDoS
                attacks, and you can even customize it if you have experienced any unusual attacks.
            </p>
            <p>
                For noSQL databases that are usually trading some ACID properties for more flexibility, they created
                the aforementioned DynamoDB solution to handle data easier.
            </p>
            <p>
                AWS supports:
            </p>
            <ul>
                <li>
                    <a href="https://aws.amazon.com/elasticache/redis/" target="_blank">Redis</a>
                </li>
                <li>
                    <a href="https://aws.amazon.com/whitepapers/nosql-database-in-the-cloud-mongodb-on-aws/" target="_blank">
                        mongoDB
                    </a>
                </li>
            </ul>
            <h3>
                RedisLabs
            </h3>
            <p>
                Redis is a dedicated solution to increase your database performance.
            </p>
            <p>
                RedisLabs actively supports the building of enormous databases as it allows you to use them
            </p>
            <blockquote>
                without any downtime or limitation of Redis commands
                (<a href="https://redislabs.com/redis-cloud" target="_blank">source</a>)
            </blockquote>
            <p>
                Additionally, Redis Labs claim that their Redis Cloud solution is very flexible and robust, as it is
                able to provide thousands of database operations simultaneously, without any data loss.
            </p>
            <p>
                If you would like to know more about their ability to accomplish this goal, feel free to take a minute to read
                <a href="https://redislabs.com/lp-six-essential-features-of-a-highly-available-redis" target="_blank">
                    Six Essential Features of a Highly Availabe Redis
                </a>
            </p>
            <img src="../attachments/images/top-9-nosql-redis-labs.png" alt="Top 9 NoSQL cloud platforms to store your data Redis Labs" />
            <p>
                Database:
            </p>
            <ul>
                <li>
                    <a href="https://redislabs.com/" target="_blank">Redis</a>
                </li>
            </ul>
            <h3>
                Conclusion
            </h3>
            <p>
                These 9 service providers all offer solutions that are ACID compatible, with integrated anti-DDoS
                measures, and available via a distributed network of servers in multiple locations around the world.
                Narrowing it down to one preferred provider is up to you, based on your own unique requirements, and
                choice of database. While we are still looking for a service provider who offers easy integration of
                SummitDB and LevelDB, feel free to share any solutions or service providers you have found in the
                comments below.
            </p>


            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_abudnik") %>
</section>