<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                What To Expect When Switching From Open-Source To Commercial
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/chris-meier.png" alt="Chris Meier" />
                    <label>Chris Meier</label>
                </span>
                <span><a href="/blog/categories/startups">Startups</a> / February 22, 2016</span>
                <meta itemprop="datePublished" content="2016-02-22T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2016-02-22T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/going-commercial.jpg" alt="Going commercial illustration" />
                <meta itemprop="url" content="https://handsontable.com/blog/attachments/images/going-commercial.jpg">
                <meta itemprop="width" content="1514">
                <meta itemprop="height" content="1026">
                <label class="photo-label">Drawn by Vincent Martinez</label>
            </p>
            <p>
                There is no handbook to guide you should you ever decide to move your software product from open-source
                to a commercial model. If there were, it would come with a large disclaimer:
            </p>
            <blockquote>"Results may vary"</blockquote>
            <p>
                If you are diligent, you may have several meetings with your co-founders and developers to discuss
                strategy; you may even compile a big fancy document in which you try to predict all possible obstacles,
                and detail how you may manage them. Even then, you would still need to include a large disclaimer:
            </p>
            <blockquote>"Results may vary"</blockquote>
            <p>
                <a href="http://www.businessinsider.com/github-the-full-inside-story-2016-2" target="_blank">
                As recent events at GitHub</a> have shown,
                these obstacles and challenges are more than simple teething
                problems, and they can affect any organization regardless of size, pedigree and age.
            </p>
            <h3>Why Switch to a Commercial Model?</h3>
            <p>
                Developers have their own motivation for switching from a pure open-source model to a commercial or
                open-source/commercial hybrid model.
                <a href="http://knightlab.northwestern.edu/2013/07/24/six-lessons-on-success-and-failure-for-open-source-software/" target="_blank" rel="nofollow">
                    A long-term study</a> by Charles Schweik and Robert English found that
                of the nearly 200,000 open-source projects they reviewed, nearly half were abandoned before they even
                reached release stage, and 37 percent were abandoned after the initial release. Success, and ongoing
                development, were not dependent on funding (75 percent of the successful open-source projects reviewed
                had no funding), but on the need for the software. Ongoing development of open-source projects is largely
                driven by a user-centered need, and the more a developer (and users) need a specific bit of software,
                the more motivated they are to continue working on it.
            </p>
            <p>
                But there is always a risk that what started out as a side-project will grow to a stage where any
                further improvements will require a full-time commitment. And this usually requires funding.
            </p>
            <p>
                What remains important, regardless of your motivation for going commercial, is that your reasons are
                reflected in how you market, license and maintain the software. Don't say that you are going commercial
                so that you can offer improved support, but the support you end up offering is no faster than before;
                and don't offer an open-source/commercial hybrid, only to abandon development on the open-source version.
            </p>
            <p>
                Going commercial does not necessarily entail abandoning open-source: like Handsontable,
                <a href="https://www.talend.com/" rel="nofollow" target="_blank">Talend</a>'s core
                set of features are all open-source, with a set of pro features, and dedicated support, available as
                commercial add-ons if necessary.
            </p>
            <p>
                Similarly, <a href="http://www.canonical.com/" rel="nofollow" target="_blank">Canonical</a> has a vested
                interest in several open-source projects (principally Ubuntu), but there is a commercial side offering
                technical support and centralized management of Ubuntu systems.
            </p>
            <h3>Navigating the Challenges of a Commercial Model</h3>
            <p>
                Switching your open-source project to a commercial model will see you faced with various challenges.
                Some of these challenges are quite obvious, but some will surprise you and test your courage.
            </p>
            <p>
                It all depends on which new business model you intend applying to your product - are you only going to
                offer a commercial license, or are you going to follow the open-source/commercial hybrid route?
                This is not a decision to make without considering that:
            </p>
            <ul>
                <li>
                    It is unlikely that your open-source users will switch to being paying customers. Your paying
                    customers will most likely be a whole new segment of users who had little exposure to your
                    open-source product.
                </li>
                <li>
                    You risk frustrating a lot of users by completely abandoning an open-source license. Although some
                    of these users are unlikely to ever convert to paying customers, they would have been loyal to you
                    through much of the open-source development cycle - contributing bug reports, suggesting features,
                    and indirectly influencing your future growth potential through informal word-of-mouth marketing.
                </li>
            </ul>
            <p>
                So the challenge here is not only properly assessing the risk each licensing option exposes you to, but
                also establishing how you will manage the fallout if you completely abandon the open-source license.
                If you opt to follow the hybrid route, you have to decide whether you are going to offer two slightly
                different versions of the same software - which will require concurrent development - or are you going
                to offer value added features that more-or-less bolt onto the open-source version.
            </p>
            <p>
                Another considerable challenge is that of short-term sustainability: for how long can the company operate
                without a steady income? Without wanting to discount the value of your time, it is possible to run a
                purely open-source project at almost no cost. But this definitely changes once you start trying to
                generate an income, and can vary from the obvious - such as rent, salaries, furniture & equipment,
                and marketing - to the not-so-obvious - such as legal expenses, insurance, and costs related to servers,
                data security, and your e-commerce platform. The question you need to truthfully answer is:
            </p>
            <blockquote>"How long can I continue to cover these expenses without making a single sale?"</blockquote>
            <p>
                Conversely, you also need to look at how quickly you can scale your operations should you start making
                sales; your commercial customers are going to be quite different to your open-source users, generally
                expecting faster responses to support and feature requests.
            </p>
            <h3>Conclusion</h3>
            <p>
                These are not the only challenges you will face when trying to make money off your open-source project,
                but the purpose of this article is awareness, not fear. What is happening at GitHub should also not
                scare you, but rather help shape the decisions you make when trying to keep both enterprise clients
                and open-source users happy. It is possible to make money off an open-source project without disregarding
                the core principles of open-source, and being aware of some of the challenges will certainly help guide you.
            </p>
            <p>
                I'd love to hear about your own experience when switching to a commercial model, so if you
                have the time, please <a href="/contact">share it.</a>
            </p>
            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_cmeier") %>
</section>