<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                What Did I Learn During My Internship at Handsoncode
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/amogh-malik.png" alt="Amogh Malik" />
                    <label>Amogh Malik</label>
                </span>
                <span><a href="/blog/categories/startups">Culture</a> / August 23, 2016</span>
                <meta itemprop="datePublished" content="2016-08-23T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2016-08-23T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/internship-at-handsoncode.png" alt="Internship at Handsoncode illustration" />
                <meta itemprop="url" content="https://handsontable.com/blog/attachments/images/internship-at-handsoncode.png">
                <meta itemprop="width" content="1514">
                <meta itemprop="height" content="1026">
                <label class="photo-label">Amogh Malik</label>
            </p>
            <p>
                First year of university has ended, and it's time to return to my hometown, Gdynia in Poland.
                This summer I aim to intern at the local "Silicon Valley". I wish to intern in a global company
                from my hometown, which is quite difficult, since most of companies here operate locally. Fortunately,
                I found <a href="http://handsoncode.net" target="_blank">Handsoncode</a> – a company that
                is <a href="/blog/articles/why-you-will-never-give-up-spreadsheets">revolutionizing spreadsheets</a>.
            </p>
            <p>
                Fast forward to now and after almost two months my internship is coming to an end, I will be leaving
                with a vast knowledge of the "Spreadsheet Market". I found out that people are constantly seeking
                new ways to improve the way we crunch numbers, as the traditional spreadsheet is not the most
                user – friendly solution. Yet so many users still have to deal with the number of unnecessary
                functions and the tedious way tables work. Here at Handsoncode you have to build the table yourself,
                which is very helpful. It's like building a house – you will be supplied with tools and workforce,
                but in the end it's only your decision how your house will look like. This is very interesting
                as even though there are so many people using the same product, the end result is completely different.
            </p>
            <blockquote>
                It's like building a house – you will be supplied with tools and workforce, but in the end it's
                only your decision how your house will look like.
            </blockquote>
            <h3>Handsoncode from the inside</h3>
            <p>
                The first thing that opened my eyes was the global scale of Handsoncode - it serves clients
                from all around the world. Secondly, I have learnt about the importance of making fast decisions.
                Nobody dwells here for hours trying to decide which option to choose. The better option is
                quickly evaluated and implemented, and if it turns out to be a bad choice – it can be
                always changed. It's all about making fast decisions, and if necessary, changing them even
                faster! The team knows that a new product can encounter many roadblocks in its journey, but the goal
                is to overcome it, no matter how difficult it may be.
            </p>
            <h3>What makes a product great?</h3>
            <blockquote>
                Spreadsheets are the backbone of many companies, especially in the financial industry.
            </blockquote>
            <p>
                During my internship I realized that the most important thing that mattered to a customer was
                being able to use a powerful product with ease. Advanced functionality combined with ease of
                use, seems to be a perfect recipe for a success. That's why it also takes time to release a
                new feature - it is important to make sure it is stable. As usually new features create new problems,
                hence a good new solution should maximize functionality but minimize the risk.
            </p>
            <h3>My chance to participate</h3>
            <p>
                Even though I was an intern, I participated in many discussions. Being able to contribute
                with my ideas was possible thanks to the support from the team. While discussing nobody cares if
                you are the head or a new employee, all inputs are welcome. And additionally every idea is given
                equal attention, there is no such answer as "We won't do it, because I say so". Every decision is justified
                so that everyone can learn and improve. It is vital to guide employees so that they are able to grasp the
                way a company operates. This is why I experienced a lot of support when doing my projects. Never once
                during my internship did my senior hand me something new without guiding me on what I should do.
                Furthermore, while doing my task I had many "checkups" on the progress of my work, or if I
                needed any help. These small gestures made me feel more comfortable and eventually produced
                better results.
            </p>
            <p>
                Thanks to everybody at Handsoncode who have made this internship possible!
                I have learnt a lot thanks to you.
            </p>

            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_amalik") %>
</section>