<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope
         itemtype="http://schema.org/BlogPosting" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Why You Will Never Give Up Spreadsheets
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/chris-meier.png" alt="Chris Meier" />
                    <label>Chris Meier</label>
                </span>
                <span><a href="/blog/categories/startups">Startups</a> / July 29, 2016</span>
                <meta itemprop="datePublished" content="2016-07-29T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2016-07-29T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/why-you-will-never-give-up-spreadsheets.png"
                     alt="Why You Will Never Give Up Spreadsheets" />
                <meta itemprop="url"
                      content="https://handsontable.com/blog/attachments/images/why-you-will-never-give-up-spreadsheets.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="441">
            </p>
            <p>
                The electronic spreadsheet has been around in some form or other since 1962, with use becoming more
                widespread in the 1980s following the release of VisiCalc, Lotus 1-2-3 and Excel. What began as a
                tool to more efficiently add or subtract columns and rows of data has evolved into a powerful app
                that is capable of far more complex operations than just organizing and calculating numerical data,
                now even serving as a <a href="/directory.html">framework for creating apps</a>. However, this ability to perform complex operations
                has not come at the expense of the user experience, and creating and managing spreadsheets remains
                something that anyone can manage with minimal training, meaning it is suitable for something as easy
                as maintaining lists, through to intricate tracking and analyzing of data.
            </p>
            <p>
                Which is why <a href="http://faculty.tuck.dartmouth.edu/images/uploads/faculty/serp/serp_results.pdf" target="_blank">business users have always favored spreadsheets</a>.
            </p>
            <h3>
                Why Spreadsheets: The Good, The Bad, and The Future
            </h3>
            <p>
                <strong>The Positives</strong>
            </p>
            <p>
                As the tools we use to create spreadsheets evolved, they have added features that allow for more
                than simply working with numbers and text. Users can now integrate charts, animation, and images,
                while using filtering, sorting and pivot tables to rapidly change the type of information displayed.
                While allowing for more complex operations, spreadsheets have also become increasingly flexible:
                adaptable to a wide variety of scenarios and uses, in almost any field - from household budgets,
                through to business finance, marketing, product management, and human resources planning.
            </p>
            <p>
                Factors that have influenced the popularity of spreadsheets include:
            </p>
            <ul>
                <li>
                    The fact that - at entry level - it requires very little training to use.
                </li>
                <li>
                    It is cost effective, with open-source and commercial versions available for all operating
                    systems, without the need for high-end hardware.
                </li>
                <li>
                    In many instances, spreadsheets created on one platform can still be opened and edited
                    on a completely different platform.
                </li>
                <li>
                    It is a very powerful tool for editing, reading, reporting and analyzing data.
                </li>
            </ul>
            <p>
                <strong>
                    The Flaws
                </strong>
            </p>
            <p>
                Despite their popularity, and ease of use, spreadsheets are not perfect, with the most significant
                flaw being how easy it is to make mistakes that aren't easily detected.
                <a href="http://panko.shidler.hawaii.edu/SSR/Mypapers/whatknow.htm" target="_blank">A 2008 analysis of studies
                related to spreadsheet errors</a> suggested that 88% of spreadsheets have errors, with the author of
                this analysis writing that:
            </p>
            <p>
                <blockquote>
                    for large spreadsheets, the issue is how many errors there are, not whether an error exists.
                </blockquote>
            </p>
            <p>
                He further notes that although the error rates are in line with those found in "programming
                and other human cognitive domains", the development disciplines followed in programming are
                generally not followed in spreadsheet creation, which is often informal.
                <a href="https://baselinescenario.com/2013/02/09/the-importance-of-excel/" target="_blank">A formula error
                in JPMorgan's Excel based value-at-risk (VaR) model</a> is thought to have contributed
                to the $5.8 billion losses reported after the London Whale trading debacle, which
                preceded reports of an Excel formula error also
                <a href="http://blogs.marketwatch.com/thetell/2013/04/16/the-spreadsheet-error-in-reinhart-and-rogoffs-famous-paper-on-debt-sustainability/" target="_blank">
                    impacting on the results of a Harvard economics study</a>.
            </p>
            <p>
                Detecting errors on a simple spreadsheet maintained by a single person won't be an arduous
                task, but in most business environments the spreadsheets are rarely simple, and seldom
                maintained by only one person. Even with strict policies in place to manage:
            </p>
            <ul>
                <li>
                    the protection, validation and testing of formulas and macros
                </li>
                <li>
                    change control
                </li>
                <li>
                    version control
                </li>
            </ul>
            <p>
                errors will still creep in because these measures are all manual, and subject to the fallibility
                of man. Other flaws inherent in current spreadsheet software include:
            </p>
            <ul>
                <li>
                    Poor - or non-existent - audit trail functionality.
                </li>
                <li>
                    The inability to generate real-time reports - with read-only rights - across the organization.
                </li>
                <li>
                    Producing ad-hoc reports and analysis is often difficult and onerous.
                </li>
                <li>
                    Managing and sharing large files is prone to problems.
                </li>
                <li>
                    They lack effective processes for enforcing data ownership.
                </li>
                <li>
                    They don't offer a system for seamless, automatic back-ups, influencing data integrity concerns.
                </li>
            </ul>
            <h3>
                The Outlook
            </h3>
            <p>
                <a href="http://diginomica.com/2015/11/23/beyond-spreadsheets-smart-data-collection-for-the-analytics-era/#.VlWEs3bhCUk" target="_blank">
                While some individuals want to sound the death knell for spreadsheets</a>,
                others have started using the advent of cloud computing to revitalize spreadsheets by 
                making them more collaborative, and eliminating some of the flaws outlined above. These online 
                solutions are robust apps that support multiple dependencies, data sources, and - most importantly - 
                multiple users. We are seeing online spreadsheet software that:
            </p>
            <ul>
                <li>
                    Is comfortably able to handle big data.
                </li>
                <li>
                    Loads data dynamically, from a variety of data sources, and integrates easily with other
                    cloud-computing solutions.
                </li>
                <li>
                    Is more modular, with add-ons that extend the functionality even further.
                </li>
                <li>
                    Has error checking and version control built-in.
                </li>
                <li>
                    Retains the ease-of-use and intuitiveness of traditional spreadsheet software, but offers better security.
                </li>
                <li>
                    Offers automated back-ups, with effortless restoration.
                </li>
            </ul>
            <p>
                Until your organization switches to using the next generation of spreadsheet software
                (and even after switching), there are a few measures you might consider putting in place, such as:
            </p>
            <ul>
                <li>
                    Apply a common standard in the design and development of spreadsheets, addressing
                    things such as cell formatting.
                </li>
                <li>
                    Ensure that everyone who works with spreadsheets has had suitable training. Although
                    basic spreadsheet work requires minimal training, more complex operations, including how to
                    check the results of functions, can only be properly done with appropriate training.
                </li>
                <li>
                    Implement best practices for collaborative work, including a peer review system, to
                    help minimize errors.
                </li>
                <li>
                    Add an <i>About</i> sheet to all complex spreadsheets, documenting the author, the purpose
                    of the document, the version number, and any formatting conventions.
                </li>
                <li>
                    Ensure that everyone is always using the same software version.
                </li>
            </ul>
            <h3>
                Conclusion
            </h3>
            <p>
                Despite the flaws, businesses of all sizes still use spreadsheets for a variety of purposes
                everyday: from critical business processes, to simple collections of data. And as we've seen
                traditional spreadsheet software evolve in what it enabled users to do, we can expect the new
                generation of online spreadsheet apps to advance this further. Simpler collaboration, dynamically
                loaded data, better scalability and easier integration with other software, means that the popularity
                of spreadsheets for business reporting and data analysis will not wane, but they will certainly be
                more dependable, and easier to manage.
            </p>



            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_cmeier") %>
</section>