<section class="post" itemid="https://handsontable.com/<%= current.source %>" itemscope
         itemtype="http://schema.org/BlogPosting" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Why Outsourcing is Important for Your Startup
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../attachments/authors/chris-meier.png" alt="Chris Meier" />
                    <label>Chris Meier</label>
                </span>
                <span><a href="/blog/categories/startups">Startups</a> / June 28, 2016</span>
                <meta itemprop="datePublished" content="2016-06-28T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2016-06-28T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../attachments/images/why-outsourcing-is-important-for-your-startup.png"
                     alt="Why Outsourcing is Important for Your Startup" />
                <meta itemprop="url"
                      content="https://handsontable.com/blog/attachments/images/why-outsourcing-is-important-for-your-startup.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="441">
            </p>
            <p>
                There are a great many definitions of what a startup is, but the one I like the most is the one
                <a href="http://www.investopedia.com/terms/s/startup.asp" target="_blank">found at Investopedia</a>, which states:
            </p>
            <blockquote>
                A startup is a company that is in the first stage of its operations. These companies are often
                initially bank rolled by their entrepreneurial founders as they attempt to capitalize on developing a
                product or service for which they believe there is a demand. Due to limited revenue or high costs,
                most of these small scale operations are not sustainable in the long term without additional funding
                from venture capitalists.
            </blockquote>
            <p>
                The key phrases here are - <strong>first stage</strong>,
                <strong>bank rolled by their entrepreneurial founders</strong>, and <strong>small
                    scale operations</strong>. Those three phrases perfectly emphasize the challenges faced by anyone launching
                their own startup. In the early stages of your startup you will find yourself not only constrained
                by the <em>size of your operations</em>, but by the <em>size of your budget</em> too, and the burden of growing your
                business while managing these challenges can be lightened by outsourcing certain tasks, rather than
                growing your team too rapidly.
            </p>
            <p>
                Outsourcing for startups makes even more sense when you remember what
                <a href="http://www.wsj.com/articles/SB113202230063197204" target="_blank">Peter Drucker first said</a> back in the 1990s:
            </p>
            <blockquote>
                Do what you do best and outsource the rest
            </blockquote>
            <p>
                Depending on the nature of your startup, a few of the services you may need, and that can be
                outsourced during the early stages of your startup, include:
            </p>
            <ul>
                <li>
                    Developing
                </li>
                <li>
                    Graphic Design
                </li>
                <li>
                    UI/UX
                </li>
                <li>
                    Marketing
                </li>
                <li>
                    Sales
                </li>
                <li>
                    Support
                </li>
                <li>
                    Legal
                </li>
                <li>
                    Accounting
                </li>
                <li>
                    Copywriting
                </li>
            </ul>
            <p>
                This will allow you to focus almost exclusively on your core product or service, with everything
                needed to support or market your product/service coming from outside suppliers, often working on a
                freelance basis. It is also the growth of the freelance marketplace that has made outsourcing feasible
                for startups.
            </p>
            <h3>
                Key Benefits of Outsourcing
            </h3>
            <p>
                There are many benefits to outsourcing non-core projects to freelancers, including:
            </p>
            <ul>
                <li>
                    You have more time to <strong>concentrate on your core project/service</strong>.
                </li>
                <li>
                    Using freelancers can be <strong>more cost-effective</strong> than employing full-time staff;
                    with the added benefit of you being able to quickly scale back should your finances run low.
                </li>
                <li>
                    The process can be <strong>simpler, and faster</strong>, than recruiting a full-time employee.
                </li>
                <li>
                    If the quality of one freelancer is unsatisfactory,
                    you <strong>can easily switch</strong> to a different freelancer.
                </li>
                <li>
                    You can usually expect a <strong>fast turnaround time</strong>, because any
                    delay impacts on the freelancer's own ability to generate an income.
                </li>
            </ul>
            <h3>
                Steps to Follow When Outsourcing
            </h3>
            <p>
                Just because the process of finding freelancers is simpler than recruiting, it does not mean that
                it should not be managed. Follow these steps to make things easier for you and any permanent staff
                you add to your team as your startup grows:
            </p>
            <ul>
                <li>
                    <strong>Compile a list of tasks</strong> that can/will be outsourced.  List each task individually,
                    with a bit of detail for each task: this means you should not just list "new graphic for
                    blog post", but should include the post topic, and when it is scheduled to be published.
                    Each task should include details of who it was outsourced to, when it is due back from them,
                    and what your own internal deadline is. This will help minimize delays, and confusion
                    about accountability.
                </li>
                <li>
                    <strong>Compile a policy document</strong> regarding confidential information. It should clearly
                    distinguish between highly confidential information that may never be disclosed to outside
                    parties, sensitive information which can only be disclosed with a NDA in place, and public
                    information. Every member of your team who may interact with the company's freelancers or
                    outsource partners, should have a thorough understanding of this policy.
                </li>
                <li>
                    <strong>Find the most efficient</strong> service providers for you. A 2014 study found
                    that there were
                    <a href="https://blog.freelancersunion.org/2014/09/04/53million/" target="_blank">more than 50-million freelancers
                        in the US</a>, but that does not
                    mean it is easy finding someone who is a good fit for your business. Be as thorough
                    as you can with your research, and don't be afraid to ask other startups for recommendations.
                    With perseverance, you'll eventually have a pool of freelancers who are reliable, and almost
                    always deliver exactly what you wanted.
                </li>
                <li>
                    Provide any freelancers or outsource partners you use with <strong>detailed information and
                        requirements</strong>. The more specific you are, the more likely they are to deliver exactly
                    what you expected. For creative work you may consider sending out a creative brief each time.
                </li>
                <li>
                    <strong>Manage your outsourcing budget</strong> according to what you need most urgently, and what you
                    can afford right now. Don't expect freebies, or work in exchange for "exposure", but
                    remember that outsourcing services can be more cost effective than a full-time employee.
                    Especially in the early stages of your startup.
                </li>
                <li>
                    <strong>Set aside time</strong> for following up with your freelancers, and the reviewing of all outsourced
                    projects. No matter how reliable your freelancers are it can only benefit you to occasionally
                    check on their progress, and to always review the work they submit. Reviewing creative work is
                    generally less time consuming than reviewing legal documents, but you should always provide for
                    enough time to review, and request changes or corrections. Not all your freelancers will be in
                    the same time zone as you, and it could be hours before you receive a response from them.
                </li>
            </ul>
            <h3>
                Where to Find Freelancers
            </h3>
            <p>
                With the continued growth in the freelance market, several marketplaces have sprung up, making it
                somewhat easier to find the relevant talent. These include:
            </p>
            <ul>
                <li>
                    <a href="https://www.fiverr.com/" target="_blank">Fiverr</a> - the concept is simple: almost
                    any service for your business -
                    from design through to marketing, writing and coding - delivered fast, and often
                    for little more than $5. <a href="http://handsoncode.net/">Handsoncode</a> found the illustrator
                    for their blog posts on Fiverr.
                </li>
                <li>
                    <a href="https://www.upwork.com/" target="_blank">Upwork</a> and <a href="http://flocksy.com/"
                    target="_blank">Flocksy</a> - the difference here is that Upwork offers pre-vetted professionals,
                    offering you more peace-of-mind, and Flocksy offers a fixed-fee service, so you know exactly
                    how much you will be spending each month.
                </li>
                <li>
                    <a href="https://www.mturk.com/mturk/welcome" target="_blank">MTurk</a> - an Amazon.com company,
                    MTurk (short for mechanical turk) gives you access to
                    thousands of workers willing to take on almost any, largely repetitive, task. Each project
                    can be broken down into hundreds, or thousands, of smaller tasks, with each task costing
                    fractions of a dollar. Think along the lines of transcribing audio snippets, tagging photographs,
                    or even just tidying up your email address book.
                </li>
            </ul>
            <p>
                Look at marketplaces that have a diverse pool of freelancers, and that offer some sort of security,
                either payments via escrow, or pre-vetting of skills. But don't forget to look on LinkedIn, and to
                ask fellow entrepreneurs for recommendations.
            </p>
            <h3>
                What Not to Outsource
            </h3>
            <p>
                While many functions of any business can be outsourced to other companies, agencies and freelancers,
                there are certain functions that should never be handed over to third parties. These include:
            </p>
            <ul>
                <li>
                    Anything relating to your <strong>core business functions</strong> or competencies.
                </li>
                <li>
                    Any functions dependent on <strong>proprietary company information</strong>, including anything that
                    could put your intellectual property at risk. This also covers any function that may expose
                    ideas and concepts that you are still developing.
                </li>
                <li>
                    <strong>Quality Assurance</strong>.
                </li>
            </ul>
            <h3>
                Conclusion
            </h3>
            <p>
                The likes of Google and Amazon have shown us that just because a business starts off in someone's
                garage, it does not mean it can't grow into a global behemoth. What matters nowadays is your ability
                to adapt your product to your clients’ needs, and how quickly you are able to do so. Outsourcing
                non-core functions to other companies, agencies and freelancers, frees you up to concentrate on <strong>what
                    you do best</strong>. Just remember that your competitors are doing the same, so the only differentiator is
                the ability, skill and speed of you and your team - both in-house and outsourced.
            </p>

            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../authors/_cmeier") %>
</section>